<md-toolbar layout="row" layout-align="center center" class="footer">

  <section layout="row" layout-sm="column" layout-align="space-between center" class="container">
    <div class="about">
    	<div class="footer-logo"><img src="assets/images/logo-gray.png" alt="SugarFlame Logo" title="SugarFlame"></div>
    	<div class="description">
    		{{ 'FOOTER_DESCRIPTION' | translate }}
  		</div>
      <!-- <div class="store" layout="row" layout-align="start center">
        <img src="assets/images/playstore.png" alt="">
        <img src="assets/images/appstore.png" alt="">
      </div> -->
    </div>
    <div class="out-links" flex="20" flex-xs="50">
    	<md-button ui-sref="about">{{ 'FOOTER_LINK_1' | translate }}</md-button>
	    <md-button ui-sref="support">{{ 'FOOTER_LINK_2' | translate }}</md-button>
	    <md-button ui-sref="precautions">{{ 'FOOTER_LINK_3' | translate }}</md-button>
      <!-- <md-button ui-sref="/">Contact Us</md-button> -->
      <md-button ui-sref="privacy">{{ 'FOOTER_LINK_4' | translate }}</md-button>
      <md-button ui-sref="terms">{{ 'FOOTER_LINK_5' | translate }}</md-button>
    </div>
    <div class="connect">
    	<div class="content">{{ 'DATE_NOW' | translate }}</div>
	    <md-button class="signup" ui-sref="join">{{ 'SIGNUP' | translate }}</md-button>
    	<div class="content">{{ 'CONNECT' | translate }}</div>
    	<div class="social">
    		<span><a href="https://www.facebook.com/sugarflame8/" target="_blank"><i class="zmdi zmdi-facebook"></i></a></span>
    		<span><a href="https://twitter.com/sugarflame168" target="_blank"><i class="zmdi zmdi-twitter"></i></a></span>
    		<span><a href="https://plus.google.com/115600031481306849479" target="_blank"><i class="zmdi zmdi-google-plus"></i></a></span>
    		<span><a href="https://www.instagram.com/sugarflame8/" target="_blank"><i class="zmdi zmdi-instagram"></i></a></span>
    		<span><a href="https://www.pinterest.com/sugarflame168/" target="_blank"><i class="zmdi zmdi-pinterest"></i></a></span>
    		<span><a href="https://sugarflame168.tumblr.com/" target="_blank"><i class="zmdi zmdi-tumblr"></i></a></span>
    		<span><a href="https://www.youtube.com/channel/UCTrSIjuEH2icjZx-7NvSMYg" target="_blank"><i class="zmdi zmdi-youtube-play"></i></a></span>
    	</div>
    </div>
  </section>

  <section class="copyright">
    <div layout="row" layout-align="space-between">
      <span> &copy; {{year}} SugarFlame.com</span>
     <!--  <span class="languages">
        <small ng-click="translate('')">English</small>
        <small ng-click="translate('')">Espanol</small>
        <small ng-click="translate('')">Francais</small>
        <small ng-click="translate('')">Deutsch</small>
        <small ng-click="translate('')">Nederlands</small>
        <small ng-click="translate('')">Portugues</small>
      </span> -->
    </div>
  </section>

</md-toolbar>
