.footer {
	background: $footer!important;
	color: $secondary;
	display: block;
	border-top: 1px solid $border;

	.container {
		padding: 50px 0;
		max-width: 1000px;
		margin: 0 auto;
		@media screen and (max-width: 1000px) {
		  padding-right: 15px;
		  padding-left: 15px;
		}

		@media screen and (max-width: 768px) {
		  display: block;
		}

		.about {
			@media screen and (max-width: 1000px) {
			  width: 250px;
			}
			@media screen and (max-width: 768px) {
			  width: 100%;
			  text-align: center;
			}

			.footer-logo {
				color: $secondary;
				text-transform: uppercase;
				font-family: 'gotham-medium';

				img {
					max-width: 200px;
				}
			}

			.store {
				margin: 20px 0;
				@media screen and (max-width: 768px) {
				  display: block;
				}
				img {
					max-width: 120px;
					margin-right: 5px;
					cursor: pointer;

					&:hover {
						-webkit-box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.75);
						-moz-box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.75);
						box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.75);
						border-radius: 4px;
					}
				}
			}

			.description {
				color: $copyright;
				font-family: 'gotham-book';
				font-size: 14px;
				max-width: 450px;
				line-height: 1.3;
				padding: 30px 0;
				@media screen and (max-width: 1000px) {
				  padding: 15px 0;
				}
				@media screen and (max-width: 768px) {
				  margin: auto;
				}
			}
		}

		.out-links {
			@media screen and (max-width: 768px) {
			  padding-top: 15px;
			  width: 250px;
			  margin: auto;
			}

			.md-button {
				font-family: 'gotham-book';
				text-align: left;
				color: $secondary;
				display: block;
				border-bottom: 1px solid $border;
				width: 100%;	
				border-radius: 0;
				margin: 0;

				@media screen and (max-width: 768px) {
				  text-align: center;
				  margin: 0;
				}

				&:hover {
					background: none;
					color: $copyright;
					span {
            color: $red-orange;
          }
				}
			}
		}

		.connect {
			@media screen and (max-width: 768px) {
			  text-align: center;
			  padding-top: 25px;
			}

			.content {
				color: $secondary;
				font-family: 'gotham-book';
				font-size: 15px;
				padding-bottom: 15px;
			}

			.signup {
				color: $secondary;
				border: 1px solid $border;
				font-family: 'gotham-medium';
				text-transform: uppercase;
				padding: 5px 25px;
				margin: 0 0 25px;
			}

			.social {
	
				span {
					padding: 5px 10px;
					
					a {
						color: $secondary;

						&:hover {
							color: $copyright;
						}
					}
				}
			}
		}
	}

	.copyright {
		padding: 20px 50px;
		color: $copyright;
		font-size: 12px;
		border-top: 1px solid $border-color;
		@media screen and (max-width: 768px) {
		  padding-right: 15px;
		  padding-left: 15px;
		  font-size: 10px;
		}
		
		div {
			max-width: 1000px;
			margin: 0 auto;

			@media screen and (max-width: 768px) {
			  display: block;
			  text-align: center;
			}
		}
		span {
			@media screen and (max-width: 768px) {
			  display: block;
			  text-align: center;
			}
		}

		.languages {
			@media screen and (max-width: 768px) {
			  padding-top: 5px;
			}
			small {
				border-right: 1px solid $border;
				padding: 0 5px;
				cursor: pointer;
				&:last-child {
					border-right: none;
					padding-right: 0;
				}
			}
		}
	}
}