<md-toolbar layout="row" layout-align="center center" class="footer PN">
  <section layout="row" layout-sm="column" layout-align="center center" class="container">
    <div class="links" flex flex-sm=40>
      <div>
        <md-button ui-sref="about">{{ 'PN_FOOTER_ABOUT_US' | translate }}</md-button>
      </div>
      <div>
        <md-button ui-sref="support">{{ 'PN_FOOTER_FAQ' | translate }}</md-button>
      </div>
<!--       <div>
        <md-button ui-sref="precautions">{{ 'PN_FOOTER_CONTACT' | translate }}</md-button>
      </div> -->
      <div>
      <!-- <md-button ui-sref="/">Contact Us</md-button> -->
        <md-button ui-sref="privacy">{{ 'PN_FOOTER_PRIVACY_POLICY' | translate }}</md-button>
      </div>
      <div>
        <md-button ui-sref="terms">{{ 'PN_FOOTER_TERMS_OF_USE' | translate }}</md-button>
      </div>
      <div class="footer-logo"><img src="assets/images/PN/final_pn_logo_480.png" alt=""></div>
    </div>
    <div flex flex-sm="60" class="about">
    	<div class="description">
    		{{ 'PN_FOOTER_TEXT' | translate }}
        <div class="social">
          <span><a href="#" target="_blank"><i class="zmdi zmdi-facebook"></i></a></span>
          <span><a href="#" target="_blank"><i class="zmdi zmdi-twitter"></i></a></span>
          <span><a href="#" target="_blank"><i class="zmdi zmdi-google-plus"></i></a></span>
          <span><a href="#" target="_blank"><i class="zmdi zmdi-instagram"></i></a></span>
        </div>
  		</div>
<!--       <div layout-gt-sm="row" layout-sm="row" layout-xs="column " layout-align="center center"  class="download">
        <div flex-xs="100" flex="50"><md-button ui-sref="">{{ 'PN_FOOTER_CALL_TO_ACTION' | translate }}</md-button></div>
        <div flex><img src="assets/images/PN/google.png"></div>
        <div flex><img src="assets/images/PN/apple.png"></div>
      </div> -->
      <!-- <div class="store" layout="row" layout-align="start center">
        <img src="assets/images/playstore.png" alt="">
        <img src="assets/images/appstore.png" alt="">
      </div> -->
    </div>
  </section>

  <section class="copyright">
    <div layout="row" layout-align="space-between">
      <span> &copy; {{year}} ProvideNurture.com</span>
      <!-- <span class="languages">
        <small>Espanol</small>
        <small>Francais</small>
        <small>Deutsch</small>
        <small>Nederlands</small>
        <small>Portugues</small>
      </span> -->
    </div>
  </section>

</md-toolbar>
