<div layout="vertical" layout-fill class="errorPage">
  <md-content layout="column" layout-align="center">
	 	<md-card>
      <md-card-content>
        <div class="title">The page you requested	was not found.</div>
        <div class="description">You may have clicked an expired link or mistyped the address.</div>
        <div class="link">Return Home</div>
      </md-card-content>
    </md-card>
  </md-content>
 </div>