<md-dialog aria-label="Forgot Password" class="loginModal passwordModal">
    <md-toolbar>
      <div class="md-toolbar-tools" layout="row" layout-align="center center">
        <h2>Forgot Password</h2>
      </div>
    </md-toolbar>

    <md-dialog-content class="dialogContent">
      <form name="forgotForm" novalidate>
        <div layout="column" layout-align="center center">
          <div class="instruction">
            Please provide your registered email so we can provide you with a link to reset your password.
          </div>
          <div class="form-group" layout="column" layout-align="center">
            <input flex="90" class="form-control" name="usr_email" ng-model="user.usr_email" placeholder="Email" type="email" ng-pattern="/^.+@.+\..+$/" required />
            <div class="error" ng-messages="forgotForm.usr_email.$error || submitted">
              <span ng-message="required" ng-show="forgotForm.usr_email.$error.required && (forgotForm.usr_email.$dirty || submitted)"><i class="zmdi zmdi-alert-circle-o"></i> Please input email to login.</span>
              <span ng-message="pattern"><i class="zmdi zmdi-alert-circle-o"></i> Please input valid email.</span>
            </div>
          </div>
          <md-button class="button-orange" ng-click="sendReset(user)">Send Reset Password Link</md-button>
          <div class="link" ng-click="cancelDialog(); openLogin();">Back to Login</div>
        </div>
        
      </form>
    </md-dialog-content>
</md-dialog>
