<div class="loginPage">
	<div class="login-modal">
	  <form name="loginForm" novalidate>
	    <!-- <div layout="column" layout-align="center center"> -->
	      <div class="connect-buttons" layout="row" layout-xs="column" layout-align="space-around center">
          <md-button class="button-facebook" ng-click="facebookLogin()"><i class="zmdi zmdi-facebook"></i>Continue with Facebook</md-button>
          <!-- <md-button flex="40" class="button-google" ng-click="connectGoogle()"><i class="zmdi zmdi-google-plus"></i>Connect to Google</md-button> -->
        </div>
	      <div class="formerror" ng-show="error.message">
	        <div><i class="zmdi zmdi-alert-circle-o"></i> {{error.message}}</div>
	      </div>
	      <div class="form-group" layout="column" layout-align="center">
	        <input flex class="form-control" name="usr_email" ng-model="user.usr_email" placeholder="Email Address" type="email" ng-pattern="/^.+@.+\..+$/" required />
	        <div class="error" ng-messages="loginForm.usr_email.$error || submitted">
	          <span ng-message="required" ng-show="loginForm.usr_email.$dirty || submitted"><i class="zmdi zmdi-alert-circle-o"></i> Please input email to login.</span>
	          <span ng-message="pattern"><i class="zmdi zmdi-alert-circle-o"></i> Please input valid email.</span>
	        </div>
	      </div>
	      <div class="password">
	        <div class="form-group" layout="column" layout-align="space-between">
	          <div class="form-group-icon" layout="row" layout-align="space-between center">
	            <input flex="90" type="password" ng-model="user.usr_password" ng-hide="isVisible" name="usr_password" placeholder="Current Password" class="form-control" required/>
	            <input flex="90" type="text" ng-model="user.usr_password" ng-show="isVisible" name="usr_password" placeholder="Current Password" class="form-control" required/>
	            <i class="zmdi zmdi-eye" ng-hide="isVisible" ng-click="isVisible = !isVisible"></i>
	            <i class="zmdi zmdi-eye-off" ng-show="isVisible" ng-click="isVisible = !isVisible"></i>
	          </div>
	        </div>
	        <div class="error" ng-messages="loginForm.usr_password.$error || submitted">
	          <span ng-message="required" ng-show="loginForm.usr_password.$dirty || submitted"><i class="zmdi zmdi-alert-circle-o"></i> Please input password to login.</span>
	        </div>
	      </div>
	      <div layout="row" layout-align="space-between center" >
	        <div>
	          <md-checkbox ng-model="user.remember" aria-label="Remember Me">
	            Remember me
	          </md-checkbox>
	        </div>
	        <div>
	          <div class="forgot" ng-click="cancelDialog(); openForgot();">Forgot Password?</div>
	        </div>
	      </div>
	      <!-- <div layout="row" layout-align="space-between center" >
	        <div class="forgot" ng-click="cancelDialog(); goTo('join')">Don't have an account? Join today.</div>
	      </div> -->

	      <md-button type="submit" class="button-orange" ng-click="logon(user)">Login</md-button>
	      <div class="now">Don't have an account? <span class="link" ui-sref="join">Join Now!</span></div>

	    <!-- </div> -->
	  </form>
	</div>
</div>
