<div layout="vertical" layout-fill class="landingPage">
  <md-content>
    <section class="banner" style="background:url({{banner_image.img}}) top right no-repeat">
      <div class="overlay orange">
        <div class="content">
          <h1 class="title">{{ 'HOME_TITLE' | translate }}</h1>
          <div class="description">
            {{ 'HOME_SUB_TITLE' | translate }}
          </div>
          <md-button class="join" ui-sref="join">{{ 'CREATE_ACCOUNT' | translate }}</md-button>
         <!--  <p>
            With ♥ thanks to the contributions of<acme-malarkey extra-values="['Yeoman', 'Gulp', 'Angular']"></acme-malarkey>
          </p> -->
          <div class="banner-buttons"><i class="zmdi" ng-repeat="b in banners" ng-click="changeBanner(b)" ng-class="banner_image.img == b.img ? 'zmdi-circle':'zmdi-circle-o'"></i></div>
        </div>
      </div>
    </section>
    <div class="steps-container">
      <h2 class="section-title">{{ 'FIND_TITLE' | translate }}</h2>
      <div class="steps" layout-md="row" layout-gt-lg="row" layout-lg="row" layout-sm="row" layout-xs="column" layout-gt-xs="column" layout-align="center">
        <div flex-xs="100" flex="33" class="step" layout="column" layout-align="top center">
          <img src="assets/images/fire.png" alt="Fire Icon" title="Choose your Role">
          <div class="step-number">1</div>
          <div class="step-line"></div>
          <div class="step-title">{{ 'STEP_1_TITLE' | translate }}</div>
          <div class="step-desc">{{ 'STEP_1_DESCRIPTION' | translate}}</div>
        </div>
        <div flex-xs="100" flex="33" class="step" layout="column" layout-align="top center">
          <img src="assets/images/pen.png" alt="Pen Icon" title="State your Expectation">
          <div class="step-number">2</div>
          <div class="step-line"></div>
          <div class="step-title">{{ 'STEP_2_TITLE' | translate }}</div>
          <div class="step-desc">{{ 'STEP_2_DESCRIPTION' | translate}}</div>
        </div>
        <div flex-xs="100" flex="33" class="step" layout="column" layout-align="top center">
          <img src="assets/images/search.png" alt="Search Icon" title="Find your Match">
          <div class="step-number">3</div>
          <div class="step-title">{{ 'STEP_3_TITLE' | translate }}</div>
          <div class="step-desc">{{ 'STEP_3_DESCRIPTION' | translate}}</div>
        </div>
      </div>
    </div>
    <div class="find-match">
      <div class="overlay">
        <div class="container" layout="column" layout-align="center center">
          <div class="description">
            <p>Someone who provides financial security (SUGAR) is a Sugar Daddy or Sugar Mama. Someone who provides love & affection (FLAME) is a Sugar Baby.</p>
            <p>SugarFlame is where Sugar Daddies, Sugar Mamas and Sugar Babies come together to develop mutually beneficial and meaningful relationships.</p>
            <p>We believe that once it’s clear who provides the Sugar and the Flame, it’s easier to focus on what really counts… <span class="bold">THE RELATIONSHIP.</span></p>
          </div>
        </div>
      </div>
    </div>

    <div class="benefit-container">
      <h2 class="section-title">{{ 'SUGAR_DADDY' | translate }}</h2>
      <div class="section-subtitle">
        {{ 'SD_DESCRIPTION' | translate }}
      </div>
      <div class="benefits" layout-align="center">
        <h3 class="benefit-title">{{ 'SUGAR_DADDY' | translate }} {{ 'BENEFITS' | translate }}</h3>
        <div class="content" layout-align="center">
          <md-card>
            <md-card-content>
              <img class="pull-right" ng-src="assets/images/match.png" alt="Heart Icon" title="More Choices">
              <div class="benefit">
                <div class="title">{{ 'SD_BENEFIT_1_TITLE' | translate }}</div>
                <div class="description">{{ 'SD_BENEFIT_1_DESCRIPTION' | translate }}</div>
              </div>
            </md-card-content>
          </md-card>
          <md-card>
            <md-card-content>
              <img class="pull-right" ng-src="assets/images/ss-value.png" alt="Star Icon" title="Ultra Affordable">
              <div class="benefit">
                <div class="title">{{ 'SD_BENEFIT_2_TITLE' | translate }}</div>
                <div class="description">{{ 'SD_BENEFIT_2_DESCRIPTION' | translate }}</div>
              </div>
            </md-card-content>
          </md-card>
          <md-card>
            <md-card-content>
              <img class="pull-right" ng-src="assets/images/ss-discreet.png" alt="Lock Icon" title="No Games">
              <div class="benefit">
                <div class="title">{{ 'SD_BENEFIT_3_TITLE' | translate }}</div>
                <div class="description">{{ 'SD_BENEFIT_3_DESCRIPTION' | translate }}</div>
              </div>
            </md-card-content>
          </md-card>
          <md-card>
            <md-card-content>
              <img class="pull-right" ng-src="assets/images/ss-rule.png" alt="Notepad Icon" title="No Strings">
              <div class="benefit">
                <div class="title">{{ 'SD_BENEFIT_4_TITLE' | translate }}</div>
                <div class="description">{{ 'SD_BENEFIT_4_DESCRIPTION' | translate }}</div>
              </div>
            </md-card-content>
          </md-card>
        </div>
      </div>
    </div>

    <div class="benefit-container">
      <h2 class="section-title">{{ 'SUGAR_MAMA' | translate }}</h2>
      <div class="section-subtitle">
        {{ 'SM_DESCRIPTION' | translate }}
      </div>
      <div class="benefits" layout-align="center">
        <h3 class="benefit-title">{{ 'SUGAR_MAMA' | translate }} {{ 'BENEFITS' | translate }}</h3>
        <div class="content" layout-align="center">
          <md-card>
            <md-card-content>
              <img class="pull-right" ng-src="assets/images/ss-value.png" alt="Star Icon" title="Fulfilling Relationships">
              <div class="benefit">
                <div class="title">{{ 'SM_BENEFIT_1_TITLE' | translate }}</div>
                <div class="description">{{ 'SM_BENEFIT_1_DESCRIPTION' | translate }}</div>
              </div>
            </md-card-content>
          </md-card>
          <md-card>
            <md-card-content>
              <img class="pull-right" ng-src="assets/images/match.png" alt="Heart Icon" title="Growing Network of Gentlemen">
              <div class="benefit">
                <div class="title">{{ 'SM_BENEFIT_2_TITLE' | translate }}</div>
                <div class="description">{{ 'SM_BENEFIT_2_DESCRIPTION' | translate }}</div>
              </div>
            </md-card-content>
          </md-card>
          <md-card>
            <md-card-content>
              <img class="pull-right" ng-src="assets/images/ss-discreet.png" alt="Lock Icon" title="Sustainable">
              <div class="benefit">
                <div class="title">{{ 'SM_BENEFIT_3_TITLE' | translate }}</div>
                <div class="description">{{ 'SM_BENEFIT_3_DESCRIPTION' | translate }}</div>
              </div>
            </md-card-content>
          </md-card>
          <md-card>
            <md-card-content>
              <img class="pull-right" ng-src="assets/images/ss-rule.png" alt="Notepad Icon" title="Your Rules">
              <div class="benefit">
                <div class="title">{{ 'SM_BENEFIT_4_TITLE' | translate }}</div>
                <div class="description">{{ 'SM_BENEFIT_4_DESCRIPTION' | translate }}</div>
              </div>
            </md-card-content>
          </md-card>
        </div>
      </div>
    </div>

    <div class="find">
      <h3 class="title">Find Your Sugar Baby</h3>
      <div class="thumbnails" layout-align="center" ng-if="flame">
        <div class="over"></div>
        <div ng-if="flameGender == 'male'" class="image" imageonload ng-repeat="fw in flameMan | limitTo: 10" style="background: url({{baseUrl(fw.img_thumb || fw.img_image)}}) center center no-repeat" ></div>
        <div ng-if="flameGender == 'female'" class="image" imageonload ng-repeat="fw in flameWoman | limitTo: 10" style="background: url({{baseUrl(fw.img_thumb || fw.img_image)}}) center center no-repeat" ></div>
      </div>
      <div class="toggle"><div ng-class="flameGender == 'female' ? 'active':''" ng-click="filterFlame('female')">{{ 'FEMALE' | translate }} {{ 'BABY' | translate }}</div><div ng-class="flameGender == 'male' ? 'active':''" ng-click="filterFlame('male')">{{ 'MALE' | translate }} {{ 'BABY' | translate }}</div></div>
      <md-button class="more button-orange" ui-sref="join">More Sugar Babies</md-button>
    </div>

     <div class="testimonials">
      <div class="testi-woman">
        <div class="overlay" layout="column" layout-align="center">
          <div class="testimonial">
            <div class="message">
              "I just got out of a divorce and was totally lost. My ex-wife cheated on me and I was severely depressed. I stumbled upon some free Sugar Daddy dating sites thinking it would allow me to feel young again. Upon finding SugarFlame, I found my Sugar Baby. She brought that spark back to my life. Time and money well spent!"
            </div>
            <div class="user">
              <img src="assets/images/placeholder.png" alt="">
              <div class="detail">
                <div class="name">Andrew</div>
                <div class="type">{{ 'SUGAR_DADDY' | translate }}</div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="testi-man">
        <div class="overlay orange" layout="column" layout-align="center">
          <div class="testimonial">
            <div class="message">
              "Career oriented women of my age (45) don’t have a lot of options in the dating pool.. Most decent men my age are searching for younger girls in their 20s. I figured, I could do the same and find myself my own Sugar Baby! So I registered and found myself someone in his early 30s. He’s a personal trainer by day and Sugar Baby by night. He makes me feel young again."
            </div>
            <div class="user">
              <img src="assets/images/placeholder.png" alt="">
              <div class="detail">
                <div class="name">Sarah</div>
                <div class="type">{{ 'SUGAR_MAMA' | translate }}</div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="benefit-container">
      <h2 class="section-title gray">{{ 'FEMALE' | translate }} {{ 'SUGAR_BABY' | translate }}</h2>
      <div class="section-subtitle gray">
        {{ 'SBF_DESCRIPTION' | translate }}
      </div>
      <div class="benefits gray" layout-align="center">
        <h3 class="benefit-title">{{ 'FEMALE' | translate }} {{ 'SUGAR_BABY' | translate }} {{ 'BENEFITS' | translate }}</h3>
        <div class="content" layout-align="center">
          <md-card>
            <md-card-content>
              <img class="pull-right" ng-src="assets/images/sb-financial.png" alt="Vault Icon" title="Financial Security">
              <div class="benefit">
                <div class="title">{{ 'SBF_BENEFIT_1_TITLE' | translate }}</div>
                <div class="description">{{ 'SBF_BENEFIT_1_DESCRIPTION' | translate }}</div>
              </div>
            </md-card-content>
          </md-card>
          <md-card>
            <md-card-content>
              <img class="pull-right" ng-src="assets/images/sb-quality.png" alt="Bulb Icon" title="Get Mentored by Successful Men">
              <div class="benefit">
                <div class="title">{{ 'SBF_BENEFIT_2_TITLE' | translate }}</div>
                <div class="description">{{ 'SBF_BENEFIT_2_DESCRIPTION' | translate }}</div>
              </div>
            </md-card-content>
          </md-card>
          <md-card>
            <md-card-content>
              <img class="pull-right" ng-src="assets/images/sb-discreet.png" alt="Lock Icon" title="Pampered Life">
              <div class="benefit">
                <div class="title">{{ 'SBF_BENEFIT_3_TITLE' | translate }}</div>
                <div class="description">{{ 'SBF_BENEFIT_3_DESCRIPTION' | translate }}</div>
              </div>
            </md-card-content>
          </md-card>
          <md-card>
            <md-card-content>
              <img class="pull-right" ng-src="assets/images/sb-rule.png" alt="Notepad Icon" title="No Games">
              <div class="benefit">
                <div class="title">{{ 'SBF_BENEFIT_4_TITLE' | translate }}</div>
                <div class="description">{{ 'SBF_BENEFIT_4_DESCRIPTION' | translate }}</div>
              </div>
            </md-card-content>
          </md-card>
        </div>
      </div>
    </div>

    <div class="benefit-container">
      <h2 class="section-title gray">{{ 'MALE' | translate }} {{ 'SUGAR_BABY' | translate }}</h2>
      <div class="section-subtitle gray">
        {{ 'SBM_DESCRIPTION' | translate }}
      </div>
      <div class="benefits gray" layout-align="center">
        <h3 class="benefit-title">{{ 'MALE' | translate }} {{ 'SUGAR_BABY' | translate }} {{ 'BENEFITS' | translate }}</h3>
        <div class="content" layout-align="center">
          <md-card>
            <md-card-content>
              <img class="pull-right" ng-src="assets/images/sb-financial.png" alt="Vault Icon" title="Financial Stability">
              <div class="benefit">
                <div class="title">{{ 'SBM_BENEFIT_1_TITLE' | translate }}</div>
                <div class="description">{{ 'SBM_BENEFIT_1_DESCRIPTION' | translate }}</div>
              </div>
            </md-card-content>
          </md-card>
          <md-card>
            <md-card-content>
              <img class="pull-right" ng-src="assets/images/sb-discreet.png" alt="Lock Icon" title="No Strings Attached">
              <div class="benefit">
                <div class="title">{{ 'SBM_BENEFIT_2_TITLE' | translate }}</div>
                <div class="description">{{ 'SBM_BENEFIT_2_DESCRIPTION' | translate }}</div>
              </div>
            </md-card-content>
          </md-card>
          <md-card>
            <md-card-content>
              <img class="pull-right" ng-src="assets/images/sb-quality.png" alt="Bulb Icon" title="Ideal Relationships">
              <div class="benefit">
                <div class="title">{{ 'SBM_BENEFIT_3_TITLE' | translate }}</div>
                <div class="description">{{ 'SBM_BENEFIT_3_DESCRIPTION' | translate }}</div>
              </div>
            </md-card-content>
          </md-card>
          <md-card>
            <md-card-content>
              <img class="pull-right" ng-src="assets/images/sb-rule.png" alt="Notepad Icon" title="Your Rules">
              <div class="benefit">
                <div class="title">{{ 'SBM_BENEFIT_4_TITLE' | translate }}</div>
                <div class="description">{{ 'SBM_BENEFIT_4_DESCRIPTION' | translate }}</div>
              </div>
            </md-card-content>
          </md-card>
        </div>
      </div>
    </div>

    <div class="find gray">
      <div class="title">Find Your Sugar Daddy</div>
      <div class="thumbnails" layout-align="center" ng-if="sugar">
        <div class="over-sugar"></div>
        <div ng-show="sugarGender == 'male'" class="image" imageonload ng-repeat="s in sugarMan" style="background: url({{baseUrl(s.img_thumb || s.img_image)}}) center center no-repeat" ></div>
        <div ng-show="sugarGender == 'female'" class="image" imageonload ng-repeat="s in sugarWoman" style="background: url({{baseUrl(s.img_thumb || s.img_image)}}) center center no-repeat" ></div>
      </div>
        <div class="toggle daddy"><div ng-class="sugarGender == 'male' ? 'active':''" ng-click="filterSugar('male')">{{ 'SUGAR_DADDY' | translate }}</div><div ng-class="sugarGender == 'female' ? 'active':''" ng-click="filterSugar('female')">{{ 'SUGAR_MAMA' | translate }}</div></div>
      <md-button class="more button-purple" ui-sref="join">More Sugar Daddies</md-button>
    </div>

    <div class="testimonials">
      <div class="testi-woman">
        <div class="overlay purple" layout="column" layout-align="center">
          <div class="testimonial">
            <div class="message">
              "I heard about SugarFlame from my girlfriend who is a Sugar Baby in a free Sugar Daddy dating site. I was not comfortable being called a Sugar Baby but I figured I had nothing to lose. Surprisingly, the Sugar Daddies I found were not dirty old men. I met some really nice gentlemen. Some were even better than my previous boyfriends! I liked that we could connect not only sexually but also intellectually."
            </div>
            <div class="user">
              <img src="assets/images/placeholder.png" alt="">
              <div class="detail">
                <div class="name">Karla</div>
                <div class="type">{{ 'SUGAR_BABY' | translate }} - {{ 'FEMALE' | translate }}</div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="testi-man">
        <div class="overlay" layout="column" layout-align="center">
          <div class="testimonial">
            <div class="message">
              "I’m a struggling male model out of Japan. A buddy of mine has his own Sugar Mama. At first I was disgusted by the idea… that was until I saw his Sugar Mama. She was real good looking, I’m talking model standards here. I registered and SugarFlame matched me with a 39 year old Sugar Mama. We are very discreet. It’s great not having to worry about bills, even if I’m the man ;). What can I say, life is good!"
            </div>
            <div class="user">
              <img src="assets/images/placeholder.png" alt="">
              <div class="detail">
                <div class="name">Eddie</div>
                <div class="type">{{ 'SUGAR_BABY' | translate }} - {{ 'MALE' | translate }}</div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    
    <div class="lgbt-section">
      <div class="lgbt">
        <!-- <h2 class="title">OUR COMMITMENT</h2> -->
        <!-- <div class="description">We are committed to operate our business ethically and professionally at all times.</div> -->
        <div class="boxes">
          <div class="box">
            <div class="box-title">OUR COMMITMENT</div>
            <div class="box-content">We are committed to operate our business ethically and professionally at all times.</div>
          </div>
          <div class="box">
            <div class="box-title">DATA SECURITY</div>
            <div class="box-content">We take every effort to ensure that your data is encrypted and your connection is secure.</div>
          </div>
          <div class="box">
            <div class="box-title">PROFILE VERIFICATION</div>
            <div class="box-content">We do not allow fake profiles or software bots to influence our service. All profiles are carefully reviewed for authenticity.</div>
          </div>
        </div>
      </div>
    </div>
  </md-content>
</div>
