  <md-content style="background:white;">
  	<div class="banner-padding">
  		<section class="pn-home-banner">
  			<div class="banner-container">
          
  				<div class="content">
            <md-button class="join" ui-sref="join">{{'PN_HOME_CALL_TO_ACTION' | translate}}</md-button>
  					<div class="title">{{ 'PN_HOME_TITLE' | translate }}</div>
  					<div class="description">
  						{{ 'PN_HOME_SUB_TITLE' | translate }}
  					</div>
  				</div>
  			</div>
  		</section>
  	</div>
  	<div class="steps-container pn">
  		<div class="steps" layout-md="row" layout-gt-lg="row" layout-lg="row" layout-sm="row" layout-xs="column" layout-gt-xs="column" layout-align="flex-start">
  			<div flex class="step">
  				<div class="step-num">1</div>
  				<div class="step-title">{{'PN_HOME_CHOOSE_ROLE' | translate}}</div>
  				<div class="step-desc">{{'PN_HOME_CHOOSE_ROLE_SUB1' | translate}} <span class="text-color-green">Provider</span> or <span class="text-color-light-pink">Nurturer</span> {{'PN_HOME_CHOOSE_ROLE_SUB2' | translate}}</div>
  			</div>
  			<div flex class="step border-arrow">
  				<div class="step-num">2</div>
  				<div class="step-title">{{'PN_HOME_EXPECTATION' | translate}}</div>
  				<div class="step-desc">{{'PN_HOME_EXPECTATION_SUB' | translate}}</div>
  			</div>
  			<div flex class="step">
  				<div class="step-num">3</div>
  				<div class="step-title">{{'PN_HOME_FIND_MATCH' | translate}}</div>
  				<div class="step-desc">{{'PN_HOME_FIND_MATCH_SUB' | translate}}</div>
  			</div>
  		</div>
  	</div>
  	<div layout="vertical" layout-fill class="aboutPage PN">
  		<div flex>
  			<div class="panel first">
  				<div class="container">
  					<div layout="column" layout-alignt="start center">
  						<div class="at-pn-box" layout-gt-md="row" layout-md="row" layout-sm="column" layout-xs="column" layout-align="start top">
  							<img src="assets/images/PN/at-provide-nurturer.png" alt="">
  							<div class="text">
  								<div class="title">{{'PN_HOME_AT_PROVIDE_NURTURE' | translate}}</div>
  								<div class="description">
  									<p>{{'PN_HOME_AT_PROVIDE_NURTURE_SUB' | translate}}</p>
  								</div>
  							</div>
  						</div>
  					</div>
  				</div>
  			</div>
  		</div>
  	</div>

  	<div class="benefit-container PN">
      <div class="container">
        <div class="section-title">{{'PN_HOME_THE_PROVIDER' | translate}}</div>
        <div class="section-subtitle">
          {{'PN_HOME_THE_PROVIDER_SUB' | translate}}
          <hr class="PN-hr">
        </div>
        <div class="provider-content" layout-align="center">
          <div layout-gt-sm="row" layout-sm="row" layout-xs="column" layout-align="center">
            <div flex>
              <div class="section-title">{{'PN_HOME_FIND_A_NURTURER' | translate}}</div>
              <div layout="row" layout-xs="column" layout-align="center none">
                <md-content class="find-nurturer-tabs">
                  <md-tabs md-dynamic-height="true" md-center-tabs="true">
                    <md-tab label="{{'PN_FEMALE' | translate}}">
                      <md-content>
                        <div layout="row" layout-wrap>
                          <div flex="25" ng-repeat="fw in flameWoman | limitTo: 12"><img src="{{baseUrl(fw.img_thumb || fw.img_image)}}"></div>
                        </div>
                        <!-- <div layout="row">

                        </div>
                        <div layout="row">

                        </div> -->
                        <div layouts="row">
                          <a ui-sref="join">See more matches</a>
                        </div>
                      </md-content>
                    </md-tab>
                    <md-tab label="{{'PN_MALE' | translate}}">
                      <md-content>
                        <div layout="row" layout-wrap>
                          <div flex="25" ng-repeat="fw in flameMan | limitTo: 12"><img src="{{baseUrl(fw.img_thumb || fw.img_image)}}"></div>
                        </div>
                        <div layouts="row">
                          <a ui-sref="join">See more matches</a>
                        </div>
                      </md-content>
                    </md-tab>
                  </md-tabs>
                </md-content>
              </div>
            </div>
            <div flex>
              <div class="section-title">{{'PN_HOME_PROVIDER_BENEFITS' | translate}}</div>
              <div class="PN-benefits">
                <div class="title"><md-icon aria-label="Check" class="material-icons">check</md-icon> {{'PN_CHOICES' | translate}}</div>
                <div class="description">{{'PN_CHOICES_SUB' | translate}}</div>
                <div class="title"><md-icon aria-label="Check" class="material-icons">check</md-icon> {{'PN_AFFORDABLE' | translate}}</div>
                <div class="description">{{'PN_AFFORDABLE_SUB' | translate}}</div>
                <div class="title"><md-icon aria-label="Check" class="material-icons">check</md-icon> {{'PN_GAMES' | translate}}</div>
                <div class="description">{{'PN_GAMES_SUB' | translate}}</div>
                <div class="title"><md-icon aria-label="Check" class="material-icons">check</md-icon> {{'PN_STRINGS' | translate}}</div>
                <div class="description">{{'PN_STRINGS_SUB' | translate}}</div>
              </div>
            </div>
          </div>
        </div>
        <div layout-align="center">
          <div layout="row" layout-align="center none">
            <div layout="row" layout-align="center center">
              <div hide-xs>
                <div flex class="bubble">
                  <slick slides-to-show="1" slides-to-scroll="1" arrows="false" fade="true" as-nav-for=".slider-text" class="slider-image">
                    <div><img src="assets/images/PN/placeholder-male3.jpg"></div>
                    <div><img src="assets/images/PN/placeholder-male1.jpg"></div>
                  </slick>
                </div>
              </div>
              <md-card flex=80>
                <slick class="slider-text" dots="true" slides-to-show="1" slides-to-scroll="1" as-nav-for=".slider-image" arrow="false">
                  <div>
                    <div class="testimonial">
                      I really do not like the idea of being in a sugar daddy dating site as I feel like it sounds wrong.. I’m 45 divorced and I can’t tell my kids I provide sugar to my girlfriend. I use ProvideNurture.com because it brings me back to my roots. When I was married, I was a good provider. I still am. I just don’t want to get married again. But I’m willing to provide. My Nurturer is 23. We are exclusive. And I love it! 
                    </div>
                    <div class="name">
                      Andrew, <span>Male Provider</span>
                    </div>
                  </div>
                  <div>
                    <div class="testimonial">
                      When I first heard of ProvideNurture, I thought it was yet another sugar dating site. I don’t like the idea of being a sugar baby. It’s emasculating. I wanted a real sorted woman to be in a proper relationship with. ProvideNurture matched me with an amazing older woman who truly understands me. We connect on a deep level, and it’s also nice not to worry about the bills, you know ;) I don’t mind being her nurturer, it makes me feel proud.
                    </div>
                    <div class="name">
                      Eddie, <span>Male Nurturer</span>
                    </div>
                  </div>
                  
                </slick>
              </md-card>
            </div>
          </div>
        </div>
      </div>
  	</div>

    <div class="benefit-container female PN">
      <div class="container">
        <div class="section-title nurturer">{{'PN_THE_NURTURER' | translate}}</div>
        <div class="section-subtitle">
          {{'PN_THE_NURTURER_SUB' | translate}}
          <hr class="PN-hr">
        </div>
        <div class="provider-content" layout-align="center">
          <div layout-gt-sm="row" layout-sm="row" layout-xs="column" layout-align="center">
            <div flex>
              <div class="section-title">{{'PN_NURTURER_BENEFITS' | translate}}</div>
              <div class="PN-benefits">
                <div class="title nurturer"><md-icon aria-label="Check" class="material-icons">check</md-icon> {{'PN_SECURITY' | translate}}</div>
                <div class="description">{{'PN_SECURITY_SUB' | translate}}</div>
                <div class="title nurturer"><md-icon aria-label="Check" class="material-icons">check</md-icon> {{'PN_MENTORED' | translate}}</div>
                <div class="description">{{'PN_MENTORED_SUB' | translate}}</div>
                <div class="title nurturer"><md-icon aria-label="Check" class="material-icons">check</md-icon> {{'PN_PAMPERED' | translate}}</div>
                <div class="description">{{'PN_PAMPERED_SUB' | translate}}</div>
                <div class="title nurturer"><md-icon aria-label="Check" class="material-icons">check</md-icon> {{'PN_GAMES' | translate}}</div>
                <div class="description">{{'PN_GAMES_SUB_NURTURER' | translate}}</div>
              </div>
            </div>
            <div flex>
              <div class="section-title">{{'PN_HOME_FIND_A_PROVIDER' | translate}}</div>
              <div layout="row" layout-xs="small" layout-align="center none">
              <md-content class="find-nurturer-tabs">
                <md-tabs md-dynamic-height="true" md-center-tabs="true">
                  <md-tab label="{{'PN_MALE' | translate}}">
                    <md-content>
                      <div layout="row" layout-wrap>
                        <div flex="25" ng-repeat="fw in flameMan | limitTo: 12"><img src="{{baseUrl(fw.img_thumb || fw.img_image)}}"></div>
                      </div>
                      <div layouts="row">
                        <a ui-sref="join">See more matches</a>
                      </div>
                    </md-content>
                  </md-tab>
                  <md-tab label="{{'PN_FEMALE' | translate}}">
                    <md-content>
                      <div layout="row" layout-wrap>
                        <div flex="25" ng-repeat="fw in flameWoman | limitTo: 12"><img src="{{baseUrl(fw.img_thumb || fw.img_image)}}"></div>
                      </div>
                      <div layouts="row">
                        <a ui-sref="join">See more matches</a>
                      </div>
                    </md-content>
                  </md-tab>
                </md-tabs>
              </md-content>
              </div>
            </div>
          </div>
        </div>
        <div layout-align="center">
          <div layout="row" layout-align="center none">
            <div layout="row" layout-align="center center">
              <md-card flex=80>
                <slick class="slider-text1" dots="true" slides-to-show="1" slides-to-scroll="1" as-nav-for=".slider-image1" arrow="false">
                  <div>
                    <div class="testimonial">
                      I heard about ProvideNurture from my girlfriend who is a sugar baby in a free sugar daddy dating site. I wanted to join but I was not comfortable being called a sugar baby. I also thought that a sugar daddy was limited to dirty old men. I found my provider in ProvideNurture and he was in his 40s - hot, generous and someone I totally connected with.
                    </div>
                    <div class="name">
                      Karla, <span>Female Nurturer</span>
                    </div>
                  </div>
                  <div>
                    <div class="testimonial">
                      Women, like myself, are much more successful than most men. My age is yet another barrier to dating. I’m 45. Most of the men I seek are usually chasing after younger women or are married. However, I realised that I could be doing the same thing!. I did not want to register in a Sugar Daddy and Sugar Mama dating site as it just sounded sleezy. But I wanted to provide for someone. I like my men to be submissive and I want to call the shots in the house. I met my match at ProvideNurture.
                    </div>
                    <div class="name">
                      Sarah , <span>Female Provider</span>
                    </div>
                  </div>
                </slick>
              </md-card>
              <div hide-xs>
                <div flex class="bubble pink">
                  <slick slides-to-show="1" slides-to-scroll="1" arrows="false" fade="true" as-nav-for=".slider-text1" class="slider-image1">
                    <div><img src="assets/images/PN/placeholder-female6.jpg"></div>
                    <div><img src="assets/images/PN/placeholder-female3.jpg"></div>
                  </slick>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>


  	<div class="lgbtq-container">
      <div class="container">
        <div layout-align="center">
          <div layout="row" layout-sm="column">
            <div flex>
              <div class="title">{{'PN_LGBTQ' | translate}}</div>
              <div class="description">{{'PN_LGBTQ_SUB' | translate}}</div>
              <div layout-gt-sm="row" layout-sm="row" layout-xs="column" layout-align="center">
                <div flex class="power-to-choose box">
                  <div class="img-container"><img src="assets/images/PN/male.png"></div>
                  <div class="title">
                    {{'PN_POWER' | translate}}
                  </div>
                  <div class="description">
                    {{'PN_POWER_SUB' | translate}}
                  </div>
                </div>
                <div flex class="open-to-all box">
                  <div class="img-container"><img src="assets/images/PN/female.png"></div>
                  <div class="title">
                    {{'PN_OPEN' | translate}}
                  </div>
                  <div class="description">
                    {{'PN_OPEN_SUB' | translate}}
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
  	</div>
  </md-content>
