<div class="box" layout="column" layout-align="center center">
	<div ng-hide="user.img_image" class="image" layout="column" layout-align="center center">
	  <i class="zmdi zmdi-account"></i>
	</div>
	<div ng-show="user.img_image" class="image" layout="column" layout-align="center center" style="background: url({{baseUrl(user.img_image)}}) center center no-repeat;">
	</div>
	<div class="name">{{user.usr_first_name}} {{user.usr_last_name}}</div>
	<md-button class="button-orange" ui-sref="profile.photos">Add New Photo</md-button>
	<md-button class="button-orange" ui-sref="profile.edit">Edit Profile</md-button>
</div>