<md-dialog aria-label="Delete Account" class="deleteModal">
    <md-toolbar>
      <div class="md-toolbar-tools" layout="row" layout-align="center center">
        <h2>Success</h2>
      </div>
    </md-toolbar>

    <md-dialog-content>
      <div>Your password has been reset successfully.</div>
      <div class="back" ng-click="ok()">OK</div>
    </md-dialog-content>

</md-dialog>
