<div class="support" layout="column" layout-align="center center">
	<div class="title">Need Help Navigating The Website?</div>
	<div class="description">Check our support and FAQ</div>
	<md-button class="button-lightgray">Go to Support<md-tooltip>Coming Soon</md-tooltip></md-button>
</div>