<div class="details actions" flex="33">
  <md-button class="md-icon-button" ng-click="goTo(user.additional_data.usr_token_id)">
    <i class="zmdi zmdi-comment-more"></i>
  </md-button>
  <md-button class="md-icon-button" ng-click="favorite(user);" ng-class="{'active':user.faved}">
    <i class="zmdi zmdi-favorite"></i>
  </md-button>
</div>