<div class="violators">
  <div class="violator red" ng-if="user.usr_verified == 'no' && !hideV">It seems you have not verified your email yet. Please <span ng-click="resend()">click here</span> to resend verification code. <i class="zmdi zmdi-close" ng-click="hideViolator()"></i></div>
  <div class="violator gray" ng-if="user.usr_signup_step != 'done' && user.usr_status == 'pending'">Complete your profile to communicate with members. <span ng-if="user.usr_signup_step == 'photo'" ui-sref="account.personal">Click here</span><span ng-if="user.usr_signup_step == 'info'" ui-sref="account.personal">Click here</span><span ng-if="user.usr_signup_step == 'preference'" ui-sref="account.preferences">Click here</span> to continue.</div>
</div>