<violator></violator>
<div layout="vertical" layout-fill class="homePage membersPage favoritePage">
  <div class="container" layout="row" layout-align="space-between top" layout-sm="column">
    <div class="tabs-container">
      <div layout="column" layout-align="center">
        <div class="title-icon">
          <span class="icon-box favorite-box"><i class="zmdi zmdi-favorite"></i></span>
          <span class="title">Favorites</span>
        </div>
      </div>
      <div class="tabs" layout="row" layout-align="space-between center">
        <div layout="row" layout-align="start center" flex class="tabs-container">
          <div class="tab" ng-click="onTabSelected('i-faved')" ng-class="source == 'i-faved' ? 'active':''">I Faved</div>
          <div class="tab" ng-click="onTabSelected('faved-me')" ng-class="source == 'faved-me' ? 'active':''">Faved Me</div>
          <div class="tab" ng-click="onTabSelected('viewed-me')" ng-class="source == 'viewed-me' ? 'active':''">Viewed Me</div>
          <div class="tab" ng-click="onTabSelected('following')" ng-class="source == 'following' ? 'active':''">Following</div>
        </div>
        <md-select  layout-align="start" ng-model="source" ng-change="onTabSelected(source)" class="form-control tabs-xs">
          <md-option value="i-faved">I Faved</md-option>
          <md-option value="faved-me">Faved Me</md-option>
          <md-option value="viewed-me">Viewed Me</md-option>
          <md-option value="following">Following</md-option>
        </md-select>
        <div class="tab-options" layout="row" layout-align="space-between center">
          <div class="sort-option">
            <label for="sort">Sort by:</label>
            <select name="sort" class="sort-select" ng-model="sortParam">
              <option value="-usl_date_modified">Most recent</option>
              <option value="additional_data.usr_screen_name">Alphabetical</option>
              <option value="additional_data.usr_age">Age</option>
            </select>
          </div>
        </div>
      </div>
      <div class="content">
        <div class="sk-three-bounce" ng-show="loading">
          <div class="sk-child sk-bounce1"></div>
          <div class="sk-child sk-bounce2"></div>
          <div class="sk-child sk-bounce3"></div>
        </div>
        <div class="err-message">{{message}}</div>
        <div class="users-box" layout-sm="column" layout-md="row" layout-lg="row" ng-if="source == 'i-faved'">
          <div class="user-detail-box" ng-if="!loading && myfaves" flex-xs flex-gt-xs="50" layout="column" ng-repeat="fave in myfaves | orderBy: sortParam">
            <md-card>
              <md-card-title>
                <a ui-sref="user({usr_token_id:fave.additional_data.usr_token_id})">
                  <md-card-title-media ui-sref="user({usr_token_id:fave.additional_data.usr_token_id})">
                    <div ui-sref="user({usr_token_id: fave.usr_token_id})" ng-if="fave.additional_data.img_thumb || fave.additional_data.img_image" imageonload class="md-media-lg card-media" style="background-image: url({{baseUrl(fave.additional_data.img_thumb || fave.additional_data.img_image)}})"></div>
                    <div class="md-media-lg card-media no-image" ng-if="!fave.additional_data.img_image && fave.additional_data.usr_gender == 'female'" style="background-image: url('assets/images/female.svg'); background-position: center bottom; background-repeat: no-repeat;"></div>
                    <div class="md-media-lg card-media no-image" ng-if="!fave.additional_data.img_image && fave.additional_data.usr_gender == 'male'" style="background-image: url('assets/images/male.svg'); background-position: center bottom; background-repeat: no-repeat;"></div>
                  </md-card-title-media>
                </a>
                <md-card-title-text>
                  <div class="user-detail">
                    <a class="screen-name" ui-sref="user({usr_token_id:fave.additional_data.usr_token_id})">
                      {{fave.additional_data.usr_screen_name}}
                    </a>
                    <div class="name">
                      <small>{{fave.additional_data.usr_age}}</small><i class="zmdi zmdi-circle"></i>
                      <small>{{fave.additional_data.usr_gender}}</small><i class="zmdi zmdi-circle"></i>
                      <small>{{fave.additional_data.usr_location}}</small>
                      <span class="matched" ng-show="fave.matched"> Match</span>
                    </div>
                    <div class="top-right">{{relDateFormat(fave.additional_data.usr_last_login)}}</div>
                    <!-- <span class="top-right online"><i class="zmdi zmdi-circle"></i> Online</span> -->
                  </div>
                  <md-card-content class="user-post">
                    {{fave.additional_data.usr_description}}
                  </md-card-content>
                  <md-card-actions class="hidden-xs" layout="row" layout-sm="column" layout-xs="column" layout-gt-xs="column" layout-align="space-between center">
                    <div layout="row" layout-align="start center" flex="70">
                      <div class="details" flex-xs="100" flex="45">
                        <div class="detail"><span class="label">Height</span> <span class="value">{{fave.additional_data.inf_height}}{{fave.additional_data.inf_height_unit}}</span></div>
                        <div class="detail"><span class="label">Body</span> <span class="value">{{displayValue(fave.additional_data.inf_body_type, filter.bodyType)}}</span></div>
                      </div>
                      <div class="details" flex-xs="100" flex="45">
                        <div class="detail"><span class="label">Ethnicity</span> <span class="value">{{displayValue(fave.additional_data.inf_ethnicity, filter.ethnicity)}}</span></div>
                        <div class="detail"><span class="label">Lifestyle</span> <span class="value">{{displayValue(fave.additional_data.inf_spending_habits, filter.habits)}}</span></div>
                      </div>
                    </div>
                    <user-buttons flex="30" user="fave" source="i-faved" favorites="myfaves"></user-buttons>
                  </md-card-actions>
                </md-card-title-text>
              </md-card-title>
              <md-card-actions class="visible-xs" layout-gt-xs="row" layout-xs="row" layout="row" layout-align="space-between center">
                <div layout-md="row" layout-xs="column" layout-sm="row" layout-gt-xs="row" layout-align-xs="start" flex="60">
                  <div class="details" flex-xs="100" flex="45">
                    <div class="detail"><span class="label">Height</span> <span class="value">{{fave.additional_data.inf_height}}{{fave.additional_data.inf_height_unit}}</span></div>
                    <div class="detail"><span class="label">Body</span> <span class="value">{{displayValue(fave.additional_data.inf_body_type, filter.bodyType)}}</span></div>
                  </div>
                  <div class="details" flex-xs="100" flex="45">
                    <div class="detail"><span class="label">Ethnicity</span> <span class="value">{{displayValue(fave.additional_data.inf_ethnicity, filter.ethnicity)}}</span></div>
                    <div class="detail"><span class="label">Lifestyle</span> <span class="value">{{displayValue(fave.additional_data.inf_spending_habits, filter.habits)}}</span></div>
                  </div>
                </div>
                <user-buttons flex="30" user="fave" source="i-faved" favorites="myfaves"></user-buttons>
              </md-card-actions>
            </md-card>
          </div>
        </div>
        <div class="sk-three-bounce" ng-show="moreFaves">
          <div class="sk-child sk-bounce1"></div>
          <div class="sk-child sk-bounce2"></div>
          <div class="sk-child sk-bounce3"></div>
        </div>
        <div class="users-box" layout-sm="column" layout-md="row" layout-lg="row" ng-if="source == 'faved-me'">
          <div class="user-detail-box" ng-if="!loading && favedme" flex-xs flex-gt-xs="50" layout="column" ng-repeat="fave in favedme | orderBy: sortParam">
            <md-card>
              <md-card-title>
                <a ui-sref="user({usr_token_id: fave.additional_data.usr_token_id})">
                  <md-card-title-media ui-sref="user({usr_token_id: fave.additional_data.usr_token_id})">
                    <div class="md-media-lg card-media" ng-if="fave.additional_data.img_thumb || fave.additional_data.img_image" imageonload style="background-image: url({{baseUrl(fave.additional_data.img_thumb || fave.additional_data.img_image)}})"></div>
                    <div class="md-media-lg card-media no-image" ng-if="!fave.additional_data.img_image && fave.additional_data.usr_gender == 'female'" style="background-image: url('assets/images/female.svg'); background-position: center bottom; background-repeat: no-repeat;"></div>
                    <div class="md-media-lg card-media no-image" ng-if="!fave.additional_data.img_image && fave.additional_data.usr_gender == 'male'" style="background-image: url('assets/images/male.svg'); background-position: center bottom; background-repeat: no-repeat;"></div>
                  </md-card-title-media>
                </a>
                <md-card-title-text>
                  <div class="user-detail">
                    <a class="screen-name" ui-sref="user({usr_token_id: fave.additional_data.usr_token_id})">{{fave.additional_data.usr_screen_name}}</a>
                    <div class="name">
                      <small>{{fave.additional_data.usr_age}}</small><i class="zmdi zmdi-circle"></i>
                      <small>{{fave.additional_data.usr_gender}}</small><i class="zmdi zmdi-circle"></i>
                      <small>{{fave.additional_data.usr_location}}</small>
                      <span class="matched" ng-show="fave.matched"> Match</span>
                    </div>
                    <div class="top-right">{{relDateFormat(fave.additional_data.usr_last_login)}}</div>
                    <!-- <span class="top-right online"><i class="zmdi zmdi-circle"></i> Online</span> -->
                  </div>
                  <md-card-content class="user-post">
                    {{fave.additional_data.usr_description}}
                  </md-card-content>
                  <md-card-actions class="hidden-xs" layout="row" layout-sm="column" layout-xs="column" layout-gt-xs="column" layout-align="space-between center">
                    <div layout="row" layout-align="start center" flex="70">
                      <div class="details" flex-xs="100" flex="45">
                        <div class="detail"><span class="label">Height</span> <span class="value">{{fave.additional_data.inf_height}}{{fave.additional_data.inf_height_unit}}</span></div>
                        <div class="detail"><span class="label">Body</span> <span class="value">{{displayValue(fave.additional_data.inf_body_type, filter.bodyType)}}</span></div>
                      </div>
                      <div class="details" flex-xs="100" flex="45">
                        <div class="detail"><span class="label">Ethnicity</span> <span class="value">{{displayValue(fave.additional_data.inf_ethnicity, filter.ethnicity)}}</span></div>
                        <div class="detail"><span class="label">Lifestyle</span> <span class="value">{{displayValue(fave.additional_data.inf_spending_habits, filter.habits)}}</span></div>
                      </div>
                    </div>
                    <user-buttons flex="30" user="fave"></user-buttons>
                  </md-card-actions>
                </md-card-title-text>
              </md-card-title>
              <md-card-actions class="visible-xs" layout-gt-xs="row" layout-xs="row" layout="row" layout-align="space-between center">
                <div  layout-md="row" layout-xs="column" layout-sm="row" layout-gt-xs="row" layout-align-xs="start" flex="60">
                  <div class="details" flex-xs="100" flex="45">
                    <div class="detail"><span class="label">Height</span> <span class="value">{{fave.additional_data.inf_height}}{{fave.additional_data.inf_height_unit}}</span></div>
                    <div class="detail"><span class="label">Body</span> <span class="value">{{displayValue(fave.additional_data.inf_body_type, filter.bodyType)}}</span></div>
                  </div>
                  <div class="details" flex-xs="100" flex="45">
                    <div class="detail"><span class="label">Ethnicity</span> <span class="value">{{displayValue(fave.additional_data.inf_ethnicity, filter.ethnicity)}}</span></div>
                    <div class="detail"><span class="label">Lifestyle</span> <span class="value">{{displayValue(fave.additional_data.inf_spending_habits, filter.habits)}}</span></div>
                  </div>
                </div>
                <user-buttons flex="30" user="fave"></user-buttons>
              </md-card-actions>
            </md-card>
          </div>
        </div>
        <div class="sk-three-bounce" ng-show="moreFavedMe">
          <div class="sk-child sk-bounce1"></div>
          <div class="sk-child sk-bounce2"></div>
          <div class="sk-child sk-bounce3"></div>
        </div>

        <div class="users-box" layout-sm="column" layout-md="row" layout-lg="row" ng-if="source == 'viewed-me'">
          <div class="user-detail-box" ng-if="!loading && views" flex-xs flex-gt-xs="50" layout="column" ng-repeat="v in views | orderBy: sortParam">
            <md-card>
              <md-card-title>
                <a ui-sref="user({usr_token_id: v.additional_data.usr_token_id})">
                  <md-card-title-media ui-sref="user({usr_token_id: v.additional_data.usr_token_id})">
                    <div ui-sref="user({usr_token_id: v.additional_data.usr_token_id})" ng-if="v.additional_data.img_thumb || v.additional_data.img_image" imageonload class="md-media-lg card-media" style="background-image: url({{baseUrl(v.additional_data.img_thumb || v.additional_data.img_image)}})"></div>
                    <div class="md-media-lg card-media no-image" ng-if="!v.additional_data.img_image && v.additional_data.usr_gender == 'female'" style="background-image: url('assets/images/female.svg'); background-position: center bottom; background-repeat: no-repeat;"></div>
                    <div class="md-media-lg card-media no-image" ng-if="!v.additional_data.img_image && v.additional_data.usr_gender == 'male'" style="background-image: url('assets/images/male.svg'); background-position: center bottom; background-repeat: no-repeat;"></div>
                  </md-card-title-media>
                </a>
                <md-card-title-text>
                  <div class="user-detail">
                    <a class="screen-name">{{v.additional_data.usr_screen_name}}</a>
                    <div class="name">
                      <small>{{v.additional_data.usr_age}}</small><i class="zmdi zmdi-circle"></i>
                      <small>{{v.additional_data.usr_gender}}</small><i class="zmdi zmdi-circle"></i>
                      <small>{{v.additional_data.usr_location}}</small>
                      <span class="matched" ng-show="v.matched"> Match</span>
                    </div>
                    <div class="top-right">{{relDateFormat(v.additional_data.usr_last_login)}}</div>
                    <!-- <span class="top-right online"><i class="zmdi zmdi-circle"></i> Online</span> -->
                  </div>
                  <md-card-content class="user-post">
                    {{v.additional_data.usr_description}}
                  </md-card-content>
                  <md-card-actions class="hidden-xs" layout="row" layout-sm="column" layout-xs="column" layout-gt-xs="column" layout-align="space-between center">
                    <div layout="row" layout-align="start center" flex="70">
                      <div class="details" flex-xs="100" flex="45">
                        <div class="detail"><span class="label">Height</span> <span class="value">{{v.additional_data.inf_height}}{{v.additional_data.inf_height_unit}}</span></div>
                        <div class="detail"><span class="label">Body</span> <span class="value">{{displayValue(v.additional_data.inf_body_type, filter.bodyType)}}</span></div>
                      </div>
                      <div class="details" flex-xs="100" flex="45">
                        <div class="detail"><span class="label">Ethnicity</span> <span class="value">{{displayValue(v.additional_data.inf_ethnicity, filter.ethnicity)}}</span></div>
                        <div class="detail"><span class="label">Lifestyle</span> <span class="value">{{displayValue(v.additional_data.inf_spending_habits, filter.habits)}}</span></div>
                      </div>
                    </div>
                    <user-buttons flex="30" user="v"></user-buttons>
                  </md-card-actions>
                </md-card-title-text>
              </md-card-title>
              <md-card-actions class="visible-xs" layout-gt-xs="row" layout-xs="row" layout="row" layout-align="space-between center">
                <div  layout-md="row" layout-xs="column" layout-sm="row" layout-gt-xs="row" layout-align-xs="start" flex="60">
                  <div class="details" flex-xs="100" flex="45">
                    <div class="detail"><span class="label">Height</span> <span class="value">{{v.additional_data.inf_height}}{{v.additional_data.inf_height_unit}}</span></div>
                    <div class="detail"><span class="label">Body</span> <span class="value">{{displayValue(v.additional_data.inf_body_type, filter.bodyType)}}</span></div>
                  </div>
                  <div class="details" flex-xs="100" flex="45">
                    <div class="detail"><span class="label">Ethnicity</span> <span class="value">{{displayValue(v.additional_data.inf_ethnicity, filter.ethnicity)}}</span></div>
                    <div class="detail"><span class="label">Lifestyle</span> <span class="value">{{displayValue(v.additional_data.inf_spending_habits, filter.habits)}}</span></div>
                  </div>
                </div>
                <user-buttons flex="30" user="v"></user-buttons>
              </md-card-actions>
            </md-card>
          </div>
        </div>
        <div class="sk-three-bounce" ng-show="moreViews">
          <div class="sk-child sk-bounce1"></div>
          <div class="sk-child sk-bounce2"></div>
          <div class="sk-child sk-bounce3"></div>
        </div>

        <div class="users-box" layout-sm="column" layout-md="row" layout-lg="row" ng-if="source == 'following'">
          <div class="user-detail-box" ng-if="!loading && following" flex-xs flex-gt-xs="50" layout="column" ng-repeat="f in following | orderBy: sortParam">
            <md-card>
              <md-card-title>
                <a ui-sref="user({usr_token_id: f.additional_data.usr_token_id})">
                  <md-card-title-media ui-sref="user({usr_token_id: f.additional_data.usr_token_id})">
                    <div class="md-media-lg card-media" ng-if="f.additional_data.img_thumb || f.additional_data.img_image" imageonload style="background-image: url({{baseUrl(f.additional_data.img_thumb || f.additional_data.img_image)}})"></div>
                    <div class="md-media-lg card-media no-image" ng-if="!f.additional_data.img_image && f.additional_data.usr_gender == 'female'" style="background-image: url('assets/images/female.svg'); background-position: center bottom; background-repeat: no-repeat;"></div>
                    <div class="md-media-lg card-media no-image" ng-if="!f.additional_data.img_image && f.additional_data.usr_gender == 'male'" style="background-image: url('assets/images/male.svg'); background-position: center bottom; background-repeat: no-repeat;"></div>
                  </md-card-title-media>
                </a>
                <md-card-title-text>
                  <div class="user-detail">
                    <a class="screen-name" ui-sref="user({usr_token_id: f.additional_data.usr_token_id})">{{f.additional_data.usr_screen_name}}</a>
                    <div class="name">
                      <small>{{f.additional_data.usr_age}}</small><i class="zmdi zmdi-circle"></i>
                      <small>{{f.additional_data.usr_gender}}</small><i class="zmdi zmdi-circle"></i>
                      <small>{{f.additional_data.usr_location}}</small>
                      <span class="matched" ng-show="f.matched"> Match</span>
                    </div>
                    <div class="top-right">{{relDateFormat(f.additional_data.usr_last_login)}}</div>
                    <!-- <span class="top-right online"><i class="zmdi zmdi-circle"></i> Online</span> -->
                  </div>
                  <md-card-content class="user-post">
                    {{f.additional_data.usr_description}}
                  </md-card-content>
                  <md-card-actions class="hidden-xs" layout="row" layout-sm="column" layout-xs="column" layout-gt-xs="column" layout-align="space-between center">
                    <div layout="row" layout-align="start center" flex="70">
                      <div class="details" flex-xs="100" flex="45">
                        <div class="detail"><span class="label">Height</span> <span class="value">{{f.additional_data.inf_height}}{{f.additional_data.inf_height_unit}}</span></div>
                        <div class="detail"><span class="label">Body</span> <span class="value">{{displayValue(f.additional_data.inf_body_type, filter.bodyType)}}</span></div>
                      </div>
                      <div class="details" flex-xs="100" flex="45">
                        <div class="detail"><span class="label">Ethnicity</span> <span class="value">{{displayValue(f.additional_data.inf_ethnicity, filter.ethnicity)}}</span></div>
                        <div class="detail"><span class="label">Lifestyle</span> <span class="value">{{displayValue(f.additional_data.inf_spending_habits, filter.habits)}}</span></div>
                      </div>
                    </div>
                    <user-buttons flex="30" user="f"></user-buttons>
                  </md-card-actions>
                </md-card-title-text>
              </md-card-title>
              <md-card-actions class="visible-xs" layout-gt-xs="row" layout-xs="row" layout="row" layout-align="space-between center">
                <div  layout-md="row" layout-xs="column" layout-sm="row" layout-gt-xs="row" layout-align-xs="start" flex="60">
                  <div class="details" flex-xs="100" flex="45">
                    <div class="detail"><span class="label">Height</span> <span class="value">{{f.additional_data.inf_height}}{{f.additional_data.inf_height_unit}}</span></div>
                    <div class="detail"><span class="label">Body</span> <span class="value">{{displayValue(f.additional_data.inf_body_type, filter.bodyType)}}</span></div>
                  </div>
                  <div class="details" flex-xs="100" flex="45">
                    <div class="detail"><span class="label">Ethnicity</span> <span class="value">{{displayValue(f.additional_data.inf_ethnicity, filter.ethnicity)}}</span></div>
                    <div class="detail"><span class="label">Lifestyle</span> <span class="value">{{displayValue(f.additional_data.inf_spending_habits, filter.habits)}}</span></div>
                  </div>
                </div>
                <user-buttons flex="30" user="f"></user-buttons>
              </md-card-actions>
            </md-card>
          </div>
        </div>
        <div class="sk-three-bounce" ng-show="moreFollowing">
          <div class="sk-child sk-bounce1"></div>
          <div class="sk-child sk-bounce2"></div>
          <div class="sk-child sk-bounce3"></div>
        </div>
        <md-button class="button-light-gray button-load-more" ng-if="nextFaves && (!loading || moreFaves)" ng-click="loadMyFaves(nextFaves)">Load More</md-button>
        <md-button class="button-light-gray button-load-more" ng-if="nextFavedMe && (!loading || moreFavedMe)" ng-click="loadFavedMe(nextFavedMe)">Load More</md-button>
        <md-button class="button-light-gray button-load-more" ng-if="nextViewed && (!loading || moreViews)" ng-click="loadViewedMe(nextViewed)">Load More</md-button>
        <md-button class="button-light-gray button-load-more" ng-if="nextFollowing && (!loading || moreFollowing)" ng-click="loadFollowing(nextFollowing)">Load More</md-button>
      </div>
    </div>
  </div>
</div>