<md-dialog aria-label="Edit Criteria" class="criteriaModal searchModal">
    <md-toolbar>
      <div class="md-toolbar-tools" layout="row" layout-align="center center">
        <span>Saved Searches</span>
        <md-button layout-align="end" class="md-icon-button" ng-click="cancel()">
          <i class="zmdi zmdi-close"></i>
        </md-button>
      </div>
    </md-toolbar>

    <md-dialog-content>
      <div class="message" ng-if="!searches">{{message}}</div>
      <md-list>
          <md-list-item class="noright" flex ng-repeat="s in searches | orderBy: 'date'">
            <div class="name-info" layout="column">
              <div class="name">{{s.sch_name}}</div>
              <small>{{shortDate(s.sch_date_created)}}</small>
            </div>
            <div layout="row" layout-align="end center" flex>
              <md-button class="button-orange" ng-click="loadSearch(s.sch_id)" aria-label="More">
                Load
              </md-button>
              <md-button class="md-icon-button delete-button" ng-click="deleteSearch(s.sch_id)" aria-label="More">
                <i class="zmdi zmdi-delete"></i>
              </md-button>
            </div>
          </md-list-item>
        </md-list>
    </md-dialog-content>
</md-dialog>