<violator></violator>
<div class="searchFilter" layout-padding>
  <div class="filterContainer">
    <div class="search-box" layout="row" layout-align="space-between center">
      <i class="zmdi zmdi-search"></i>
      <textarea name="usr_screen_name" rows="1" placeholder="Search members" flex="75" ng-keyup="searchOnEnter(usr_screen_name, $event)" ng-model="usr_screen_name"></textarea>
      <span flex></span>
      <md-button class="button-orange" flex="20" ng-click="searchByName(usr_screen_name)">Search</md-button>
    </div>
    <div class="filter-box" layout-md="row" layout-lg="row" layout-gt-lg="row" layout-sm="row" layout-xs="column" layout-align="start center">
      <div class="filters" flex-xs="100" flex="10">Filters</div>
      <div flex-xs="100" flex="30" id="general" uib-dropdown auto-close="disabled" dropdown-append-to="appendToGeneral" on-toggle="check(open,filter,'general',ageRangeSlider)" class="filterButton">
        <div flex-xs="100" layout="row" layout-align="space-between center" id="btn-append-to" uib-dropdown-toggle>
          <div class="name">GENERAL/FINANCIAL</div>
          <i class="zmdi zmdi-caret-down"></i>
        </div>
        <div class="dropdown-menu-nav" uib-dropdown-menu role="menu" aria-labelledby="btn-append-to">
          <div layout-sm="row" layout-md="row" layout-lg="row" layout-gt-lg="row" layout-xs="column" layout-align="space-around" flex>
            <div flex-xs="100" flex="30" layout="column" layout-align="top">
              <div class="form-group">
                <span class="filter-label">Location</span>
                <div class="form-group-icon" flex="100" layout="row" layout-align="space-between center" >
                  <i class="zmdi zmdi-pin"></i>
                  <input flex="95" vs-google-autocomplete="options"
                    ng-model="user.usr_location"
                    vs-country="components.country"
                    vs-country-short="components.countryCode"
                    vs-state="components.state"
                    vs-city="components.city"
                    vs-street="components.street"
                    vs-street-number="components.streetNumber"
                    vs-latitude="components.latitude"
                    vs-longitude="components.longitude"
                    name="address"
                    type="text"
                    class="form-control"
                    placeholder="Enter your location..."
                    style="width: 100%;"
                    ng-disabled="user.location"
                  >
                </div>
                <md-input-container>
                  <md-checkbox ng-model="user.location" aria-label="Auto-detect location" ng-change="getCurrentLocation(user.location)">
                    Auto-detect location
                  </md-checkbox>
                </md-input-container>
              </div>
              <div layout="column" layout-align="start" class="form-group">
                <span class="filter-label">Distance</span>
                <div class="slider distance-slider" layout="row" layout-align="space-between center">
                  <rzslider rz-slider-model="filter.distance_from" rz-slider-high="filter.distance_to" rz-slider-options="distanceRangeSlider.options"></rzslider>
                </div>
                <div layout="row" layout-align="space-between center">
                  <input type="text" class="form-control" ng-model="filter.distance_from"/>
                  <span>to</span>
                  <input ng-if="filter.distance_to <= 10000" type="text" class="form-control" ng-model="filter.distance_to"/>
                  <span class="infinity" ng-if="filter.distance_to >= 10001">∞</span>
                  <span>km</span>
                </div>
              </div>
              <md-input-container>
                <md-checkbox ng-model="distance" aria-label="Limit distance" ng-change="limitDistance(distance)">
                  Limit Distance
                </md-checkbox>
              </md-input-container>
            </div>
            <div flex-xs="100" flex="30" layout="column" layout-align="top">
              <!-- <div ng-if="user.usr_type=='flame'" layout="column" layout-align="start" class="form-group">
                <span class="filter-label">Financial Capacity</span>
                <div class="slider" layout="row" layout-align="space-between center">
                  <rzslider rz-slider-model="filter.inf_preferred_range_from" rz-slider-high="filter.inf_preferred_range_to" rz-slider-options="financeRangeSlider.options"></rzslider>
                </div>
                <div layout="row" layout-align="space-between center">
                  <span>{{filter.inf_preferred_range_from}}</span>
                  <span>to</span>
                  <span>{{filter.inf_preferred_range_to}}</span>
                  <span>per month</span>
                </div>
              </div> -->
              <div layout="column" layout-align="start" class="form-group">
                <span class="filter-label">Spending Habit</span>
                <select required ng-model="filter.inf_spending_habits" class="form-control">
                  <option value="">Select</option>
                  <option ng-if="user.usr_type=='flame'" ng-repeat="spendingH in filter.sponsorHabit" value="{{spendingH.value}}">{{spendingH.name}}</option>
                  <option ng-if="user.usr_type=='sugar'" ng-repeat="spendingH in filter.babyHabit" value="{{spendingH.value}}">{{spendingH.name}}</option>
                </select>
              </div>
              <div ng-if="user.usr_type=='flame'" layout="column" layout-align="start" class="form-group">
                <span class="filter-label">Net Worth</span>
                <select required ng-model="filter.inf_net_worth" class="form-control">
                  <option value="">Select</option>
                  <option ng-repeat="net in filter.networth" value="{{net.value}}">{{net.name}}</option>
                </select>
              </div>
              <div ng-if="user.usr_type=='flame'" layout="column" layout-align="start" class="form-group">
                <span class="filter-label">Yearly Income</span>
                <select required ng-model="filter.inf_yearly_income" class="form-control">
                  <option value="">Select</option>
                  <option ng-repeat="income in filter.yearlyIncome" value="{{income.value}}">{{income.name}}</option>
                </select>
              </div>
            </div>
            <div flex-xs="100" flex="30" layout="column" layout-align="top">
              <div layout="column" layout-align="start" class="form-group">
                <span class="filter-label">Show Me</span>
                <md-input-container ng-repeat="gender in filter.gender">
                  <md-checkbox ng-model="gender.checked" aria-label="gender.name">
                    {{gender.name}}
                  </md-checkbox>
                </md-input-container>
              </div>
              <div layout="column" layout-align="start" class="form-group">
                <span class="filter-label">Age</span>
                <div class="slider age-slider" layout="row" layout-align="space-between center">
                  <rzslider rz-slider-model="ageRangeSlider.minValue" rz-slider-high="ageRangeSlider.maxValue" rz-slider-options="ageRangeSlider.options"></rzslider>
                </div>
                <div layout="row" layout-align="space-between center">
                  <input type="number" class="form-control" ng-model="ageRangeSlider.minValue" min="18" />
                  <span>to</span>
                  <input type="number" class="form-control" ng-model="ageRangeSlider.maxValue" max="80" />
                  <span>y.o.</span>
                </div>
                <div layout="row" layout-align="space-between center" class="error">
                  <small ng-show="filter.usr_interested_age_from <= 17">Must be at least 18.</small>
                  <small></small>
                  <small ng-show="filter.usr_interested_age_to <= filter.usr_interested_age_from">Must be greater than {{filter.usr_interested_age_from}}.</small>
                  <small ng-show="filter.usr_interested_age_to >= 81">Maximum age is 80.</small>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div flex-xs="100" flex="30" id="looks" uib-dropdown auto-close="disabled" dropdown-append-to="appendToLooks" on-toggle="check(open,filter,'looks',ageRangeSlider)" class="filterButton">
        <div layout="row" layout-align="space-between center" id="btn-append-to" uib-dropdown-toggle>
          <div class="name">LOOKS</div>
          <i class="zmdi zmdi-caret-down"></i>
        </div>
        <div class="dropdown-menu-nav middle" uib-dropdown-menu role="menu" aria-labelledby="btn-append-to">
          <div layout-sm="row" layout-md="row" layout-lg="row" layout-gt-lg="row" layout-xs="column" layout-align="space-around" flex>
            <div flex-xs="100" flex="30" layout="column" layout-align="top" class="form-group">
              <span class="filter-label">Ethnicity</span>
              <md-input-container ng-repeat="ethnicity in filter.ethnicity">
                <md-checkbox ng-model="ethnicity.checked" aria-label="ethnicity.name">
                  {{ethnicity.name}}
                </md-checkbox>
              </md-input-container>
            </div>
            <div flex-xs="100" flex="30" layout="column" layout-align="top" class="form-group">
              <span class="filter-label">Body Type</span>
              <md-input-container ng-repeat="bodyType in filter.bodyType">
                <md-checkbox ng-model="bodyType.checked" aria-label="bodyType.name">
                  {{bodyType.name}}
                </md-checkbox>
              </md-input-container>
            </div>
            <div flex-xs="100" flex="30" layout="column" layout-align="start" class="form-group">
                <span class="filter-label">Height</span>
                <div class="slider height-slider" layout="row" layout-align="space-between center">
                  <rzslider rz-slider-model="filter.height_from" rz-slider-high="filter.height_to" rz-slider-options="heightRangeSlider.options"></rzslider>
                </div>
                <div layout="row" layout-align="space-between center">
                  <input type="text" class="form-control" ng-model="filter.height_from"/>
                  <span>to</span>
                  <input type="text" class="form-control" ng-model="filter.height_to"/>
                  <span>cm</span>
                </div>
              </div>
          </div>
        </div>
      </div>
      <div flex-xs="100" flex="30" id="lifestyle" uib-dropdown auto-close="disabled" dropdown-append-to="appendToLifestyle" on-toggle="check(open,filter,'lifestyle',ageRangeSlider)" class="filterButton">
        <div layout="row" layout-align="space-between center" id="btn-append-to" uib-dropdown-toggle>
          <div class="name">LIFESTYLE</div>
          <i class="zmdi zmdi-caret-down"></i>
        </div>
        <div class="dropdown-menu-nav" uib-dropdown-menu role="menu" aria-labelledby="btn-append-to">
          <div layout-sm="row" layout-md="row" layout-lg="row" layout-gt-lg="row" layout-xs="column" layout-align="space-around" flex>
            <div layout="column" layout-align="top">
              <div layout="column" layout-align="top" class="form-group">
                <span class="filter-label">Relationship</span>
                <md-input-container ng-repeat="relationship in filter.relationship">
                  <md-checkbox ng-model="relationship.checked" aria-label="relationship.name">
                    {{relationship.name}}
                  </md-checkbox>
                </md-input-container>
              </div>
              <div layout="column" layout-align="top" class="form-group">
                <span class="filter-label">Children</span>
                <md-input-container ng-repeat="children in filter.children">
                  <md-checkbox ng-model="children.checked" aria-label="children.name">
                    {{children.name}}
                  </md-checkbox>
                </md-input-container>
              </div>
            </div>
            <div layout="column" layout-align="top" class="form-group">
              <span class="filter-label">Language</span>
              <md-input-container ng-repeat="language in filter.language">
                  <md-checkbox ng-model="language.checked" aria-label="language.name">
                    {{language.name}}
                  </md-checkbox>
                </md-input-container>
            </div>
            <div layout="column" layout-align="top" class="form-group">
              <span class="filter-label">Education</span>
              <md-input-container ng-repeat="education in filter.education">
                  <md-checkbox ng-model="education.checked" aria-label="education.name">
                    {{education.name}}
                  </md-checkbox>
                </md-input-container>
            </div>
            <div layout="column" layout-align="top">
              <div layout="column" layout-align="top" class="form-group">
                <span class="filter-label">Smoke</span>
                <md-input-container ng-repeat="smoke in filter.smoke">
                  <md-checkbox ng-model="smoke.checked" aria-label="smoke.name">
                    {{smoke.name}}
                  </md-checkbox>
                </md-input-container>
              </div>
              <div layout="column" layout-align="top" class="form-group">
                <span class="filter-label">Drink</span>
                <md-input-container ng-repeat="drink in filter.drink">
                  <md-checkbox ng-model="drink.checked" aria-label="drink.name">
                    {{drink.name}}
                  </md-checkbox>
                </md-input-container>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="filter-actions">
      <div layout="row" layout-align="space-between center">
        <span ng-click="reset()">Reset</span>
        <div layout="row" layout-align="space-between center">
          <span ng-click="openSavedSearch($event)">Saved Searches</span>
          <span class="button" ng-click="saveSearch(filter, ageRangeSlider)">Save Search</span>
        </div>
      </div>
    </div>
  </div>
</div>
<div layout="vertical" layout-fill layout-padding class="homePage searchPage">
  <div layout="column" flex>
    <div class="pending-box" ng-if="user.usr_status == 'pending'">
      <div class="title">Hi {{user.usr_screen_name}}! Your profile is currently being reviewed for approval.</div>
      <div class="description">We just need to make sure it's setup properly. For your reference, our criteria for approval are:</div>
      <div class="checklist">
        <div><i class="zmdi zmdi-check"></i>Pictures do not contain any nudity anything that can be interpreted as offensive.</div>
        <div><i class="zmdi zmdi-check"></i>None of your personal information is made public (ex. Email address, home address, phone number, etc.)</div>
        <div><i class="zmdi zmdi-check"></i>Profile does not contain any vulgar language, improper proposals, etc.</div>
        <div><i class="zmdi zmdi-check"></i>Profile is not marketing any service or promoting prostitution or an escort service.</div>
      </div>
      <div class="approval">Please allow 24 hours before your profile is approved.</div>
    </div>
    <div class="container" layout="row" layout-align="space-between top" layout-sm="column">
      <div class="search-container">
        <div class="tabs" layout="row" layout-align="space-between center">
          <div layout="row" layout-align="start center" flex class="tabs-container">
            <div class="tab" ng-click="onTabSelected('')" ng-class="source == '' ? 'active':''">Newest</div>
            <div class="tab" ng-click="onTabSelected('recent')" ng-class="source == 'recent' ? 'active':''">Recently Online</div>
            <div class="tab" ng-click="onTabSelected('nearest')" ng-class="source == 'nearest' ? 'active':15">Nearest</div>
            <div class="tab" ng-click="onTabSelected('facebook')" ng-class="source == 'facebook' ? 'active':''">FB Verified<md-tooltip md-direction="top">These users have a minimum of 100 friends and 20 pictures.</md-tooltip></div>
          </div>
          <md-select layout-align="start" ng-model="source" ng-change="onTabSelected(source)" class="form-control tabs-xs" placeholder="Newest">
            <md-option value="">Newest</md-option>
            <md-option value="recent">Recently Online</md-option>
            <md-option value="nearest">Nearest</md-option>
            <md-option value="facebook">FB Verified</md-option>
          </md-select> 
          <small class="results">Found {{pagination.num_rows}} results</small>
        </div>
        <div class="content">
          <div class="err-message" ng-show="users.length == 0 && !loading">{{errMessage}}</div>
          <div class="sk-three-bounce" ng-show="loading">
            <div class="sk-child sk-bounce1"></div>
            <div class="sk-child sk-bounce2"></div>
            <div class="sk-child sk-bounce3"></div>
          </div>
          <div class="users-box" layout-xs="column" layout="row" ng-if="source == '' && !loading">
            <div class="user-detail-box" ng-repeat="u in users" flex-xs flex-gt-xs="50" layout="column">
              <md-card>
                <md-card-title>
                  <a ui-sref="user({usr_token_id:u.usr_token_id})">
                    <md-card-title-media ui-sref="user({usr_token_id:u.usr_token_id})">
                      <div class="md-media-lg card-media" ng-if="u.additional_data.img_thumb || u.additional_data.img_image" imageonload style="background-image: url({{baseUrl(u.additional_data.img_thumb || u.additional_data.img_image)}})"></div>
                      <div class="md-media-lg card-media no-image" ng-if="!u.additional_data.img_image && u.usr_gender == 'female'" style="background-image: url('assets/images/female.svg'); background-position: center bottom; background-repeaet: no-repeat;"></div>
                    <div class="md-media-lg card-media no-image" ng-if="!u.additional_data.img_image && u.usr_gender == 'male'" style="background-image: url('assets/images/male.svg'); background-position: center bottom; background-repeaet: no-repeat;"></div>
                    </md-card-title-media>
                  </a>
                  <md-card-title-text>
                    <div class="user-detail">
                      <a class="screen-name" ui-sref="user({usr_token_id:u.usr_token_id})">{{u.usr_screen_name}}</a>
                      <div class="name">
                        <small>{{u.usr_age}}</small><i class="zmdi zmdi-circle"></i>
                        <small>{{u.usr_gender}}</small><i class="zmdi zmdi-circle"></i>
                        <small>{{u.usr_location}}</small>
                        <span class="matched" ng-show="u.matched"> Match</span>
                      </div>
                      <div class="top-right">{{relDateFormat(u.usr_last_login)}}</div>
                      <!-- <span class="top-right online"><i class="zmdi zmdi-circle"></i> Online</span> -->
                    </div>
                    <md-card-content class="user-post">
                      {{u.usr_description}}
                    </md-card-content>
                    <md-card-actions class="hidden-xs" layout="row" layout-sm="column" layout-xs="column" layout-gt-xs="column" layout-align="space-between center">
                      <div layout="row" layout-sm="column" layout-xs="column" layout-gt-xs="column" layout-align="start center" flex-xs="100" flex="70">
                        <div class="details" flex="45">
                          <div class="detail"><span class="label">Height</span> <span class="value">{{u.inf_height}}{{u.inf_height_unit}}</span></div>
                          <div class="detail"><span class="label">Body</span> <span class="value">{{displayValue(u.inf_body_type, filter.bodyType)}}</span></div>
                        </div>
                        <div class="details" flex="45">
                          <div class="detail"><span class="label">Ethnicity</span> <span class="value">{{displayValue(u.inf_ethnicity, filter.ethnicity)}}</span></div>
                          <div class="detail"><span class="label">Lifestyle</span> <span class="value">{{displayValue(u.inf_spending_habits, filter.habits)}}</span></div>
                        </div>
                      </div>
                      <user-buttons ng-if="user.usr_status != 'pending'" user="u" flex="30"></user-buttons>
                    </md-card-actions>
                  </md-card-title-text>
                </md-card-title>
                <md-card-actions class="visible-xs" layout-gt-xs="row" layout-xs="row" layout="row" layout-align="space-between center">
                  <div layout-md="row" layout-xs="column" layout-sm="row" layout-gt-xs="row" layout-align-xs="start" flex="60">
                    <div class="details" flex-xs="100" flex="45">
                      <div class="detail"><span class="label">Height</span> <span class="value">{{u.inf_height}}{{u.inf_height_unit}}</span></div>
                      <div class="detail"><span class="label">Body</span> <span class="value">{{displayValue(u.inf_body_type, filter.bodyType)}}</span></div>
                    </div>
                    <div class="details" flex-xs="100" flex="45">
                      <div class="detail"><span class="label">Ethnicity</span> <span class="value">{{displayValue(u.inf_ethnicity, filter.ethnicity)}}</span></div>
                      <div class="detail"><span class="label">Lifestyle</span> <span class="value">{{displayValue(u.inf_spending_habits, filter.habits)}}</span></div>
                    </div>
                  </div>
                  <user-buttons ng-if="user.usr_status != 'pending'" user="u" flex-sm="30" flex-gt-xs="30" flex-xs="30"></user-buttons>
                </md-card-actions>
              </md-card>
            </div>
          </div>
          <div class="users-box" layout-xs="column" layout="row" ng-if="source == 'nearest' && !loading">
            <div class="user-detail-box" ng-repeat="u in users" flex-xs flex-gt-xs="50" layout="column"> 
              <md-card>
                <md-card-title>
                  <a ui-sref="user({usr_token_id:u.usr_token_id})">
                    <md-card-title-media ui-sref="user({usr_token_id:u.usr_token_id})">
                      <div class="md-media-lg card-media" ng-if="u.additional_data.img_thumb || u.additional_data.img_image" imageonload style="background-image: url({{baseUrl(u.additional_data.img_image)}})"></div>
                      <div class="md-media-lg card-media no-image" ng-if="!u.additional_data.img_image && u.usr_gender == 'female'" style="background-image: url('assets/images/female.svg'); background-position: center bottom; background-repeaet: no-repeat;"></div>
                      <div class="md-media-lg card-media no-image" ng-if="!u.additional_data.img_image && u.usr_gender == 'male'" style="background-image: url('assets/images/male.svg'); background-position: center bottom; background-repeaet: no-repeat;"></div>
                    </md-card-title-media>
                  </a>
                  <md-card-title-text>
                    <div class="user-detail">
                      <a class="screen-name" ui-sref="user({usr_token_id:u.usr_token_id})">{{u.usr_screen_name}}</a>
                      <div class="name">
                        <small>{{u.usr_age}}</small><i class="zmdi zmdi-circle"></i>
                        <small>{{u.usr_gender}}</small><i class="zmdi zmdi-circle"></i>
                        <small>{{u.usr_location}}</small>
                        <span class="matched" ng-show="u.matched"> Match</span>
                      </div>
                      <div class="top-right">{{relDateFormat(u.usr_last_login)}}</div>
                      <!-- <span class="top-right online"><i class="zmdi zmdi-circle"></i> Online</span> -->
                    </div>
                    <md-card-content class="user-post">
                      {{u.usr_description}}
                    </md-card-content>
                    <md-card-actions class="hidden-xs" layout="row" layout-sm="column" layout-xs="column" layout-gt-xs="column" layout-align="space-between center">
                      <div layout="row" layout-sm="column" layout-xs="column" layout-gt-xs="column" layout-align="start center" flex-xs="100" flex="70">
                        <div class="details" flex="45">
                          <div class="detail"><span class="label">Height</span> <span class="value">{{u.inf_height}}{{u.inf_height_unit}}</span></div>
                          <div class="detail"><span class="label">Body</span> <span class="value">{{displayValue(u.inf_body_type, filter.bodyType)}}</span></div>
                        </div>
                        <div class="details" flex="45">
                          <div class="detail"><span class="label">Ethnicity</span> <span class="value">{{displayValue(u.inf_ethnicity, filter.ethnicity)}}</span></div>
                          <div class="detail"><span class="label">Lifestyle</span> <span class="value">{{displayValue(u.inf_spending_habits, filter.habits)}}</span></div>
                        </div>
                      </div>
                      <user-buttons ng-if="u.usr_status != 'pending'" user="user" flex="30"></user-buttons>
                    </md-card-actions>
                  </md-card-title-text>
                </md-card-title>
                <md-card-actions class="visible-xs" layout-gt-xs="row" layout-xs="row" layout="row" layout-align="space-between center">
                  <div layout-md="row" layout-xs="column" layout-sm="row" layout-gt-xs="row" layout-align-xs="start" flex="60">
                    <div class="details" flex-xs="100" flex="45">
                      <div class="detail"><span class="label">Height</span> <span class="value">{{u.inf_height}}{{u.inf_height_unit}}</span></div>
                      <div class="detail"><span class="label">Body</span> <span class="value">{{displayValue(u.inf_body_type, filter.bodyType)}}</span></div>
                    </div>
                    <div class="details" flex-xs="100" flex="45">
                      <div class="detail"><span class="label">Ethnicity</span> <span class="value">{{displayValue(u.inf_ethnicity, filter.ethnicity)}}</span></div>
                      <div class="detail"><span class="label">Lifestyle</span> <span class="value">{{displayValue(u.inf_spending_habits, filter.habits)}}</span></div>
                    </div>
                  </div>
                  <user-buttons ng-if="u.usr_status != 'pending'" user="user" flex-sm="30" flex-gt-xs="30" flex-xs="30"></user-buttons>
                </md-card-actions>
              </md-card>
            </div>
          </div>
          <div class="users-box" layout-xs="column" layout="row" ng-if="source == 'recent' && !loading">
            <div class="user-detail-box" ng-repeat="u in users | filter: {usr_last_login: '' }" flex-xs flex-gt-xs="50" layout="column"> 
              <md-card>
                <md-card-title>
                  <a ui-sref="user({usr_token_id:u.usr_token_id})">
                    <md-card-title-media ui-sref="user({usr_token_id:u.usr_token_id})">
                      <div class="md-media-lg card-media" ng-if="u.additional_data.img_thumb || u.additional_data.img_image" imageonload style="background-image: url({{baseUrl(u.additional_data.img_thumb || u.additional_data.img_image)}})"></div>
                      <div class="md-media-lg card-media no-image" ng-if="!u.additional_data.img_image && u.usr_gender == 'female'" style="background-image: url('assets/images/female.svg'); background-position: center bottom; background-repeaet: no-repeat;"></div>
                      <div class="md-media-lg card-media no-image" ng-if="!u.additional_data.img_image && u.usr_gender == 'male'" style="background-image: url('assets/images/male.svg'); background-position: center bottom; background-repeaet: no-repeat;"></div>
                    </md-card-title-media>
                  </a>
                  <md-card-title-text>
                    <div class="user-detail">
                      <a class="screen-name" ui-sref="user({usr_token_id:u.usr_token_id})">{{u.usr_screen_name}}</a>
                      <div class="name">
                        <small>{{u.usr_age}}</small><i class="zmdi zmdi-circle"></i>
                        <small>{{u.usr_gender}}</small><i class="zmdi zmdi-circle"></i>
                        <small>{{u.usr_location}}</small>
                        <span class="matched" ng-show="u.matched"> Match</span>
                      </div>
                      <div class="top-right">{{relDateFormat(u.usr_last_login)}}</div>
                      <!-- <span class="top-right online"><i class="zmdi zmdi-circle"></i> Online</span> -->
                    </div>
                    <md-card-content class="user-post">
                      {{u.usr_description}}
                    </md-card-content>
                    <md-card-actions class="hidden-xs" layout="row" layout-sm="column" layout-xs="column" layout-gt-xs="column" layout-align="space-between center">
                      <div layout="row" layout-sm="column" layout-xs="column" layout-gt-xs="column" layout-align="start center" flex-xs="100" flex="70">
                        <div class="details" flex="45">
                          <div class="detail"><span class="label">Height</span> <span class="value">{{u.inf_height}}{{u.inf_height_unit}}</span></div>
                          <div class="detail"><span class="label">Body</span> <span class="value">{{displayValue(u.inf_body_type, filter.bodyType)}}</span></div>
                        </div>
                        <div class="details" flex="45">
                          <div class="detail"><span class="label">Ethnicity</span> <span class="value">{{displayValue(u.inf_ethnicity, filter.ethnicity)}}</span></div>
                          <div class="detail"><span class="label">Lifestyle</span> <span class="value">{{displayValue(u.inf_spending_habits, filter.habits)}}</span></div>
                        </div>
                      </div>
                      <user-buttons ng-if="user.usr_status != 'pending'" user="u" flex="30"></user-buttons>
                    </md-card-actions>
                  </md-card-title-text>
                </md-card-title>
                <md-card-actions class="visible-xs" layout-gt-xs="row" layout-xs="row" layout="row" layout-align="space-between center">
                  <div layout-md="row" layout-xs="column" layout-sm="row" layout-gt-xs="row" layout-align-xs="start" flex="60">
                    <div class="details" flex-xs="100" flex="45">
                      <div class="detail"><span class="label">Height</span> <span class="value">{{u.inf_height}}{{u.inf_height_unit}}</span></div>
                      <div class="detail"><span class="label">Body</span> <span class="value">{{displayValue(u.inf_body_type, filter.bodyType)}}</span></div>
                    </div>
                    <div class="details" flex-xs="100" flex="45">
                      <div class="detail"><span class="label">Ethnicity</span> <span class="value">{{displayValue(u.inf_ethnicity, filter.ethnicity)}}</span></div>
                      <div class="detail"><span class="label">Lifestyle</span> <span class="value">{{displayValue(u.inf_spending_habits, filter.habits)}}</span></div>
                    </div>
                  </div>
                  <user-buttons ng-if="user.usr_status != 'pending'" user="u" flex-sm="30" flex-gt-xs="30" flex-xs="30"></user-buttons>
                </md-card-actions>
              </md-card>
            </div>
          </div>
          <div class="users-box" layout-xs="column" layout="row" ng-if="source == 'facebook' && !loading">
            <div class="user-detail-box" ng-repeat="u in users | filter: {usr_social_verified: 'yes' }" flex-xs flex-gt-xs="50" layout="column"> 
              <md-card>
                <md-card-title>
                  <a ui-sref="user({usr_token_id:u.usr_token_id})">
                    <md-card-title-media ui-sref="user({usr_token_id:u.usr_token_id})">
                      <div class="md-media-lg card-media" ng-if="u.additional_data.img_thumb || u.additional_data.img_image" imageonload style="background-image: url({{baseUrl(u.additional_data.img_thumb || u.additional_data.img_image)}})"></div>
                      <div class="md-media-lg card-media no-image" ng-if="!u.additional_data.img_image && u.usr_gender == 'female'" style="background-image: url('assets/images/female.svg'); background-position: center bottom; background-repeaet: no-repeat;"></div>
                    <div class="md-media-lg card-media no-image" ng-if="!u.additional_data.img_image && u.usr_gender == 'male'" style="background-image: url('assets/images/male.svg'); background-position: center bottom; background-repeaet: no-repeat;"></div>
                    </md-card-title-media>
                  </a>
                  <md-card-title-text>
                    <div class="user-detail">
                      <a class="screen-name" ui-sref="user({usr_token_id:u.usr_token_id})">{{u.usr_screen_name}}</a>
                      <div class="name">
                        <small>{{u.usr_age}}</small><i class="zmdi zmdi-circle"></i>
                        <small>{{u.usr_gender}}</small><i class="zmdi zmdi-circle"></i>
                        <small>{{u.usr_location}}</small>
                        <span class="matched" ng-show="u.matched"> Match</span>
                      </div>
                      <div class="top-right">{{relDateFormat(u.usr_last_login)}}</div>
                      <!-- <span class="top-right online"><i class="zmdi zmdi-circle"></i> Online</span> -->
                    </div>
                    <md-card-content class="user-post">
                      {{u.usr_description}}
                    </md-card-content>
                    <md-card-actions class="hidden-xs" layout="row" layout-sm="column" layout-xs="column" layout-gt-xs="column" layout-align="space-between center">
                      <div layout="row" layout-sm="column" layout-xs="column" layout-gt-xs="column" layout-align="start center" flex-xs="100" flex="70">
                        <div class="details" flex="45">
                          <div class="detail"><span class="label">Height</span> <span class="value">{{u.inf_height}}{{u.inf_height_unit}}</span></div>
                          <div class="detail"><span class="label">Body</span> <span class="value">{{displayValue(u.inf_body_type, filter.bodyType)}}</span></div>
                        </div>
                        <div class="details" flex="45">
                          <div class="detail"><span class="label">Ethnicity</span> <span class="value">{{displayValue(u.inf_ethnicity, filter.ethnicity)}}</span></div>
                          <div class="detail"><span class="label">Lifestyle</span> <span class="value">{{displayValue(u.inf_spending_habits, filter.habits)}}</span></div>
                        </div>
                      </div>
                      <user-buttons ng-if="user.usr_status != 'pending'" user="u" flex="30"></user-buttons>
                    </md-card-actions>
                  </md-card-title-text>
                </md-card-title>
                <md-card-actions class="visible-xs" layout-gt-xs="row" layout-xs="row" layout="row" layout-align="space-between center">
                  <div layout-md="row" layout-xs="column" layout-sm="row" layout-gt-xs="row" layout-align-xs="start" flex="60">
                    <div class="details" flex-xs="100" flex="45">
                      <div class="detail"><span class="label">Height</span> <span class="value">{{u.inf_height}}{{u.inf_height_unit}}</span></div>
                      <div class="detail"><span class="label">Body</span> <span class="value">{{displayValue(u.inf_body_type, filter.bodyType)}}</span></div>
                    </div>
                    <div class="details" flex-xs="100" flex="45">
                      <div class="detail"><span class="label">Ethnicity</span> <span class="value">{{displayValue(u.inf_ethnicity, filter.ethnicity)}}</span></div>
                      <div class="detail"><span class="label">Lifestyle</span> <span class="value">{{displayValue(u.inf_spending_habits, filter.habits)}}</span></div>
                    </div>
                  </div>
                  <user-buttons ng-if="user.usr_status != 'pending'" user="u" flex-sm="30" flex-gt-xs="30" flex-xs="30"></user-buttons>
                </md-card-actions>
              </md-card>
            </div>
          </div>
          <div class="sk-three-bounce" ng-show="loadingMore">
            <div class="sk-child sk-bounce1"></div>
            <div class="sk-child sk-bounce2"></div>
            <div class="sk-child sk-bounce3"></div>
          </div>
          <md-button class="button-light-gray button-load-more" ng-if="next && !loading" ng-click="loadMore(next)">Load More</md-button>
        </div>
      </div>
    </div>
  </div>
</div>