<div layout="vertical" layout-fill class="homePage">
	<div class="container" layout="row" layout-align="space-between top" layout-sm="column">
    <div class="feed" flex>
    	<div layout="column" layout-align="start">
        <div class="title-icon">
          <span class="icon-box favorite-box"><i class="zmdi zmdi-collection-text"></i></span>
          <span class="title">Newsfeed</span>
        </div>
      </div>
      <md-content>
        <md-tabs md-dynamic-height md-border-bottom>
          <md-tab label="all">
            <div class="tab-options" layout="row" layout-align="space-between center">
              <div flex="50">
              </div>
              <div flex="50" class="right">
                <!-- <md-button ng-click="openCriteria()">Edit Criteria</md-button> -->
              </div>
            </div>
            <div class="posts">
              <div class="post post-card" ng-repeat="p in posts | orderBy: '-pos_date_created'">
                <md-card>
                  <md-card-title>
                    <a ui-sref="user({usr_token_id: p.user.usr_token_id})">
                      <md-card-title-media ui-sref="user({usr_token_id: p.user.usr_token_id})">
                        <div class="md-media-lg card-media" ng-show="p.user.img_image" style="background-image: url({{baseUrl(p.user.img_image)}})"></div>
                        <div class="md-media-lg card-media" ng-if="!p.user.img_image && p.user.usr_gender == 'female'" style="background-image: url('assets/images/female.svg')"></div>
                        <div class="md-media-lg card-media" ng-if="!p.user.img_image && p.user.usr_gender == 'male'" style="background-image: url('assets/images/male.svg')"></div>
                      </md-card-title-media>
                    </a>
                    <md-card-title-text>
                      <div class="user-detail">
                        <a class="screen-name" ui-sref="user({usr_token_id: p.user.usr_token_id})">{{p.user.usr_screen_name}}</a>
                        <span class="name">
                          <small>{{p.user.usr_age}}</small><i class="zmdi zmdi-circle"></i>
                          <small>{{p.user.usr_gender}}</small><i class="zmdi zmdi-circle"></i>
                          <small>{{p.user.inf_orientation}}</small><i class="zmdi zmdi-circle"></i>
                          <small>{{p.user.usr_location}}</small>
                        </span>
                        <span class="top-right">{{relDateFormat(p.pos_date_created)}}</span>
                      </div>
                      <div class="user-post">
                        <p>
                         {{p.pos_content}}
                        </p>
                        <!-- <img src="https://s-media-cache-ak0.pinimg.com/736x/8b/46/37/8b46376b12a5639eaa8cf2c9ba848c80.jpg" alt=""> -->
                      </div>
                      <post-buttons post="p"></post-buttons>
                    </md-card-title-text>
                  </md-card-title>
                </md-card>
              </div>
              <!-- <md-button class="button-light-gray button-load-more">Load More</md-button> -->
            </div>
          </md-tab>
          <md-tab label="I faved">
          </md-tab>
          <md-tab label="I messaged">
          </md-tab>
          <md-tab label="I followed">
          </md-tab>
        </md-tabs>
      </md-content>
    </div>
  </div>
</div>