<violator></violator>
<div layout="vertical" layout-fill class="homePage membersPage" id="feedScroll">
  <div class="container" layout="column" layout-align="space-between top" layout-sm="column">
    <div class="tabs-container">
      <div layout="column" layout-align="center">
        <div class="title-icon">
          <span class="icon-box favorite-box"><i class="zmdi zmdi-accounts"></i></span>
          <span class="title">Members</span>
        </div>
      </div>
      <div class="tabs" layout="row" layout-align="space-between center">
        <div layout="row" layout-align="start center" flex class="tabs-container">
          <div class="tab" ng-click="onTabSelected('')" ng-class="source == '' ? 'active':''">Newest</div>
          <div class="tab" ng-click="onTabSelected('recent')" ng-class="source == 'recent' ? 'active':''">Recently Online</div>
          <div class="tab" ng-click="onTabSelected('nearest')" ng-class="source == 'nearest' ? 'active':''">Nearest</div>
          <div class="tab" ng-click="onTabSelected('facebook')" ng-class="source == 'facebook' ? 'active':''">FB Verified <md-tooltip md-direction="top">These users have a minimum of 100 friends and 20 pictures.</md-tooltip></div>
        </div>
        <md-select layout-align="start" ng-model="source" ng-change="onTabSelected(source)" class="form-control tabs-xs" placeholder="Newest">
          <md-option value="">Newest</md-option>
          <md-option value="recent">Recently Online</md-option>
          <md-option value="nearest">Nearest</md-option>
          <md-option value="facebook">FB Verified</md-option>
        </md-select> 
        <md-button ng-click="openCriteria(); resetDirective();" layout-align="end">Edit Criteria</md-button>
      </div>
      <div class="content">
        <div class="err-message">{{message}}</div>
        <div class="sk-three-bounce" ng-show="loading">
          <div class="sk-child sk-bounce1"></div>
          <div class="sk-child sk-bounce2"></div>
          <div class="sk-child sk-bounce3"></div>
        </div>
        <div class="users-box" layout-sm="column" layout-md="row" layout-lg="row" ng-if="source == ''">
          <div class="user-detail-box" ng-if="users" ng-repeat="user in users" flex-xs flex-gt-xs="50" layout="column"> 
            <md-card>
              <md-card-title>
                <a ui-sref="user({usr_token_id:user.usr_token_id})">
                  <md-card-title-media ui-sref="user({usr_token_id:user.usr_token_id})">
                    <div class="md-media-lg card-media" ng-if="user.additional_data.img_thumb || user.additional_data.img_image" imageonload style="background-image: url({{baseUrl(user.additional_data.img_thumb || user.additional_data.img_image)}})"></div>
                    <div class="md-media-lg card-media no-image" ng-if="!user.additional_data.img_image && user.usr_gender == 'female'" style="background-image: url('assets/images/female.svg'); background-position: center bottom; background-repeaet: no-repeat;"></div>
                    <div class="md-media-lg card-media no-image" ng-if="!user.additional_data.img_image && user.usr_gender == 'male'" style="background-image: url('assets/images/male.svg'); background-position: center bottom; background-repeaet: no-repeat;"></div>
                  </md-card-title-media>
                </a>
                <md-card-title-text>
                  <div class="user-detail">
                    <a class="screen-name" ui-sref="user({usr_token_id:user.usr_token_id})">{{user.usr_screen_name}}</a>
                    <div class="name">
                      <small>{{user.usr_age}}</small><i class="zmdi zmdi-circle"></i>
                      <small>{{user.usr_gender}}</small><i class="zmdi zmdi-circle"></i>
                      <small>{{user.usr_location}}</small>
                      <span class="matched" ng-show="user.matched"> Match</span>
                    </div>
                    <div class="top-right">{{relDateFormat(user.usr_last_login)}}</div>
                    <!-- <span class="top-right online"><i class="zmdi zmdi-circle"></i> Online</span> -->
                  </div>
                  <md-card-content class="user-post">
                    {{user.usr_description}}
                  </md-card-content>
                  <md-card-actions class="hidden-xs" layout="row" layout-sm="column" layout-xs="column" layout-gt-xs="column" layout-align="space-between center">
                    <div layout="row" layout-sm="column" layout-xs="column" layout-gt-xs="column" layout-align="start center" flex-xs="100" flex="70">
                      <div class="details" flex="45">
                        <div class="detail"><span class="label">Height</span> <span class="value">{{user.additional_data.inf_height}}{{user.additional_data.inf_height_unit}}</span></div>
                        <div class="detail"><span class="label">Body</span> <span class="value">{{displayValue(user.additional_data.inf_body_type, filter.bodyType)}}</span></div>
                      </div>
                      <div class="details" flex="45">
                        <div class="detail"><span class="label">Ethnicity</span> <span class="value">{{displayValue(user.additional_data.inf_ethnicity, filter.ethnicity)}}</span></div>
                        <div class="detail"><span class="label">Lifestyle</span> <span class="value">{{displayValue(user.additional_data.inf_spending_habits, filter.habits)}}</span></div>
                      </div>
                    </div>
                    <user-buttons user="user" flex="30"></user-buttons>
                  </md-card-actions>
                </md-card-title-text>
              </md-card-title>
              <md-card-actions class="visible-xs" layout-gt-xs="row" layout-xs="row" layout="row" layout-align="space-between center">
                <div layout-md="row" layout-xs="column" layout-sm="row" layout-gt-xs="row" layout-align-xs="start" flex="60">
                  <div class="details" flex-xs="100" flex="45">
                    <div class="detail"><span class="label">Height</span> <span class="value">{{user.additional_data.inf_height}}{{user.additional_data.inf_height_unit}}</span></div>
                    <div class="detail"><span class="label">Body</span> <span class="value">{{displayValue(user.additional_data.inf_body_type, filter.bodyType)}}</span></div>
                  </div>
                  <div class="details" flex-xs="100" flex="45">
                    <div class="detail"><span class="label">Ethnicity</span><span class="value">{{displayValue(user.additional_data.inf_ethnicity, filter.ethnicity)}}</span></div>
                    <div class="detail"><span class="label">Lifestyle</span> <span class="value">{{displayValue(user.additional_data.inf_spending_habits, filter.habits)}}</span></div>
                  </div>
                </div>
                <user-buttons user="user" flex-sm="30" flex-gt-xs="30" flex-xs="30"></user-buttons>
              </md-card-actions>
            </md-card>
          </div>
        </div>
        <div class="users-box" layout-sm="column" layout-md="row" layout-lg="row" ng-if="source == 'nearest'">
          <div class="user-detail-box" ng-if="users" ng-repeat="user in users" flex-xs flex-gt-xs="50" layout="column"> 
            <md-card>
              <md-card-title>
                <a ui-sref="user({usr_token_id:user.usr_token_id})">
                  <md-card-title-media ui-sref="user({usr_token_id:user.usr_token_id})">
                    <div class="md-media-lg card-media" ng-if="user.additional_data.img_thumb || user.additional_data.img_image" ng-if="user.additional_data.img_thumb || user.additional_data.img_image" imageonload style="background-image: url({{baseUrl(user.additional_data.img_thumb || user.additional_data.img_image)}})"></div>
                    <div class="md-media-lg card-media no-image" ng-if="!user.additional_data.img_image && user.usr_gender == 'female'" style="background-image: url('assets/images/female.svg'); background-position: center bottom; background-repeaet: no-repeat;"></div>
                    <div class="md-media-lg card-media no-image" ng-if="!user.additional_data.img_image && user.usr_gender == 'male'" style="background-image: url('assets/images/male.svg'); background-position: center bottom; background-repeaet: no-repeat;"></div>
                  </md-card-title-media>
                </a>
                <md-card-title-text>
                  <div class="user-detail">
                    <a class="screen-name" ui-sref="user({usr_token_id:user.usr_token_id})">{{user.usr_screen_name}}</a>
                    <div class="name">
                      <small>{{user.usr_age}}</small><i class="zmdi zmdi-circle"></i>
                      <small>{{user.usr_gender}}</small><i class="zmdi zmdi-circle"></i>
                      <small>{{user.usr_location}}</small>
                      <span class="matched" ng-show="user.matched"> Match</span>
                    </div>
                    <div class="top-right">{{relDateFormat(user.usr_last_login)}}</div>
                    <!-- <span class="top-right online"><i class="zmdi zmdi-circle"></i> Online</span> -->
                  </div>
                  <md-card-content class="user-post">
                    {{user.usr_description}}
                  </md-card-content>
                  <md-card-actions class="hidden-xs" layout="row" layout-sm="column" layout-xs="column" layout-gt-xs="column" layout-align="space-between center">
                    <div layout="row" layout-sm="column" layout-xs="column" layout-gt-xs="column" layout-align="start center" flex-xs="100" flex="70">
                      <div class="details" flex="45">
                        <div class="detail"><span class="label">Height</span> <span class="value">{{user.additional_data.inf_height}}{{user.additional_data.inf_height_unit}}</span></div>
                        <div class="detail"><span class="label">Body</span> <span class="value">{{displayValue(user.additional_data.inf_body_type, filter.bodyType)}}</span></div>
                      </div>
                      <div class="details" flex="45">
                        <div class="detail"><span class="label">Ethnicity</span> <span class="value">{{displayValue(user.additional_data.inf_ethnicity, filter.ethnicity)}}</span></div>
                        <div class="detail"><span class="label">Lifestyle</span> <span class="value">{{displayValue(user.additional_data.inf_spending_habits, filter.habits)}}</span></div>
                      </div>
                    </div>
                    <user-buttons user="user" flex="30"></user-buttons>
                  </md-card-actions>
                </md-card-title-text>
              </md-card-title>
              <md-card-actions class="visible-xs" layout-gt-xs="row" layout-xs="row" layout="row" layout-align="space-between center">
                <div layout-md="row" layout-xs="column" layout-sm="row" layout-gt-xs="row" layout-align-xs="start" flex="60">
                  <div class="details" flex-xs="100" flex="45">
                    <div class="detail"><span class="label">Height</span> <span class="value">{{user.additional_data.inf_height}}{{user.additional_data.inf_height_unit}}</span></div>
                    <div class="detail"><span class="label">Body</span> <span class="value">{{displayValue(user.additional_data.inf_body_type, filter.bodyType)}}</span></div>
                  </div>
                  <div class="details" flex-xs="100" flex="45">
                    <div class="detail"><span class="label">Ethnicity</span> <span class="value">{{displayValue(user.additional_data.inf_ethnicity, filter.ethnicity)}}</span></div>
                    <div class="detail"><span class="label">Lifestyle</span> <span class="value">{{displayValue(user.additional_data.inf_spending_habits, filter.habits)}}</span></div>
                  </div>
                </div>
                <user-buttons user="user" flex-sm="30" flex-gt-xs="30" flex-xs="30"></user-buttons>
              </md-card-actions>
            </md-card>
          </div>
        </div>
        <div class="users-box" layout-xs="column" layout="row" ng-if="source == 'recent'">
          <div class="user-detail-box" ng-if="users" ng-repeat="user in users | filter: {usr_last_login: ''}" flex-xs flex-gt-xs="50" layout="column"> 
            <md-card>
              <md-card-title>
                <md-card-title-media ui-sref="user({usr_token_id:user.usr_token_id})">
                  <div class="md-media-lg card-media" ng-if="user.additional_data.img_thumb || user.additional_data.img_image" imageonload style="background-image: url({{baseUrl(user.additional_data.img_thumb || user.additional_data.img_image)}})"></div>
                    <div class="md-media-lg card-media no-image" ng-if="!user.additional_data.img_image && user.usr_gender == 'female'" style="background-image: url('assets/images/female.svg'); background-position: center bottom; background-repeaet: no-repeat;"></div>
                    <div class="md-media-lg card-media no-image" ng-if="!user.additional_data.img_image && user.usr_gender == 'male'" style="background-image: url('assets/images/male.svg'); background-position: center bottom; background-repeaet: no-repeat;"></div>
                </md-card-title-media>
                <md-card-title-text>
                  <div class="user-detail">
                    <a class="screen-name" ui-sref="user({usr_token_id:user.usr_token_id})">{{user.usr_screen_name}}</a>
                    <div class="name">
                      <small>{{user.usr_age}}</small><i class="zmdi zmdi-circle"></i>
                      <small>{{user.usr_gender}}</small><i class="zmdi zmdi-circle"></i>
                      <small>{{user.usr_location}}</small>
                      <span class="matched" ng-show="user.matched"> Match</span>
                    </div>
                    <div class="top-right">{{relDateFormat(user.usr_last_login)}}</div>
                    <!-- <span class="top-right online"><i class="zmdi zmdi-circle"></i> Online</span> -->
                  </div>
                  <md-card-content class="user-post">
                    {{user.usr_description}}
                  </md-card-content>
                  <md-card-actions class="hidden-xs" layout="row" layout-sm="column" layout-xs="column" layout-gt-xs="column" layout-align="space-between center">
                    <div layout="row" layout-sm="column" layout-xs="column" layout-gt-xs="column" layout-align="start center" flex-xs="100" flex="70">
                      <div class="details" flex="45">
                        <div class="detail"><span class="label">Height</span> <span class="value">{{user.additional_data.inf_height}}{{user.additional_data.inf_height_unit}}</span></div>
                        <div class="detail"><span class="label">Body</span> <span class="value">{{displayValue(user.additional_data.inf_body_type, filter.bodyType)}}</span></div>
                      </div>
                      <div class="details" flex="45">
                        <div class="detail"><span class="label">Ethnicity</span> <span class="value">{{displayValue(user.additional_data.inf_ethnicity, filter.ethnicity)}}</span></div>
                        <div class="detail"><span class="label">Lifestyle</span> <span class="value">{{displayValue(user.additional_data.inf_spending_habits, filter.habits)}}</span></div>
                      </div>
                    </div>
                    <user-buttons user="user" flex="30"></user-buttons>
                  </md-card-actions>
                </md-card-title-text>
              </md-card-title>
              <md-card-actions class="visible-xs" layout-gt-xs="row" layout-xs="row" layout="row" layout-align="space-between center">
                <div layout-md="row" layout-xs="column" layout-sm="row" layout-gt-xs="row" layout-align-xs="start" flex="60">
                  <div class="details" flex-xs="100" flex="45">
                    <div class="detail"><span class="label">Height</span> <span class="value">{{user.additional_data.inf_height}}{{user.additional_data.inf_height_unit}}</span></div>
                    <div class="detail"><span class="label">Body</span> <span class="value">{{displayValue(user.additional_data.inf_body_type, filter.bodyType)}}</span></div>
                  </div>
                  <div class="details" flex-xs="100" flex="45">
                    <div class="detail"><span class="label">Ethnicity</span> <span class="value">{{displayValue(user.additional_data.inf_ethnicity, filter.ethnicity)}}</span></div>
                    <div class="detail"><span class="label">Lifestyle</span> <span class="value">{{displayValue(user.additional_data.inf_spending_habits, filter.habits)}}</span></div>
                  </div>
                </div>
                <user-buttons user="user" flex-sm="30" flex-gt-xs="30" flex-xs="30"></user-buttons>
              </md-card-actions>
            </md-card>
          </div>
        </div>
        <div class="users-box" layout-xs="column" layout="row" ng-if="source == 'facebook'">
          <div class="user-detail-box" ng-if="users" ng-repeat="user in users | orderBy: '-usr_last_login' | filter: {usr_social_verified: 'yes'}" flex-xs flex-gt-xs="50" layout="column"> 
            <md-card>
              <md-card-title>
                <md-card-title-media ui-sref="user({usr_token_id:user.usr_token_id})">
                  <div class="md-media-lg card-media" ng-if="user.additional_data.img_thumb || user.additional_data.img_image" imageonload style="background-image: url({{baseUrl(user.additional_data.img_thumb || user.additional_data.img_image)}})"></div>
                  <div class="md-media-lg card-media no-image" ng-if="!user.additional_data.img_image && user.usr_gender == 'female'" style="background-image: url('assets/images/female.svg'); background-position: center bottom; background-repeaet: no-repeat;"></div>
                  <div class="md-media-lg card-media no-image" ng-if="!user.additional_data.img_image && user.usr_gender == 'male'" style="background-image: url('assets/images/male.svg'); background-position: center bottom; background-repeaet: no-repeat;"></div>
                </md-card-title-media>
                <md-card-title-text>
                  <div class="user-detail">
                    <a class="screen-name" ui-sref="user({usr_token_id:user.usr_token_id})">{{user.usr_screen_name}}</a>
                    <div class="name">
                      <small>{{user.usr_age}}</small><i class="zmdi zmdi-circle"></i>
                      <small>{{user.usr_gender}}</small><i class="zmdi zmdi-circle"></i>
                      <small>{{user.usr_location}}</small>
                      <span class="matched" ng-show="user.matched"> Match</span>
                    </div>
                    <div class="top-right">{{relDateFormat(user.usr_last_login)}}</div>
                    <!-- <span class="top-right online"><i class="zmdi zmdi-circle"></i> Online</span> -->
                  </div>
                  <md-card-content class="user-post">
                    {{user.usr_description}}
                  </md-card-content>
                  <md-card-actions class="hidden-xs" layout="row" layout-sm="column" layout-xs="column" layout-gt-xs="column" layout-align="space-between center">
                    <div layout="row" layout-sm="column" layout-xs="column" layout-gt-xs="column" layout-align="start center" flex-xs="100" flex="70">
                      <div class="details" flex="45">
                        <div class="detail"><span class="label">Height</span> <span class="value">{{user.additional_data.inf_height}}{{user.additional_data.inf_height_unit}}</span></div>
                        <div class="detail"><span class="label">Body</span> <span class="value">{{displayValue(user.additional_data.inf_body_type, filter.bodyType)}}</span></div>
                      </div>
                      <div class="details" flex="45">
                        <div class="detail"><span class="label">Ethnicity</span> <span class="value">{{displayValue(user.additional_data.inf_ethnicity, filter.ethnicity)}}</span></div>
                        <div class="detail"><span class="label">Lifestyle</span> <span class="value">{{displayValue(user.additional_data.inf_spending_habits, filter.habits)}}</span></div>
                      </div>
                    </div>
                    <user-buttons user="user" flex="30"></user-buttons>
                  </md-card-actions>
                </md-card-title-text>
              </md-card-title>
              <md-card-actions class="visible-xs" layout-gt-xs="row" layout-xs="row" layout="row" layout-align="space-between center">
                <div layout-md="row" layout-xs="column" layout-sm="row" layout-gt-xs="row" layout-align-xs="start" flex="60">
                  <div class="details" flex-xs="100" flex="45">
                    <div class="detail"><span class="label">Height</span> <span class="value">{{user.additional_data.inf_height}}{{user.additional_data.inf_height_unit}}</span></div>
                    <div class="detail"><span class="label">Body</span> <span class="value">{{displayValue(user.additional_data.inf_body_type, filter.bodyType)}}</span></div>
                  </div>
                  <div class="details" flex-xs="100" flex="45">
                    <div class="detail"><span class="label">Ethnicity</span> <span class="value">{{displayValue(user.additional_data.inf_ethnicity, filter.ethnicity)}}</span></div>
                    <div class="detail"><span class="label">Lifestyle</span> <span class="value">{{displayValue(user.additional_data.inf_spending_habits, filter.habits)}}</span></div>
                  </div>
                </div>
                <user-buttons user="user" flex-sm="30" flex-gt-xs="30" flex-xs="30"></user-buttons>
              </md-card-actions>
            </md-card>
          </div>
        </div>
        <div class="sk-three-bounce" ng-show="loadingMore">
          <div class="sk-child sk-bounce1"></div>
          <div class="sk-child sk-bounce2"></div>
          <div class="sk-child sk-bounce3"></div>
        </div>
        <md-button class="button-light-gray button-load-more" ng-if="next" ng-click="loadMore(next)">Load More</md-button>
      </div>
    </div>
  </div>
</div>
