html {
	overflow-x: hidden;
}

html, body, .wrapperA {
	height: 100%;
}


.sidebar-offcanvas {
	
	border-right:1px solid #d4d4d4 !important;
}
.navbar-toggle {
	float: left;
	margin-left: 10px;
  margin-top: 20px;
}

.nav-header {
	font-weight: bold;
	font-size: 12px;
}

table.table-bordered > thead > tr > th.center,
table.table-bordered > tbody > tr > td.center {
  width: 13px;
}

#pct_filter {
  margin-bottom: 20px;
}

table.table th.checkbox input[type=checkbox] {
  margin: 0;
}

table.table > tbody > tr > td {
  vertical-align: middle;
}

table.table > tbody > tr > td > p {
  margin: 0;
}

.sidebar-offcanvas .nav:first-child {
  display: none;
}

@media screen and (max-width: 768px) {

  header .nav.pull-right {
    display: none;
  }

  .sidebar-offcanvas .nav:first-child {
    display: block;
  }

/* outer div */
	.row-offcanvas {
    position: relative;
    left: 0;
    -webkit-transition: left .3s ease-in;
    -most-transition: left .3s ease-in;
    transition: left .3s ease-in;
  }

  /* sidebar */
  .sidebar-offcanvas {
    margin-top: 75px;
    left: -80%;
    width: 80%;
    position: absolute;
    top: 0;
    height: 100%;
    background-color: #F7F7F7;
    padding: 0px;
  }

  /* content */
  .row-offcanvas.active {
    left: 80%;
  }

}

li.smaller{
  font-size: 10px;
}

span.bold{
  font-weight: 700;
}

.box .nav-stacked>li label {
  display: block;
  padding: 5px 10px;
}

.box .nav-stacked>li label>input[type=checkbox] {
  margin-right: 10px!important;
}