$bebas: 'bebas_neueregular';
$nunito: 'Nunito', sans-serif;
$blue: #2ac3f2;
$gray: #333333;
$portofolio-footer-height: 83px;

body {
	font-family: $nunito;
	font-weight: 300;
	color: $gray;
}
form {
	margin-bottom: 0;
}
input[type="text"] {
	margin-bottom: 0;
}
a, a:hover, a:focus {
	color: inherit;
	text-decoration: none;
	outline: none;
}
ul {
	margin-left: 0;
	margin-bottom: 0;
	li {
		list-style-type: none; 
	}
}

.align-middle {
	position: absolute;
	display: table;
	width: 100%;
	height: 100%;
	top: 0;
	text-align: center;
	>div {
		display: table-cell;
		vertical-align: middle;
	}
}

/*==== hamburger ====*/
$button-size : 3rem; 
$color : #fff; 
$transition: .3s; // increase this to see the transformations in slow-motion

.lines-button {
	display: inline-block;
	padding: 0;
	transition: .3s;
	cursor: pointer;
	user-select: none;
	border-radius: $button-size/7;
	position: absolute;
    top: 42px;
    right: 42px;
    z-index: 99999;
    background: transparent;
    border: none;

	&:hover {
		opacity: 1;
	}
	&:focus {
		outline: none;
	}

	&:active {
		outline: none;
		transition: 0;
		background: rgba(0,0,0,.1);
	}
}
@mixin line {
	display: inline-block;
	width: $button-size;
	height: $button-size/7;
	background: $color;
	border-radius: $button-size/14; 
	transition: $transition;
}
.lines {
	@include line;
	position: relative; 

	&:before, &:after {
		@include line;
		position: absolute;
		left:0;
		content: '';
		transform-origin: $button-size/14 center;
	}
	&:before { top: $button-size/4; }
	&:after { top: -$button-size/4; }
}
.lines-button:hover {
	opacity: 1;
	.lines {
		&:before { 
			top: $button-size/3.5; 
		}
		&:after { 
			top: -$button-size/3.5; 
		}
	}
}
.lines-button.x2 .lines{
	transition: background .3s .6s ease;

	&:before, &:after{
		//set transform origin back to center
		transform-origin: 50% 50%;
		transition: top .3s .6s ease, transform .3s ease;
	}
}
.lines-button.x2.close {
	opacity: 1;
	.lines{
		transition: background .3s 0s ease;
		background: transparent;

		&:before, &:after{
			transition: top .3s ease, transform .3s .5s ease;      
			top:0;
			width: $button-size;
		}
		&:before{
			transform: rotate3d(0,0,1,45deg); 
			background: $gray;
		}
		&:after{
			transform: rotate3d(0,0,1,-45deg); 
			background: $gray;
		}
	}
}

/*==== rotating words ====*/
.rw-wrapper	{
	.rw-sentence {
		margin: 0;
	}
	.rw-sentence span {
		white-space: nowrap;
	}
	.rw-words span {
		position: absolute;
		left: 0;
		opacity: 0;
		overflow: hidden;
		width: 100%;
		font-size: 166px;
		line-height: 166px;
		height: 166px;
		color: #fff;
	}
	.rw-words-1 span{
		position: absolute;
		opacity: 0;
		overflow: hidden;
		-webkit-animation: rotateWord 18s linear infinite 0s;
		-ms-animation: rotateWord 18s linear infinite 0s;
		animation: rotateWord 18s linear infinite 0s;
	}
	.rw-words-1 span:nth-child(2) { 
	    -webkit-animation-delay: 3s; 
		-ms-animation-delay: 3s; 
		animation-delay: 3s; 
	}
	.rw-words-1 span:nth-child(3) { 
	    -webkit-animation-delay: 6s; 
		-ms-animation-delay: 6s; 
		animation-delay: 6s; 
	}
	.rw-words-1 span:nth-child(4) { 
	    -webkit-animation-delay: 9s; 
		-ms-animation-delay: 9s; 
		animation-delay: 9s; 
	}
	.rw-words-1 span:nth-child(5) { 
	    -webkit-animation-delay: 12s; 
		-ms-animation-delay: 12s; 
		animation-delay: 12s; 
	}
	.rw-words-1 span:nth-child(6) { 
	    -webkit-animation-delay: 15s; 
		-ms-animation-delay: 15s; 
		animation-delay: 15s; 
	}
}
@-webkit-keyframes rotateWord {
    0% { opacity: 0; }
    2% { opacity: 0; -webkit-transform: translateY(-30px); }
	5% { opacity: 1; -webkit-transform: translateY(0px);}
    17% { opacity: 1; -webkit-transform: translateY(0px); }
	20% { opacity: 0; -webkit-transform: translateY(30px); }
	80% { opacity: 0; }
    100% { opacity: 0; }
}
@-ms-keyframes rotateWord {
    0% { opacity: 0; }
    2% { opacity: 0; -ms-transform: translateY(-30px); }
	5% { opacity: 1; -ms-transform: translateY(0px);}
    17% { opacity: 1; -ms-transform: translateY(0px); }
	20% { opacity: 0; -ms-transform: translateY(30px); }
	80% { opacity: 0; }
    100% { opacity: 0; }
}
@keyframes rotateWord {
    0% { opacity: 0; }
    2% { opacity: 0; -webkit-transform: translateY(-30px); transform: translateY(-30px); }
	5% { opacity: 1; -webkit-transform: translateY(0px); transform: translateY(0px);}
    17% { opacity: 1; -webkit-transform: translateY(0px); transform: translateY(0px); }
	20% { opacity: 0; -webkit-transform: translateY(30px); transform: translateY(30px); }
	80% { opacity: 0; }
    100% { opacity: 0; }
}
@-webkit-keyframes rotateWordsFirst {
    0% { opacity: 1; -webkit-animation-timing-function: ease-in; height: 0px; }
    8% { opacity: 1; height: 166px; }
    19% { opacity: 1; height: 166px; }
	25% { opacity: 0; height: 166px; }
    100% { opacity: 0; }
}
@-ms-keyframes rotateWordsFirst {
    0% { opacity: 1; -ms-animation-timing-function: ease-in; height: 0px; }
    8% { opacity: 1; height: 166px; }
    19% { opacity: 1; height: 166px; }
	25% { opacity: 0; height: 166px; }
    100% { opacity: 0; }
}
@keyframes rotateWordsFirst {
    0% { opacity: 1; -webkit-animation-timing-function: ease-in; animation-timing-function: ease-in; height: 0px; }
    8% { opacity: 1; height: 166px; }
    19% { opacity: 1; height: 166px; }
	25% { opacity: 0; height: 166px; }
    100% { opacity: 0; }
}
@-webkit-keyframes rotateWordsSecond {
    0% { opacity: 1; -webkit-animation-timing-function: ease-in; width: 0px; }
    10% { opacity: 0.3; width: 0px; }
	20% { opacity: 1; width: 100%; }
    27% { opacity: 0; width: 100%; }
    100% { opacity: 0; }
}
@-ms-keyframes rotateWordsSecond {
    0% { opacity: 1; -ms-animation-timing-function: ease-in; width: 0px; }
    10% { opacity: 0.3; width: 0px; }
	20% { opacity: 1; width: 100%; }
    27% { opacity: 0; width: 100%; }
    100% { opacity: 0; }
}
@keyframes rotateWordsSecond {
    0% { opacity: 1; -webkit-animation-timing-function: ease-in; animation-timing-function: ease-in; width: 0px; }
    10% { opacity: 0.3; width: 0px; }
	20% { opacity: 1; width: 100%; }
    27% { opacity: 0; width: 100%; }
    100% { opacity: 0; }
}
@media screen and (max-width: 768px){
	.rw-sentence { font-size: 18px; }
}
@media screen and (max-width: 320px){
	.rw-sentence { font-size: 9px; }
}

/*==== template ====*/
header {
	position: fixed;
	height: 0;
	z-index: 9999;
	width: 100%;
	.logo {
		padding: 33px;
	}
}
#sidebar {
	position: absolute;
	right: 0;
	top: 0;
	width: 333px;
	background-color: #fff;
	height: 100px;
	z-index: 10;
	border-left: 1px solid #e7e7e7;
	>.wrapper {
		padding: 84px 74px;
		padding-top: 120px;
	}
	.main-menu {
		padding-left: 0;
		li {
			&.divider {
				border-bottom: 2px solid #f2f2f2;
				margin-top: 45px;
				margin-bottom: 45px;
			}
			a {
				padding: 8px 0;
				font-size: 22px;
				position: relative;
				text-transform: uppercase;
				color: #555555;
				line-height: 90px;
				&:after {
					position: absolute;
					top: 100%;
					left: 0;
					width: 100%;
					height: 2px;
					background: $blue;
					content: '';
					opacity: 0;
					-webkit-transition: opacity 0.3s, -webkit-transform 0.3s;
					-moz-transition: opacity 0.3s, -moz-transform 0.3s;
					transition: opacity 0.3s, transform 0.3s;
					-webkit-transform: translateY(10px);
					-moz-transform: translateY(10px);
					transform: translateY(10px);
				}
				&:hover::after,
				&:focus::after {
					opacity: 1;
					-webkit-transform: translateY(0px);
					-moz-transform: translateY(0px);
					transform: translateY(0px);
				}
			}
		}
	}
	.social {
		padding: 16px 0;
		a {
			position: relative;
			font-size: 17px;
			width: 30px;
			height: 30px;
			display: inline-block;
			text-align: center;
			background: $blue;
			color: #fff;
			line-height: 30px;
			border-radius: 50%;
			margin-right: 12px;
			.mask {
			    position: absolute;
			    top: 0;
			    left: 0;
			    cursor: pointer;
			    border-radius: 50%;
			    display: inline-block;
			    height: 30px;
			    width: 30px;
			    border: 15px solid #333;
			    box-sizing: border-box;
			    opacity: 1;
			    visibility: visible;
			    transition: all 0.3s ease-in-out;
			    font-size: 17px;
			    .icon {
			    	position: relative;
			    	left: -3px;
			    	top: -14px;
			    }
			}
			.figure {
				position: relative;
				z-index: 999;
			}

			&:hover .mask {
				opacity: 0;
				border: 0px solid rgba(0,0,0,0.7);
				visibility:hidden;
			}
		}
	}
	.copyright {
		font-size: 13.3px;
		text-transform: uppercase;
		color: #909090;
		margin-top: 40px;
	}
}
#contact {
	width: 580px;
	height: 100%;
	position: absolute;
	top: 0;
	right: 333px;
	background-color: #fff;
	z-index: 9;
	>.wrapper {
		padding: 84px 80px;
	}
	.back {
		font-size: 39px;
		position: absolute;
		top: 26px;
		right: 42px;
		cursor: pointer;
	}
	.title {
		font-size: 22px;
		line-height: 1;
		text-transform: uppercase;
		letter-spacing: 4px;
		padding-bottom: 30px;
	}
	.text {
		font-size: 17px;
		margin-bottom: 24px;
		a {
			color: $blue;
		}
	}
	form {
		.form-control {
			height: 40px;
			border-color: #ebebeb;
			box-shadow: none;
			font-size: 16.6px;
			&:focus {
				border-color: #bbbbbb;
			}
		}
		textarea.form-control {
			height: 80px;
		}
		.submit {
			margin-top: 40px;
			padding-bottom: 40px;
			border-bottom: 2px solid #eeeeee;
			button {
				background: $blue;
				border: none;
				color: #fff;
				text-transform: uppercase;
				font-size: 17px;
				padding: 10px 30px;
				border-radius: 24px;
				letter-spacing: 2px;
			}
		}
		.contact-info {
			width: 60%;
			margin: 0 auto;
			font-size: 11px;
			line-height: 1.6;
			margin-top: 30px;
		}
	}
}

/*==== pages ====*/
.page-home {
	.top {
		position: relative;
		background: url('../images/bg-home-1.jpg') center center no-repeat;
		-webkit-background-size: cover;
		background-size: cover;
		.think-sumo {
			font-family: $bebas;
			font-size: 166px;
			color: #fff;
		    line-height: 1;
		    position: relative;
		    top: -39px;
			.think {
				span {
					display: inline-block;
					padding: 0 80px;
					border-bottom: 4px solid $blue;
				}
			}
		}
		.down {
			position: absolute;
			bottom: 0;
			width: 100%;
			z-index: 9;
			i {
				cursor: pointer;
				font-size: 55px;
				color: #fff;
			}
		}
	}
	.bottom {
		.box {padding-bottom: 160px;}
		.we {
			color: #fff;
			text-transform: uppercase;
			padding: 150px 0;
			background: url('../images/bg-home-2.jpg') center center no-repeat;
			-webkit-background-size: cover;
			background-size: cover;
			.intro {
				font-size: 28px;
				letter-spacing: 3px;
			}
			.company {
				line-height: 1;
				font-family: $bebas;
				font-size: 100px;
			}
		}
		.about {
			padding: 110px 0;
			.quote {
				padding-top: 60px;
				font-family: $bebas;
				font-size: 50px;
				span {
					color: $blue;
				}
			}
			.content {
				padding: 0 25px;
				font-size: 18px;
				p {
					margin-bottom: 43px;
				}
				.clients img {
					margin-right: 40px;
					margin-bottom: 20px;
				}
			}
		}
		.staff {
			margin-bottom: 140px;
			.personnel {
				-webkit-filter: grayscale(1);
				filter: grayscale(1);
				-webkit-transition: 1s;
				transition: 1s;
				&:hover {
					-webkit-filter: grayscale(0);
					filter: grayscale(0);
				}
				.photo {
					margin-bottom: 35px;
					img {
						max-width: 100%;
					}
				}
				.name {
					font-size: 33px;
					font-family: $bebas;
					line-height: 1;
				}
				.position {
					font-size: 15px;
					text-transform: uppercase;
				}
			}
		}
		.approach {
			.header {
				font-size: 22px;
				text-transform: uppercase;
				letter-spacing: 3px;
				margin-bottom: 36px;
			}
			.steps {
				position: relative;
				.arrow {
					position: absolute;
					top: 35px;
					font-size: 90px;
					color: #e6e6e6;
					cursor: pointer;
					z-index: 99;
					&.prev {
						left: 0;
					}
					&.next {
						right: 0;
					}
				}
				.slideshow {
					padding: 0px 90px;
					.title {
						font-size: 50px;
						font-family: $bebas;
						margin-bottom: 36px;
						letter-spacing: 1px;
					}
					.process {
						font-size: 18px;
						line-height: 1.8;
					}
				}
			}
			.figures {
				padding-top: 100px;
				.col-sm-1 {
					width: 20%;
					.circle {
						cursor: pointer;
						width: 125px;
						height: 125px;
						background-color: #34b4e6;
						border-radius: 50%;
						margin: 0 auto;
						&:hover,
						&.current {
							background-color: $gray;
						}
						table {
							width: 100%;
							height: 100%;
							td {
								vertical-align: middle;
							}
						}
					}
				}
			}
		}
	}
}

.page-portfolio {
	.works {
		position: absolute;
		width: 100%;
		height: 100%;
		top: 0;
		left: 0;
		padding-bottom: $portofolio-footer-height;
	}
	footer {
		position: absolute;
		width: 100%;
		bottom: 0;
		.category {
			padding: 0;
			a {
				line-height: $portofolio-footer-height;
				display: block;
				text-transform: uppercase;
				&:hover {
					background-color: $blue;
					color: #fff;
				}
			}
		}
	}
}