<md-dialog aria-label="Forgot Password" class="loginModal passwordModal">
    <md-toolbar>
      <div class="md-toolbar-tools" layout="row" layout-align="center center">
        <h2>Are you sure?</h2>
        <md-button class="md-icon-button" ng-click="cancelDialog()">
          <i class="zmdi zmdi-close"></i>
        </md-button>
      </div>
    </md-toolbar>

    <md-dialog-content>
      <form name="deactivateForm" novalidate>
        <div layout="column" layout-align="center center">
          <div class="instruction">
            Enter your password to continue deactivating your account.
          </div>
          <div class="form-group">
            <input class="form-control" name="usr_password" ng-model="user.usr_password" placeholder="password" type="password" required/>
            <div class="error" ng-messages="deactivateForm.usr_password.$error">
              <p ng-message="required" ng-show="deactivateForm.usr_password.$dirty"><i class="zmdi zmdi-alert-circle-o"></i> Please input password to deactivate.</p>
            </div>
          </div>
          <md-button class="button-orange" ng-click="deactivate(user)">Deactivate Account</md-button>
        </div>
      </form>
    </md-dialog-content>
</md-dialog>
