<md-dialog aria-label="Deactivate Account" class="deleteModal">
    <md-toolbar>
      <div class="md-toolbar-tools" layout="row" layout-align="center center">
        <h2>Account Deactivated</h2>
      </div>
    </md-toolbar>

    <md-dialog-content class="dialogContent">
      <div>Your account <span>{{user_screen_name}}</span> has been deactivated.</div>
      <div>To reactivate it, just login to your account.</div>
      <div class="back" ng-click="goHome()">Back to Home</div>
    </md-dialog-content>

</md-dialog>
