<div layout="vertical" layout-fill class="deletePage">
  <div class="container">
    <form name="deleteForm" novalidate>
      <div flex="70">
        <div class="page-title">Delete Account</div>
        <div class="page-subtitle">Please type your password below. Once you delete your account, ALL information will be romved from the system. If you wish to reactivate, you will need to setup your account from scratch.</div>
        <div layout="row" layout-align="start top">
          <div class="form-group email" flex="40">
            <input type="text" name="usr_emailf" class="form-control" ng-model="user.usr_emailf" placeholder="Email Address" ng-pattern="/^.+@.+\..+$/" required/>
          </div>
          <div class="form-group" flex="40" layout="row" layout-align="space-between center">
            <input flex="90" type="password" ng-model="user.usr_passwordf" ng-hide="isVisible" name="usr_passwordf" placeholder="Current Password" class="form-control" required/>
            <input flex="90" type="text" ng-model="user.usr_passwordf" ng-show="isVisible" name="usr_passwordf" placeholder="Current Password" class="form-control" required/>
            <i class="zmdi zmdi-eye" ng-hide="isVisible" ng-click="isVisible = !isVisible"></i>
            <i class="zmdi zmdi-eye-off" ng-show="isVisible" ng-click="isVisible = !isVisible"></i>
          </div>
        </div>
        <div layout="row" layout-align="start top">
          <div class="error email" flex="40">
            <span ng-show="deleteForm.usr_emailf.$error.required && (deleteForm.usr_emailf.$dirty || submitted)">Required field.</span>
            <span ng-show="deleteForm.usr_emailf.$error.pattern">Invalid email.</span>
          </div>
          <div class="error" flex="40">
            <span ng-show="deleteForm.usr_passwordf.$error.required && (deleteForm.usr_passwordf.$dirty || submitted)">Required field.</span>
          </div>
        </div>
        <section>
          <div class="title">Reasons for deletion:</div>
          <div layout="row" layout-align="space-between center" layout-sm="column">
            <md-input-container flex="45">
              <md-checkbox ng-model="user.found_ideal">
                I found the ideal relationship
              </md-checkbox>
            </md-input-container>
            <md-input-container flex="45">
              <md-checkbox ng-model="user.not_say">
                I'd rather not say
              </md-checkbox>
            </md-input-container>
          </div>
          <div layout="row" layout-align="space-between center" layout-sm="column">
            <md-input-container flex="45">
              <md-checkbox ng-model="user.not_looking">
                I'm no longer looking
              </md-checkbox>
            </md-input-container>
            <md-input-container flex="45">
              <md-checkbox ng-model="user.too_busy">
                I'm too busy
              </md-checkbox>
            </md-input-container>
          </div>
          <div layout="row" layout-align="space-between center" layout-sm="column">
            <md-input-container flex="45">
              <md-checkbox ng-model="user.take_break">
                I'm taking a break
              </md-checkbox>
            </md-input-container>
            <md-input-container flex="45">
              <md-checkbox ng-model="user.not_using">
                I'm not using this service
              </md-checkbox>
            </md-input-container>
          </div>
          <div layout="row" layout-align="space-between center" layout-sm="column">
            <md-input-container flex="45">
              <md-checkbox ng-model="user.not_want">
                I didn't find what I wanted
              </md-checkbox>
            </md-input-container>
            <md-input-container flex="45">
              <md-checkbox ng-model="user.other">
                Other
              </md-checkbox>
            </md-input-container>
          </div>
          <div layout="row" layout-align="space-between center" layout-sm="column">
            <md-input-container flex="45">
              <md-checkbox ng-model="user.not_safe">
                I didn't feel safe
              </md-checkbox>
            </md-input-container>
            <div class="form-group" flex="45">
              <input type="text" class="form-control" placeholder="Please type reason here.." ng-model="user.other_reason">
            </div>
          </div>
        </section>
        <section>
          <div class="title">Is there anything we could do better?</div>
          <div class="form-group">
            <textarea name="" rows="4" class="form-control" placeholder="Write here..." ng-model="user.usi_comment"></textarea>
          </div>
        </section>
      </div>
    </form>
    <hr>
    <div layout="row" layout-align="start center" flex="70">
      <md-button class="button-orange" flex="40" ng-click="delete(user)">Confirm Deletion</md-button>
      <md-button flex="20" ui-sref="members">Back to Home</md-button>
    </div>
  </div>
</div>