<md-dialog aria-label="Delete Account" class="deleteModal">
    <md-toolbar>
      <div class="md-toolbar-tools" layout="row" layout-align="center center">
        <h2>Account Deleted</h2>
      </div>
    </md-toolbar>

    <md-dialog-content class="dialogContent">
      <div>Your account <span>{{user_screen_name}}</span> has been <br> permanently deleted.</div>
      <div class="back" ng-click="goHome()">Back to Home</div>
    </md-dialog-content>

</md-dialog>
