<md-dialog aria-label="Update Password" class="loginModal password">
    <md-toolbar>
      <div class="md-toolbar-tools" layout="row" layout-align="center center">
        <h2>Update Password</h2>
      </div>
    </md-toolbar>

    <md-dialog-content class="dialogContent">
      <form name="loginForm" novalidate>
        <!-- <div layout="column" layout-align="center center"> -->
          <div class="instruction">
            <!-- Please input a new password below. -->
          </div>
          <div class="password">
            <div class="form-group" layout="column" layout-align="space-between">
              <div class="form-group-icon" layout="row" layout-align="space-between center">
                <input flex="90" type="password" ng-model="user.usr_current_password" ng-hide="isVisible" name="usr_curent_password" placeholder="Current Password" class="form-control" required/>
                <input flex="90" type="text" ng-model="user.usr_current_password" ng-show="isVisible" name="usr_curent_password" placeholder="Current Password" class="form-control" required/>
                <i class="zmdi zmdi-eye" ng-hide="isVisible" ng-click="isVisible = !isVisible"></i>
                <i class="zmdi zmdi-eye-off" ng-show="isVisible" ng-click="isVisible = !isVisible"></i>
              </div>
            </div>
            <br>
            <div class="form-group" layout="column" layout-align="space-between">
              <div class="form-group-icon" layout="row" layout-align="space-between center">
                <input flex="90" type="password" ng-model="user.usr_new_password" ng-hide="isVisibleN" name="usr_new_password" placeholder="New Password" class="form-control" required/>
                <input flex="90" type="text" ng-model="user.usr_new_password" ng-show="isVisibleN" name="usr_new_password" placeholder="New Password" class="form-control" required/>
                <i class="zmdi zmdi-eye" ng-hide="isVisibleN" ng-click="isVisibleN = !isVisibleN"></i>
                <i class="zmdi zmdi-eye-off" ng-show="isVisibleN" ng-click="isVisibleN = !isVisibleN"></i>
              </div>
            </div>
            <!-- <div class="form-group" layout="column" layout-align="space-between">
              <div class="form-group-icon" layout="row" layout-align="space-between center">
                <input flex="90" type="password" ng-model="user.usr_new_passwordf" ng-hide="isVisible" name="usr_new_passwordf" placeholder="Re-type New Password" class="form-control" required/>
                <input flex="90" type="text" ng-model="user.usr_new_passwordf" ng-show="isVisible" name="usr_new_passwordf" placeholder="Re-type New Password" class="form-control" required/>
                <i class="zmdi zmdi-eye" ng-hide="isVisible" ng-click="isVisible = !isVisible"></i>
                <i class="zmdi zmdi-eye-off" ng-show="isVisible" ng-click="isVisible = !isVisible"></i>
              </div>
            </div> -->
          </div>
          <div class="error" >
            <span ng-if="loginForm.usr_password.$error.required && loginForm.usr_password.$touched"><i class="zmdi zmdi-alert-circle-o"></i> Please input password to login.</span>
          </div>
          <div class="error" ng-show="error">
            <span>{{error.message}}</span>
          </div>
          <md-button class="button-orange" ng-click="updatePassword(user)">Update Your Password</md-button>
        <!-- </div> -->
      </form>
    </md-dialog-content>

</md-dialog>
