<md-dialog aria-label="Deactivate Account">
  <form ng-cloak>
    <md-toolbar>
      <div class="md-toolbar-tools">
        <h2>Send Proof of ID by Email</h2>
      </div>
    </md-toolbar>

    <md-dialog-content>
      <div class="md-dialog-content">
        Are you sure you want to desctivate your account?
      </div>
      <md-button class="button-orange" ng-click="sendProof()">
        Upload ID and Send Email
      </md-button>
    </md-dialog-content>
  </form>
</md-dialog>