<div class="contentH">
  <div class="content-title">Account</div>
  <div class="form-group" layout-md="row" layout-lg="row" layout-gt-xs="row" layout-xs="column" layout-align="start center" layout-align-xs="start" flex-lg="85" flex-xs="100">
    <span flex-xs="100" flex="40">Full Name</span>
    <div flex-xs="100" flex="60" layout="row" layout-align="space-between center">
      <input flex="45" type="text" class="form-control" name="usr_first_name" ng-model="user.usr_first_name" placeholder="First Name">
      <input flex="45" type="text" class="form-control" name="usr_last_name" ng-model="user.usr_last_name" placeholder="Last Name">
    </div>
  </div>
  <div class="form-group" layout-md="row" layout-lg="row" layout-gt-xs="row" layout-xs="column" layout-align="start center" layout-align-xs="start" flex-lg="85" flex-xs="100">
    <span flex-xs="100" flex="40">Birthday</span>
    <div flex-xs="100" flex="60" layout="row" layout-align="space-between center">
      <md-select flex="40" name="usr_birthmonth" ng-model="user.usr_birthmonth" class="form-control" required placeholder="Month" ng-change="changeDays(user.usr_birthmonth)">
        <md-option value="{{month.value}}" ng-repeat="month in filter.months">{{month.name}}</md-option>
      </md-select>
      <md-select flex="25" name="usr_birthdate" ng-model="user.usr_birthdate" class="form-control" required placeholder="Day" >
        <md-option value="{{day.value}}" ng-repeat="day in filter.days">{{day.name}}</md-option>
      </md-select>
      <md-select flex="25" name="usr_birthyear" ng-model="user.usr_birthyear" class="form-control" required placeholder="Year" >
        <md-option value="{{year.value}}" ng-repeat="year in filter.years">{{year.name}}</md-option>
      </md-select>
    </div>
  </div>
 <!--  <div class="form-group" layout-md="row" layout-lg="row" layout-gt-xs="row" layout-xs="column" layout-align-xs="start" flex="85" flex-xs="100">
    <span flex-xs="100" flex="40">Account Type</span>
    <md-select flex="60" name="usr_type" ng-model="user.usr_type" class="form-control" required placeholder="Account Type" ng-change="changeDays(user.usr_birthmonth)">
        <md-option value="flame">Sugar Baby</md-option>
        <md-option value="sugar" ng-if="user.usr_gender == 'male'">Sugar Daddy</md-option>
        <md-option value="sugar" ng-if="user.usr_gender == 'female'">Sugar Mama</md-option>
      </md-select>
  </div> -->
  <div class="form-group" layout-md="row" layout-lg="row" layout-gt-xs="row" layout-xs="column" layout-align="start center" layout-align-xs="start" flex-lg="85" flex-xs="100">
    <span flex-xs="100" flex="40">Email Address</span>
    <input flex-xs="100" flex="60" type="text" class="form-control" ng-model="user.usr_email" disabled placeholder="Email Address">
  </div>
  <div class="form-group" layout-md="row" layout-lg="row" layout-gt-xs="row" layout-xs="column" layout-align="start center" flex-lg="85" flex-xs="100">
    <span flex-xs="100" flex-gt-lg="40" flex-lg="40" flex-md="40" flex="40">Password</span>
    <md-button flex-xs="100" class="button-password" ng-click="openPassword()">Update your password</md-button>
  </div>
  <hr>
  <div class="content-title">Verify My Identity</div>
  <div class="form-group link-facebook" layout="row" layout-align="start center" flex-lg="85" flex-xs="100">
    <span flex-xs="100" flex="40">Link with my Facebook</span>
    <md-button flex="40" ng-if="!user.usa_id" class="button-facebook" ng-click="fbConnect()"><i class="zmdi zmdi-facebook"></i> Connect to Facebook</md-button>
    <div flex-xs="100" flex="60" class="connected" layout="row" layout-align="start center" ng-if="user.usa_id">
      <img src="{{user.usa_image}}" />
      <span>Connected as {{user.usa_first_name}} {{user.usa_last_name}}</span>
      <i class="zmdi zmdi-close" ng-click="disconnect(user.usa_id)"></i> 
    </div>
  </div>
 <!--  <div class="form-group" layout="row" layout-align="start center" flex-lg="85" flex-xs="100">
    <span flex-xs="100" flex="40">Send Proof of ID via Email</span>
    <md-button flex="40" class="button-gray">Send Proof of ID</md-button>
  </div> -->
  <hr>
  <div class="form-group" layout-md="row" layout-lg="row" layout-gt-xs="row" layout-xs="column" layout-align="start center" layout-align-xs="start" flex-lg="85" flex-xs="100">
    <span flex-xs="100" flex="40">Heard from</span>
    <md-select flex-xs="100" flex="60" ng-model="user.src_id" class="form-control">
      <md-option ng-repeat="src in filter.source" value="{{src.value}}">{{src.name}}</md-option>
    </md-select>
  </div>
  <hr>
  <div class="form-group" layout="row" layout-align="space-around center" flex-lg="85" flex-xs="100" flex-xs="100">
    <md-button class="button-lightgray" flex-xs="100" flex="45" ui-sref="deactivate">Deactivate Account</md-button>
    <md-button class="button-lightgray" flex-xs="100" flex="45" ui-sref="delete">Delete Account</md-button>
  </div>
</div>
<div layout="row" layout-align="end">
  <md-button class="button-orange" ng-click="saveAccount(user)">Save Changes</md-button>
</div>