<div layout="column" layout-align="start" class="contentH">
  <div class="content-title">Notifications</div>
  <md-input-container>
    <md-checkbox ng-model="user.not_message" aria-label="Quality Time">
      Someone sends me a message
    </md-checkbox>
  </md-input-container>
  <md-input-container>
    <md-checkbox ng-model="user.not_like" aria-label="Gifts">
      Someone likes me
    </md-checkbox>
  </md-input-container>
  <md-input-container>
    <md-checkbox ng-model="user.not_profile" aria-label="Travel">
      Someone views my profile
    </md-checkbox>
  </md-input-container>
  <md-input-container>
    <md-checkbox ng-model="user.not_content" aria-label="Staycations">
      Moderated content approved or denied
    </md-checkbox>
  </md-input-container>
  <md-input-container>
    <md-checkbox ng-model="user.not_email" aria-label="The High Life">
      Marketing emails
    </md-checkbox>
  </md-input-container>
</div>
<div layout="row" layout-align="end">
  <md-button class="button-orange" ng-click="saveNotification(user)">Save Changes</md-button>
</div>