<div class="contentH">
	<div class="content-title">Current Subscription</div>
	<md-card class="subscription">
		<md-card-title>
			<md-card-title-text><span class="md-headline">FREE</span></md-card-title-text>
		</md-card-title>
		<md-card-content>
			<div class="title">Upgrade to our Paid Plans to enjoy more SugarFlame benefits for Sugarmen and women!</div>
			<div class="benefits" layout="row" layout-xs="column" layout-align="space-between">
				<div flex-xs flex="45" layout="row" layout-align="start top">
					<i class="zmdi zmdi-check"></i>
					<span>View all incoming messages and Replies on Message board and Newsfeed</span>
				</div>
				<div flex-xs flex="45" layout="row" layout-align="start top">
					<i class="zmdi zmdi-check"></i>
					<span>Have control over your activity in SugarFlame (Recent Login, Join Date, etc.)</span>
				</div>
			</div>
			<div class="benefits" layout="row" layout-xs="column" layout-align="space-between">
				<div flex-xs flex="45" layout="row" layout-align="start top">
					<i class="zmdi zmdi-check"></i>
					<span>View special preferences of SugarBabies (Sexual Preferences, Relationship Expectations, etc.)</span>
				</div>
				<div flex-xs flex="45" layout="row" layout-align="start top">
					<i class="zmdi zmdi-check"></i>
					<span>Have control over notifications sent to SugarBabies (Hide when you Like, View and Fave Someone)</span>
				</div>
			</div>
			<md-button class="button-orange">Upgrade Subscription</md-button>
		</md-card-content>
	</md-card>
</div>
<!-- <div class="content-title">Billing History</div> -->
<div layout="row" layout-align="end">
  <md-button class="button-orange" ng-click="saveBilling(user)">Save Changes</md-button>
</div>