<div class="contentH">
	<div class="content-title">Privacy</div>
	<md-input-container>
		<md-checkbox ng-model="user.pri_comment">
			My comments can be used in SF editorial content           
		</md-checkbox>
	</md-input-container>
		<md-input-container>
		<md-checkbox ng-model="user.pri_profile">
			My profile can only be seen by people within my criteria
		</md-checkbox>
	</md-input-container>
	<hr>
	<div class="content-title">Blocked Users</div>
	<div class="message" ng-if="!blocks && !loadingBlocks">No blocked users.</div>
	<div class="blocks" layout="row" layout-align="space-between center">
		<div class="block" layout="row" layout-align="start center" flex="45" ng-repeat="b in blocks">
			<div flex="30" class="img" style="background: url({{baseUrl(b.additional_data.img_image)}}) center center no-repeat;"></div>
			<div flex="70" layout="column">
				<div class="name">{{b.additional_data.usr_screen_name}}</div>
				<div class="detail">
					<small>{{b.additional_data.usr_age}}</small>
					<i class="zmdi zmdi-circle"></i>
					<small>{{b.additional_data.usr_gender}}</small>
					<i class="zmdi zmdi-circle"></i>
					<small>{{b.additional_data.inf_orientation}}</small>
				</div>
				<div class="unblock">
					<span ng-click="unblock(b.blo_id, b.blo_user)">Unblock</span>
				</div>
			</div>
		</div>
	</div>
</div>
<div layout="row" layout-align="end">
	<md-button class="button-orange" ng-click="savePrivacy(user)">Save Changes</md-button>
</div>