<div class="contentH">
  <div class="content-title">Preferences</div>
  <form name="settingsForm" novalidate>
    <div class="form-group" layout-md="row" layout-lg="row" layout-gt-xs="row" layout-xs="column" layout-align-xs="start" flex-lg="85" flex-xs="100">
      <span flex-xs="100" flex="40">Interested in</span>
      <md-radio-group flex-xs="100" flex="60" ng-model="user.usr_interested" layout="row" name="usr_interested" layout-align="start center" required>
        <md-radio-button flex value="female">Women</md-radio-button>
        <md-radio-button flex value="male">Men</md-radio-button>
        <md-radio-button flex value="both">Both</md-radio-button>
      </md-radio-group>
    </div>
    <div class="form-group" layout-md="row" layout-lg="row" layout-gt-xs="row" layout-xs="column" layout-align-xs="start" flex-lg="85" flex-xs="100">
      <!-- <span flex="40" class="settings-label">Between ages of</span> -->
      <span flex-xs="100" flex="40">Age Preference</span>
      <div flex-xs="100" flex="60" class="age" layout="row" layout-align="start center">
        <span flex>
          <input name="usr_interested_age_from" ng-model="user.usr_interested_age_from" class="form-control" required ng-pattern="/^[0-9]{1,2}$/" />
        </span>
        <span flex>and</span>
        <span flex>
          <input name="usr_interested_age_to" ng-model="user.usr_interested_age_to" class="form-control" required ng-pattern="/^[0-9]{1,2}$/" />
        </span>
      </div>
    </div>
    <div layout="row" layout-align="space-between center" flex="85">
      <span flex="40"></span>
      <div flex="60" class="error" layout="row" layout-align="start center">
        <div flex>
          <span ng-show="settingsForm.usr_interested_age_from.$error.pattern">Invalid age.</span>
          <span ng-show="settingsForm.usr_interested_age_from.$error.minvalue">Minimum age is 18.</span>
          <span ng-if="user.usr_interested_age_from < 18">Minimum age is 18.</span>
        </div>
        <div flex></div>
        <div flex>
          <span ng-show="settingsForm.usr_interested_age_to.$error.pattern">Invalid age.</span>
          <span ng-if="user.usr_interested_age_to > 80">Maximum age is 80.</span>
          <span ng-if="user.usr_interested_age_to <= user.usr_interested_age_from">Please input age greater than {{user.usr_interested_age_from}}</span>
        </div>
      </div>
    </div>
    <div class="form-group" layout-md="row" layout-lg="row" layout-gt-xs="row" layout-xs="column" layout-align="space-between top" flex-lg="85" flex-xs="100">
      <span flex-xs="100" flex="40" class="location-label">Country</span>
      <div flex-xs="100" flex="60" layout="column">
        <div class="form-group">
          <md-select class="form-control" name="usr_interested_country" ng-model="user.usr_interested_country" class="form-control" placeholder="Country">
            <md-option value="{{c.cnt_id}}" ng-repeat="c in filter.country | orderBy: 'cnt_name'">{{c.cnt_name}}</md-option>
          </md-select>
        </div>
        <!-- <div class="form-group" layout="row" layout-xs="column" layout-align="space-between center">
          <md-select flex="45" name="reg_id" ng-model="user.reg_id" class="form-control" ng-change="getCities(user.reg_id)" placeholder="Region/State" >
            <md-option value=""></md-option>
            <md-option value="{{reg.reg_id}}" ng-repeat="reg in regions | orderBy: 'reg_name'">{{reg.reg_name}}</md-option>
          </md-select>
          <md-select flex="45" name="cty_id" ng-model="user.cty_id" class="form-control" placeholder="City" >
            <md-option value=""></md-option>
            <md-option value="{{cty.cty_id}}" ng-repeat="cty in cities | orderBy: 'cty_name'">{{cty.cty_name}}</md-option>
          </md-select>
        </div> -->
      </div>
    </div>
  </form>
</div>
<div layout="row" layout-align="end">
  <md-button class="button-orange" ng-click="savePreference(user)">Save Changes</md-button>
</div>