<violator></violator>
<div layout="vertical" layout-padding layout-fill class="homePage settingsPage">
	<div class="container" layout="row" layout-align="space-between top" layout-sm="column">
    <div class="content-container" flex="70">
			<!-- <div class="page-title"><i class="zmdi zmdi-settings"></i> Settings</div> -->
			<div class="title-icon">
			  <span class="icon-box favorite-box"><i class="zmdi zmdi-settings"></i></span>
			  <span class="title">Settings</span>
			</div>
	    <md-nav-bar md-selected-nav-item="active"
      nav-bar-aria-label="navigation links" layout="row" layout-align="space-between center">
	      <md-nav-item flex name="Preferences" md-nav-click="goto('settings.preferences')" ng-class="isActive('settings.preferences') ? 'active':''">
	      	Preferences
	      </md-nav-item>
	      <md-nav-item flex name="Account" md-nav-click="goto('settings.account')" ng-class="isActive('settings.account') ? 'active':''">
	        Account
	      </md-nav-item>
	      <md-nav-item flex name="Notification" md-nav-click="goto('settings.notification')" ng-class="isActive('settings.notification') ? 'active':''">
	        Notification
	      </md-nav-item>
	      <md-nav-item flex name="Privacy" md-nav-click="goto('settings.privacy')" ng-class="isActive('settings.privacy') ? 'active':''">
	        Privacy
	      </md-nav-item>
	      <md-nav-item flex name="Billing" md-nav-click="goto('settings.billing')" ng-class="isActive('settings.billing') ? 'active':''">
	        Billing
	      </md-nav-item>
	    </md-nav-bar>
	    <div class="tabs" layout="row" layout-align="space-between center">
        <md-select flex layout-align="start" ng-model="source" ng-change="onTabSelected(source)" class="form-control tabs-xs">
          <md-option value="settings.preferences">Preferences</md-option>
          <md-option value="settings.account">Account</md-option>
          <md-option value="settings.notification">Notification</md-option>
          <md-option value="settings.privacy">Privacy</md-option>
          <md-option value="settings.billing">Billing</md-option>
        </md-select> 
      </div>
			<div class="content" ui-view></div>
    </div>
    <div flex></div>
    <div class="sidebar" flex="25">
      <profile-box></profile-box>
      <support-box></support-box>
    </div>
	</div>
</div>