<!doctype html>
<html ng-app="sugar">
  <head>
    <!-- Google Tag Manager -->
    <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
    new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
    j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
    'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
    })(window,document,'script','dataLayer','GTM-P8Z9XTX');</script>
    <!-- End Google Tag Manager -->
    <meta charset="utf-8">
    <title ng-bind-html="ngMeta.title"></title>

    <meta name="fragment" content="!">
    <!-- <script src="https://apis.google.com/js/platform.js"></script> -->

    <meta name="msvalidate.01" content="CACFB2A1F627BD3DE7B37CCBACDD892E">
    <meta name="title" content="{{ngMeta.title}}">
    <meta name="description" content="{{ngMeta.description}}">
    <meta name="keywords" content="{{ngMeta.keyword}}">
    <meta name="fb:app_id" content="128049047770174">
    <meta name="og:url" content="https://www.providenurture.com/">
    <meta name="og:image" content="https://www.providenurture.com/assets/images/pn.jpg">
    <meta name="og:title" content="{{ngMeta.title}}">
    <meta name="og:description" content="{{ngMeta.description}}">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <base href="/">
    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->

    <!-- build:css({.tmp/serve,src}) styles/vendor.css -->
    <!-- bower:css -->
    <!-- run `gulp inject` to automatically populate bower styles dependencies -->
    <!-- endbower -->
    <!-- endbuild -->

    <!-- build:css({.tmp/serve,src}) styles/app.css -->
    <!-- inject:css -->
    <!-- css files will be automatically insert here -->
    <!-- endinject -->
    <!-- endbuild -->
    <link rel="stylesheet" href="slick-carousel/slick/slick-theme.css" />
    <!-- dev_fb 128049047770174 -->
    <!-- live_fb 260141941079253 -->
    <script>
      window.fbAsyncInit = function() {
          FB.init({
            appId      : '128049047770174',
            xfbml      : true,
            version    : 'v2.8'
          });
          FB.AppEvents.logPageView();
      };

      (function(d, s, id){
          var js, fjs = d.getElementsByTagName(s)[0];
          if (d.getElementById(id)) {return;}
          js = d.createElement(s); js.id = id;
          js.src = "//connect.facebook.net/en_US/sdk.js";
          fjs.parentNode.insertBefore(js, fjs);
      }(document, 'script', 'facebook-jssdk'));
    </script>
    <!-- <script src="bower_components/angular/angular.js"></script> -->
    <script src="wysiwyg/dist/wysiwyg.min.js"></script>
    <script src="socket/socket.io-client/dist/socket.io.min.js"></script>
    <script src="socket/angular-socket-io/socket.min.js"></script>
    <!-- <script src='https://www.google.com/recaptcha/api.js'></script> -->

    <!-- <script src="bower_components/vsGoogleAutocomplete/dist/vs-google-autocomplete.js" async defer></script> -->
    <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDjY3dlccD_ezPyhiHKjOb2d6lVv8xXzFM&libraries=places" async defer></script>
    <!-- <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyB0jBYCKIApCivrn0FKxzcWX9TE40FpvmM&libraries=places" async defer></script> -->
    
    <!-- <script src="bower_components/ngMeta/dist/ngMeta.min.js"></script> -->
    <script type="text/javascript" src="https://s3.amazonaws.com/assets.freshdesk.com/widget/freshwidget.js"></script>
    <script type="text/javascript" src="https://assets.freshdesk.com/widget/freshwidget.js"></script>
    <script type="text/javascript">
    FreshWidget.init("", {"queryString": "&widgetType=popup", "utf8": "✓", "widgetType": "popup", "buttonType": "text", "buttonText": "Feedback", "buttonColor": "white", "buttonBg": "#3B3B3B", "alignment": "3", "offset": "100px", "formHeight": "500px", "url": "https://sf8.freshdesk.com"} );
    </script>
    <script> window.prerenderReady = true; </script>
  </head>
  <body>
    <!-- Google Tag Manager (noscript) -->
    <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-P8Z9XTX"
    height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
    <!-- End Google Tag Manager (noscript) -->
    <!--[if lt IE 10]>
      <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->
    <acme-navbar creation-date="main.creationDate"></acme-navbar>
    <div ui-view autoscroll></div>
    <div class="modal-loader" ng-show="actionLoader">
      <div class="modal-loader-container">
        <div class="sk-three-bounce">
          <div class="sk-child sk-bounce1"></div>
          <div class="sk-child sk-bounce2"></div>
          <div class="sk-child sk-bounce3"></div>
        </div>
      </div>
    </div>
    <footer-tmp></footer-tmp>
    <script type="text/javascript" src="assets/js/stackblur.min.js" async defer></script>
    <!-- build:js(src) scripts/vendor.js -->
    <!-- bower:js -->
    <!-- run `gulp inject` to automatically populate bower script dependencies -->
    <!-- endbower -->
    <!-- endbuild -->

    <!-- build:js({.tmp/serve,.tmp/partials,src}) scripts/app.js -->
    <!-- inject:js -->
    <!-- js files will be automatically insert here -->
    <!-- endinject -->

    <!-- inject:partials -->
    <!-- angular templates will be automatically converted in js and inserted here -->
    <!-- endinject -->
    <!-- endbuild -->

  </body>
</html>
