
<div class="banner-padding">
  <div class="about-banner">
    <div class="overlay orange">
      <div class="content">
        <h1 class="title">{{ 'ABOUT_TITLE' |   translate }}</h1>
        <div class="description">{{ 'ABOUT_DESCRIPTION' |   translate }}</div>
      </div>
    </div>
  </div>
</div>
<div layout="vertical" layout-fill class="aboutPage">
  <div flex>
    <div class="panel first">
      <div class="container">
        <h2 class="title">{{ 'COMMUNITY_TITLE' |   translate }}</h2>
        <div class="description"><p>{{ 'COMMUNITY_DESCRIPTION_1' |   translate }}</p>
        <p>{{ 'COMMUNITY_DESCRIPTION_2' |   translate }}</p></div>
      </div>
    </div>
    <div class="panel second">
      <div class="container" layout="column" layout-align="center">
        <h2 class="title">{{ 'MISSION_TITLE' |   translate }}</h2>
        <div class="description">
          <p>{{ 'MISSION_DESCRIPTION_1' |   translate }}</p>
          <p>{{ 'MISSION_DESCRIPTION_2' |   translate }}</p>
        </div>
      </div>
    </div>
    <div class="panel third">
      <div class="container">
        <h2 class="title">{{ 'PROCESS_TITLE' |   translate }}</h2>
        <div class="description">{{ 'PROCESS_DESCRIPTION' |   translate }}</div>
        <div class="box-container" layout-lg="row" layout-gt-lg="row" layout-md="row" layout-sm="row" layout-xs="column" layout-align="space-between top">
          <div class="box" layout="column">
            <img src="assets/images/fire.png" alt="Fire Icon" title="Choose Your Role">
            <div class="title">{{ 'PROCESS_1_TITLE' |   translate }}</div>
            <div class="description">{{ 'PROCESS_1_DESCRIPTION' |   translate }}</div>
          </div>
          <div class="box" layout="column">
            <img src="assets/images/pen.png" alt="Pen Icon" title="State Your Expectation">
            <div class="title">{{ 'PROCESS_2_TITLE' |   translate }}</div>
            <div class="description">{{ 'PROCESS_2_DESCRIPTION' |   translate }}</div>
          </div>
          <div class="box" layout="column">
            <img src="assets/images/search.png" alt="Search Icon" title="Find Your Match">
            <div class="title">{{ 'PROCESS_3_TITLE' |   translate }}</div>
            <div class="description">{{ 'PROCESS_3_DESCRIPTION' |   translate }}</div>
          </div>
        </div>
      </div>
    </div>
    <div class="find">
      <div class="overlay">
        <div class="container" layout="column" layout-align="center center">
          <div>
            <h2 class="title">{{ 'FIND_TITLE' | translate}}</h2>
            <md-button class="button-orange" ui-sref="join">{{ 'JOIN' | translate }}</md-button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>