
<div class="banner-padding">
  <div class="about-banner PN">
    <div class="overlay pink">
      <div class="content">
        <div class="title">{{'PN_ABOUT_ABOUT_TITLE' | translate}}</div>
        <div class="description">{{'PN_ABOUT_ABOUT_SUB_TITLE' | translate}}</div>
      </div>
    </div>
  </div>
</div>
<div layout="vertical" layout-fill class="aboutPage">
  <div flex>
    <div class="panel second PN">
      <div class="container" layout="column" layout-align="center">
        <div class="title">{{'PN_ABOUT_MISSION_TITLE' | translate}}</div>
        <div class="description">
          <p>{{'PN_ABOUT_MISSION_SUB_TITLE' | translate}}</p>
          <p>{{'PN_ABOUT_MISSION_SUB_TITLE1' | translate}}</p>
        </div>
      </div>
    </div>
    <div class="panel third">
      <div class="container">
        <div class="title">{{'PN_ABOUT_PROCESS_TITLE' | translate}}</div>
        <div class="description">{{'PN_ABOUT_PROCESS_SUB_TITLE' | translate}}</div>
        <div class="box-container" layout-lg="row" layout-gt-lg="row" layout-md="row" layout-sm="row" layout-xs="column" layout-align="space-between top">
          <div class="box PN" layout="column">
            <img src="assets/images/PN/pn-role.png" alt="">
            <div class="title">{{'PN_ABOUT_ROLE_TITLE' | translate}}</div>
            <div class="description">{{'PN_ABOUT_ROLE_SUB_TITLE' | translate}}</div>
          </div>
          <div class="box PN" layout="column">
            <img src="assets/images/PN/pn-expectation.png" alt="">
            <div class="title">{{'PN_ABOUT_EXPECTATION_TITLE' | translate}}</div>
            <div class="description">{{'PN_ABOUT_EXPECTATION_SUB_TITLE' | translate}}</div>
          </div>
          <div class="box PN" layout="column">
            <img src="assets/images/PN/pn-match.png" alt="">
            <div class="title">{{'PN_ABOUT_MATCH_TITLE' | translate}}</div>
            <div class="description">{{'PN_ABOUT_MATCH_SUB_TITLE' | translate}}</div>
          </div>
        </div>
      </div>
    </div>
    <div class="find">
      <div class="overlay">
        <div class="container" layout="column" layout-align="center center">
          <div>
            <div class="title">{{'PN_FIND_YOUR_PN_MATCH' | translate}}</div>
            <!-- <md-button class="button-pink" href="https://www.sugarflame.com/signup">{{'PN_FIND_JOIN_NOW' | translate}}</md-button> -->
            <md-button class="button-pink" ui-sref="join">{{'PN_FIND_JOIN_NOW' | translate}}</md-button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>