<div class="banner-padding">
  <div class="why-banner">
    <div class="overlay orange">
      <div class="content">
        <h1 class="title">{{ 'SIMPLE_DATING' | translate }}</h1>
        <div class="description">
          <p>{{ 'SIMPLE_DESCRIPTION_1' | translate }}</p>
          <p>{{ 'SIMPLE_DESCRIPTION_2' | translate }}</p> 
          <p>{{ 'SIMPLE_DESCRIPTION_3' | translate }}</p>
        </div>
      </div>
    </div>
  </div>
</div>
<div layout="vertical" layout-fill class="aboutPage">
  <div flex>
    <div class="panel fourth">
      <div class="container">
        <h2 class="title">{{ 'NOT_TITLE' | translate }}</h2>
        <div class="description">
          <p>{{ 'NOT_DESCRIPTION_1' | translate }}</p>
          <p>{{ 'NOT_DESCRIPTION_2' | translate }}</p>
        </div>
      </div>
    </div>
    <div class="panel first">
      <div class="container" layout="column" layout-align="center">
        <h2 class="title">{{ 'WHY_TITLE' | translate }}</h2>
        <div class="description">
          <p>{{ 'WHY_DESCRIPTION_1' | translate }}</p>
          <p>{{ 'WHY_DESCRIPTION_2' | translate }}</p>
          <p>{{ 'WHY_DESCRIPTION_3' | translate }}</p>
          <p>{{ 'WHY_DESCRIPTION_4' | translate }}</p>
        </div>
      </div>
    </div>
    <div class="panel fourth">
      <div class="container">
        <div class="box-what">
          <img src="assets/images/man.jpg" alt="Sugar Daddy" title="Sugar Daddy">
          <div class="title">{{ 'WHAT_DADDY' | translate }}</div>
          <div class="description">{{ 'WHAT_DADDY_DESCRIPTION' | translate }}</div>
          <md-button ui-sref="life.daddy">{{ 'LEARN_MORE' | translate }}</md-button>
        </div>
        <div class="box-what">
          <img src="assets/images/woman.jpg" alt="Female Sugar Baby" title="Female Sugar Baby">
          <div class="title">{{ 'WHAT_BABY_F' | translate }}</div>
          <div class="description">{{ 'WHAT_BABY_F_DESCRIPTION' | translate }}</div>
          <md-button ui-sref="life.femalebaby">{{ 'LEARN_MORE' | translate }}</md-button>
        </div>
      </div>
      <div class="container">
        <div class="box-what">
          <img src="assets/images/mama.jpg" alt="Sugar Mama" title="Sugar Mama">
          <div class="title">{{ 'WHAT_MAMA' | translate }}</div>
          <div class="description">{{ 'WHAT_MAMA_DESCRIPTION' | translate }}</div>
          <md-button ui-sref="life.mama">{{ 'LEARN_MORE' | translate }}</md-button>
        </div>
        <div class="box-what">
          <img src="assets/images/flame-man.jpg" alt="Male Sugar Baby" title="Male Sugar Baby">
          <div class="title">{{ 'WHAT_BABY_M' | translate }}</div>
          <div class="description">{{ 'WHAT_BABY_M_DESCRIPTION' | translate }}</div>
          <md-button ui-sref="life.malebaby">{{ 'LEARN_MORE' | translate }}</md-button>
        </div>
      </div>
    </div>
    <div class="panel first">
      <div class="container" layout="column" layout-align="center">
        <h2 class="title">{{ 'WHY_TITLE' | translate }}</h2>
        <div class="boxes">
          <div class="box-why" layout="column" layout-align="center">
            <img src="assets/images/ss-discreet.png" alt="Lock Icon" title="Fast Growing Network">
            <div class="title">{{ 'WHY_1' | translate }}</div>
          </div>
          <div class="box-why" layout="column" layout-align="center">
            <img src="assets/images/ss-rule.png" alt="Notepad Icon" title="Freedom of Choice">
            <div class="title">{{ 'WHY_2' | translate }}</div>
          </div>
          <div class="box-why" layout="column" layout-align="center">
            <img src="assets/images/search.png" alt="Search Icon" title="Open to All">
            <div class="title">{{ 'WHY_3' | translate }}</div>
          </div>
          <div class="box-why" layout="column" layout-align="center">
            <img src="assets/images/comment.png" alt="Chat Icon" title="Social Features">
            <div class="title">{{ 'WHY_4' | translate }}</div>
          </div>
          <div class="box-why" layout="column" layout-align="center">
            <img src="assets/images/block.png" alt="User Icon" title="Superior Privacy Controls">
            <div class="title">{{ 'WHY_5' | translate }}</div>
          </div>
          <div class="box-why" layout="column" layout-align="center">
            <img src="assets/images/free.png" alt="Credit Card Icon" title="Completely Free">
            <div class="title">{{ 'WHY_6' | translate }}</div>
          </div>
        </div>
      </div>
    </div>
    
    <div class="find">
      <div class="overlay">
        <div class="container" layout="column" layout-align="center center">
          <div>
            <h2 class="title">{{ 'FIND_TITLE' | translate }}</h2>
            <md-button class="button-orange" ui-sref="join">{{ 'JOIN' | translate }}</md-button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>