<div class="banner-padding">
  <div class="why-banner PN">
    <div class="overlay pink">
      <div class="content">
        <div class="title">{{ 'PN_FIND_TRADITIONAL_TITLE' | translate }}</div>
        <div class="description"><p>{{ 'PN_FIND_TRADITIONAL_SUB_TITLE' | translate }}</p></div>
      </div>
    </div>
  </div>
</div>
<div layout="vertical" layout-fill class="aboutPage">
  <div flex>
    <div class="landingPage PN">
      <div class="steps-container">
        <div class="section-title">{{ 'PN_FIND_FIND_YOUR_PN_TITLE' | translate }}</div>
        <div class="steps" layout-md="row" layout-gt-lg="row" layout-lg="row" layout-sm="row" layout-xs="column" layout-gt-xs="column" layout-align="center">
          <div flex-xs="100" flex="33" class="step" layout="column" layout-align="top center">
            <img src="assets/images/PN/pn-role.png" alt="">
            <div class="step-number">1</div>
            <div class="step-line"></div>
            <div class="step-title">{{ 'PN_FIND_ROLE_TITLE' | translate }}</div>
            <div class="step-desc">{{ 'PN_FIND_ROLE_SUB_TITLE' | translate }}</div>
          </div>
          <div flex-xs="100" flex="33" class="step" layout="column" layout-align="top center">
            <img src="assets/images/PN/pn-expectation.png" alt="">
            <div class="step-number">2</div>
            <div class="step-line"></div>
            <div class="step-title">{{ 'PN_FIND_EXPECTATION_TITLE' | translate }}</div>
            <div class="step-desc">{{ 'PN_FIND_EXPECTATION_SUB_TITLE' | translate }}</div>
          </div>
          <div flex-xs="100" flex="33" class="step" layout="column" layout-align="top center">
            <img src="assets/images/PN/pn-match.png" alt="">
            <div class="step-number">3</div>
            <div class="step-title">{{ 'PN_FIND_FIND_YOUR_MATCH_TITLE' | translate }}</div>
            <div class="step-desc">{{ 'PN_FIND_FIND_YOUR_MATCH_SUB_TITLE' | translate }}</div>
          </div>
        </div>
      </div>
    </div>
    <div class="panel first">
      <div class="container" layout="column" layout-align="center">
        <div class="title">{{ 'PN_FIND_WHY_PN_TITLE' | translate }}</div>
        <div class="description">
          <p>{{ 'PN_FIND_WHY_PN_SUB_TITLE' | translate }}</p>
          <p>{{ 'PN_FIND_WHY_PN_SUB_TITLE1' | translate }}</p>
        </div>
      </div>
    </div>
    <div class="panel fourth">
      <div class="container" layout-align="center" layout-align-xs="center center" layout-sm="row" layout-gt-sm="row" layout-xs="column" flex>
        <div class="box-what">
          <img src="assets/images/PN/pn-provider.jpg" alt="">
          <div class="title">{{ 'PN_FIND_WHAT_IS_PROVIDER_TITLE' | translate }}</div>
          <div class="description">{{ 'PN_FIND_WHAT_IS_PROVIDER_SUB_TITLE' | translate }}</div>
          <md-button ui-sref="life.malebaby">{{ 'PN_FIND_LEARN_MORE' | translate }}</md-button>
        </div>
        <div class="box-what">
          <img src="assets/images/PN/pn-nurturer.jpg" alt="">
          <div class="title">{{ 'PN_FIND_WHAT_IS_NURTURER_TITLE' | translate }}</div>
          <div class="description">{{ 'PN_FIND_WHAT_IS_NURTURER_SUB_TITLE' | translate }}</div>
          <md-button ui-sref="life.mama">{{ 'PN_FIND_LEARN_MORE' | translate }}</md-button>
        </div>
      </div>
    </div>
    <div class="panel first">
      <div class="container" layout="column" layout-align="center">
        <div class="title">{{ 'PN_FIND_WHY_SUGAR_FLAME' | translate }}</div>
        <div class="boxes">
          <div class="box-why" layout="column" layout-align="center">
            <img src="assets/images/PN/pn-privacy.png" alt="">
            <div class="title">{{ 'PN_FIND_SUPERIOR_TITLE' | translate }}</div>
          </div>
          <div class="box-why" layout="column" layout-align="center">
            <img src="assets/images/PN/pn-share-experience.png" alt="">
            <div class="title">{{ 'PN_FIND_SHARE_TITLE' | translate }}</div>
          </div>
          <div class="box-why" layout="column" layout-align="center">
            <img src="assets/images/PN/pn-comprehensive.png" alt="">
            <div class="title">{{ 'PN_FIND_COMPREHENSIVE_TITLE' | translate }}</div>
          </div>
          <div class="box-why" layout="column" layout-align="center">
            <img src="assets/images/PN/pn-real-time.png" alt="">
            <div class="title">{{ 'PN_FIND_REAL_TIME_TITLE' | translate }}</div>
          </div>
          <div class="box-why" layout="column" layout-align="center">
            <img src="assets/images/PN/pn-block.png" alt="">
            <div class="title">{{ 'PN_FIND_BLOCK_TITLE' | translate }}</div>
          </div>
          <div class="box-why" layout="column" layout-align="center">
            <img src="assets/images/PN/pn-completely-free.png" alt="">
            <div class="title">{{ 'PN_FIND_FREE_TITLE' | translate }}</div>
          </div>
        </div>
      </div>
    </div>
    
    <div class="find">
      <div class="overlay">
        <div class="container" layout="column" layout-align="center center">
          <div>
            <div class="title">{{ 'PN_FIND_YOUR_PN_MATCH' | translate }}</div>
            <!-- <md-button class="button-pink" href="https://www.sugarflame.com/signup">{{ 'PN_FIND_JOIN_NOW' | translate }}</md-button> -->
            <md-button class="button-pink" ui-sref="join">{{ 'PN_FIND_JOIN_NOW' | translate }}</md-button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>