<div layout="vertical" layout-fill class="aboutPage">
  <div flex>
    <div ui-view></div>
    <div class="find life">
      <div class="overlay">
        <div class="container" layout="row" layout-align="end center" layout-align-xs="center center"  layout-align-sm="center center">
          <div class="text-container">
            <div class="title">Find Your Match</div>
            <md-button class="button-pink" href="https://www.sugarflame.com/signup">Join Now!</md-button>
            <!-- <md-button class="button-pink" ui-sref="join">Join Now!</md-button> -->
          </div>
        </div>
      </div>
    </div>
  </div>
</div>