<div class="baby-banner male PN">
  <div class="overlay green">
    <div class="content">
      <div class="title">{{ 'PN_LIFE_PROVIDER_BANNER_TITLE' | translate }}</div>
    </div>
  </div>
</div>
<div layout="vertical" layout-fill class="aboutPage">
  <div flex>
    <div class="panel first">
      <div class="container why">
        <div layout="column" layout-alignt="start center">
          <div class="why-box" layout-gt-lg="row" layout-lg="row" layout-md="row" layout-sm="row" layout-xs="column" layout-align="start top">
            <div class="img"><img src="assets/images/PN/pn-p-provider.jpg" alt=""></div>
            <div class="text">
              <div class="title">{{ 'PN_LIFE_PROVIDER_PROVIDER_TITLE' | translate }}</div>
              <div class="description">
                <p>{{ 'PN_LIFE_PROVIDER_PROVIDER_SUB_TITLE' | translate }}</p>
              </div>
            </div>
          </div>
          <div class="why-box" layout-gt-lg="row" layout-lg="row" layout-md="row" layout-sm="row" layout-xs="column" layout-align="start top">
            <div class="img"><img src="assets/images/PN/pn-provider-marriage.jpg" alt=""></div>
            <div class="text">
              <div class="title">{{ 'PN_LIFE_PROVIDER_MARRIAGE_TITLE' | translate }}</div>
              <div class="description">
                <p>{{ 'PN_LIFE_PROVIDER_MARRIAGE_SUB_TITLE' | translate }}</p>
              </div>
            </div>
          </div>
          <div class="why-box" layout-gt-lg="row" layout-lg="row" layout-md="row" layout-sm="row" layout-xs="column" layout-align="start top">
            <div class="img"><img src="assets/images/PN/pn-provider-success.jpg" alt=""></div>
            <div class="text">
              <div class="title">{{ 'PN_LIFE_PROVIDER_NEEDS_TITLE' | translate }}</div>
              <div class="description">
                <p>{{ 'PN_LIFE_PROVIDER_NEEDS_SUB_TITLE' | translate }}</p>
              </div>
            </div>
          </div>
          <div class="why-box" layout-gt-lg="row" layout-lg="row" layout-md="row" layout-sm="row" layout-xs="column" layout-align="start top">
            <div class="img"><img src="assets/images/PN/pn-provider-balance.jpg" alt=""></div>
            <div class="text">
              <div class="title">{{ 'PN_LIFE_PROVIDER_PERSON_TITLE' | translate }}</div>
              <div class="description">
                <p>{{ 'PN_LIFE_PROVIDER_PERSON_SUB_TITLE' | translate }}</p>
              </div>
            </div>
          </div>
          <div class="why-box" layout-gt-lg="row" layout-lg="row" layout-md="row" layout-sm="row" layout-xs="column" layout-align="start top">
            <div class="img"><img src="assets/images/PN/pn-provider-financial.jpg" alt=""></div>
            <div class="text">
              <div class="title">{{ 'PN_LIFE_PROVIDER_DISCRETION_TITLE' | translate }}</div>
              <div class="description">
                <p>{{ 'PN_LIFE_PROVIDER_DISCRETION_SUB_TITLE' | translate }}</p>
              </div>
            </div>
          </div>
          <div class="why-box" layout-gt-lg="row" layout-lg="row" layout-md="row" layout-sm="row" layout-xs="column" layout-align="start top">
            <div class="img"><img src="assets/images/PN/pn-provider-privacy.jpg" alt=""></div>
            <div class="text">
              <div class="title">{{ 'PN_LIFE_PROVIDER_TIME_TITLE' | translate }}</div>
              <div class="description">
                <p>{{ 'PN_LIFE_PROVIDER_TIME_SUB_TITLE' | translate }}</p>
              </div>
            </div>
          </div>
          <div class="why-box" layout-gt-lg="row" layout-lg="row" layout-md="row" layout-sm="row" layout-xs="column" layout-align="start top">
            <div class="img"><img src="assets/images/PN/pn-provider-work.jpg" alt=""></div>
            <div class="text">
              <div class="title">{{ 'PN_LIFE_PROVIDER_BALANCE_TITLE' | translate }}</div>
              <div class="description">
                <p>{{ 'PN_LIFE_PROVIDER_BALANCE_SUB_TITLE' | translate }}</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>