<div class="daddy-banner mama">
  <div class="overlay orange">
    <div class="content">
      <div class="title">{{ 'HOME_TITLE' | translate }}</div>
    </div>
  </div>
</div>
<div layout="vertical" layout-fill class="aboutPage">
  <div flex>
    <div class="panel first">
      <div class="container why">
        <div layout="column" layout-alignt="start center">
          <div class="why-box" layout-gt-lg="row" layout-lg="row" layout-md="row" layout-sm="row" layout-xs="column" layout-align="start top">
            <div class="img"><img src="assets/images/success-w.jpg" alt=""></div>
            <div class="text">
              <div class="title">{{ 'HOME_TITLE' | translate }}</div>
              <div class="description">
                <p>A Sugar Mama is a successful woman who has achieved a certain degree of success in life. She extends this success to other aspects in her life, including her relationships. She understands that not all men are as successful as she is and she does not expect men to compete with her.</p>
              </div>
            </div>
          </div>
          <div class="why-box" layout-gt-lg="row" layout-lg="row" layout-md="row" layout-sm="row" layout-xs="column" layout-align="start top">
            <div class="img"><img src="assets/images/role.jpg" alt=""></div>
            <div class="text">
              <div class="title">New Role</div>
              <div class="description">
                <p>A Sugar Mama knows the kind of man (or woman) she wants and is not ashamed to find the man that fits her needs and desires. She is a trailblazer and is proud of it.</p>
              </div>
            </div>
          </div>
          <div class="why-box" layout-gt-lg="row" layout-lg="row" layout-md="row" layout-sm="row" layout-xs="column" layout-align="start top">
            <div class="img"><img src="assets/images/time.jpg" alt=""></div>
            <div class="text">
              <div class="title">Balance Time</div>
              <div class="description">
                <p>A Sugar Mama balances her time between work, home, and her Sugar Baby.</p>
              </div>
            </div>
          </div>
          <div class="why-box" layout-gt-lg="row" layout-lg="row" layout-md="row" layout-sm="row" layout-xs="column" layout-align="start top">
            <div class="img"><img src="assets/images/support.jpg" alt=""></div>
            <div class="text">
              <div class="title">Sugar Support</div>
              <div class="description">
                <p>A Sugar Mama accepts that she holds the pants in the relationship as she provides financial support to her Sugar Baby. In return, she receives love, affection, and the respect that she desires from a man.</p>
              </div>
            </div>
          </div>
          <div class="why-box" layout-gt-lg="row" layout-lg="row" layout-md="row" layout-sm="row" layout-xs="column" layout-align="start top">
            <div class="img"><img src="assets/images/privacy-m.jpg" alt=""></div>
            <div class="text">
              <div class="title">Privacy and Discretion</div>
              <div class="description">
                <p>A Sugar Mama understands the level of privacy she expects from her Sugar Baby. She knows what to disclose and when to disclose information about her to her Sugar Baby. Her Sugar Baby conversely respects her need for privacy and discretion.</p>
              </div>
            </div>
          </div>
          <div class="why-box" layout-gt-lg="row" layout-lg="row" layout-md="row" layout-sm="row" layout-xs="column" layout-align="start top">
            <div class="img"><img src="assets/images/play.jpg" alt=""></div>
            <div class="text">
              <div class="title">Work Hard Play Hard</div>
              <div class="description">
                <p>A Sugar Mama is constantly at work. She is generous in sharing the fruits of her labor with her Sugar Baby. This can be in the form of vacations, gifts, allowance, and other forms of financial support.</p>
              </div>
            </div>
          </div>
          <div class="why-box" layout-gt-lg="row" layout-lg="row" layout-md="row" layout-sm="row" layout-xs="column" layout-align="start top">
            <div class="img"><img src="assets/images/provider.jpg" alt=""></div>
            <div class="text">
              <div class="title">Provider</div>
              <div class="description">
                <p>A Sugar Mama understands that she is the provider in a relationship and that she contributes to the future of her Sugar Baby. She may act as a mentor to her Sugar Baby and she feels a sense of purpose when she is able to provide for her Sugar Baby.</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="panel fourth">
      <div class="container" layout="column" layout-align="center">
        <div class="title">Our Sugar Mama Objective</div>
        <div class="description">
          <p>We aim to make Sugar Dating for Sugar Mamas as discreet and as safe as possible. We consider privacy as of the utmost importance in any Sugar Relationship and we constantly strive to create a safe environment for our Sugar Mamas.</p>
        </div>
      </div>
    </div>
  </div>
</div>