<div class="daddy-banner">
  <div class="overlay orange">
    <div class="content">
      <div class="title">The Life of a Sugar Daddy</div>
    </div>
  </div>
</div>
<div layout="vertical" layout-fill class="aboutPage">
  <div flex>
    <div class="panel first">
      <div class="container why">
        <div layout="column" layout-alignt="start center">
          <div class="why-box" layout-gt-lg="row" layout-lg="row" layout-md="row" layout-sm="row" layout-xs="column" layout-align="start top">
            <div class="img"><img src="assets/images/success.jpg" alt=""></div>
            <div class="text">
              <div class="title">Success</div>
              <div class="description">
                <p>A Sugar Daddy is all about success. This means he has a clear set of responsibilities. He is at the top of his game and pretty set in his ways.</p>
              </div>
            </div>
          </div>
          <div class="why-box" layout-gt-lg="row" layout-lg="row" layout-md="row" layout-sm="row" layout-xs="column" layout-align="start top">
            <div class="img"><img src="assets/images/time.jpg" alt=""></div>
            <div class="text">
              <div class="title">Balance Time</div>
              <div class="description">
                <p>A Sugar Daddy balances his time between work, home, and his Sugar Baby. His Sugar Baby is a piece of this successful life so he’s careful that this does not consume too much of his time.</p>
                <p>Sugar Babies support their Sugar Daddies by adjusting to the time limitations of their Sugar Daddy.</p>
              </div>
            </div>
          </div>
          <div class="why-box" layout-gt-lg="row" layout-lg="row" layout-md="row" layout-sm="row" layout-xs="column" layout-align="start top">
            <div class="img"><img src="assets/images/support.jpg" alt=""></div>
            <div class="text">
              <div class="title">Sugar Support</div>
              <div class="description">
                <p>Sugar Daddies have their finances in order and have a clear idea about the budget they set aside for their Sugar Baby. Sugar Babies live within the generosity of their Sugar Daddy.</p>
              </div>
            </div>
          </div>
          <div class="why-box" layout-gt-lg="row" layout-lg="row" layout-md="row" layout-sm="row" layout-xs="column" layout-align="start top">
            <div class="img"><img src="assets/images/privacy.jpg" alt=""></div>
            <div class="text">
              <div class="title">Privacy and Discretion</div>
              <div class="description">
                <p>A Sugar Daddy is someone who values his privacy and discretion. A Sugar Baby recognizes this and protects her Sugar Daddy’s need for discretion at all times.</p>
              </div>
            </div>
          </div>
          <div class="why-box" layout-gt-lg="row" layout-lg="row" layout-md="row" layout-sm="row" layout-xs="column" layout-align="start top">
            <div class="img"><img src="assets/images/play.jpg" alt=""></div>
            <div class="text">
              <div class="title">Work Hard Play Harder</div>
              <div class="description">
                <p>Sugar Daddies work hard and play even harder. They are constantly working and trying to maintain cash flow to sustain their sugar lifestyle. Sugar Babies gracefully enjoy whatever their Sugar Daddies provide, be it vacations, gifts, allowance and other forms of financial support.</p>
              </div>
            </div>
          </div>
          <div class="why-box" layout-gt-lg="row" layout-lg="row" layout-md="row" layout-sm="row" layout-xs="column" layout-align="start top">
            <div class="img"><img src="assets/images/provider.jpg" alt=""></div>
            <div class="text">
              <div class="title">Provider</div>
              <div class="description">
                <p>A Sugar Daddy understand that he functions as the provider in a relationship. He feels a sense of purpose when he is able to make his Sugar Baby happy and secure with the support he provides.</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="panel fourth">
      <div class="container" layout="column" layout-align="center">
        <div class="title">Our Sugar Daddy Objective</div>
        <div class="description">
          <p>We aim to make Sugar Dating for Daddies as discreet and safe as possible. We understand that our Sugar Daddy’s privacy is of the utmost importance and we constantly strive to make the service as safe and as discreet as possible for our Sugar Daddies.</p>
        </div>
      </div>
    </div>
  </div>
</div>