<div class="daddy-banner mama PN">
  <div class="overlay pink">
    <div class="content">
      <div class="title">{{ 'PN_LIFE_NURTURER_BANNER_TITLE' | translate }}</div>
    </div>
  </div>
</div>
<div layout="vertical" layout-fill class="aboutPage">
  <div flex>
    <div class="panel first">
      <div class="container why">
        <div layout="column" layout-alignt="start center">
          <div class="why-box" layout-gt-lg="row" layout-lg="row" layout-md="row" layout-sm="row" layout-xs="column" layout-align="start top">
            <div class="img"><img src="assets/images/PN/pn-nurturer-nurturer.jpg" alt=""></div>
            <div class="text">
              <div class="title">{{ 'PN_LIFE_NURTURER_NURTURER_TITLE' | translate }}</div>
              <div class="description">
                <p>{{ 'PN_LIFE_NURTURER_NURTURER_SUB_TITLE' | translate }}</p>
              </div>
            </div>
          </div>
          <div class="why-box" layout-gt-lg="row" layout-lg="row" layout-md="row" layout-sm="row" layout-xs="column" layout-align="start top">
            <div class="img"><img src="assets/images/PN/pn-nurturer-marriage.jpg" alt=""></div>
            <div class="text">
              <div class="title">{{ 'PN_LIFE_NURTURER_MARRIAGE_TITLE' | translate }}</div>
              <div class="description">
                <p>{{ 'PN_LIFE_NURTURER_MARRIAGE_SUB_TITLE' | translate }}</p>
              </div>
            </div>
          </div>
          <div class="why-box" layout-gt-lg="row" layout-lg="row" layout-md="row" layout-sm="row" layout-xs="column" layout-align="start top">
            <div class="img"><img src="assets/images/PN/pn-nurturer-needs.jpg" alt=""></div>
            <div class="text">
              <div class="title">{{ 'PN_LIFE_NURTURER_NEEDS_TITLE' | translate }}</div>
              <div class="description">
                <p>{{ 'PN_LIFE_NURTURER_NEEDS_SUB_TITLE' | translate }}</p>
              </div>
            </div>
          </div>
          <div class="why-box" layout-gt-lg="row" layout-lg="row" layout-md="row" layout-sm="row" layout-xs="column" layout-align="start top">
            <div class="img"><img src="assets/images/PN/pn-n-nurturer-person.jpg" alt=""></div>
            <div class="text">
              <div class="title">{{ 'PN_LIFE_NURTURER_PERSON_TITLE' | translate }}</div>
              <div class="description">
                <p>{{ 'PN_LIFE_NURTURER_PERSON_SUB_TITLE' | translate }}</p>
              </div>
            </div>
          </div>
          <div class="why-box" layout-gt-lg="row" layout-lg="row" layout-md="row" layout-sm="row" layout-xs="column" layout-align="start top">
            <div class="img"><img src="assets/images/PN/pn-nurturer-privacy.jpg" alt=""></div>
            <div class="text">
              <div class="title">{{ 'PN_LIFE_NURTURER_DISCRETION_TITLE' | translate }}</div>
              <div class="description">
                <p>{{ 'PN_LIFE_NURTURER_DISCRETION_SUB_TITLE' | translate }}</p>
              </div>
            </div>
          </div>
          <div class="why-box" layout-gt-lg="row" layout-lg="row" layout-md="row" layout-sm="row" layout-xs="column" layout-align="start top">
            <div class="img"><img src="assets/images/PN/pn-nurturer-balance.jpg" alt=""></div>
            <div class="text">
              <div class="title">{{ 'PN_LIFE_NURTURER_TIME_TITLE' | translate }}</div>
              <div class="description">
                <p>{{ 'PN_LIFE_NURTURER_TIME_SUB_TITLE' | translate }}</p>
              </div>
            </div>
          </div>
          <div class="why-box" layout-gt-lg="row" layout-lg="row" layout-md="row" layout-sm="row" layout-xs="column" layout-align="start top">
            <div class="img"><img src="assets/images/PN/pn-nurturer-work.jpg" alt=""></div>
            <div class="text">
              <div class="title">{{ 'PN_LIFE_NURTURER_BALANCE_TITLE' | translate }}</div>
              <div class="description">
                <p>{{ 'PN_LIFE_NURTURER_BALANCE_SUB_TITLE' | translate }}</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>