<div class="baby-banner">
  <div class="overlay purple">
    <div class="content">
      <div class="title">The Life of a Female Sugar Baby</div>
    </div>
  </div>
</div>
<div layout="vertical" layout-fill class="aboutPage">
  <div flex>
    <div class="panel first">
      <div class="container why">
        <div layout="column" layout-alignt="start center">
          <div class="why-box" layout-gt-lg="row" layout-lg="row" layout-md="row" layout-sm="row" layout-xs="column" layout-align="start top">
            <div class="img"><img src="assets/images/nurturer.jpg" alt=""></div>
            <div class="text">
              <div class="title">Nurturer</div>
              <div class="description">
                <p>A Sugar Baby acts as a nurturer in a sugar relationship. She supports her Sugar Daddy by adjusting to his time and thanks him for his generosity every time he provides any kind of support to her. She not only appreciates the support her Sugar Daddy provides but also acknowledges his value as a person.</p>
              </div>
            </div>
          </div>
          <div class="why-box" layout-gt-lg="row" layout-lg="row" layout-md="row" layout-sm="row" layout-xs="column" layout-align="start top">
            <div class="img"><img src="assets/images/needs.jpg" alt=""></div>
            <div class="text">
              <div class="title">Needs</div>
              <div class="description">
                <p>A Sugar Baby has basic needs that a Sugar Daddy respects and intends to support. Included in these needs are financial, emotional, or even educational needs for a Sugar Baby to become self sustaining at some point. In return, a Sugar Baby fulfills the needs of her Sugar Daddy for love and affection.</p>
              </div>
            </div>
          </div>
          <div class="why-box" layout-gt-lg="row" layout-lg="row" layout-md="row" layout-sm="row" layout-xs="column" layout-align="start top">
            <div class="img"><img src="assets/images/type.jpg" alt=""></div>
            <div class="text">
              <div class="title">Sugar Baby Profile</div>
              <div class="description">
                <p>A Sugar Baby can be a single person, single mom, or a student wanting to pay off her tuition. She seeks to achieve more in life, and a Sugar Daddy is someone who not only provides financial support but also supports her in reaching her goals in life.</p>
              </div>
            </div>
          </div>
          <div class="why-box" layout-gt-lg="row" layout-lg="row" layout-md="row" layout-sm="row" layout-xs="column" layout-align="start top">
            <div class="img"><img src="assets/images/privacy.jpg" alt=""></div>
            <div class="text">
              <div class="title">Privacy and Discretion</div>
              <div class="description">
                <p>A Sugar Baby is someone who values her privacy and discretion. A Sugar Daddy recognizes this and protects his Sugar Baby’s need for discretion should she request it.</p>
              </div>
            </div>
          </div>
          <div class="why-box" layout-gt-lg="row" layout-lg="row" layout-md="row" layout-sm="row" layout-xs="column" layout-align="start top">
            <div class="img"><img src="assets/images/time-balance.jpg" alt=""></div>
            <div class="text">
              <div class="title">Balance Time</div>
              <div class="description">
                <p>A Sugar Baby balances her time between work, home, schooling, and reaching her goals in life. She recognizes that her Sugar Daddy supports her in reaching her goals, but his schedule is what allows her to reach her goals.</p>
                <p>She therefore makes time for her Sugar Daddy and is willing to adjust when she can, within reason. She is careful not to demand too much time and attention as this will take away her Sugar Daddy’s ability to achieve more financial success. She understands that it is this financial success that will also allow her to live a better life.</p>
              </div>
            </div>
          </div>
          <div class="why-box" layout-gt-lg="row" layout-lg="row" layout-md="row" layout-sm="row" layout-xs="column" layout-align="start top">
            <div class="img"><img src="assets/images/work-balance.jpg" alt=""></div>
            <div class="text">
              <div class="title">Work Life Balance</div>
              <div class="description">
                <p>Sugar Babies lead a balanced life of physical fitness and the pursuit of personal goals. They take great care of themselves in order to better take care of their Sugar Daddies. Sugar Babies also understand that their Sugar Daddies may not always have a balanced life. A sugar Baby knows that the time spent by a Sugar Daddy with his Sugar Baby is his time for fun and relaxation. A Sugar Baby ensures that her Sugar Daddy enjoys his time with her.</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="panel fourth">
      <div class="container" layout="column" layout-align="center">
        <div class="title">Our Female Sugar Baby Objective</div>
        <div class="description">
          <p>We aim to make Sugar Dating for our Sugar Babies discreet and most of all safe. We at SugarFlame go out of our way to weed out the fake Sugar Daddies to ensure that our Sugar Babies have only real Sugar Daddies who truly intend to provide for their Sugar Babies.</p>
        </div>
      </div>
    </div>
  </div>
</div>