<div class="baby-banner male">
  <div class="overlay purple">
    <div class="content">
      <div class="title">The Life of a Male Sugar Baby</div>
    </div>
  </div>
</div>
<div layout="vertical" layout-fill class="aboutPage">
  <div flex>
    <div class="panel first">
      <div class="container why">
        <div layout="column" layout-alignt="start center">
          <div class="why-box" layout-gt-lg="row" layout-lg="row" layout-md="row" layout-sm="row" layout-xs="column" layout-align="start top">
            <div class="img"><img src="assets/images/nurturer-m.jpg" alt=""></div>
            <div class="text">
              <div class="title">A Nurturer</div>
              <div class="description">
                <p>A Male Sugar Baby acts as a nurturer in a sugar relationship. He supports his Sugar Mama by adjusting to her time and thanks her for her generosity every time she provides any kind of support to him.</p>
              </div>
            </div>
          </div>
          <div class="why-box" layout-gt-lg="row" layout-lg="row" layout-md="row" layout-sm="row" layout-xs="column" layout-align="start top">
            <div class="img"><img src="assets/images/gentleman.jpg" alt=""></div>
            <div class="text">
              <div class="title">A  True Gentleman</div>
              <div class="description">
                <p>A Male Sugar Baby is a true gentleman who respects his Sugar Mama. He makes sure to treat her like a princess regardless of her age. He showers her with affection and care, making sure that she feels like a true woman.</p>
              </div>
            </div>
          </div>
          <div class="why-box" layout-gt-lg="row" layout-lg="row" layout-md="row" layout-sm="row" layout-xs="column" layout-align="start top">
            <div class="img"><img src="assets/images/goals.jpg" alt=""></div>
            <div class="text">
              <div class="title">Goals</div>
              <div class="description">
                <p>A Male Sugar Baby has basic needs that his Sugar Mama respects and intends to support. He makes his personal goals in life clear to his Sugar Mama so she knows how she can take part in supporting him financially and emotionally.</p>
              </div>
            </div>
          </div>
          <div class="why-box" layout-gt-lg="row" layout-lg="row" layout-md="row" layout-sm="row" layout-xs="column" layout-align="start top">
            <div class="img"><img src="assets/images/work-balance-m.jpg" alt=""></div>
            <div class="text">
              <div class="title">Work Life Balance</div>
              <div class="description">
                <p>A Male Sugar Baby is a man who takes great care of his body and image. He also dresses very well and ensures his overall look and hygiene is impeccable for his Sugar Mama. He strives to achieve his goals but also supports his Sugar Mama in achieving hers by celebrating her achievements with her.</p>
              </div>
            </div>
          </div>
          <div class="why-box" layout-gt-lg="row" layout-lg="row" layout-md="row" layout-sm="row" layout-xs="column" layout-align="start top">
            <div class="img"><img src="assets/images/privacy-m.jpg" alt=""></div>
            <div class="text">
              <div class="title">Privacy and Discretion</div>
              <div class="description">
                <p>A Male Sugar Baby is clear on the level of discretion he needs in his Sugar Relationship. He makes sure to define the level of privacy and discretion he needs at the beginning of his relationship with his Sugar Mama. Conversely, he makes sure to protect her need for privacy, as she ensures that she will also protect his need for privacy.</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="panel fourth">
      <div class="container" layout="column" layout-align="center">
        <div class="title">Our Male Sugar Baby Objective</div>
        <div class="description">
          <p>We aim to make Sugar Dating for our Sugar Babies discreet and most of all safe. We ensure the utmost privacy in the management of our Male Sugar Baby profiles and constantly strive to make the site useful and relevant to our Male Sugar Babies.</p>
        </div>
      </div>
    </div>
  </div>
</div>