<div class="template-banner PN">
  <div class="overlay pink">
    <div class="content">
    <div class="title">{{page.pag_title}}</div>
    <div class="title" ng-if="isSafety">Staying Safe</div>
    <div class="title" ng-if="isSupport">Help Center</div>
    <div class="title" ng-if="isTerm">Term of Use</div>
    <div class="title" ng-if="isPrivacy">Privacy Policy</div>
    </div>
  </div>
</div>
<div layout="vertical" layout-fill class="homePage miscellaneous PN">
	<div class="container" layout="row" layout-align="space-between top" layout-sm="column">
    <div class="feed" flex="70">
      <!-- <div class="sk-three-bounce" ng-show="loading">
        <div class="sk-child sk-bounce1"></div>
        <div class="sk-child sk-bounce2"></div>
        <div class="sk-child sk-bounce3"></div>
      </div> -->
      <div ng-show="isSupport">
        <p>Please find your question below, then click to expand the answer.</p>
        <div id="login" class="section-title">Login and Signup</div>
        <div class="items">
          <div class="item" layout="column" ng-repeat="s in login" ng-click="isOpen = !isOpen" ng-class="isOpen ? 'open':''">
            <div class="title" layout="row" layout-align="space-between center"><span>{{s.title}}</span><i class="zmdi" ng-class="isOpen ? 'zmdi-chevron-up':'zmdi-chevron-down'"></i></div>
            <div class="item-content" ng-bind-html="trustSrc(s.content)" ng-show="isOpen">
            </div>
          </div>
        </div>
        <div id="general" class="section-title">General</div>
        <div class="items">
          <div class="item" layout="column" ng-repeat="s in general" ng-click="isOpen = !isOpen" ng-class="isOpen ? 'open':''">
            <div class="title" layout="row" layout-align="space-between center"><span>{{s.title}}</span><i class="zmdi" ng-class="isOpen ? 'zmdi-chevron-up':'zmdi-chevron-down'"></i></div>
            <div class="item-content" ng-bind-html="trustSrc(s.content)" ng-show="isOpen">
            </div>
          </div>
        </div>
        <div id="privacy" class="section-title">Privacy</div>
        <div class="items">
          <div class="item" layout="column" ng-repeat="s in privacy" ng-click="isOpen = !isOpen" ng-class="isOpen ? 'open':''">
            <div class="title" layout="row" layout-align="space-between center"><span>{{s.title}}</span><i class="zmdi" ng-class="isOpen ? 'zmdi-chevron-up':'zmdi-chevron-down'"></i></div>
            <div class="item-content" ng-bind-html="trustSrc(s.content)" ng-show="isOpen">
            </div>
          </div>
        </div>
        <div id="profile" class="section-title">Profile Maintenance</div>
        <div class="items">
          <div class="item" layout="column" ng-repeat="s in profile" ng-click="isOpen = !isOpen" ng-class="isOpen ? 'open':''">
            <div class="title" layout="row" layout-align="space-between center"><span>{{s.title}}</span><i class="zmdi" ng-class="isOpen ? 'zmdi-chevron-up':'zmdi-chevron-down'"></i></div>
            <div class="item-content" ng-bind-html="trustSrc(s.content)" ng-show="isOpen">
            </div>
          </div>
        </div>
        <div id="photo" class="section-title">Photo Information</div>
        <div class="items">
          <div class="item" layout="column" ng-repeat="s in photo" ng-click="isOpen = !isOpen" ng-class="isOpen ? 'open':''">
            <div class="title" layout="row" layout-align="space-between center"><span>{{s.title}}</span><i class="zmdi" ng-class="isOpen ? 'zmdi-chevron-up':'zmdi-chevron-down'"></i></div>
            <div class="item-content" ng-bind-html="trustSrc(s.content)" ng-show="isOpen">
            </div>
          </div>
        </div>
      </div>
      <div ng-show="isSafety">
        <div id="general" class="section-title">General Safety</div>
        <div class="items">
          <div class="item" layout="column" ng-repeat="s in safety" ng-click="isOpen = !isOpen" ng-class="isOpen ? 'open':''">
            <div class="title" layout="row" layout-align="space-between center"><span>{{s.title}}</span><i class="zmdi" ng-class="isOpen ? 'zmdi-chevron-up':'zmdi-chevron-down'"></i></div>
            <div class="item-content" ng-bind-html="trustSrc(s.content)" ng-show="isOpen">
            </div>
          </div>
        </div>
        <div id="privacy" class="section-title">Privacy</div>
        <div class="items">
          <div class="item" layout="column" ng-repeat="p in privacy" ng-click="isOpen = !isOpen" ng-class="isOpen ? 'open':''">
            <div class="title" layout="row" layout-align="space-between center"><span>{{p.title}}</span><i class="zmdi" ng-class="isOpen ? 'zmdi-chevron-up':'zmdi-chevron-down'"></i></div>
            <div class="item-content" ng-bind-html="trustSrc(p.content)" ng-show="isOpen">
            </div>
          </div>
        </div>
        <div id="precautions" class="section-title">Precautions</div>
        <div class="items">
          <div class="item" layout="column" ng-repeat="p in precautions" ng-click="isOpen = !isOpen" ng-class="isOpen ? 'open':''">
            <div class="title" layout="row" layout-align="space-between center"><span>{{p.title}}</span><i class="zmdi" ng-class="isOpen ? 'zmdi-chevron-up':'zmdi-chevron-down'"></i></div>
            <div class="item-content" ng-bind-html="trustSrc(p.content)" ng-show="isOpen">
            </div>
          </div>
        </div>
      </div>
      <div ng-show="isTerm">
        <h2>Privacy Policy</h2><p>ProvideNurture.com respects your privacy. All personal information you submitted to ProvideNurture.com will be kept in the strictest confidence. Personal information you provide to us will only be used by ProvideNurture.com and will never be sold or given to third parties for any purpose without your consent. We are strongly committed to protecting your privacy online and have taken steps to protect information you share with us. For example, we use SSL encryption to safeguard your credit card data when used in E-commerce transactions. To help us protect your privacy, please maintain secrecy of username and password used in connection with your participation in any ProvideNurture.com service.</p><h3>Our Commitment</h3><p>We are committed to protecting the privacy of our users. We want to provide a safe and secure user experience. We will use our best efforts to ensure that the information submitted to us remain private, and is used only for the purposes set forth herein.</p><h3>Privacy Scope</h3><p>This privacy policy covers ProvideNurture.com’s treatment of personally identifiable information that is collected when you are on the ProvideNurture.com website, and when you use ProvideNurture.com services. This policy also covers our treatment of any personally identifiable information that our business partners share with us.</p><h3>Information Collected</h3><p>When you register as a member of ProvideNurture.com, you are asked for a number of personal information, including your name, email address, zip code, phone numbers, occupation, hobbies and interests. Our website also automatically receives and records information on our server logs from your browser, including your IP address, browser type and ProvideNurture.com cookie information. ProvideNurture.com uses this information to personalize the content you see, to fulfill your service requests, to inform you of updates to our services, and to alert you to products and services we believe may be of interest to you.</p><h3>Visitor Information</h3><p>We gather information about all users collectively, such as what areas users visits most frequently and what services users access the most. We only use such data anonymously and in the aggregate. This information helps us determine what is the most beneficial for our users and how we can continually create a better overall user experience. We may share this information with our partners, but only in the aggregate, so that they may also understand how our visitors use our website.</p><h3>Specific Information</h3><p>In certain cases, when you signup to use a services, respond to an offer, submit your profile, or purchase a product or service, for example, we may collect more specific information about you, such as your name, address, phone number, email, credit card number, etc. During your visit to our website, we may also ask you for other information, such as information on your interests, likes and dislikes regarding the website, etc., in an effort to deliver the best user experience. Personal information collected are used solely by ProvideNurture.com and are never sold or given to third parties for any purpose without your explicit consent. We also provide you with the opportunity to opt-opt out of several types of communications at the time of registration. If you choose to receive these types of communications at the time of registration, but later decide you no longer want to receive them, simply change your preferences on your account setting or communicate your preferences to us via email.</p><h3>General Disclosure Information</h3><p>Except as described in this privacy policy, we do not disclose information about your individual visits to ProvideNurture.com, or personal information you provide, such as your name, address, email, phone number, credit card number, etc., to any third parties, except when we believe it is required by law or to protect ProvideNurture.com, our users or others. However, we may record and share aggregate information with our partners. We employ other companies and individuals to perform functions on our behalf. Examples may include hosting our web servers, analyzing data, providing marketing services, processing credit card payments, and other services. These companies may have access to your personal information as necessary to perform their functions, but they may not share that information with any third party.</p><h3>Disclosure for Accounts Payable or Collections</h3><p>It is your duty to make sure that your keep your account(s) in good standing with us. If you have an outstanding balance, or if you dispute your payment to us with your credit card or financial institution for any reason, please note that all information collected from your activity on our website may be disclosed to the bank and/or collections agency we work with for the purposes of establishing proof of user’s identify, proof of use, proof that service was provided, and / or collecting any outstanding debt owed to us.</p><h3>Updating Account Information</h3><p>ProvideNurture.com allows you to change your personal information at any time. To do so, simply logon to ProvideNurture.com with your username and password, and you will be able to update the information you have submitted.</p><h3>Online Transactions</h3><p>When you place an order online, your personal details and credit card information are encrypted using SSL encryption technology before being sent over the Internet. Although we cannot guarantee encryption or the privacy of your personal details, SSL makes it very difficult for your information to be stolen or intercepted while being transferred. Our credit card transactions are processed by <a href="http://www.stripe.com"><u>STRIPE</u></a>. All information sent to MultiCards is in the secure SSL environment, which will protect it against disclosure to third parties. When we receive your order, it is on an SSL server. For MultiCards’ privacy statement, please click<a href="https://www.stripe.com/privacy.html"><u>HERE</u></a>. At the point when an end-user wishes to make a payment, his registration details may be passed to Paymentwall that provides payment processing services, in order for Paymentwall to better protect service and end-users from unauthorized payments.</p><h3>Cookies</h3><p>To enhance your experience at ProvideNurture.com and to access member services, we use a feature on your Internet browser called a ‘cookie’. Cookies are small files that your web browser places on your computer’s hard drive. We use cookies for remembering user preferences, user sessions, tracking visits to understand visitor behavior, and planning for increased loads. Because of our use of cookies, we can deliver a faster services and a more personalized website experience. You have the option of setting your browser to reject cookies. However, doing so will hinder your ability to logon or use member services offered on our website.</p><h3>Privacy Policy Changes</h3>If we decide to change our privacy policy, we will post those changes here so that you will always know what information we gather, how we might use that information, and whether we will disclose it to anyone. If at any time you have questions or concerns about our privacy policy, please feel free to email us at privacy@ProvideNurture.com ProvideNurture.com uses reasonable precautions to keep personal information disclosed to us secure. However, we are not responsible for any breach of security. This privacy policy is not intended to, and does not, create any contractual or other legal rights in or on behalf of any party.
      </div>
      <div ng-show="isPrivacy">
        <h3>Terms of Use</h3><h3>ProvideNurture.com Terms of Use Agreement</h3><p>By accessing the ProvideNurture.com website (the “Website”), including through a mobile application, you agree to be bound by these Terms of Use (this “Agreement”), whether or not you register as a member of ProvideNurture.com. If you wish to visit the Website or to become a member and make use of the ProvideNurture.com service (the “Service”), please read this Agreement.</p><p>The Terms of Use are as set forth in English. You should not rely on any non-English translation. Refer to the English Terms in the event of any discrepancies or inconsistencies.</p><p>If you do not accept and agree to be bound by all of the terms and conditions of this Agreement or you do not meet or comply with its provisions, do not use the Website or the Service.</p><p>Please review this Agreement carefully, including the Arbitration provision in Section 17, which describes how Disputes (defined below) will be resolved between us, and that no class actions may be brought under this Agreement.</p><ol><li>Binding Agreement<ul><li>This Agreement is an electronic contract that sets out the legally binding terms you must accept to use the Website and to become a “Member.” For purposes of this Agreement, the term “Member” means a person who provides information to the Company on the Website to participate in the Service in any manner, whether such person uses the Service as a free member or a subscriber. This Agreement may be modified by ProvideNurture.com in its sole discretion at any time, and any such modifications will be posted on the Website. Your continued use of the Website or the Services after the posting of modifications to this Agreement will constitute your acceptance of such revisions.</li><li>This Agreement includes ProvideNurture.com’s Acceptable Use Policy for Content Posted on the Website, ProvideNurture.com’s Privacy Policy, any notices regarding the Website, and terms disclosed and agreed to by you if you become a Member or if you purchase or accept additional features, products, or services we offer on the Website, such as state-specific terms and terms governing features, billing, free trials, discounts, and promotions.</li></ul></li><li>Eligibility<ul><li>You must be at least eighteen years old to register as a Member or use the Website. Membership in the Service is void where prohibited. By using the Website, you represent and warrant that you have the right, authority, and capacity to enter into this Agreement and to abide by all of the terms and conditions of this Agreement. If you become a Member, you represent and warrant that you have never been convicted of a felony and that you are not required to register as a sex offender with any government entity.</li><li>The Website and Service are intended for use in the United States. You will only use the Service in a manner consistent with this Agreement and any and all applicable local, state, national and international laws and regulations, including, but not limited to, United States export control laws. By using the Service, you represent that you have not been designated by the United States government as a “Specially Designated National” or other person to whom the provisions of the Service are prohibited. Registration for, and use of, the Service are void where prohibited. You are responsible for determining whether the use of the Service is legal in your jurisdiction.</li></ul></li><li>Term<ul><li>This Agreement will remain in full force and effect while you use the Website and/or are a Member. You may terminate your membership at any time, for any reason by following the instructions on the Deactivate Account section in Account Settings, or upon receipt by ProvideNurture.com of your written or email notice of termination. ProvideNurture.com may terminate your membership for any reason, effective upon sending notice to you at the email address you provide in your application for membership, or such other email address as you may later provide to ProvideNurture.com. If ProvideNurture.com terminates your membership in the Service because it believes you have breached the Agreement, you will not be entitled to any refund of unused subscription fees or unused credits.</li><li>Non-commercial Use by Members</li><li>The Website and the Service is for personal use only. Members may not use the Service in connection with any commercial endeavors. Organizations, companies, agencies, and/or businesses may not become Members and should not use the Service or the Website for any purpose. Illegal and/or unauthorized uses of the Website, including collecting usernames and/or email addresses of Members by electronic or other means for the purpose of sending unsolicited email and unauthorized framing of or linking to the Website may be investigated, and appropriate legal action may be taken, including without limitation, civil, criminal, and injunctive redress.</li><li>Account Security</li><li>Your account is for your personal use only. You are responsible for maintaining the confidentiality of the username and password you designate during the registration process, and you are solely responsible for all activities that occur under your username and password. You acknowledge that ProvideNurture.com is not responsible for third party access to your account that results from theft or misappropriation of your username or password.</li></ul></li><li>Risk Assumption and Precautions<ul><li>ProvideNurture.com is not responsible for the conduct, whether online or offline, of any user of the Website or Member of the Service. You assume all risk when using the Service, including but not limited to all of the risks associated with any online or offline interactions with other Members, including dating or sending money to another Member. You agree to take all necessary precautions when meeting individuals through the Service.</li><li>ProvideNurture.com DOES NOT CURRENTLY CONDUCT CRIMINAL BACKGROUND SCREENINGS ON ITS MEMBERS. However, ProvideNurture.com reserves the right to conduct any criminal background check, at any time and using available public records. BY AGREEING TO THESE TERMS AND CONDITIONS, YOU HEREBY AUTHORIZE ANY SUCH CHECK.</li><li>Members have the option to pay for a third party to perform a self-background screening based on information the Member provides the third party. Members who pass such a self-background screening will have a “Background Verified” mark displayed on their profile. You understand ProvideNurture.com makes no guarantees, express or implied, regarding the accuracy or reliability of the third party self- background screening or “Background Verified” mark and in no event will be liable for any damages whatsoever, whether direct, indirect, general, special, compensatory, consequential, and/or incidental, arising out of or relating to the self-background screening or “Background Verified” mark.</li><li>You understand that ProvideNurture.com makes no guarantees, either express or implied, regarding your ultimate compatibility with individuals you meet through the Service or as to the conduct of such individuals.</li></ul></li><li>Proprietary Rights<ul><li>ProvideNurture.com, in conjunction with W8 Tech Limited and Reflex Media, owns and retains all proprietary rights in the Website and the Service, and in all content, trademarks, trade names, service marks, and other intellectual property rights related thereto. The Website contains the copyrighted material, trademarks, and other proprietary information of ProvideNurture.com, and its licensors. Except for that information which is in the public domain or for which you have been given written permission, you may not copy, modify, publish, transmit, distribute, perform, display, or sell any such proprietary information.</li></ul></li><li>Acceptable Website Use<ul><li>You are solely responsible for the content and information that you post, upload, publish, link to, transmit, record, display or otherwise make available (hereinafter, “post”) on the Website or as part of a Service or transmit to other Members, including emails, videos (including streaming videos), photographs, voice notes, recordings or profile text, whether publicly posted or privately transmitted (collectively, “Content”). You may not post on the Website or as part of the Service, or transmit to ProvideNurture.com or any other Member (either on or off the Website), any material (i) in violation of any applicable law or regulation, (ii) in a manner that will infringe the copyright, trademark, trade secret or other intellectual property rights of others or violate the privacy, publicity or other personal rights of others, or (iii) in a manner that is offensive, inaccurate, profane, intimidating, defamatory, obscene, threatening, abusive or hateful. You represent and warrant that all information that you submit upon registration is accurate and truthful and that you will promptly update any information provided by you that subsequently becomes inaccurate, misleading or false.</li><li>ProvideNurture.com reserves the right, but has no obligation, to monitor any Content you post on the Website or as part of a Service. ProvideNurture.com will have the right to remove any Content that in its sole opinion violates, or may violate any applicable law or either the letter or spirit of this Agreement or upon the request of any third party.</li><li>By posting Content on the Website or as part of the Service, you automatically grant an irrevocable, perpetual, non-exclusive, fully paid-up, worldwide right and license to (i) use, copy, store, perform, display, reproduce, record, play, adapt, modify and distribute the Content, (ii) prepare derivative works of the Content or incorporate the Content into other works, and (iii) grant and authorize sublicenses of the foregoing in any media now known or hereafter created.</li><li>You are prohibited from violating or attempting to violate the security of the Website, including, without limitation, (i) accessing data not intended for you or logging into a server or account which you are not authorized to access; (ii) attempting to probe, scan, or test the vulnerability of a system or network or to breach security or authentication measures without proper authorization; (iii) attempting to interfere with or disrupt the Service or the Website including, without limitation, by way of submitting a virus to the Website, overloading, flooding, spamming, mail bombing, or crashing; (iv) sending unsolicited e-mail, including promotions and/or advertising of products or services; (v) forging headers or otherwise manipulating identifiers in order to disguise the origin of any information transmitted to or through the Website or Service (either directly or indirectly through use of third party software); (vi) using (or attempting to use) any engine, software tool, agent, or other device or mechanism any robot, spider, site search/retrieval application, or other manual or automatic device or process to retrieve, index, “data mine”, or in any way reproduce or circumvent the navigational structure or presentation of the Website, Service or its contents; (vii) modifying, adapting, sublicensing, translating, selling, reverse engineering, deciphering, decompiling or otherwise disassembling any portion of the Service or the Website or any software used on or for the Service or the Website, or cause others to do so;</li><li>The Website may be used only for lawful purposes by individuals seeking friendship and love. As one of the conditions of your use of the Website and the Service, you represent, warrant, and agree that you will not use (or plan, encourage, or help others to use) the Website and the Service for any purpose or in any manner that is prohibited by these terms, conditions and notices, or by applicable law (including but not limited to any applicable export controls). It is your responsibility to ensure that your use of the Website and the Service complies with this Agreement and to seek prior written consent from ProvideNurture.com for any uses not permitted or not expressly specified herein. ProvideNurture.com specifically prohibits any use of the Website or the Service, and you hereby agree not to use the Website or the Service, for any of the following:<ol><li>Posting any incomplete, false, misleading, or inaccurate Content about yourself and/or your profile;</li><li>Posting any Content that is not entirely your own or for which you do not have full rights to use;</li><li>Impersonating, or otherwise misrepresenting affiliation, connection or association with, any person or entity;</li><li>If you have a password, allowing any other person to access a non-public area of the Website, disclosing to or sharing your password with any third parties, or using your password for any unauthorized purpose;</li><li>Using meta tags or code or other devices containing any reference to the ProvideNurture.com, the Website or the Service (or any trademark, trade name, service mark, logo or slogan of the ProvideNurture.com) to direct any person to any other website for any purpose; Posting or sending material that exploits people under the age of 18 in a sexual or violent manner, or solicits personal information from anyone under 18;</li><li>Failing to report knowledge of a person under the age of 18 to ProvideNurture.com, or continuing to use the site to interact in any way with anyone you know is under the age of 18.</li><li>Soliciting passwords or personal identifying information for commercial or unlawful purposes from other users;</li><li>Engaging in advertising to, or solicitation of, other Members to send money, buy or sell any products or services. You may not transmit any chain letters or junk email to other Members. If you breach the terms of this subsection and send or post unsolicited bulk email, “spam”, or other unsolicited communications of any kind through the Service, you acknowledge that you will have caused substantial harm to ProvideNurture.com, but that the amount of such harm would be extremely difficult to ascertain. As a reasonable estimation of such harm, you agree to pay ProvideNurture.com $50 for each such unsolicited communication you sent through the Service;</li><li>Soliciting gambling or engaging in any gambling or similar activity;</li><li>Using the Website as an escort, or using the Service to solicit clients for an escort service;</li><li>Initiating contact with members off site by any other means, without first obtaining explicit permission from them to do so via the Website;</li><li>Posting advertisements or solicitations of employment, business, or pyramid schemes;</li><li>Using the Website or Service to promote, solicit, or engage in prostitution;</li><li>Using the Website or Service for activities that violate any law, statute, ordinance, or regulations; and</li><li>Using the Website or Service to encourage, promote, facilitate, or instruct others to engage in illegal activity.</li></ol></li></ul></li><li>No Harassment of ProvideNurture.com Employees.<ul><li>You will not harass, annoy, intimidate, or threaten any ProvideNurture.com employees or agents engaged in providing any portion of the Service to you. If we feel that your behavior towards any of our employees is at any time threatening or offensive, we reserve the right to immediately terminate your membership and you will not be entitled to any refund of unused subscription fees.</li><li>Copyright Policy; Notice and Procedure for Making Claims of Copyright Infringement</li><li>You may not post, distribute, or reproduce in any way any copyrighted material, trademarks, or other proprietary information without obtaining the prior written consent of the owner of such proprietary rights. Without limiting the foregoing, if you believe that your work has been copied and posted on the Service in a way that constitutes copyright infringement, please provide our Copyright Agent at copyright@ProvideNurture.com or the following address: ProvideNurture.com, Attn: Copyright Agent,JGLAW, with the following information: an electronic or physical signature of a person authorized to act on behalf of the copyright owner; identification of the copyrighted work that you claim is being infringed; identification the material that is claimed to be infringing and where it is located on the Website; information reasonably sufficient to permit ProvideNurture.com to contact you, such as your address, telephone number, and email address; a statement that you have a good faith belief that use of the material in the manner complained of is not authorized by the copyright owner, its agent, or the law; and a statement, made under penalty of perjury, that you are the copyright owner or authorized to act on the copyright owner’s behalf. Only copyright notices will be accepted at the above e- mail address. All other inquiries or requests will be discarded.</li></ul></li><li>Subscription<ul><li>You must provide current, complete, and accurate information for your Billing Account. You must promptly update all information to keep your Billing Account current, complete, and accurate (such as a change in billing address, card number, or expiration date), and you must promptly notify ProvideNurture.com if your payment method is canceled (including if you lose your card or it is stolen), or if you become aware of a potential breach of security (such as an unauthorized disclosure or use of your name or password). Changes to such information can be made at “Account Settings” on the Website. If you fail to provide us any of the foregoing information, you agree that you are responsible for fees accrued under your Billing Account. In addition, you authorize us to obtain updated or replacement expiration dates and card numbers for your credit or debit card as provided by your credit or debit card issuer.</li><li>You agree that all payments made on the Website are final, and you will not challenge or dispute the charge with your bank. You further agree that should you have any issues relating to your payment (such as duplicate billing), you will open a support ticket through the Website to resolve the issue. Should a dispute be initiated with your bank, you agree that you will be held responsible for any outstanding balance owed to us plus any dispute case fees charged by our bank, which may be as much as US$60. You agree that you will pay any outstanding balance you have with ProvideNurture.com within 30 days from the date of notification. Any outstanding balance left unpaid after 30 days may be submitted to a collections agency, and you agree that a collections fee of up to 50% of the outstanding balance or $100 (whichever is higher) will be added to the amount that you owe.</li><li>In order to provide continuous service, ProvideNurture.com provides the option for automatic renewal. If the automatic renewal option or checkbox is selected during the payment process, ProvideNurture.com will automatically renew all paid subscriptions for the Services on the date such subscriptions expire. After your initial subscription commitment period, and again after any subsequent subscription period, your subscription will automatically continue for an additional equivalent period. By entering into this Agreement, you acknowledge that your account will be subject to the above-described automatic renewals if you had selected the automatic renewal option. If you do not wish your account to renew automatically, or if you want to change or terminated your subscription, please log in and go to “Account Settings” on the Website and follow the directions contained therein.</li><li>ProvideNurture.com maintains a strict no-refund policy. All purchases made on the Website are final. If you choose to purchase a subscription package on the Website, you agree that absolutely no refunds, either full or partial, will be issued for any reasons or for any unused or remaining subscription. Further, you agree that no refunds will be made on any remaining or unused subscription or credits.</li><li>When you deactivate your ProvideNurture.com account or when your account is suspended for violating this Agreement or other policies, you agree that any remaining or unused subscription and credits will be forfeited and no refunds will be issued for any remaining or unused membership subscription and credits. Further, if your deactivated ProvideNurture.com account is reinstated at a later date, you agree that any remaining or unused membership subscription and credits you have remaining at the time of your account deactivation will not be reinstated with your account.</li><li>Credits or subscription purchased for a specific ProvideNurture.com account is strictly non- transferable. You agree that any remaining or unused membership subscription associated with an active or deactivated ProvideNurture.com account will not be transferred to any other account belonging to you or someone else.</li><li>ProvideNurture.com reserves the right to offer free membership to any person(s) of its choice at any given time, for any duration, while charging other members, at the same time. ProvideNurture.com also reserves the right to cancel the free trial period at any time, for all or any of its members.</li></ul></li><li>Service<ul><li>ProvideNurture.com does not guarantee that the website will be fully operational all the time. Members may face significant service disturbances. Only in the event that the Website is offline for a period of more than 72 hours, will a pro-rated refund be given. ProvideNurture.com DOES NOT OFFER TECHNICAL SUPPORT. We will offer support only for the Service related to the Website.</li></ul></li><li>User Information<ul><li>When you register for our Service on the Website, you will be asked to provide us with certain information, including but not limited to a valid e-mail address (your “User Information”). ProvideNurture.com’s right to use your User Information is described in our Privacy Policy. Please see our Privacy Policy for further details regarding use of your User Information. ProvideNurture.com reserves the right to offer third party services and products to you based on the preferences that you identify in your User Information and at any time thereafter; such offers may be made by us or by third parties.</li><li>You acknowledge and agree that ProvideNurture.com may disclose in whole or in part your User Information if required to do so by law, at the request of a third party, or if we, in our sole discretion, believe that disclosure is reasonable to (1) comply with the law, requests or orders from law enforcement, or any legal process (whether or not such disclosure is required by applicable law); (2) protect or defend ProvideNurture.com’s, or a third party’s, rights or property; or (3) protect someone’s health or safety, such as when harm or violence against any person (including the user) is threatened.</li><li>Notwithstanding any other provision of this Agreement or the Privacy Policy, ProvideNurture.com reserves the right, but has no obligation, to disclose any information that you submit to the Service, if in its sole opinion, ProvideNurture.com suspects or has reason to suspect, that the information involves a party who may be the victim of abuse in any form. Abuse may include, without limitation, elder abuse, child abuse, spousal abuse, neglect, or domestic violence. Information may be disclosed to authorities that ProvideNurture.com, in its sole discretion, deems appropriate to handle such disclosure. Appropriate authorities may include, without limitation, law enforcement agencies, child protection agencies, or court officials. You hereby acknowledge and agree that ProvideNurture.com is permitted to make such disclosure.</li></ul></li><li>Links<ul><li>The Website may contain, and the Service may provide, links to sites that are not maintained by ProvideNurture.com. While we try to include links only to those sites which are in good taste and safe for our users, we are not responsible for the content or accuracy of those sites and cannot guarantee that sites will not change without our knowledge. The inclusion of a link in the Website does not imply our endorsement of the linked site. If you decide to access linked third-party websites, you do so at your own risk. Your correspondence or business dealings with, or participation in promotions of, third parties found on or through the Website or Service, including payment and delivery of related goods or services, and any other terms, conditions, warranties or representations associated with such dealings, are solely between you and such third party. You further acknowledge and agree that the ProvideNurture.com shall not be responsible or liable, directly or indirectly, for any damage or loss caused or alleged to be caused by or in connection with the use of, or reliance upon, any such content, information, statements, advertising, goods or services or other materials available on or through any such website or resource.</li></ul></li><li>Disclaimers<ul><li>ProvideNurture.com is not responsible for any incorrect or inaccurate Content posted on the Website or in connection with the Service, whether caused by users of the Website, Members or by any of the equipment or programming associated with or utilized in the Service.</li><li>ProvideNurture.com is not responsible for the conduct, whether online or offline, of any user of the Website or Member of the Service.</li><li>ProvideNurture.com is not responsible for any error, omission, interruption, deletion, defect, delay in operation or transmission, communications line failure, theft or destruction or unauthorized access to, or alteration of, user or Member communications.</li><li>ProvideNurture.com is not responsible for any problems or technical malfunction of any telephone network or lines, computer online systems, servers or providers, computer equipment, software, failure of email or players on account of technical problems or traffic congestion on the Internet or at any website or combination thereof, including injury or damage to users and/or Members or to any other person’s computer related to or resulting from participating or downloading materials in connection with the Web and/or in connection with the Service.</li><li>Under no circumstances will ProvideNurture.com be responsible for any loss or damage, including personal injury or death, resulting from anyone’s use of the Website or the Service, any Content posted on the Website or transmitted to Members, or any interaction or contact between users of the Website, whether online or offline.</li><li>THIS SITE IS FOR INFORMATIONAL PURPOSES ONLY. TO THE MAXIMUM EXTENT ALLOWED BY APPLICABLE LAW, ProvideNurture.com PROVIDES THE WEBSITE AND SERVICE ON AN “AS IS” AND “AS AVAILABLE” BASIS AND GRANTS NO WARRANTIES OF ANY KIND, EITHER EXPRESS, IMPLIED, STATUTORY OR OTHERWISE WITH RESPECT TO THE SERVICE OR THE WEBSITE (INCLUDING ALL CONTENT CONTAINED THEREIN) INCLUDING (WITHOUT LIMITATION) ANY IMPLIED WARRANTIES OF SATISFACTORY QUALITY, MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE, EXPECTATIONS OF PRIVACY, OR NON-INFRINGEMENT. ProvideNurture.com DOES NOT WARRANT THAT THE WEBSITE OR SERVICE WILL BE UNINTERRUPTED OR ERROR-FREE, SECURE, OR THAT ANY DEFECTS OR ERRORS WILL BE CORRECTED.</li><li>ANY MATERIAL DOWNLOADED OR OTHERWISE OBTAINED THROUGH THE USE OF THE SERVICE OR WEBSITE IS ACCESSED AT YOUR OWN DISCRETION AND RISK, AND YOU WILL BE SOLELY RESPONSIBLE FOR AND HEREBY WAIVE ANY AND ALL CLAIMS AND CAUSES OF ACTION WITH RESPECT TO ANY DAMAGE TO YOUR COMPUTER SYSTEM, INTERNET ACCESS, DOWNLOAD OR DISPLAY DEVICE, OR LOSS OR CORRUPTION OF DATA THAT RESULTS OR MAY RESULT FROM THE DOWNLOAD OF ANY SUCH MATERIAL. IF YOU DO NOT ACCEPT THIS LIMITATION OF LIABILITY, YOU ARE NOT AUTHORIZED TO DOWNLOAD OR OBTAIN ANY MATERIAL THROUGH THE SERVICE OR WEBSITE.</li><li>From time to time, ProvideNurture.com may make third party opinions, advice, statements, offers, or other third party information or content available on the Website and/or through the Service. All third party content is the responsibility of the respective authors thereof and should not necessarily be relied upon. Such third party authors are solely responsible for such content. ProvideNurture.com DOES NOT: (I) GUARANTEE THE ACCURACY, COMPLETENESS, OR USEFULNESS OF ANY THIRD PARTY CONTENT ON THE WEBSITE OR PROVIDED THROUGH THE SERVICE, OR (II) ADOPT, ENDORSE OR ACCEPT RESPONSIBILITY FOR THE ACCURACY OR RELIABILITY OF ANY OPINION, ADVICE, OR STATEMENT MADE BY ANY PARTY THAT APPEARS ON THE WEBSITE OR SERVICE. UNDER NO CIRCUMSTANCES WILL ProvideNurture.com OR ITS AFFILIATES BE RESPONSIBLE OR LIABLE FOR ANY LOSS OR DAMAGE RESULTING FROM YOUR RELIANCE ON INFORMATION OR OTHER CONTENT POSTED ON THE WEBSITE OR SERVICE, OR TRANSMITTED TO OR BY ANY MEMBERS.</li><li>ProvideNurture.com cannot guarantee and does not promise any specific results from use of the Website and/or the Service.</li><li>This Website is only a venue – it acts as a venue for individuals to post personal and contact information for the purposes of dating. ProvideNurture.com is not required to not screen or censor information posted on the Website, including but not limited to the identity of any user. We are not involved in any actual communication between Members. As a result, we have no control over the quality, safety, or legality of the information or profiles posted, the truth or accuracy of the information. You agree you are solely responsible for your interactions with other Members. ProvideNurture.com reserves the right, but has no obligation, to monitor disputes between you and other Members. This includes, but is not limited to, conversations via regular email, dates, relationships, phone calls, meetings, he said/she said accusations or any other correspondence or interaction that occur outside of the scope of the Website. The Website is a tool for providing the initial contact between Members, anything beyond that is not in our control and is done so at the their own risk. Members have to use common sense about what information they reveal to others via email or any other means of communication. It is your responsibility to investigate Members and that you will verify they are legitimate date seekers. There are many different frauds, schemes, and deceptions on the Internet, and we strongly caution you to be skeptical of any Members until you learn more about them and verify their background.</li><li>You specifically acknowledge and agree that ProvideNurture.com is not liable for your defamatory, offensive, infringing or illegal materials or conduct or that of third parties, and we reserve the right to remove such materials from this Website without liability.</li></ul></li><li>Limitation on Liability<ul><li>TO THE MAXIMUM EXTENT PERMITTED BY APPLICABLE LAW, IN NO EVENT WILL ProvideNurture.com BE LIABLE FOR ANY INCIDENTAL, SPECIAL, CONSEQUENTIAL OR INDIRECT DAMAGES ARISING OUT OF OR RELATING TO THE USE OR INABILITY TO USE THE SERVICES, INCLUDING, WITHOUT LIMITATION, DAMAGES FOR LOSS OR CORRUPTION OF DATA OR PROGRAMS, SERVICE INTERRUPTIONS AND PROCUREMENT OF SUBSTITUTE SERVICES, EVEN IF ProvideNurture.com KNOWS OR HAS BEEN ADVISED OF THE POSSIBILITY OF SUCH DAMAGES. TO THE MAXIMUM EXTENT PERMITTED BY APPLICABLE LAW, UNDER NO CIRCUMSTANCES WILL ProvideNurture.com’S AGGREGATE LIABILITY, IN ANY FORM OF ACTION WHATSOEVER IN CONNECTION WITH THIS AGREEMENT OR THE USE OF THE SERVICE OR THE WEBSITE, EXCEED THE PRICE PAID BY YOU FOR YOUR MEMBERSHIP, OR, IF YOU HAVE NOT PAID ProvideNurture.com FOR THE USE OF ANY SERVICE, THE AMOUNT OF US$25.00 OR ITS EQUIVALENT.</li><li>TO THE MAXIMUM EXTENT PERMITTED BY APPLICABLE LAW, IN NO EVENT WILL ProvideNurture.com BE LIABLE FOR ANY DAMAGES WHATSOEVER, WHETHER DIRECT, INDIRECT, GENERAL, SPECIAL, COMPENSATORY, CONSEQUENTIAL, AND/OR INCIDENTAL, ARISING OUT OF OR RELATING TO THE CONDUCT OF YOU OR ANYONE ELSE IN CONNECTION WITH THE USE OF THE SERVICES, INCLUDING WITHOUT LIMITATION, BODILY INJURY, EMOTIONAL DISTRESS, AND/OR ANY OTHER DAMAGES RESULTING FROM COMMUNICATIONS OR MEETINGS WITH OTHER MEMBERS OF THE SERVICE. THIS INCLUDES ANY CLAIMS, LOSSES OR DAMAGES ARISING FROM THE CONDUCT OF MEMBERS WHO HAVE REGISTERED UNDER FALSE PRETENSES OR WHO ATTEMPT TO DEFRAUD OR HARM YOU.</li></ul></li><li>Arbitration<ul><li>You and ProvideNurture.com agree that any disputes arising out of or related to the Website, the Service, this Agreement and/or any policies or practices of ProvideNurture.com (a “Dispute”) will be subject to FINAL AND BINDING ARBITRATION administered by the American Arbitration Association. The only exceptions to this agreement to arbitrate Disputes are matters that may be taken to small-claims court or claims of infringement or misappropriation of ProvideNurture.com’s copyright, patent, trade secret, trademark, service mark, trade dress or other intellectual property or proprietary rights, which ProvideNurture.com may elect to have resolved by means other than arbitration. Notwithstanding the above, ProvideNurture.com is always interested in attempting to resolve any Disputes by amicable and informal means, and we encourage you to contact us at dispute@ProvideNurture.com or by mail at ProvideNurture.com, Attn: Dispute Manager, 2283 Pasong Tamo Ext. Makati City, Philippines before resorting to arbitration. YOU AND ProvideNurture.com AGREE THAT WE ARE EACH GIVING UP OUR RIGHT TO GO TO COURT in connection with any Dispute, and that our rights will be determined by a NEUTRAL ARBITRATOR, NOT A JUDGE OR JURY.</li><li>YOU AND ProvideNurture.com ACKNOWLEDGE THAT NEITHER OF US WILL BRING OR PARTICIPATE IN ANY CLASS ACTION OR OTHER CLASS PROCEEDING IN CONNECTION WITH ANY DISPUTE WITH THE OTHER PARTY. Further, neither you nor ProvideNurture.com agrees to class arbitration or any arbitration where a person brings a dispute as a representative of other person(s).</li><li>If the parties are unable to resolve a Dispute by informal means, the arbitration of Disputes will be administered by the American Arbitration Association (AAA), a non-profit organization not affiliated with ProvideNurture.com, in accordance with its Commercial Arbitration Rules, and if deemed appropriate by the arbitrator, the Supplementary Procedures for Consumer-Related Disputes. You can find further details about the arbitration procedure by clicking<a href="http://www.adr.org/fileacase"> here</a>.</li><li>Any proceeding to enforce this arbitration agreement, including any proceeding to confirm, modify, or vacate an arbitration award, may be brought in any court of competent jurisdiction. In the event that this arbitration agreement is for any reason held to be unenforceable, any litigation against ProvideNurture.com (except for small-claims court actions) may be commenced only in the federal or state courts located in Clark County, Nevada. You hereby irrevocably consent to the jurisdiction of those courts for such purposes.</li><li>Regardless of any statute or law to the contrary, and to the maximum extent permitted by applicable law, any Dispute must be filed within one (1) year after the date in which the incident giving rise to the Dispute occurred. Failure to file an arbitration claim as described above within the applicable limitations period constitutes a waiver of such claim and serves as complete bar to any claim based on any Dispute.</li><li>This Agreement, and any Dispute between you and ProvideNurture.com, shall be governed by the laws of the state of Nevada without regard to principles of conflicts of law, provided that this arbitration agreement shall be governed by the Federal Arbitration Act.</li><li>If you access the Website or use the Service from outside the United States, you waive all rights under the laws and regulations of the territory from which you access or use the Website or Service. Regardless of whether you access the Website or use the Service from outside the United States, all Disputes shall be resolved in the United States as described above.</li></ul></li><li>Indemnity<ul><li>You agree to defend, indemnify, and hold harmless ProvideNurture.com, its officers, directors, employees, and agents from and against any claims, actions, or demands, including without limitation reasonable legal and accounting fees, arising from your use of the Website, the Services or your breach of the terms of this Agreement (including any breach of your representations and warranties contained herein), any postings or Content you post on the Website or as a result of the Service, and the violation of any law or regulation by you. You, and your estate in the case of your death, further agree that this indemnification provision covers all third party claims, actions or demands, including those filed by your spouse, children, or family. ProvideNurture.com reserves the right to assume the exclusive defense and control of any matter otherwise subject to indemnification by you, in which event you will fully cooperate with the ProvideNurture.com in connection therewith.</li></ul></li><li>General Provisions<ul><li>Violation of this Agreement may cause ProvideNurture.com irreparable harm, and you therefore agree that ProvideNurture.com will be entitled to seek extraordinary relief in court, including but not limited to temporary restraining orders, preliminary injunctions and permanent injunctions without the necessity of posting a bond or other security, in addition to and without prejudice to any other rights or remedies that ProvideNurture.com may have for a breach of this Agreement.</li><li>This Agreement, accepted upon use of the Website and further affirmed by becoming a Member of the Service, the Privacy Policy located on the Website, and any applicable payment, renewal, additional Service terms, compromise the entire agreement between you and ProvideNurture.com regarding the use of the Website and/or the Service, superseding any prior agreements between you and ProvideNurture.com related to your use the Website or Service (including, but not limited to, any prior versions of this Agreement).</li><li>Unless otherwise explicitly stated, the Agreement will survive termination of your registration to the Service.</li><li>If any provision of this Agreement is held invalid, the remainder of this Agreement shall continue in full force and effect.</li><li>The failure of ProvideNurture.com to exercise or enforce any right or provision of this Agreement shall not constitute a waiver of such right or provision.</li><li>You agree that your online account is non-transferable and all of your rights to your profile or contents within your account terminate upon your death.</li><li>No agency, partnership, joint venture or employment is created as a result of this Agreement and you may not make any representations or bind ProvideNurture.com in any manner.</li></ul></li><li>Special State Terms<ul><li>The following provisions are added to this Agreement for subscribers residing in Arizona, California, Connecticut, Illinois, Iowa, Minnesota, New York, North Carolina, Ohio and Wisconsin:</li><li>You, the buyer, may cancel this agreement, without penalty or obligation, at any time prior to midnight of the third business day following the original date of this contract, excluding Sundays and holidays. To cancel this agreement, mail or deliver a signed and dated notice which states that you, the buyer, are canceling this agreement, or words of similar effect. This notice shall be sent to: ProvideNurture.com, Attn: Terms of Use Manager, 2283 Pasong Tamo Ext. Makati City, Philippines. Please include your ProvideNurture.com username and email address in any correspondence or your refund may be delayed. If you cancel, ProvideNurture.com will return, within ten days of the date on which you give notice of cancellation, any payments you have made. If you send or deliver the notice to cancel your subscription agreement within such three day period, we will refund the full amount of your subscription.</li><li>In the event that you die before the end of your subscription period, your estate shall be entitled to a refund of that portion of any payment you had made for your subscription which is allocable to the period after your death. In the event that you become disabled (such that you are unable to use the services of ProvideNurture.com) before the end of your subscription period, you shall be entitled to a refund of that portion of any payment you had made for your subscription which is allocable to the period after your disability by providing the company notice at the same address as listed above.</li></ul></li><li>Revision Date<ul><li>This Agreement was last revised on March 28, 2016</li></ul></li></ol>
      </div>
      <div class="page-content" ng-hide="loading" ng-bind-html="page.pag_content"></div>
    </div>
    <div flex></div>
    <div class="sidebar PN" flex="25">
      <div class="topic-box" ng-show="isSupport">
        <div class="title">Topics</div>
        <div class="link" ng-click="scrollTo('login', 0)">Login and Signup</div>
        <div class="link" ng-click="scrollTo('general', 550)">General</div>
        <div class="link" ng-click="scrollTo('privacy', 1350)">Privacy</div>
        <div class="link" ng-click="scrollTo('profile', 1600)">Profile Maintenance</div>
        <div class="link" ng-click="scrollTo('photo', 1750)">Photo Information</div>
      </div>
      <div class="topic-box" ng-show="isSafety">
        <div class="title">Topics</div>
        <div class="link" ng-click="scrollTo('general', 0)">General Safety</div>
        <div class="link" ng-click="scrollTo('privacy', 450)">Privacy</div>
        <div class="link" ng-click="scrollTo('precautions', 650)">Precautions</div>
      </div>
      <support-box></support-box>
    </div>
  </div>
</div>