<div class="template-banner">
  <div class="overlay orange">
    <div class="content">
    <h1 class="title">{{page.pag_title}}</h1>
    <h1 class="title" ng-if="isSafety">{{ 'STAYING_SAFE' | translate }}</h1>
    <h1 class="title" ng-if="isSupport">{{ 'HELP_CENTER' | translate }}</h1>
    </div>
  </div>
</div>
<div layout="vertical" layout-fill class="homePage miscellaneous">
	<div class="container" layout="row" layout-align="space-between top" layout-sm="column">
    <div class="feed" flex="70">
      <div class="sk-three-bounce" ng-show="loading">
        <div class="sk-child sk-bounce1"></div>
        <div class="sk-child sk-bounce2"></div>
        <div class="sk-child sk-bounce3"></div>
      </div>
      <div ng-show="isSupport">
        <p>Please find your question below, then click to expand the answer.</p>
        <h2 id="login" class="section-title">Login and Signup</h2>
        <div class="items">
          <div class="item" layout="column" ng-repeat="s in login" ng-click="isOpen = !isOpen" ng-class="isOpen ? 'open':''">
            <div class="title" layout="row" layout-align="space-between center"><span>{{s.title}}</span><i class="zmdi" ng-class="isOpen ? 'zmdi-chevron-up':'zmdi-chevron-down'"></i></div>
            <div class="item-content" ng-bind-html="trustSrc(s.content)" ng-show="isOpen">
            </div>
          </div>
        </div>
        <h2 id="general" class="section-title">General</h2>
        <div class="items">
          <div class="item" layout="column" ng-repeat="s in general" ng-click="isOpen = !isOpen" ng-class="isOpen ? 'open':''">
            <div class="title" layout="row" layout-align="space-between center"><span>{{s.title}}</span><i class="zmdi" ng-class="isOpen ? 'zmdi-chevron-up':'zmdi-chevron-down'"></i></div>
            <div class="item-content" ng-bind-html="trustSrc(s.content)" ng-show="isOpen">
            </div>
          </div>
        </div>
        <h2 id="privacy" class="section-title">Privacy</h2>
        <div class="items">
          <div class="item" layout="column" ng-repeat="s in privacy" ng-click="isOpen = !isOpen" ng-class="isOpen ? 'open':''">
            <div class="title" layout="row" layout-align="space-between center"><span>{{s.title}}</span><i class="zmdi" ng-class="isOpen ? 'zmdi-chevron-up':'zmdi-chevron-down'"></i></div>
            <div class="item-content" ng-bind-html="trustSrc(s.content)" ng-show="isOpen">
            </div>
          </div>
        </div>
        <h2 id="profile" class="section-title">Profile Maintenance</h2>
        <div class="items">
          <div class="item" layout="column" ng-repeat="s in profile" ng-click="isOpen = !isOpen" ng-class="isOpen ? 'open':''">
            <div class="title" layout="row" layout-align="space-between center"><span>{{s.title}}</span><i class="zmdi" ng-class="isOpen ? 'zmdi-chevron-up':'zmdi-chevron-down'"></i></div>
            <div class="item-content" ng-bind-html="trustSrc(s.content)" ng-show="isOpen">
            </div>
          </div>
        </div>
        <h2 id="photo" class="section-title">Photo Information</h2>
        <div class="items">
          <div class="item" layout="column" ng-repeat="s in photo" ng-click="isOpen = !isOpen" ng-class="isOpen ? 'open':''">
            <div class="title" layout="row" layout-align="space-between center"><span>{{s.title}}</span><i class="zmdi" ng-class="isOpen ? 'zmdi-chevron-up':'zmdi-chevron-down'"></i></div>
            <div class="item-content" ng-bind-html="trustSrc(s.content)" ng-show="isOpen">
            </div>
          </div>
        </div>
      </div>
      <div ng-show="isSafety">
        <h2 id="general" class="section-title">General Safety</h2>
        <div class="items">
          <div class="item" layout="column" ng-repeat="s in safety" ng-click="isOpen = !isOpen" ng-class="isOpen ? 'open':''">
            <div class="title" layout="row" layout-align="space-between center"><span>{{s.title}}</span><i class="zmdi" ng-class="isOpen ? 'zmdi-chevron-up':'zmdi-chevron-down'"></i></div>
            <div class="item-content" ng-bind-html="trustSrc(s.content)" ng-show="isOpen">
            </div>
          </div>
        </div>
        <h2 id="privacy" class="section-title">Privacy</h2>
        <div class="items">
          <div class="item" layout="column" ng-repeat="p in privacy" ng-click="isOpen = !isOpen" ng-class="isOpen ? 'open':''">
            <div class="title" layout="row" layout-align="space-between center"><span>{{p.title}}</span><i class="zmdi" ng-class="isOpen ? 'zmdi-chevron-up':'zmdi-chevron-down'"></i></div>
            <div class="item-content" ng-bind-html="trustSrc(p.content)" ng-show="isOpen">
            </div>
          </div>
        </div>
        <h2 id="precautions" class="section-title">Precautions</h2>
        <div class="items">
          <div class="item" layout="column" ng-repeat="p in precautions" ng-click="isOpen = !isOpen" ng-class="isOpen ? 'open':''">
            <div class="title" layout="row" layout-align="space-between center"><span>{{p.title}}</span><i class="zmdi" ng-class="isOpen ? 'zmdi-chevron-up':'zmdi-chevron-down'"></i></div>
            <div class="item-content" ng-bind-html="trustSrc(p.content)" ng-show="isOpen">
            </div>
          </div>
        </div>
      </div>
      <div class="page-content" ng-hide="loading" ng-bind-html="page.pag_content"></div>
    </div>
    <div flex></div>
    <div class="sidebar" flex="25">
      <div class="topic-box" ng-show="isSupport">
        <div class="title">Topics</div>
        <div class="link" ng-click="scrollTo('login', 0)">Login and Signup</div>
        <div class="link" ng-click="scrollTo('general', 550)">General</div>
        <div class="link" ng-click="scrollTo('privacy', 1350)">Privacy</div>
        <div class="link" ng-click="scrollTo('profile', 1600)">Profile Maintenance</div>
        <div class="link" ng-click="scrollTo('photo', 1750)">Photo Information</div>
      </div>
      <div class="topic-box" ng-show="isSafety">
        <div class="title">Topics</div>
        <div class="link" ng-click="scrollTo('general', 0)">General Safety</div>
        <div class="link" ng-click="scrollTo('privacy', 450)">Privacy</div>
        <div class="link" ng-click="scrollTo('precautions', 650)">Precautions</div>
      </div>
      <support-box></support-box>
    </div>
  </div>
</div>