<div layout="vertical" layout-fill class="homePage">
	<div class="container" layout="row" layout-align="space-between top" layout-sm="column">
    <div class="feed" flex="70">
    	<div layout="column" layout-align="start">
        <span class="title">Terms of Use</span>
      </div><br>
      <div class="page-content">
        <h4>Headling 1</h4>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nostrum reprehenderit aliquid cupiditate distinctio, quibusdam voluptatum excepturi ab aut explicabo impedit sapiente libero aliquam, necessitatibus eos, provident molestiae culpa quasi quis. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Temporibus accusamus corporis quae nemo. Placeat velit, error laborum facere dignissimos itaque quibusdam deleniti inventore quo ducimus totam hic molestias cum rerum.</p>
        <h4>Headling 1</h4>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nostrum reprehenderit aliquid cupiditate distinctio, quibusdam voluptatum excepturi ab aut explicabo impedit sapiente libero aliquam, necessitatibus eos, provident molestiae culpa quasi quis. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Temporibus accusamus corporis quae nemo. Placeat velit, error laborum facere dignissimos itaque quibusdam deleniti inventore quo ducimus totam hic molestias cum rerum.</p>
        <h4>Headling 1</h4>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nostrum reprehenderit aliquid cupiditate distinctio, quibusdam voluptatum excepturi ab aut explicabo impedit sapiente libero aliquam, necessitatibus eos, provident molestiae culpa quasi quis. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Temporibus accusamus corporis quae nemo. Placeat velit, error laborum facere dignissimos itaque quibusdam deleniti inventore quo ducimus totam hic molestias cum rerum.</p>
        
      </div>
    </div>
    <div flex></div>
    <div class="sidebar" flex="25">
      <div class="support" layout="column" layout-align="center center">
        <div class="title">Need Help Navigating The Website?</div>
        <div class="description">Check our support and FAQ</div>
        <md-button class="button-lightgray">Go to Support</md-button>
      </div>
    </div>
  </div>
</div>