<div layout="vertical" layout-fill class="homePage">
	<div class="container" layout="row" layout-align="space-between top" layout-sm="column">
    <div class="feed" flex="70">
      <div class="page-content" ng-bind-html="content"></div>
    </div>
    <div flex></div>
    <div class="sidebar" flex="25">
      <div class="support" layout="column" layout-align="center center">
        <div class="title">Need Help Navigating The Website?</div>
        <div class="description">Check our support and FAQ</div>
        <md-button class="button-lightgray">Go to Support</md-button>
      </div>
    </div>
  </div>
</div>