<div class="banner-padding">
  <div class="promise-banner PN">
    <div class="overlay pink">
      <div class="content">
        <div class="title">{{ 'PN_WHY_BANNER_TITLE' | translate }}</div>
        <div class="description">{{ 'PN_WHY_BANNER_SUB_TITLE' | translate }}</div>
      </div>
    </div>
  </div>
</div>
<div layout="vertical" layout-fill class="aboutPage">
  <div flex>
    <div class="panel fourth PN rm-padding-bottom">
      <div class="container role" layout="column" layout-align="center">
        <div class="title">{{ 'PN_WHY_HEADING_TITLE' | translate }}</div>
        <div class="description">
          <p>{{ 'PN_WHY_HEADING_SUB_TITLE' | translate }}</p>
        </div>
      </div>
    </div>
    <div class="panel first PN">
      <div class="container why">
        <div layout="column" layout-gt-md="row" layout-md="row" layout-sm="column" layout-xs="column">
          <div class="why-box PN" layout="column" layout-align="start top">
            <div class="image"><img src="assets/images/PN/pn--role-the-provider.png" alt=""></div>
            <div class="text">
              <div class="title">{{ 'PN_WHY_THE_PROVIDER_TITLE' | translate }}</div>
              <div class="description">
                <p>{{ 'PN_WHY_THE_PROVIDER_SUB_TITLE' | translate }}</p>
              </div>
            </div>
          </div>
          <div class="why-box PN" layout="column" layout-align="start top">
            <div class="image"><img src="assets/images/PN/pn-role-the-nurturer.png" alt=""></div>
            <div class="text">
              <div class="title">{{ 'PN_WHY_THE_NURTURER_TITLE' | translate }}</div>
              <div class="description">
                <p>{{ 'PN_WHY_THE_NURTURER_SUB_TITLE' | translate }}</p>
              </div>
            </div>
          </div>
          <div class="why-box PN" layout="column" layout-align="start top">
            <div class="image"><img src="assets/images/PN/pn-role-our-role.png" alt=""></div>
            <div class="text">
              <div class="title">{{ 'PN_WHY_THE_ROLE_TITLE' | translate }}</div>
              <div class="description">
                <p>{{ 'PN_WHY_THE_ROLE_SUB_TITLE' | translate }}</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="panel first PN traditional">
      <div class="container why">
        <div layout="column" layout-alignt="start center">
          <div class="why-box" layout-gt-lg="row" layout-lg="row" layout-md="row" layout-sm="row" layout-xs="column" layout-align="start top">
            <div class="image"><img src="assets/images/PN/pn-traditional.png" alt=""></div>
            <div class="text">
              <div class="title">{{ 'PN_WHY_THE_RELATIONSHIPS_TITLE' | translate }}</div>
              <div class="description">
                <p>{{ 'PN_WHY_THE_RELATIONSHIPS_SUB_TITLE' | translate }}</p>
              </div>
            </div>
          </div>
          <div class="why-box" layout-gt-lg="row" layout-lg="row" layout-md="row" layout-sm="row" layout-xs="column" layout-align="start top">
            <div class="image"><img src="assets/images/PN/pn-the-provider-relation.png" alt=""></div>
            <div class="text">
              <div class="title">{{ 'PN_WHY_THE_ROLE_BASED_TITLE' | translate }}</div>
              <div class="description">
                <p>{{ 'PN_WHY_THE_ROLE_BASED_SUB_TITLE' | translate }}</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="panel fourth PN objective">
      <div class="container" layout="column" layout-align="center">
        <div class="title">{{ 'PN_WHY_OUR_OBJECTIVE_TITLE' | translate }}</div>
        <div class="description">
          <p>{{ 'PN_WHY_OUR_OBJECTIVE_SUB_TITLE' | translate }}</p>
        </div>
      </div>
    </div>
    <div class="find">
      <div class="overlay">
        <div class="container" layout="column" layout-align="center center">
          <div>
            <div class="title">{{ 'PN_FIND_YOUR_PN_MATCH' | translate }}</div>
            <!-- <md-button class="button-pink" href="https://www.sugarflame.com/signup">{{ 'PN_FIND_JOIN_NOW' | translate }}</md-button> -->
            <md-button class="button-pink" ui-sref="join">{{ 'PN_FIND_JOIN_NOW' | translate }}</md-button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>