<div class="banner-padding">
  <div class="promise-banner">
    <div class="overlay orange">
      <div class="content">
        <h1 class="title">{{ 'PROMISE_TITLE' | translate }}</h1>
        <div class="description">{{ 'PROMISE_DESCRIPTION' | translate }}</div>
      </div>
    </div>
  </div>
</div>
<div layout="vertical" layout-fill class="aboutPage">
  <div flex>
    <div class="panel first">
      <div class="container why">
        <div layout="column" layout-alignt="start center">
          <div class="why-box" layout-gt-lg="row" layout-lg="row" layout-md="row" layout-sm="row" layout-xs="column" layout-align="start top">
            <div class="image"><img src="assets/images/heart.png" alt="Heart Icon" title="Traditional Relationships are Back!"></div>
            <div class="text">
              <h3 class="title">{{ 'PROMISE_1_TITLE' | translate }}</h3>
              <div class="description">
                <p>{{ 'PROMISE_1_DESCRIPTION' | translate }}</p>
              </div>
            </div>
          </div>
          <div class="why-box" layout-gt-lg="row" layout-lg="row" layout-md="row" layout-sm="row" layout-xs="column" layout-align="start top">
            <div class="image"><img src="assets/images/fire.png" alt="Fire Icon" title="Role Based Dating"></div>
            <div class="text">
              <h3 class="title">{{ 'PROMISE_2_TITLE' | translate }}</h3>
              <div class="description">
                <p>{{ 'PROMISE_2_DESCRIPTION' | translate }}</p>
              </div>
            </div>
          </div>
          <div class="why-box" layout-gt-lg="row" layout-lg="row" layout-md="row" layout-sm="row" layout-xs="column" layout-align="start top">
            <div class="image"><img src="assets/images/shield.png" alt="Shield Icon" title="The SugarFlame Promise"></div>
            <div class="text">
              <h3 class="title">{{ 'PROMISE_TITLE' | translate }}</h3>
              <div class="description">
                <p>{{ 'PROMISE_3_DESCRIPTION_1' | translate }}</p>
                <p>{{ 'PROMISE_3_DESCRIPTION_2' | translate }}</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="panel fourth">
      <div class="container" layout="column" layout-align="center">
        <h2 class="title">{{ 'OBJECTIVE_TITLE' | translate }}</h2>
        <div class="description">
          <p>{{ 'OBJECTIVE_DESCRIPTION' | translate }}</p>
        </div>
      </div>
    </div>
    <div class="find">
      <div class="overlay">
        <div class="container" layout="column" layout-align="center center">
          <div>
            <h2 class="title">{{ 'FIND_TITLE' | translate }}</h2>
            <md-button class="button-orange" ui-sref="join">{{ 'JOIN' | translate }}</md-button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>