<md-dialog aria-label="Edit Criteria" class="criteriaModal">
  <form name="criteriaForm" ng-cloak>
    <md-toolbar>
      <div class="md-toolbar-tools" layout="row" layout-align="center center">
        <span>Edit Criteria</span>
        <md-button layout-align="end" class="md-icon-button" ng-click="cancel()">
          <i class="zmdi zmdi-close"></i>
        </md-button>
      </div>
    </md-toolbar>

    <md-dialog-content>
      <div layout="column" layout-align="start" class="form-group">
        <span class="filter-label">Show Me</span>
        <div layout="row" layout-align="start">
          <md-input-container ng-repeat="gender in filter.gender | orderBy: 'name'" flex="20">
            <md-checkbox ng-model="gender.checked" aria-label="gender.name">
              {{gender.name}}
            </md-checkbox>
          </md-input-container>
        </div>
      </div>
      <div layout="column" layout-align="start" class="form-group">
        <span class="filter-label">Ages</span>
        <div class="slider" layout="row" layout-xs="column" layout-align="space-between center">
          <rzslider flex-xs="100" flex="45" rz-slider-model="user.usr_interested_age_from" rz-slider-high="user.usr_interested_age_to" rz-slider-options="ageRangeSlider.options"></rzslider>
          <div flex-xs="100" flex="45" layout="row" layout-align="space-between center" class="input-range">
            <input type="text" class="form-control" ng-model="user.usr_interested_age_from" required />
            <span>to</span>
            <input type="text" class="form-control" ng-model="user.usr_interested_age_to" required />
            <span>y.o.</span>
          </div>
        </div>
      </div>
      <div layout="column" layout-align="start" class="form-group">
        <span class="filter-label">Location</span>
        <div class="form-group-icon" flex="100" layout="row" layout-align="space-between center" ng-class="{'disabled':location}">
          <i class="zmdi zmdi-pin"></i>
          <input flex="95" vs-google-autocomplete="options"
            ng-model="user.usr_location"
            vs-country="components.country"
            vs-country-short="components.countryCode"
            vs-state="components.state"
            vs-city="components.city"
            vs-street="components.street"
            vs-street-number="components.streetNumber"
            vs-latitude="components.latitude"
            vs-longitude="components.longitude"
            name="address"
            type="text"
            class="form-control"
            placeholder="Enter your location..."
            style="width: 100%;"
            ng-disabled="user.location">
        </div>
        <md-input-container>
          <md-checkbox ng-model="user.location" aria-label="Auto-detect location" ng-disabled="locationSupport" ng-change="getCurrentLocation(user.location)">
            Auto-detect location
          </md-checkbox>
        </md-input-container>
      </div>
      <div layout="column" layout-align="start" class="form-group">
        <span class="filter-label">Distance</span>
        <div class="slider" layout="row" layout-xs="column" layout-align="space-between center">
          <rzslider flex-xs="100" flex="45" rz-slider-model="filter.distance_from" rz-slider-high="filter.distance_to" rz-slider-options="distanceRangeSlider.options"></rzslider>
          <div flex-xs="100" flex="45" layout="row" layout-align="space-between center" class="input-range">
            <input type="text" class="form-control" ng-model="filter.distance_from" required />
            <span>to</span>
            <input type="text" ng-if="filter.distance_to <= 10000" class="form-control" ng-model="filter.distance_to" required />
            <span class="infinity" ng-if="filter.distance_to >= 10001">∞</span>
            <span>km</span>
          </div>
        </div>
      </div>
      <md-input-container>
        <md-checkbox ng-model="distance" aria-label="Limit distance" ng-change="limitDistance(distance)">
          Limit Distance
        </md-checkbox>
      </md-input-container>
    </md-dialog-content>

    <md-dialog-actions layout="row" layout-align="center center">
      <md-button flex class="button-orange" ng-click="applyCriteria(user, filter)">
        Apply Criteria
      </md-button>
    </md-dialog-actions>
  </form>
</md-dialog>