<violator></violator>
<div layout="vertical" layout-fill class="homePage feedPage">
  <div class="container" layout="column" layout-align="top" layout-sm="column">
    <div class="feed">
      <!-- <div class="page-title"><i class="zmdi zmdi-settings"></i> Settings</div> -->
      <div layout="column" layout-align="start" ng-hide="hide">
        <div class="title-icon">
          <span class="icon-box favorite-box"><i class="zmdi zmdi-comment-alt-text"></i></span>
          <span class="title">Share your thoughts</span>
        </div>
        <form name="postForm">
          <div class="post-box" layout="row" layout-align="space-between center">
            <textarea ng-model="post.pos_content" name="pos_content" placeholder="What are you thinking, feeling or doing?" ng-keyup="postOnEnter(post.pos_content, $event)" required></textarea>
            <md-button type="button" class="button-orange" flex="10" ng-click="post(post.pos_content)">POST</md-button>
          </div>
          <small class="error" ng-show="postForm.pos_content.$error.required">{{errMessage}}</small>
        </form>
        <!-- <span class="tip">Tip: This is your chance to show others your interests.</span> -->
      </div>
      <div class="tabs" layout="row" layout-align="space-between center">
        <div layout="row" layout-align="start center" flex class="tabs-container">
          <div class="tab" flex-gt-xs="20" flex-xs="20" flex-gt-sm="15" flex-md="15" ui-sref="dashboard" ng-click="onTabSelected('consolidated')" flex ng-class="source == 'consolidated' ? 'active':''">All<md-tooltip md-direction="top">Faved, Messaged, & Followed</md-tooltip></div>
          <!-- <div class="tab" flex-gt-xs="25" flex-xs="20" flex-gt-sm="20" flex-md="15" ui-sref="dashboard." ng-click="onTabSelected('')" flex ng-class="source == '' ? 'active':''">SF Community<md-tooltip md-direction="top">Everyone who matches your criteria.</md-tooltip></div> -->
          <div class="tab" flex-gt-xs="20" flex-xs="20" flex-gt-sm="15" flex-md="15" ui-sref="dashboard.faved" ng-click="onTabSelected('i-faved')" flex ng-class="source == 'i-faved' ? 'active':''">I faved</div>
          <div class="tab" flex-gt-xs="20" flex-xs="20" flex-gt-sm="15" flex-md="15" ui-sref="dashboard.message" ng-click="onTabSelected('i-messaged')" flex ng-class="source == 'i-messaged' ? 'active':''">I messaged</div>
          <div class="tab" flex-gt-xs="20" flex-xs="20" flex-gt-sm="15" flex-md="15" ui-sref="dashboard.followed" ng-click="onTabSelected('i-followed')" flex ng-class="source == 'i-followed' ? 'active':''">I followed</div>
        </div>
        <md-select layout-align="start" ng-model="source" ng-change="onTabSelected(source)" class="form-control tabs-xs">
          <!-- <md-option value="">SF Community</md-option> -->
          <md-option value="consolidated">All</md-option>
          <md-option value="i-faved">I Faved</md-option>
          <md-option value="i-messaged">I Messaged</md-option>
          <md-option value="i-follow">I Followed</md-option>
        </md-select> 
        <!-- <md-button class="button-lightgray" ng-click="openCriteria()" >Edit Criteria</md-button> -->
      </div>
      <div class="content">
        <div class="sk-three-bounce" ng-show="loading">
          <div class="sk-child sk-bounce1"></div>
          <div class="sk-child sk-bounce2"></div>
          <div class="sk-child sk-bounce3"></div>
        </div>
        <div class="err-message">{{message}}</div>
        <div class="posts" ng-if="source == 'consolidated'">
          <div ng-if="posts">     
            <div class="post post-card" ng-repeat="p in posts | orderBy: '-pos_date_created'">
              <md-card>
                <md-card-title>
                  <a ui-sref="user({usr_token_id: p.user.usr_token_id})">
                    <md-card-title-media ui-sref="user({usr_token_id: p.user.usr_token_id})">
                      <div class="md-media-lg card-media" ng-if="p.user.img_thumb || p.user.img_image" imageonload style="background-image: url({{baseUrl(p.user.img_thumb || p.user.img_image)}})"></div>
                      <div class="md-media-lg card-media" ng-if="!p.user.img_image && p.user.usr_gender == 'female'" style="background-image: url('assets/images/female.svg')"></div>
                      <div class="md-media-lg card-media" ng-if="!p.user.img_image && p.user.usr_gender == 'male'" style="background-image: url('assets/images/male.svg')"></div>
                    </md-card-title-media>
                  </a>
                  <md-card-title-text>
                    <div class="user-detail">
                      <a class="screen-name" ui-sref="user({usr_token_id: p.user.usr_token_id})">{{p.user.usr_screen_name}}</a>
                      <span class="name">
                        <small>{{p.user.usr_age}}</small><i class="zmdi zmdi-circle"></i>
                        <small>{{p.user.usr_gender}}</small><i class="zmdi zmdi-circle"></i>
                        <small>{{p.user.usr_location}}</small>
                      </span>
                      <span class="top-right">{{relDateFormat(p.pos_date_modified)}}</span>
                    </div>
                    <div class="user-post">
                      <p>
                       {{p.pos_content}}
                      </p>
                      <!-- <img src="https://s-media-cache-ak0.pinimg.com/736x/8b/46/37/8b46376b12a5639eaa8cf2c9ba848c80.jpg" alt=""> -->
                    </div>
                    <post-buttons posts="posts" post="p" ng-hide="p.user.usr_id == user.usr_id" class="hidden-xs"></post-buttons>
                  </md-card-title-text>
                </md-card-title>
                <post-buttons posts="posts" post="p" ng-hide="p.user.usr_id == user.usr_id" class="visible-xs"></post-buttons>
              </md-card>
            </div>
          </div>
          <div class="sk-three-bounce" ng-show="loadingMore">
            <div class="sk-child sk-bounce1"></div>
            <div class="sk-child sk-bounce2"></div>
            <div class="sk-child sk-bounce3"></div>
          </div>
          <md-button class="button-light-gray button-load-more" ng-if="next" ng-click="loadMore(next)">Load More</md-button>
        </div>
        <div class="posts" ng-if="source == ''">
          <div ng-if="posts">
            <div class="post post-card" ng-repeat="p in posts | orderBy: '-pos_date_created'">
              <md-card>
                <md-card-title>
                  <a ui-sref="user({usr_token_id: p.user.usr_token_id})">
                    <md-card-title-media ui-sref="user({usr_token_id: p.user.usr_token_id})">
                      <div class="md-media-lg card-media" ng-if="p.user.img_thumb || p.user.img_image" imageonload style="background-image: url({{baseUrl(p.user.img_thumb || p.user.img_image)}})"></div>
                      <div class="md-media-lg card-media" ng-if="!p.user.img_image && p.user.usr_gender == 'female'" style="background-image: url('assets/images/female.svg')"></div>
                      <div class="md-media-lg card-media" ng-if="!p.user.img_image && p.user.usr_gender == 'male'" style="background-image: url('assets/images/male.svg')"></div>
                    </md-card-title-media>
                  </a>
                  <md-card-title-text>
                    <div class="user-detail">
                      <a class="screen-name" ui-sref="user({usr_token_id: p.user.usr_token_id})">{{p.user.usr_screen_name}}</a>
                      <span class="name">
                        <small>{{p.user.usr_age}}</small><i class="zmdi zmdi-circle"></i>
                        <small>{{p.user.usr_gender}}</small><i class="zmdi zmdi-circle"></i>
                        <small>{{p.user.usr_location}}</small>
                      </span>
                      <span class="top-right">{{relDateFormat(p.pos_date_modified)}}</span>
                    </div>
                    <div class="user-post">
                      <p>
                       {{p.pos_content}}
                      </p>
                      <!-- <img src="https://s-media-cache-ak0.pinimg.com/736x/8b/46/37/8b46376b12a5639eaa8cf2c9ba848c80.jpg" alt=""> -->
                    </div>
                    <post-buttons posts="posts" post="p" ng-hide="p.user.usr_id == user.usr_id" class="hidden-xs"></post-buttons>
                  </md-card-title-text>
                </md-card-title>
                <post-buttons posts="posts" post="p" ng-hide="p.user.usr_id == user.usr_id" class="visible-xs"></post-buttons>
              </md-card>
            </div>
          </div>
          <div class="sk-three-bounce" ng-show="loadingMore">
            <div class="sk-child sk-bounce1"></div>
            <div class="sk-child sk-bounce2"></div>
            <div class="sk-child sk-bounce3"></div>
          </div>
          <md-button class="button-light-gray button-load-more" ng-if="next" ng-click="loadMore(next)">Load More</md-button>
        </div>
        <div class="posts" ng-if="source == 'i-faved'">
          <div ng-if="posts">     
            <div class="post post-card" ng-repeat="p in posts | orderBy: '-pos_date_created'">
              <md-card>
                <md-card-title>
                  <a ui-sref="user({usr_token_id: p.user.usr_token_id})">
                    <md-card-title-media ui-sref="user({usr_token_id: p.user.usr_token_id})">
                      <div class="md-media-lg card-media" ng-if="p.user.img_thumb || p.user.img_image" imageonload style="background-image: url({{baseUrl(p.user.img_thumb || p.user.img_image)}})"></div>
                      <div class="md-media-lg card-media" ng-if="!p.user.img_image && p.user.usr_gender == 'female'" style="background-image: url('assets/images/female.svg')"></div>
                      <div class="md-media-lg card-media" ng-if="!p.user.img_image && p.user.usr_gender == 'male'" style="background-image: url('assets/images/male.svg')"></div>
                    </md-card-title-media>
                  </a>
                  <md-card-title-text>
                    <div class="user-detail">
                      <a class="screen-name" ui-sref="user({usr_token_id: p.user.usr_token_id})">{{p.user.usr_screen_name}}</a>
                      <span class="name">
                        <small>{{p.user.usr_age}}</small><i class="zmdi zmdi-circle"></i>
                        <small>{{p.user.usr_gender}}</small><i class="zmdi zmdi-circle"></i>
                        <small>{{p.user.usr_location}}</small>
                      </span>
                      <span class="top-right">{{relDateFormat(p.pos_date_modified)}}</span>
                    </div>
                    <div class="user-post">
                      <p>
                       {{p.pos_content}}
                      </p>
                      <!-- <img src="https://s-media-cache-ak0.pinimg.com/736x/8b/46/37/8b46376b12a5639eaa8cf2c9ba848c80.jpg" alt=""> -->
                    </div>
                    <post-buttons posts="posts" post="p" ng-hide="p.user.usr_id == user.usr_id" class="hidden-xs"></post-buttons>
                  </md-card-title-text>
                </md-card-title>
                <post-buttons posts="posts" post="p" ng-hide="p.user.usr_id == user.usr_id" class="visible-xs"></post-buttons>
              </md-card>
            </div>
          </div>
          <md-button class="button-light-gray button-load-more" ng-if="next" ng-click="loadMore(next)">Load More</md-button>
        </div>
        <div class="posts" ng-if="source == 'i-messaged'">
          <div ng-if="posts">
            <div class="post post-card" ng-repeat="p in posts | orderBy: '-pos_date_created'">
              <md-card>
                <md-card-title>
                  <a ui-sref="user({usr_token_id: p.user.usr_token_id})">
                    <md-card-title-media ui-sref="user({usr_token_id: p.user.usr_token_id})">
                      <div class="md-media-lg card-media" ng-if="p.user.img_thumb || p.user.img_image" imageonload style="background-image: url({{baseUrl(p.user.img_thumb || p.user.img_image)}})"></div>
                      <div class="md-media-lg card-media" ng-if="!p.user.img_image && p.user.usr_gender == 'female'" style="background-image: url('assets/images/female.svg')"></div>
                      <div class="md-media-lg card-media" ng-if="!p.user.img_image && p.user.usr_gender == 'male'" style="background-image: url('assets/images/male.svg')"></div>
                    </md-card-title-media>
                  </a>
                  <md-card-title-text>
                    <div class="user-detail">
                      <a class="screen-name" ui-sref="user({usr_token_id: p.user.usr_token_id})">{{p.user.usr_screen_name}}</a>
                      <span class="name">
                        <small>{{p.user.usr_age}}</small><i class="zmdi zmdi-circle"></i>
                        <small>{{p.user.usr_gender}}</small><i class="zmdi zmdi-circle"></i>
                        <small>{{p.user.usr_location}}</small>
                      </span>
                      <span class="top-right">{{relDateFormat(p.pos_date_modified)}}</span>
                    </div>
                    <div class="user-post">
                      <p>
                       {{p.pos_content}}
                      </p>
                      <!-- <img src="https://s-media-cache-ak0.pinimg.com/736x/8b/46/37/8b46376b12a5639eaa8cf2c9ba848c80.jpg" alt=""> -->
                    </div>
                    <post-buttons posts="posts" post="p" ng-hide="p.user.usr_id == user.usr_id" class="hidden-xs"></post-buttons>
                  </md-card-title-text>
                </md-card-title>
                <post-buttons posts="posts" post="p" ng-hide="p.user.usr_id == user.usr_id" class="visible-xs"></post-buttons>
              </md-card>
            </div>
          </div>
          <div class="sk-three-bounce" ng-show="loadingMore">
            <div class="sk-child sk-bounce1"></div>
            <div class="sk-child sk-bounce2"></div>
            <div class="sk-child sk-bounce3"></div>
          </div>
          <md-button class="button-light-gray button-load-more" ng-if="next" ng-click="loadMore(next)">Load More</md-button>
        </div>
        <div class="posts" ng-if="source == 'i-followed'">
          <div ng-if="posts">
            <div class="post post-card" ng-repeat="p in posts | orderBy: '-pos_date_created'">
              <md-card>
                <md-card-title>
                  <a ui-sref="user({usr_token_id: p.user.usr_token_id})">
                    <md-card-title-media ui-sref="user({usr_token_id: p.user.usr_token_id})">
                      <div class="md-media-lg card-media" ng-if="p.user.img_thumb || p.user.img_image" imageonload style="background-image: url({{baseUrl(p.user.img_thumb || p.user.img_image)}})"></div>
                      <div class="md-media-lg card-media" ng-if="!p.user.img_image && p.user.usr_gender == 'female'" style="background-image: url('assets/images/female.svg')"></div>
                      <div class="md-media-lg card-media" ng-if="!p.user.img_image && p.user.usr_gender == 'male'" style="background-image: url('assets/images/male.svg')"></div>
                    </md-card-title-media>
                  </a>
                  <md-card-title-text>
                    <div class="user-detail">
                      <a class="screen-name" ui-sref="user({usr_token_id: p.user.usr_token_id})">{{p.user.usr_screen_name}}</a>
                      <span class="name">
                        <small>{{p.user.usr_age}}</small><i class="zmdi zmdi-circle"></i>
                        <small>{{p.user.usr_gender}}</small><i class="zmdi zmdi-circle"></i>
                        <small>{{p.user.usr_location}}</small>
                      </span>
                      <span class="top-right">{{relDateFormat(p.pos_date_modified)}}</span>
                    </div>
                    <div class="user-post">
                      <p>
                       {{p.pos_content}}
                      </p>
                      <!-- <img src="https://s-media-cache-ak0.pinimg.com/736x/8b/46/37/8b46376b12a5639eaa8cf2c9ba848c80.jpg" alt=""> -->
                    </div>
                    <post-buttons posts="posts" post="p" ng-hide="p.user.usr_id == user.usr_id" class="hidden-xs"></post-buttons>
                  </md-card-title-text>
                </md-card-title>
                <post-buttons posts="posts" post="p" ng-hide="p.user.usr_id == user.usr_id" class="visible-xs"></post-buttons>
              </md-card>
            </div>
          </div>
          <div class="sk-three-bounce" ng-show="loadingMore">
            <div class="sk-child sk-bounce1"></div>
            <div class="sk-child sk-bounce2"></div>
            <div class="sk-child sk-bounce3"></div>
          </div>
          <md-button class="button-light-gray button-load-more" ng-if="next" ng-click="loadMore(next)">Load More</md-button>
        </div>
      </div>
    </div>
  </div>
</div>