#page-template-overlay {
	position:absolute;
	width:100%;
	height:100%;
	z-index:99998;
	text-align:center;
	top:0;
	left:0;
}

#page-template-overlay-control {
	position:absolute;
	background:#666;
	width:260px;
	height:40px;
	padding:10px;
	z-index:99999;
	text-align:center;
	top:0;
	right:0;
	opacity:0.8;
}

#page-template-overlay img {
	min-width:none;
	max-width:none;
}

#page-template-overlay-close {
	top:0;
	right:0;
	position:absolute;
	padding:10px;
	cursor:pointer;
	font-size:30px;
	color:#fff;
}

#page-template-opacity {
	top:10px;
	right:50px;
	position:absolute;
	padding:0px;
}