<md-dialog aria-label="Import From Facebook" class="importModal">
  <form ng-cloak>
    <md-toolbar>
      <div class="md-toolbar-tools">
        <h2>Import From Facebook</h2>
      </div>
    </md-toolbar>

    <md-dialog-content id="importContent">
      <div class="sk-three-bounce" ng-show="isImporting">
        <div class="sk-child sk-bounce1"></div>
        <div class="sk-child sk-bounce2"></div>
        <div class="sk-child sk-bounce3"></div>
      </div>
      <md-grid-list
          md-cols="8:8" md-cols-sm="6:6" md-cols-xs="4:4" md-cols-xs="8:8" md-cols-md="8" md-cols-gt-md="8"
                md-row-height-gt-md="8:8" md-row-height="8:8"
                md-gutter="8px" md-gutter-gt-sm="10px" >
        <md-grid-tile md-rowspan="1" md-colspan="1" md-colspan-sm="1" md-colspan-xs="1" class="tip" ng-repeat="img in fbPhotos" ng-click="selectImage(img); chosen = !chosen" ng-class="chosen ? 'active':''">
        <img src="{{img.picture}}" alt="">
        </md-grid-tile>
      </md-grid-list>
      <div class="load" ng-if="paging.next">
        <span ng-click="loadMore(paging.cursors.after)" ng-hide="isLoadingMore">Load more..</span>
        <div class="sk-three-bounce" ng-show="isLoadingMore">
          <div class="sk-child sk-bounce1"></div>
          <div class="sk-child sk-bounce2"></div>
          <div class="sk-child sk-bounce3"></div>
        </div>
      </div>
      <div id="bottom"></div>
    </md-dialog-content>

    <md-dialog-actions layout="row">
      <md-button ng-click="cancel()">
        Cancel
      </md-button>
      <md-button ng-click="import()">
        Import
      </md-button>
    </md-dialog-actions>
  </form>
</md-dialog>