<div layout="vertical" layout-fill layout-padding class="signupPage">
  <div class="container">
    <md-content>
      <form name="userForm" novalidate action="javascript:grecaptcha.reset();" ng-submit="createAccount(user)" ng-keyup="$event.keyCode == 13 && createAccount(user)">
        <section>
          <h1 class="title">Create a Free Account!</h1>
        </section>
        <section>
          <div class="section-content">
            <div class="form-group" layout="row" layout-xs="column" layout-align="start center">
              <span flex="30">My email is</span>
              <span flex="60" class="bold" ng-hide="editEmail">{{user.usr_email}} <small class="edit" ng-click="edit()">Edit</small></span>
              <input flex="60" class="form-control" ng-show="editEmail" required type="email" name="usr_email" ng-model="user.usr_email" ng-pattern="/^.+@.+\..+$/" placeholder="Email Address"/>
              <small class="edit" ng-if="editEmail" ng-click="edit()">Cancel</small>
            </div>
            <div layout="row" layout-xs="column" layout-align="space-between center">
              <span flex="30"></span>
              <div class="error" flex="60">
                <span ng-show="userForm.usr_email.$error.required && (userForm.usr_email.$dirty || submitted)">Required field.</span>
                <span ng-show="userForm.usr_email.$error.pattern">Invalid email.</span>
              </div>
            </div>
            <div class="form-group" layout="row" layout-align="start center" ng-if="user.usr_signup_source != 'facebook'">
              <span flex="30">Password</span>
              <span flex="60" class="bold"><i ng-repeat="p in user.pwd track by $index">*</i></span>
            </div>
          </div>
        </section>
        <section>
          <div class="section-content">
            <div class="form-group" layout="row" layout-xs="column" layout-align="start center">
              <span flex="30">I am a</span>
              <span class="bold" flex="60" ng-if="user.usr_gender == 'male' ">Man</span>
              <span class="bold" flex="60" ng-if="user.usr_gender == 'female' ">Woman</span>
            </div>
            <div class="form-group" layout="row" layout-xs="column" layout-align="start center">
              <span flex="30">Who is a</span>
              <span class="bold" flex="60" ng-if="user.usr_type == 'flame' && user.usr_gender == 'male' ">Sugar Baby <i class="zmdi zmdi-alert-circle-o"><md-tooltip md-direction="right">A Sugar Baby provides love & affection (Flame) to a Sugar Mama.</md-tooltip></i></span>
              <span class="bold" flex="60" ng-if="user.usr_type == 'flame' && user.usr_gender == 'female' ">Sugar Baby <i class="zmdi zmdi-alert-circle-o"><md-tooltip md-direction="right">A Sugar Baby provides love & affection (Flame) to a Sugar Daddy.</md-tooltip></i></span>
              <span class="bold" flex="60" ng-if="user.usr_type == 'sugar' && user.usr_gender == 'male' ">Sugar Daddy <i class="zmdi zmdi-alert-circle-o"><md-tooltip md-direction="right">A Sugar Daddy provides financial support (Sugar) to a Sugar Baby.</md-tooltip></i></span>
              <span class="bold" flex="60" ng-if="user.usr_type == 'sugar' && user.usr_gender == 'female' ">Sugar Mama <i class="zmdi zmdi-alert-circle-o"><md-tooltip md-direction="right">A Sugar Mama provides financial support (Sugar) to a Sugar Baby.</md-tooltip></i></span>
            </div>
            <div class="form-group" layout="row" layout-xs="column" layout-align="start center">
              <span flex="30">Interested in</span>
              <span class="bold" flex="60" ng-if="user.usr_interested == 'male' ">Men</span>
              <span class="bold" flex="60" ng-if="user.usr_interested == 'female' ">Women</span>
            </div>
            <div class="form-group" layout="row" layout-xs="column" layout-align="start center">
              <span flex="30">Between ages of</span>
              <span class="bold">{{user.usr_interested_age_from}} and {{user.usr_interested_age_to}}</span>
            </div>
          </div>
        </section>
        <section>
          <div class="section-content">
            <div class="form-group" layout="row" layout-xs="column" layout-align="space-between center">
              <span flex="40">I am from</span>
              <div class="form-group-icon" flex="60" layout="row" layout-xs="column" layout-align="space-between center">
                <i class="zmdi zmdi-pin"></i>
                <input flex="95" vs-google-autocomplete="options"
                  ng-model="address"
                  vs-country="components.country"
                  vs-country-short="components.countryCode"
                  vs-state="components.state"
                  vs-city="components.city"
                  vs-latitude="components.latitude"
                  vs-longitude="components.longitude"
                  name="address"
                  type="text"
                  class="form-control"
                  placeholder="Enter your location..."
                  style="width: 100%;"
                >
              </div>
            </div>
            <div class="form-group" layout="row" layout-xs="column" layout-align="space-between center">
              <span flex="40">My Birthday is on<br><small>(This information is required to verify that you are a minimum of 18 years of age.)</small></span>
              <div flex="60" layout="row" layout-align="space-between center">
                <md-select flex-xs="40" flex-sm="40" flex-md="40" flex-gt-lg="40" flex-lg="40" name="usr_birthmonth" ng-model="user.usr_birthmonth" class="form-control" required placeholder="Month" ng-change="changeDays(user.usr_birthmonth)">
                  <md-option value="{{month.value}}" ng-repeat="month in filter.months">{{month.name}}</md-option>
                </md-select>
                <md-select flex-xs="20" flex-sm="25" flex-md="25" flex-gt-lg="25" flex-lg="25" name="usr_birthdate" ng-model="user.usr_birthdate" class="form-control" required placeholder="Day" >
                  <md-option value="{{day.value}}" ng-repeat="day in filter.days">{{day.name}}</md-option>
                </md-select>
                <md-select flex-xs="20" flex-sm="25" flex-md="25" flex-gt-lg="25" flex-lg="25" name="usr_birthyear" ng-model="user.usr_birthyear" class="form-control" required placeholder="Year" >
                  <md-option value="{{year.value}}" ng-repeat="year in filter.years">{{year.name}}</md-option>
                </md-select>
              </div>
            </div>
            <div layout="row" layout-xs="column" layout-align="space-between center">
              <span flex="40"></span>
              <div class="error" flex="60">
                <span ng-show="userForm.usr_birthdate.$error.required && (userForm.usr_birthdate.$dirty || submitted)">Required field.</span>
              </div>
            </div>
            <div class="form-group" layout="row" layout-xs="column" layout-align="space-between center">
              <span flex="40">My full name is</span>
              <div flex="60" layout="row" layout-xs="column" layout-align="space-between center">
                <input flex="45" class="form-control" type="text" name="usr_first_name" ng-model="user.usr_first_name" placeholder="First Name" required/>
                <input flex="45" class="form-control" type="text" name="usr_last_name" ng-model="user.usr_last_name" placeholder="Last Name" required/>
              </div>
            </div>  
            <div layout="row" layout-align="space-between center">
              <span flex="40"></span>
              <div flex="60" class="error" layout="row" layout-align="space-between center">
                <div flex="45">
                  <span ng-show="userForm.usr_first_name.$error.required && (userForm.usr_first_name.$dirty || submitted)">Required field.</span>
                </div>
                <div flex="45">
                  <span ng-show="userForm.usr_last_name.$error.required && (userForm.usr_last_name.$dirty || submitted)">Required field.</span>
                </div>
              </div>
            </div>
            <div class="form-group" layout="row" layout-xs="column" layout-align="space-between center">
              <span flex="40">My screen name is</span>
              <input flex="60" class="form-control" type="text" name="usr_screen_name" ng-model="user.usr_screen_name" placeholder="SugarFlame Screen Name" ng-pattern="/^[a-z0-9\s]+$/i" required/>
            </div>
            <div layout="row" layout-xs="column" layout-align="space-between center">
              <span flex="40"></span>
              <div class="error" flex="60">
                <span ng-show="userForm.usr_screen_name.$error.required && (userForm.usr_screen_name.$dirty || submitted)">Required field.</span>
                <span ng-show="userForm.usr_screen_name.$error.pattern">Special characters not allowed.</span>
              </div>
            </div>
            <div class="form-group" layout="row" layout-xs="column" layout-align="space-between center">
              <span>I heard of SugarFlame from</span>
               <md-select flex="60" ng-model="user.src_id" class="form-control" placeholder="Source">
                <md-option ng-repeat="src in filter.source" value="{{src.value}}">{{src.name}}</md-option>
              </md-select>
            </div>
          </div>
        </section>
        <section>
          <div class="section-content" layout="row" layout-xs="column" layout-align="center">
            <div id="g-recaptcha" class="g-recaptcha" data-sitekey="6LcbyhMUAAAAALC67mlC-7J8oWiygzrZngo-3WUj"></div>
          </div>
          <div class="section-content">
            <p>
              By continuing you agree to SugarFlame's <a target="_blank" ui-sref="terms">Terms</a> and <a target="_blank" ui-sref="privacy">Privacy Policy</a>. Promoting illegal commercial activities (such as prostitution) is prohibited. 
            </p>
             <div>
              <md-button type="submit" class="button-orange" class="md-block">Finish Signup</md-button>
            </div>
          </div>
        </section>
      </form>
    </md-content>
  </div>
</div>
<script type="text/javascript">
  var onloadCallback = function() {
    grecaptcha.render('g-recaptcha', {
      'sitekey' : '6LcbyhMUAAAAALC67mlC-7J8oWiygzrZngo-3WUj'
    });
  };
</script>
<script src='https://www.google.com/recaptcha/api.js?onload=onloadCallback&render=explicit'></script> 