<!-- NEW SIGNUP -->
<div layout="vertical" layout-fill layout-padding class="signupPage">
  <div class="container">
    <md-content>
      <form name="userForm" novalidate ng-submit="saveEmail(user)">
        <section>
          <h1 class="title">Create a Free Account!</h1>
          <div class="section-content">
            <div class="form-group" layout="row" layout-xs="column" layout-align="space-between center">
              <span flex="40">My email is</span>
              <input flex="60" class="form-control" required type="email" name="usr_email" ng-model="user.usr_email" ng-pattern="/^.+@.+\..+$/" placeholder="Email Address"/>
            </div>
            <div layout="row" layout-xs="column" layout-align="space-between center">
              <span flex="40"></span>
              <div class="error" flex="60">
                <span ng-show="userForm.usr_email.$error.required && (userForm.usr_email.$dirty || submitted)">Required field.</span>
                <span ng-show="userForm.usr_email.$error.pattern">Invalid email.</span>
              </div>
            </div>
            <div class="form-group" layout="row" layout-align="space-between center">
              <span flex="40">Password</span>
              <div class="form-group-icon" flex="60" layout="row" layout-align="space-between center">
                <input flex="90" type="password" ng-model="user.usr_passwordz" ng-hide="isVisible" name="usr_passwordz" placeholder="Current Password" class="form-control" required/>
                <input flex="90" type="text" ng-model="user.usr_passwordz" ng-show="isVisible" name="usr_passwordz" placeholder="Current Password" class="form-control" required >
                <i class="zmdi zmdi-eye" ng-hide="isVisible" ng-click="isVisible = !isVisible"></i>
                <i class="zmdi zmdi-eye-off" ng-show="isVisible" ng-click="isVisible = !isVisible"></i>
              </div>
            </div>
            <div layout="row" layout-xs="column" layout-align="space-between center">
              <span flex="40"></span>
              <div class="error" flex="60">
                <span ng-show="userForm.usr_passwordz.$error.required && (userForm.usr_passwordz.$dirty || submitted)">Required field.</span>
              </div>
            </div>
          </div>
          <div class="section-content">
            <md-button class="button-orange" type="submit" class="md-block">Continue</md-button>
          </div>
        </section>
        <section>
          <h2>Sign Up with Facebook and Get Socially Verified</h2>
          <md-button class="button-facebook" ng-click="connectFacebook()"><i class="zmdi zmdi-facebook"></i>Connect to Facebook</md-button>
          <div class="disclaimer">
            <small>You are included in the FB verified tab if you have a minimum of 100 friends and 20 pictures.</small>
            <small>Information collected is solely used for identity verification purposes. NOTHING will be posted or shared in your Facebook page. </small>
          </div>
        </section>
      </form>
    </md-content>
  </div>
</div>