<div layout="vertical" layout-fill layout-padding class="signupPage">
  <div class="container">
    <md-content>
      <form name="userForm" novalidate ng-submit="saveType(user)">
        <section>
          <h1 class="title">Create a Free Account!</h1>
        </section>
        <section>
          <div class="section-content">
            <div class="form-group" layout="row" layout-xs="column" layout-align="start center">
              <span flex="30">My email is</span>
              <span flex="60" class="bold" ng-hide="editEmail">{{user.usr_email}} <small class="edit" ng-click="edit()">Edit</small></span>
              <input flex="60" class="form-control" ng-show="editEmail" required type="email" name="usr_email" ng-model="user.usr_email" ng-pattern="/^.+@.+\..+$/" placeholder="Email Address"/>
              <small class="edit" ng-if="editEmail" ng-click="edit()">Cancel</small>
            </div>
            <div layout="row" layout-xs="column" layout-align="space-between center">
              <span flex="30"></span>
              <div class="error" flex="60">
                <span ng-show="userForm.usr_email.$error.required && (userForm.usr_email.$dirty || submitted)">Required field.</span>
                <span ng-show="userForm.usr_email.$error.pattern">Invalid email.</span>
              </div>
            </div>
            <div class="form-group" layout="row" layout-align="start center" ng-if="user.usr_signup_source != 'facebook'">
              <span flex="30">Password</span>
              <span flex="60" class="bold"><i ng-repeat="p in user.pwd track by $index">*</i></span>
            </div>
          </div>
        </section>
        <section>
          <div class="section-content">
            <div class="form-group" layout="row" layout-xs="column" layout-align="space-between center">
              <span flex="40">I am a</span>
              <md-radio-group flex="60" name="usr_gender" ng-model="user.usr_gender" layout="row" layout-xs="column" layout-align="start center" required>
                <md-radio-button ng-click="changeGender()" flex value="male">Man</md-radio-button>
                <md-radio-button ng-click="changeGender()" flex value="female">Woman</md-radio-button>
              </md-radio-group>
            </div>
            <div layout="row" layout-xs="column" layout-align="space-between center">
              <span flex="40"></span>
              <div class="error" flex="60">
                <span ng-show="userForm.usr_gender.$error.required && (userForm.usr_gender.$dirty || submitted)">Required field.</span>
              </div>
            </div>
            <div class="form-group" layout="row" layout-xs="column" layout-align="space-between center">
              <span flex="40">Who is a</span>
              <md-radio-group flex="60" name="usr_type" ng-model="user.usr_type" layout="row" layout-xs="column" layout-align="start center" required>
                <md-radio-button flex ng-if="user.usr_gender == '' || user.usr_gender=='male'" value="provider" ng-mouseleave="tooltipBoyfriend = false" ng-mouseover="tooltipBoyfriend = !tooltipBoyfriend">
                  Sugar Daddy <i class="zmdi zmdi-alert-circle-o"></i>
                  <md-tooltip md-direction="top" md-autohide="true" class="tooltip">A Sugar Daddy provides financial support (Sugar) to a Sugar Baby.</md-tooltip>
                </md-radio-button>
                <md-radio-button flex ng-if="user.usr_gender == '' || user.usr_gender=='female'" value="nurturer" ng-mouseleave="tooltipBaby = false" ng-mouseover="tooltipBaby = true">
                  Sugar Baby <i class="zmdi zmdi-alert-circle-o"></i>
                  <md-tooltip md-direction="top" md-autohide="true" class="tooltip">A Sugar Baby provides love & affection (Flame) to a Sugar Daddy.</md-tooltip>
                </md-radio-button>
                <md-radio-button flex ng-if="user.usr_gender=='female'" value="provider" ng-mouseleave="tooltipGirlfriend = false" ng-mouseover="tooltipGirlfriend = !tooltipGirlfriend">
                  Sugar Mama <i class="zmdi zmdi-alert-circle-o"></i>
                  <md-tooltip md-direction="top" md-autohide="true" class="tooltip">A Sugar Mama provides financial support (Sugar) to a Sugar Baby.</md-tooltip>
                </md-radio-button>
                <md-radio-button flex ng-if="user.usr_gender=='male'" value="nurturer" ng-mouseleave="tooltipBaby = false" ng-mouseover="tooltipBaby = true">
                  Sugar Baby <i class="zmdi zmdi-alert-circle-o"></i>
                  <md-tooltip md-direction="top" md-autohide="true" class="tooltip">A Sugar Baby provides love & affection (Flame) to a Sugar Mama.</md-tooltip>
                </md-radio-button>
              </md-radio-group>
            </div>
            <div layout="row" layout-xs="column" layout-align="space-between center">
              <span flex="40"></span>
              <div class="error" flex="60">
                <span ng-show="userForm.usr_type.$error.required && (userForm.usr_type.$dirty || submitted)">Required field.</span>
              </div>
            </div>
            <div class="form-group" layout="row" layout-xs="column" layout-align="space-between center">
              <span flex="40">Interested in</span>
              <md-radio-group flex="60" name="usr_interested" ng-model="user.usr_interested" layout="row" layout-xs="column" layout-align="start center" required>
                <md-radio-button flex value="female">Women</md-radio-button>
                <md-radio-button flex value="male">Men</md-radio-button>
                <md-radio-button flex value="both">Both</md-radio-button>
              </md-radio-group>
            </div>
            <div layout="row" layout-xs="column" layout-align="space-between center">
              <span flex="40"></span>
              <div class="error" flex="60">
                <span ng-show="userForm.usr_interested.$error.required && (userForm.usr_interested.$dirty || submitted)">Required field.</span>
              </div>
            </div>
            <div class="form-group" layout="row" layout-xs="column" layout-align="space-between center">
              <span flex="40">Between ages of</span>
              <div flex="60" class="age" layout="row" layout-xs="column" layout-align="start center">
                <span class="age-form">
                  <input class="form-control" type="text" name="usr_interested_age_from" ng-model="user.usr_interested_age_from" ng-pattern="/^[0-9]{1,2}$/" />
                </span>
                <span class="age-form">and</span>
                <span class="age-form">
                  <input class="form-control" type="text" name="usr_interested_age_to" ng-model="user.usr_interested_age_to" ng-pattern="/^[0-9]{1,2}$/" />
                </span>
              </div>
            </div>
            <div layout="row" layout-align="space-between center">
              <span flex="40"></span>
              <div flex="60" class="error" layout="row" layout-align="start center">
                <div flex="40">
                  <span ng-show="userForm.usr_interested_age_from.$error.pattern">Invalid age.</span>
                  <span ng-show="userForm.usr_interested_age_from.$error.minvalue">Minimum age is 18.</span>
                  <span ng-if="user.usr_interested_age_from < 18">Minimum age is 18.</span>
                </div>
                <div flex="40">
                  <span ng-show="userForm.usr_interested_age_to.$error.pattern">Invalid age.</span>
                  <span ng-if="user.usr_interested_age_to > 80">Maximum age is 80.</span>
                  <span ng-if="user.usr_interested_age_to <= user.usr_interested_age_from">Please input age greater than {{user.usr_interested_age_from}}</span>
                </div>
              </div>
            </div>
          </div>
        </section>
        <section>
          <div class="section-content">
            <div>
              <md-button type="submit" class="button-orange" class="md-block">Continue</md-button>
            </div>
          </div>
        </section>
      </form>
    </md-content>
  </div>
</div>