<div layout="vertical" layout-fill class="info">
  <md-content>
    <h2 class="page-title">Fill in Some Basic Info</h2>
    <div class="page-subtitle">What type of lifestyle are you looking for?</div>
    <form name="infoForm" novalidate ng-submit="saveInfo(user)">
      <section>
        <div class="section-title">What do you look like?</div>
        <div layout-gt-lg="row" layout-lg="row" layout-xs="column" layout-sm="row" layout-md="row" layout-align="space-between center" >
          <div class="form-group" layout-gt-lg="row" layout-lg="row" flex-gt-lg="45" flex-lg="45" flex-xs="100" flex-sm="45" flex-md="45" layout-xs="column" layout-sm="row" layout-md="row" layout-align="space-between center">
            <span flex-xs="100" flex="30">Height</span>
            <div flex-xs="100" flex="70" layout-xs="row" layout-sm="row" layout-md="row" layout-gt-lg="row" layout-lg="row" layout-align="start center" class="height">
              <input flex="40" type="text" ng-model="user.inf_height" class="form-control" ng-class="{'err':showError}" ng-change="heightConversion(user.inf_height)"> 
              <div class="unit">cm</div>

              <span class="height-conversion">{{conversion}}</span>
            </div>
          </div>
          <div class="form-group" flex-gt-lg="45" flex-lg="45" flex-xs="100" flex-sm="45" flex-md="45" layout-xs="column" layout-sm="row" layout-md="row" layout-lg="row" layout-align="space-between center" class="form-group">
            <span flex-xs="100" flex="30">Body Type</span>
            <md-select placeholder="Select" flex-xs="100" flex="70" ng-model="user.inf_body_type" class="form-control" ng-class="{'err':showError}">
              <md-option value=""></md-option>
              <md-option value="{{body.value}}" ng-repeat="body in filter.bodyType">{{body.name}}</md-option>
            </md-select>
          </div>
        </div>
        <div layout-xs="column" layout-sm="row" layout-md="row" layout-align="space-between center">
          <div class="form-group" flex-xs="100" flex-sm="45" flex-md="45" layout-gt-lg="row" layout-lg="row" flex-gt-lg="45" flex-lg="45" layout-xs="column" layout-sm="row" layout-md="row" layout-align="space-between center" class="form-group">
            <span flex-xs="100" flex="30">Ethnicity</span>
            <md-select placeholder="Select" flex-xs="100" flex="70" ng-model="user.inf_ethnicity" class="form-control" ng-class="{'err':showError}">
              <md-option value=""></md-option>
              <md-option value="{{ethnicity.value}}" ng-repeat="ethnicity in filter.ethnicity">{{ethnicity.name}}</md-option>
            </md-select>
          </div>
        </div>
      </section>
      <section ng-if="user.usr_type == 'flame'">
        <div class="section-title">Tell your Sugar <span ng-if="user.usr_type == 'flame'">Boyfriend/Girlfriend</span><span ng-if="user.usr_type == 'sugar'">Baby</span> about yourself</div>
        <div layout-xs="column" layout-sm="row" layout-md="row" layout-align="space-between center" layout-gt-lg="row" layout-lg="row">
          <div class="form-group" flex-xs="100" flex-gt-lg="45" flex-lg="45" flex-sm="45" flex-md="45" class="form-group" layout-gt-lg="row" layout-lg="row" layout-xs="column" layout-sm="row" layout-md="row" layout-align="space-between center">
            <span flex-xs="100" flex="30">Relationship</span>
            <md-select placeholder="Select" flex-xs="100" flex="70" ng-model="user.inf_relationship" class="form-control" ng-class="{'err':showError}">
              <md-option value=""></md-option>
              <md-option value="{{relationship.value}}" ng-repeat="relationship in filter.relationship">{{relationship.name}}</md-option>
            </md-select>
          </div>
          <div class="form-group" flex-xs="100" flex-gt-lg="45" flex-lg="45" flex-sm="45" flex-md="45" class="form-group" layout-xs="column" layout-sm="row" layout-md="row" layout-gt-lg="row" layout-lg="row" layout-align="space-between center">
            <span flex-xs="100" flex="30">Drink</span>
            <md-select placeholder="Select" flex-xs="100" flex="70" ng-model="user.inf_drink" class="form-control" ng-class="{'err':showError}">
              <md-option value=""></md-option>
              <md-option value="{{drink.value}}" ng-repeat="drink in filter.drink">{{drink.name}}</md-option>
            </md-select>
          </div>
        </div>
        <div layout-xs="column" layout-sm="row" layout-md="row" layout-gt-lg="row" layout-lg="row" layout-align="space-between center">            
          <div class="form-group" flex-xs="100" flex-sm="45" flex-gt-lg="45" flex-lg="45" flex-md="45" class="form-group" layout-gt-lg="row" layout-lg="row" layout-xs="column" layout-sm="row" layout-md="row" layout-align="space-between center">
            <span flex-xs="100" flex="30">Children</span>
            <md-select placeholder="Select" flex-xs="100" flex="70" ng-model="user.inf_children" class="form-control" ng-class="{'err':showError}">
              <md-option value=""></md-option>
              <md-option value="{{children.value}}" ng-repeat="children in filter.children">{{children.name}}</md-option>
            </md-select>
          </div>
          <div class="form-group" flex-xs="100" flex-sm="45" flex-gt-lg="45" flex-lg="45" flex-md="45" class="form-group" layout-gt-lg="row" layout-lg="row" layout-xs="column" layout-sm="row" layout-md="row" layout-align="space-between center">
            <span flex-xs="100" flex="30">Language</span>
            <md-select placeholder="Select" flex-xs="100" flex="70" ng-model="user.inf_language" class="form-control" ng-class="{'err':showError}">
              <md-option value=""></md-option>
              <md-option value="{{language.value}}" ng-repeat="language in filter.language | orderBy: 'name'">{{language.name}}</md-option>
            </md-select>
          </div>
        </div>
        <div layout-xs="column" layout-sm="row" layout-md="row" layout-gt-lg="row" layout-lg="row" layout-align="space-between center">
          <div class="form-group" flex-xs="100" flex-sm="45" flex-gt-lg="45" flex-lg="45" flex-md="45" class="form-group" layout-gt-lg="row" layout-lg="row" layout-xs="column" layout-sm="row" layout-md="row" layout-align="space-between center">
            <span flex-xs="100" flex="30">Smoke</span>
            <md-select placeholder="Select" flex-xs="100" flex="70" ng-model="user.inf_smoke" class="form-control" ng-class="{'err':showError}">
              <md-option value=""></md-option>
              <md-option value="{{smoke.value}}" ng-repeat="smoke in filter.smoke">{{smoke.name}}</md-option>
            </md-select>
          </div>
          <div class="form-group" flex-xs="100" flex-sm="45" flex-gt-lg="45" flex-lg="45" flex-md="45" class="form-group" layout-gt-lg="row" layout-lg="row" layout-xs="column" layout-sm="row" layout-md="row" layout-align="space-between center">
            <span flex-xs="100" flex="30">Education</span>
            <md-select placeholder="Select" flex-xs="100" flex="70" ng-model="user.inf_education" class="form-control" ng-class="{'err':showError}">
              <md-option value=""></md-option>
              <md-option value="{{education.value}}" ng-repeat="education in filter.education">{{education.name}}</md-option>
            </md-select>
          </div>
        </div>
        <div layout-xs="column" layout-sm="row" layout-md="row" layout-gt-lg="row" layout-lg="row" layout-align="space-between center">
          <div class="form-group" flex-xs="100" flex-sm="45" flex-gt-lg="45" flex-lg="45" flex-md="45" class="form-group" layout-gt-lg="row" layout-lg="row" layout-xs="column" layout-sm="row" layout-md="row"  layout-align="space-between center">
            <span flex-xs="100" flex="30">Occupation</span>
            <input flex-xs="100" flex="70" type="text" class="form-control" name="usr_occupation" ng-model="user.inf_occupation" ng-class="{'err':showError}">
          </div>
        </div>
      </section>
      <section ng-if="user.usr_type == 'sugar'">
        <div class="section-title">Tell your Sugar <span ng-if="user.usr_type == 'flame'">Boyfriend/Girlfriend</span><span ng-if="user.usr_type == 'sugar'">Baby</span> about yourself</div>
        <div layout-xs="column" layout-sm="row" layout-md="row" layout-gt-lg="row" layout-lg="row" layout-align="space-between center">
          <div class="form-group" flex-xs="100" flex-sm="45" flex-gt-lg="45" flex-lg="45" flex-md="45" class="form-group" layout-gt-lg="row" layout-lg="row" layout-xs="column" layout-sm="row" layout-md="row"  layout-align="space-between center">
            <span flex-xs="100" flex="30">Relationship</span>
            <md-select placeholder="Select" flex-xs="100" flex="70" ng-model="user.inf_relationship" class="form-control" ng-class="{'err':showError}">
              <md-option value=""></md-option>
              <md-option value="{{relationship.value}}" ng-repeat="relationship in filter.relationship">{{relationship.name}}</md-option>
            </md-select>
          </div>
          <div class="form-group" flex-xs="100" flex-sm="45" flex-gt-lg="45" flex-lg="45" flex-md="45" class="form-group" layout-gt-lg="row" layout-lg="row" layout-xs="column" layout-sm="row" layout-md="row"  layout-align="space-between center">
            <span flex-xs="100" flex="30">Drink</span>
            <md-select placeholder="Select" flex-xs="100" flex="70" ng-model="user.inf_drink" class="form-control" ng-class="{'err':showError}">
              <md-option value=""></md-option>
              <md-option value="{{drink.value}}" ng-repeat="drink in filter.drink">{{drink.name}}</md-option>
            </md-select>
          </div>
        </div>
        <div layout-xs="column" layout-sm="row" layout-md="row" layout-gt-lg="row" layout-lg="row" layout-align="space-between center">            
          <div class="form-group" flex-xs="100" flex-sm="45" flex-gt-lg="45" flex-lg="45" flex-md="45" class="form-group" layout-gt-lg="row" layout-lg="row" layout-xs="column" layout-sm="row" layout-md="row"  layout-align="space-between center">
            <span flex-xs="100" flex="30">Children</span>
            <md-select placeholder="Select" flex-xs="100" flex="70" ng-model="user.inf_children" class="form-control" ng-class="{'err':showError}">
              <md-option value=""></md-option>
              <md-option value="{{children.value}}" ng-repeat="children in filter.children">{{children.name}}</md-option>
            </md-select>
          </div>
          <div class="form-group" flex-xs="100" flex-sm="45" flex-gt-lg="45" flex-lg="45" flex-md="45" class="form-group" layout-gt-lg="row" layout-lg="row" layout-xs="column" layout-sm="row" layout-md="row"  layout-align="space-between center">
            <span flex-xs="100" flex="30">Language</span>
            <md-select placeholder="Select" flex-xs="100" flex="70" ng-model="user.inf_language" class="form-control" ng-class="{'err':showError}">
              <md-option value=""></md-option>
              <md-option value="{{language.value}}" ng-repeat="language in filter.language | orderBy: 'name'">{{language.name}}</md-option>
            </md-select>
          </div>
        </div>
        <div layout-xs="column" layout-sm="row" layout-md="row" layout-gt-lg="row" layout-lg="row" layout-align="space-between center">
          <div class="form-group" flex-xs="100" flex-sm="45" flex-gt-lg="45" flex-lg="45" flex-md="45" class="form-group" layout-gt-lg="row" layout-lg="row" layout-xs="column" layout-sm="row" layout-md="row"  layout-align="space-between center">
            <span flex-xs="100" flex="30">Smoke</span>
            <md-select placeholder="Select" flex-xs="100" flex="70" ng-model="user.inf_smoke" class="form-control" ng-class="{'err':showError}">
              <md-option value=""></md-option>
              <md-option value="{{smoke.value}}" ng-repeat="smoke in filter.smoke">{{smoke.name}}</md-option>
            </md-select>
          </div>
          <div class="form-group" flex-xs="100" flex-sm="45" flex-gt-lg="45" flex-lg="45" flex-md="45" class="form-group" layout-gt-lg="row" layout-lg="row" layout-xs="column" layout-sm="row" layout-md="row"  layout-align="space-between center">
            <span flex-xs="100" flex="30">Education</span>
            <md-select placeholder="Select" flex-xs="100" flex="70" ng-model="user.inf_education" class="form-control" ng-class="{'err':showError}">
              <md-option value=""></md-option>
              <md-option value="{{education.value}}" ng-repeat="education in filter.education">{{education.name}}</md-option>
            </md-select>
          </div>
        </div>
        <div layout-xs="column" layout-sm="row" layout-md="row" layout-gt-lg="row" layout-lg="row" layout-align="space-between center">
          <div class="form-group" flex-xs="100" flex-sm="45" flex-gt-lg="45" flex-lg="45" flex-md="45" class="form-group" layout-gt-lg="row" layout-lg="row" layout-xs="column" layout-sm="row" layout-md="row"  layout-align="space-between center">
            <span flex-xs="100" flex="30">Occupation</span>
            <input flex-xs="100" flex="70" type="text" class="form-control" name="usr_occupation" ng-model="user.inf_occupation">
          </div>
        </div>
      </section>
      <section>
        <div class="section-title">Add finishing touches to your profile</div>
        <div class="question" layout="column" layout-align="start" class="form-group">
          <span>Say something catchy to make a good first impression! <small class="error" ng-hide="infoForm.usr_description.$error.maxlength && (infoForm.usr_description.$dirty || submitted)">({{50 - user.usr_description.length}} character(s) left.)</small></span>
          <div class="error">
            <span ng-show="infoForm.usr_description.$error.maxlength && (infoForm.usr_description.$dirty || submitted)">Characters exceeded.</span>
          </div>
          <input class="form-control" value="user.usr_description" type="text" ng-model="user.usr_description" name="usr_description" placeholder="Write here..." ng-maxlength="50" ng-class="{'err':showError}"/>
        </div>
        <div class="question" layout="column" layout-align="start" class="form-group">
          <span>Describe yourself to your SugarFlame partner - Your likes, dislikes, etc </span>
          <div class="error">
            <span ng-show="infoForm.describe.$error.maxlength && (infoForm.describe.$dirty || submitted)">Characters exceeded.</span>
          </div>
          <!-- <textarea value="user.describe" ng-model="user.describe" name="describe" class="form-control" rows="4" placeholder="Write here..."  ng-maxlength="1000" ng-class="{'err':submitted}"></textarea> -->
          <wysiwyg-edit ng-class="{'err':showError && !user.describe}" content="user.describe" config="editorConfig" ></wysiwyg-edit>
        </div>
        <div class="question" layout="column" layout-align="start">
          <span>Define what is your ideal relationship. </span>
          <div class="error">
            <span ng-show="infoForm.relationship.$error.maxlength && (infoForm.relationship.$dirty || submitted)">Characters exceeded.</span>
          </div>
          <!-- <textarea value="user.relationship" ng-model="user.relationship" class="form-control" name="relationship" cols="30" rows="4" placeholder="Write here..." ng-maxlength="1000" ng-class="{'err':submitted}"></textarea> -->
          <wysiwyg-edit ng-class="{'err':showError && !user.relationship}" content="user.relationship" config="editorConfig" ></wysiwyg-edit>
        </div>
        <div class="question" layout="column" layout-align="start">
          <span>In case you ran out of words, we included some optional questions that you may answer.</span>
          <md-select ng-model="user.other_question" value="user.other_question" class="form-control" name="other_question" placeholder="Choose a question...">
            <md-option value=""></md-option>
            <md-option ng-repeat="q in filter.questions" value="{{q.que_id}}">{{q.que_question}}</md-option>
          </md-select>
          <div class="error">
            <span ng-show="infoForm.other_answer.$error.maxlength && (infoForm.other_answer.$dirty || submitted)">Characters exceeded.</span>
          </div>
          <!-- <textarea ng-model="user.other_answer" value="user.other_answer" class="form-control" name="other_answer" id="" cols="30" rows="4" placeholder="Write here..."  ng-maxlength="1000"></textarea> -->
          <wysiwyg-edit content="user.other_answer" config="editorConfig" ></wysiwyg-edit>
        </div>
      </section>
    <div layout-xs="column" layout="row" layout-align="end" class="save">
      <md-button type="submit" layout-align="end" class="button-orange" ng-click="saveInfo(user)">Save and Continue</md-button>
    </div>
    </form>
  </md-content>
</div>