<div class="signupHeader PN">
	<div class="overlay">
		<div class="container" layout="column" layout-align="center">
			<h1 class="title">Complete Your Profile</h1>
			<div class="steps" layout="row" layout-align="start top">
				<div flex="20" class="step start">
					<div class="step-number"><i class="zmdi zmdi-circle"></i></div>
					<div class="step-line"></div>
				</div>
				<div flex="25" class="step current">
					<div class="step-number">1</div>
					<div class="step-label">Basic Information</div>
				</div>
				<div flex="25" class="step" ng-class="preferences ? 'current':'' || addPhotos ? 'current':'' || end ? 'current':''">
					<div class="step-line"></div>
					<div class="step-number">2</div>
					<div class="step-label">Preferences</div>
				</div>
				<div flex="25" class="step" ng-class="addPhotos ? 'current':'' || end ? 'current':''">
					<div class="step-line"></div>
					<div class="step-number">3</div>
					<div class="step-label">Your Photos</div>
				</div>
				<div flex="20" class="step end" ng-class="{'current': end}">
					<div class="step-line"></div>	
					<div class="step-number"><i class="zmdi zmdi-circle"></i></div>
				</div>
			</div>
		</div>
	</div>
</div>
<div ui-view class="signupForms"></div>
