<div layout="vertical" layout-fill class="info">
  <md-content layout-padding>
    <h2 class="page-title">Preferences</h2>
    <div class="page-subtitle">What are your financial and relationship preferences?</div>
    <form name="prefForm" novalidate ng-submit="savePreference(user)">
      <section>
        <div class="section-title">Tell <span ng-if="user.usr_type == 'sugar'">sugar baby</span><span ng-if="user.usr_type == 'flame'">sugar daddy/mama</span> about your financial status and what your spending habits are like.</div>
        <div class="form-group" layout="column" layout-align="start" flex="45" flex-sm="60" flex-xs="100">
          <span class="form-label">What are your monthly spending habits?</span>
          <span class="description"></span>
          <md-select placeholder="Select" ng-model="user.inf_spending_habits" name="inf_spending_habits" class="form-control" ng-show="user.usr_type == 'flame'" ng-class="{'err':showError}">
            <md-option value=""></md-option>
            <md-option value="{{habit.value}}" ng-repeat="habit in filter.babyHabit">{{habit.name}}</md-option>
          </md-select>
          <md-select placeholder="Select" ng-model="user.inf_spending_habits" name="inf_spending_habits" class="form-control" ng-show="user.usr_type == 'sugar'" ng-class="{'err':showError}">
            <md-option value=""></md-option>
            <md-option value="{{habit.value}}" ng-repeat="habit in filter.sponsorHabit">{{habit.name}}</md-option>
          </md-select>
        </div>
        <div layout="column" layout-align="center" layout-sm="column" class="form-group">
          <span class="form-label">What range of support <span ng-if="user.usr_type == 'sugar'">can you provide to your sugar baby</span><span ng-if="user.usr_type == 'flame'">do you expect from your sugar daddy/mama?</span></span>
          <div class="slider" layout-gt-lg="row" layout-lg="row" layout-md="row" layout-sm="row" layout-xs="column" layout-align="space-between center">
            <rzslider rz-slider-model="user.inf_preferred_range_from" rz-slider-high="user.inf_preferred_range_to" rz-slider-options="minRangeSlider.options" flex-xs="100" flex="60"></rzslider>
            <span flex-xs="100" flex="30">From ${{user.inf_preferred_range_from}} to ${{user.inf_preferred_range_to}} per month</span>
          </div>
        </div>
        <div layout="column" layout-align="start" flex class="form-group">
          <span class="form-label">Aside from allowance, what other perks <span ng-if="user.usr_type == 'sugar'">are you willing to give your sugar baby</span><span ng-if="user.usr_type == 'flame'">do you appreciate from a sugar daddy/mama?</span></span>
          <div layout-gt-lg="row" layout-lg="row" layout-md="row" layout-xs="column" layout-align-xs="start" layout-align-sm="space-between center" layout-align-md="space-between center" layout-sm="row">
            <md-input-container flex-xs="100" flex="45">
              <md-checkbox ng-model="user.inf_quality_time">
                Quality Time (movies, dates, etc.)
              </md-checkbox>
            </md-input-container>
            <md-input-container flex-xs="100" flex="45">
              <md-checkbox ng-model="user.inf_high_life">
                The High Life (yachts, planes, etc.)
              </md-checkbox>
            </md-input-container>
          </div>
          <div layout-gt-lg="row" layout-lg="row" layout-md="row" layout-xs="column" layout-align-xs="start" layout-align-sm="space-between center" layout-align-md="space-between center" layout-sm="row">
            <md-input-container flex-xs="100" flex="45">
              <md-checkbox ng-model="user.inf_gifts">
                Gifts (jewelry, bags, perfumes, etc)
              </md-checkbox>
            </md-input-container>
            <md-input-container ng-if="user.usr_type == 'flame'" flex-xs="100" flex="45">
              <md-checkbox ng-model="user.inf_simple">
                I'm a simple baby. Let's just be happy.
              </md-checkbox>
            </md-input-container>
            <md-input-container ng-if="user.usr_type == 'sugar' && user.usr_gender == 'male'" flex-xs="100" flex="45">
              <md-checkbox ng-model="user.inf_simple">
                Simple Daddy.
              </md-checkbox>
            </md-input-container>
            <md-input-container ng-if="user.usr_type == 'sugar' && user.usr_gender == 'female'" flex-xs="100" flex="45">
              <md-checkbox ng-model="user.inf_simple">
                Simple Mama.
              </md-checkbox>
            </md-input-container>
          </div>
          <div layout-gt-lg="row" layout-lg="row" layout-md="row" layout-xs="column" layout-align-xs="start" layout-align-sm="space-between center" layout-align-md="space-between center" layout-sm="row">
            <md-input-container flex-xs="100" flex="45">
              <md-checkbox ng-model="user.inf_staycations">
                Staycations (hotel)
              </md-checkbox>
            </md-input-container>
              <div layout="row" layout-align="start" flex-xs="100" flex="45">
                <md-input-container flex="20">
                  <md-checkbox ng-model="user.inf_other_value">
                    Other 
                  </md-checkbox>
                </md-input-container>
                <input ng-if="user.inf_other_value" flex="70" type="text" class="other" ng-model="user.other" name="other" placeholder="Other, please specify">
              </div>
          </div>
        </div>
        <div class="form-group" layout="column" layout-align="start" flex="45" flex-sm="60" flex-xs="100" ng-if="user.usr_type == 'sugar'">
          <span class="form-label">What do you estimate to be your net worth?</span>
          <span class="description"></span>
          <md-select placeholder="Select" ng-model="user.inf_net_worth" class="form-control" ng-class="{'err':showError}">
            <md-option value=""></md-option>
            <md-option value="{{net.value}}" ng-repeat="net in filter.networth">{{net.name}}</md-option>
          </md-select>
        </div>
        <div class="form-group" layout="column" layout-align="start" flex="45" flex-sm="60" flex-xs="100" ng-if="user.usr_type == 'sugar'">
          <span class="form-label">What is your estimated yearly income?</span>
          <span class="description"></span>
          <md-select placeholder="Select" ng-model="user.inf_yearly_income" class="form-control" ng-class="{'err':showError}">
            <md-option value=""></md-option>
            <md-option value="{{income.value}}" ng-repeat="income in filter.yearlyIncome">{{income.name}}</md-option>
          </md-select>
        </div>
      </section>
      <section>
        <div class="section-title">This might help attracting your <span ng-if="user.usr_type == 'flame'">sugar daddy/mama</span><span ng-if="user.usr_type=='sugar'">sugar baby</span> by saying more about yourself.</div>
        <div class="form-group" layout-sm="row" layout-md="row" layout-gt-lg="row" layout-lg="row" layout-align="space-between center">
          <span flex-xs="100" flex="50">Short or Long Term Relationship?</span>
          <md-select placeholder="Select" flex-xs="100" flex="50" ng-model="user.inf_relationship_length" class="form-control" ng-class="{'err':showError}">
            <md-option value=""></md-option>
            <md-option value="{{length.value}}" ng-repeat="length in filter.length">{{length.name}}</md-option>
          </md-select>
        </div>
        <div class="form-group" layout-sm="row" layout-md="row" layout-gt-lg="row" layout-lg="row" layout-align="space-between center">
          <span flex-xs="100" flex="50">NSA or Exclusive Relationship?</span>
          <md-select placeholder="Select" flex-xs="100" flex="50" ng-model="user.inf_relationship_loyalty" class="form-control" ng-class="{'err':showError}">
            <md-option value=""></md-option>
            <md-option value="{{loyalty.value}}" ng-repeat="loyalty in filter.loyalty">{{loyalty.name}}</md-option>
          </md-select>
        </div>
        <div class="form-group" layout-sm="row" layout-md="row" layout-gt-lg="row" layout-lg="row" layout-align="space-between center">
          <span flex-xs="100" flex="50">What kind of privacy do you expect?</span>
          <md-select placeholder="Select" flex-xs="100" flex="50" ng-model="user.inf_privacy_expectations" class="form-control" ng-class="{'err':showError}">
            <md-option value=""></md-option>
            <md-option value="{{privacy.value}}" ng-repeat="privacy in filter.privacy">{{privacy.name}}</md-option>
          </md-select>
        </div>
        <div class="form-group" layout-sm="row" layout-md="row" layout-gt-lg="row" layout-lg="row" layout-align="space-between center">
          <span flex-xs="100" flex="50">What is your relationship preference</span>
          <md-select placeholder="Select" flex-xs="100" flex="50" ng-model="user.inf_relationship_preference" class="form-control" ng-class="{'err':showError}">
            <md-option value=""></md-option>
            <md-option value="{{preference.value}}" ng-repeat="preference in filter.preferences">{{preference.name}}</md-option>
          </md-select>
        </div>
        <div class="form-group" layout-sm="row" layout-md="row" layout-gt-lg="row" layout-lg="row" layout-align="space-between center">
          <span flex-xs="100" flex="50">Are you open to experimentation?</span>
          <md-select placeholder="Select" flex-xs="100" flex="50" ng-model="user.inf_sexual_limit" class="form-control" ng-class="{'err':showError}">
            <md-option value=""></md-option>
            <md-option value="{{explore.value}}" ng-repeat="explore in filter.explore">{{explore.name}}</md-option>
          </md-select>
        </div>
      </section>
    <div layout="row" layout-align="end" class="save">
      <md-button type="submit" class="button-orange" ng-click="savePreference(user)">Save and Continue</md-button>
    </div>
    </form>
  </md-content>
</div>