<div layout="vertical" layout-fill layout-padding>
  <md-content class="step-photos">
    <h2 class="page-title">Add Photos</h2>
    <div class="page-subtitle">Photos should be at least 420x420 pixels.</div>
    <section class="upload-options">
      <div class="title">Upload Options</div>
      <div class="options" layout-gt-lg="row" layout-lg="row" layout-md="row" layout-xs="column"  layout-align="space-between center">
        <div class="option" flex  ng-if="mainlayout != 'mobile'">
         <md-button class="md-raised" flex ngf-select="upload($file)" ng-model="file" name="file" ngf-no-object-url="true" ngf-pattern="'image/*'" ngf-accept="'image/*'" ngf-min-height="100">Upload From Computer</md-button>
         <div class="option-label">Browse photos from your computer</div>
        </div>
        <div class="option" flex  ng-if="mainlayout == 'mobile'">
         <md-button class="md-raised" flex ngf-select="upload($file)" ng-model="file" name="file" ngf-no-object-url="true" ngf-pattern="'image/*'" ngf-accept="'image/*'" >Upload From Device</md-button>
         <div class="option-label">Take picture or upload from device.</div>
        </div>
        <div class="option" flex >
          <md-button class="md-raised" flex ng-click="importFromFb()">Import From Facebook</md-button>
          <div class="option-label">No info will be published on your wall</div>
        </div>
        <div class="option" flex ng-if="mainlayout != 'mobile'">
          <md-button class="md-raised" flex ng-click="webcam()">Capture Webcam</md-button>
          <div class="option-label">Take a picture from your webcam</div>
        </div>
      </div>
    </section>
    <div class="photos-container" layout-xs="column" layout-md="row" layout-gt-lg="row" layout-lg="row" layout-align-md="space-between top" >
     <div flex="45" flex-sm="100" flex-xs="100">
        <md-grid-list
                md-cols="6:6" md-cols-sm="6:6 " md-cols-xs="6:6" md-cols-md="4" md-cols-gt-md="4"
                md-row-height-gt-md="1:1" md-row-height="4:4"
                md-gutter="8px" md-gutter-gt-sm="10px" ng-show="images">
          <md-grid-tile md-rowspan="1" md-colspan="1" md-colspan-sm="1" md-colspan-xs="1" class="photo"  style="background: url({{s3Url(img.img_image)}}) center center no-repeat;" ng-repeat="img in images" ng-click="select(img)" ng-class="selected.img_id == img.img_id && img.src != '' ? 'active':''">
            <div class="circle-star" ng-if="img.img_id == user.img_id && user.img_id">
              <i class="zmdi zmdi-star"></i>
            </div>
            <i class="zmdi zmdi-plus" ng-show="!img.img_image"></i>
            <div class="circle-lock" ng-show="img.img_status == 'private'">
              <i class="zmdi zmdi-lock"></i>
            </div>
          </md-grid-tile>
        </md-grid-list>
        <img ng-src="{{image1.compressed.dataURL}}" />
      </div>
      <div flex></div>
      <div flex="50" flex-sm="100" flex-xs="100">
        <div flex>
          <div class="action-buttons" layout="row" layout-xs="row" layout-sm="row" layout-align="space-around center">
            <span ng-if="selected" id="crop" ng-click="toggleCrop()" ng-class="{'active':cropping}" layout="column">
              <i class="zmdi zmdi-crop"></i>
              Crop
            </span>
            <span ng-if="selected" layout="column" ng-click="rotate(s3Url(selected.img_image))">
              <i class="zmdi zmdi-redo"></i>
              Rotate
            </span>
            <span ng-if="selected" ng-click="blurImage(s3Url(selected.img_image))" layout="column">
              <i class="zmdi zmdi-blur"></i>
              Blur
            </span>
            <span ng-show="showCam" layout="column">
              <i class="zmdi zmdi-camera" id="snap" ng-click="capture()"></i>
              Capture
            </span>
            <span ng-if="selected" ng-click="makeProfile(selected.img_id)" layout="column" ng-class="selected.img_id == user.img_id && user.img_id ? 'active':''" layout="column">
              <i class="zmdi" ng-class="selected.img_id == user.img_id ? 'zmdi-star':'zmdi-star-outline'"></i>
              Default
            </span>
            <span ng-if="selected" ng-click="confirmDelete()" layout="column">
              <i class="zmdi zmdi-delete"></i>
              Delete
            </span>
            <span ng-if="selected" ng-click="setPrivacy(selected)" layout="column">
              <i class="zmdi" ng-class="selected.img_status == 'private' ? 'zmdi-lock':'zmdi-lock-open'"></i>
              Privacy
            </span>
          </div>
         <!--  <div class="action-buttons" layout="column" layout-align="start">
            <span>
              <i class="zmdi zmdi-lock-open"></i>
            </span>
          </div> -->
        </div>
        <div class="image">
          <div class="loader" ng-show="loading"></div>
          <div class="img" style="overflow:hidden;" ng-style="{'background' : (blurring || rotating) ? 'url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQAQMAAAAlPW0iAAAAA3NCSVQICAjb4U/gAAAABlBMVEXMzMz////TjRV2AAAACXBIWXMAAArrAAAK6wGCiw1aAAAAHHRFWHRTb2Z0d2FyZQBBZG9iZSBGaXJld29ya3MgQ1M26LyyjAAAABFJREFUCJlj+M/AgBVhF/0PAH6/D/HkDxOGAAAAAElFTkSuQmCC)' : 'url('+s3Url(selected.img_image)+') center center no-repeat', 'background-size' : (blurring || rotating) ? '':'cover'}" ng-hide="showCam || cropping || loading">
            <canvas id="imageCanvas" width="420" height="420" ng-show="rotating" data-image="{{s3Url(selected.img_image)}}"></canvas>
            <canvas id="blurCanvas" width="420" height="420" ng-show="blurring" data-image="{{s3Url(selected.img_image)}}"></canvas>
          </div>
          <ui-cropper area-type="square" init-max-area="true" area-init-size="420" result-image-size="420" result-image-format="image/jpeg" result-image-quality="0.8" image="s3Url(selected.img_image)" result-image="croppedImage" ng-show="cropping"></ui-cropper>
          <video id="video" width="420" height="420" autoplay ng-show="showCam"></video>
          <canvas id="canvas" width="640" height="480" ng-hide="true" class="can"></canvas>
        </div>
        <div class="crop-buttons" ng-show="cropping">
          <md-button ng-click="cropping = !cropping">Cancel</md-button>
          <md-button ng-click="crop()" class="button-facebook">Save</md-button>
        </div>
        <div class="crop-buttons" ng-show="rotating">
          <md-button ng-click="cancelRotate()">Cancel</md-button>
          <md-button ng-click="saveRotate()" class="button-facebook">Save</md-button>
        </div>
        <div class="crop-buttons" ng-show="blurring">
          <md-button ng-click="blurCancel()">Cancel</md-button>
          <md-button ng-click="blur()" class="button-facebook">Save</md-button>
          <input type="range" min="10" max="25" value="5" id="factor" ng-change="blurImage(s3Url(selected.img_image));" ng-model="test">
        </div>
        <div class="description">This is how your photo will look like on your profile</div>
      </div>
    </div>
    <div layout="row" layout-align="end">
      <md-button class="button-orange" ng-click="submit()">Save and Continue</md-button>
    </div>
    <div class="photo-tips">
      <div class="title">Photo Tips</div>
      <div class="benefits" layout-align="center">
        <div class="content" layout-align="center">
          <md-card>
            <md-card-content>
              <div class="benefit">
                <div class="title">No Pic</div>
                <div class="description">If you do not have a profile picture, you will be seen at the bottom of the search.</div>
              </div>
            </md-card-content>
          </md-card>
          <md-card>
            <md-card-content>
              <div class="benefit">
                <div class="title">Increase Chances</div>
                <div class="description">Placing a public picture doubles your chances for people to find you.</div>
              </div>
            </md-card-content>
          </md-card>
          <md-card>
            <md-card-content>
              <div class="benefit">
                <div class="title">Fake Pictures  </div>
                <div class="description">Fake pictures violates our terms of use and may result in profile rejection.</div>
              </div>
            </md-card-content>
          </md-card>
          <md-card>
            <md-card-content>
              <div class="benefit">
                <div class="title">Discreet Profile Pic</div>
                <div class="description">We suggest blurring your picture if you would like to stay anonymous.</div>
              </div>
            </md-card-content>
          </md-card>
        </div>
      </div>
    </div>
  </md-content>
</div>