<div layout="vertical" layout-fill>
  <md-content layout-padding>
    <md-card class="successCard">
      <md-card-content layout="column" layout-align="center center">
          <h1 class="complete">Your Profile is Complete!</h1>
          <div class="reminder">Don't forget to verify your email</div>
          <div class="description">A verified email address is required to access full features of ProvideNurture.com.</div>
          <div class="description">We sent a verification email to:</div>
          <div class="email">{{user.usr_email}}</div>
          <md-button ui-sref="search" class="button-orange">Show me <span ng-if="user.usr_type == 'flame'">Sugar Man/Woman</span><span ng-if="user.usr_type == 'sugar'">Flame Man/Woman</span> </md-button>
      </md-card-content>
      <md-card-footer>
        Didn't get an email? <span ng-click="resend()">Resend verification.</span>
      </md-card-footer>  
    </md-card>
    <div class="info-box">
      <div class="info-title">If Resend Verification does not work, try doing the following:</div>
      <div layout-xs="column" layout-sm="row" layout-md="row" layout-lg="row" layout-gt-lg="row" layout-align="space-between top">
        <div flex-xs="100" flex="50" layout="row" layout-align="start top" class="info">
          <i class="zmdi zmdi-badge-check"></i>
          <div class="info-content">
            <div class="title">Check Spam Folder</div>
            <div class="description">Check your spam folder and mark ProvideNurture as "Not spam"</div>
          </div>
        </div>
        <div flex-xs="100" flex="50" layout="row" layout-align="start top" class="info">
          <i class="zmdi zmdi-refresh-sync-alert"></i>
          <div class="info-content">
            <div class="title">Change Email</div>
            <div class="description">You may have entered the wrong email address. Just click the back button and change your email address.</div>
          </div>
        </div>
      </div>
    </div>
  </md-content>
</div>