<div layout="vertical" layout-fill>
  <md-content layout-padding>
    <md-card class="successCard">
      <md-card-content layout="column" layout-align="center center">
          <h1 class="complete">Your Profile is Complete!</h1>
          <div class="reminder">Don't forget to verify your email</div>
          <div class="description">A verified email address is required to access full features of SugarFlame.com.</div>
          <div class="description">We sent a verification email to:</div>
          <div class="email">{{user.usr_email}}</div>
          <md-button ui-sref="search" class="button-orange">Show me <span ng-if="user.usr_type == 'flame'">Sugar Daddies/Mamas</span><span ng-if="user.usr_type == 'sugar'">Sugar Babies</span> </md-button>
      </md-card-content>
      <md-card-footer>
        Didn't get an email? <span ng-click="resend()">Resend verification.</span>
      </md-card-footer>  
    </md-card>
    <div class="info-box">
      <div class="info-title">If Resend Verification does not work, try doing the following:</div>
      <div layout-xs="column" layout-sm="row" layout-md="row" layout-lg="row" layout-gt-lg="row" layout-align="space-between top">
        <div flex-xs="100" flex="50" layout="row" layout-align="start top" class="info">
          <i class="zmdi zmdi-badge-check"></i>
          <div class="info-content">
            <div class="title">Check Spam Folder</div>
            <div class="description">Check your spam folder and mark SugarFlame as "Not spam"</div>
          </div>
        </div>
        <div flex-xs="100" flex="50" layout="row" layout-align="start top" class="info">
          <i class="zmdi zmdi-refresh-sync-alert"></i>
          <div class="info-content">
            <div class="title">Change Email</div>
            <div class="description">You may have entered the wrong email address. Just click the back button and change your email address.</div>
          </div>
        </div>
      </div>
    </div>
  </md-content>
</div>

<!-- Google Code for STEP 4 (THANK YOU) IN REGISTRATION Conversion Page -->
<script type="text/javascript">
/* <![CDATA[ */
var google_conversion_id = 1041523778;
var google_conversion_language = "en";
var google_conversion_format = "3";
var google_conversion_color = "ffffff";
var google_conversion_label = "ofrjCL3UjnEQwsjR8AM";
var google_remarketing_only = false;
/* ]]> */
</script>
<script type="text/javascript" src="//www.googleadservices.com/pagead/conversion.js">
</script>
<noscript>
<div style="display:inline;">
<img height="1" width="1" style="border-style:none;" alt="" src="//www.googleadservices.com/pagead/conversion/1041523778/?label=ofrjCL3UjnEQwsjR8AM&amp;guid=ON&amp;script=0"/>
</div>
</noscript>