<div layout="vertical" layout-fill class="verificationPage">
  <md-content layout-padding>
    <md-card class="successCard">
      <md-card-content layout="column" layout-align="center center">
          <i class="zmdi zmdi-check-circle"></i>
          <div class="complete">Thank you!</div>
          <div class="reminder">Your email has been verified.</div>
          <div class="description">A verified email address is required to access full features of ProvideNurture.com.</div>
      </md-card-content>
    </md-card>
  </md-content>
</div>
