<violator></violator>
<div layout="vertical" layout-fill layout-padding class="profilePage editProfilePage">
  <div class="container" layout="column">
    <form name="profileForm" novalidate layout-md="row" layout-lg="row" layout-gt-lg="row" layout-sm="column" layout-align="space-between">
      <div class="content-container" flex="100" flex-sm="100" flex-xs="100">
  			<div class="page-title">
  				<input type="text" ng-model="user.usr_screen_name">
  			</div>
  			<div class="user-detail" layout-md="row" layout-lg="row" layout-gt-xs="row" layout-xs="column" layout-align="start">
          <div flex="55" layout="row">
    				<md-select flex-xs="33" required ng-model="user.usr_birthmonth">
              <md-option ng-repeat="month in filter.months" value="{{month.value}}">{{month.name}}</md-option>
            </md-select>
            <md-select flex-xs="33" required ng-model="user.usr_birthdate">
              <md-option ng-repeat="day in filter.days" value="{{day.value}}">{{day.name}}</md-option>
            </md-select>
            <md-select flex-xs="33" required ng-model="user.usr_birthyear">
              <md-option ng-repeat="year in filter.years" value="{{year.value}}">{{year.name}}</md-option>
            </md-select>
          </div>
          <div flex></div>
          <div flex="40" layout="row">
      			<md-select required ng-model="user.usr_gender">
      				<md-option ng-repeat="gender in filter.gender" value="{{gender.value}}">{{gender.name}}</md-option>
      			</md-select>
          </div>
  			</div>
        <div class="form-label">Location: <small>This is where people will find you when they search. Don't worry, your exact location will not be shared.</small></div>
        <div class="form-group-icon" flex="100" layout="row" layout-xs="column" layout-align="space-between center">
          <i class="zmdi zmdi-pin"></i>
          <input flex="95" vs-google-autocomplete="options"
            ng-model="user.usr_location"
            vs-country="components.country"
            vs-country-short="components.countryCode"
            vs-state="components.state"
            vs-city="components.city"
            vs-street="components.street"
            vs-street-number="components.streetNumber"
            vs-latitude="components.latitude"
            vs-longitude="components.longitude"
            name="address"
            type="text"
            class="form-control"
            placeholder="Enter your location..."
            style="width: 100%;"
          >
        </div>
  			<!-- <div class="photos-container" layout-xs="column" layout-md="row" layout-lg="row" layout-align="space-between top">
          <div class="image" style="background: url({{baseUrl(selected.img_image)}}) center center no-repeat;"></div>
  				<div flex="15"></div>				
  				<div flex="35">
  					<md-grid-list
                  md-cols="3:3" md-cols-sm="3:3" md-cols-md="3" md-cols-gt-md="3"
                  md-row-height-gt-md="1:1" md-row-height="3:3"
                  md-gutter="8px" md-gutter-gt-sm="10px" >
              <md-grid-tile md-rowspan="1" md-colspan="1" md-colspan-sm="1" md-colspan-xs="1" class="photo" style="background: url({{baseUrl(img.img_image)}}) center center no-repeat;" ng-repeat="img in user.images | orderBy: '-img_id'" ng-click="select(img)">
              </md-grid-tile>
            </md-grid-list>
  				  <div class="action" layout="row" layout-align="start">
  				  	<span><i class="zmdi zmdi-edit"></i></span>
  				  	<span ui-sref="profile.photos"><i class="zmdi zmdi-plus-square"></i></span>
  				  </div>
  				</div>				
  			</div> -->
  			<div class="others">
  				<div class="tab-content about">
  					<div class="box">
  						<div class="question">About Me</div>
              <div class="error">
                <span ng-show="profileForm.about.$error.maxlength && (profileForm.about.$dirty || submitted)">Characters exceeded.</span>
              </div>
              <wysiwyg-edit content="about.prf_content" config="editorConfig" ></wysiwyg-edit>
  					</div>
  					<div class="box">
  						<div class="question">What I'm looking for...</div>
              <div class="error">
                <span ng-show="profileForm.relationship.$error.maxlength && (profileForm.relationship.$dirty || submitted)">Characters exceeded.</span>
              </div>
              <wysiwyg-edit content="relationship.prf_content" config="editorConfig" ></wysiwyg-edit>
  					</div>
  					<div class="box">
  						<div class="question">Something extra...</div>
              <md-select ng-model="extra.que_id" class="form-control" placeholder="Choose a question...">
                <md-option ng-repeat="q in filter.questions" value="{{q.que_id}}">{{q.que_question}}</md-option>
              </md-select>
              <div class="error">
                <span ng-show="profileForm.extra.$error.maxlength && (profileForm.extra.$dirty || submitted)">Characters exceeded.</span>
              </div>
              <wysiwyg-edit content="extra.prf_content" config="editorConfig" ></wysiwyg-edit>
  					</div>
  				</div>
  			</div>
      </div>
      <div flex="10"></div>
      <div class="sidebar" flex="30" flex-sm="100" flex-xs="100">
        <md-button class="button-orange" ng-click="saveProfile(user, user.info, about, relationship, extra)">Save Profile</md-button>
        <small class="error pull-right" ng-hide="profileForm.usr_description.$error.maxlength && (profileForm.usr_description.$dirty || submitted)">{{50 - user.usr_description.length}} character(s) left.</small></span>
        <div class="error">
          <span ng-show="profileForm.usr_description.$error.maxlength && (profileForm.usr_description.$dirty || submitted)" class="pull-right">Characters exceeded.</span>
        </div>
        <br>
        <div class="description" layout="column" layout-align="top">
          <textarea placeholder="Write here..." name="usr_description" ng-model="user.usr_description" placeholder="Make an impression..." ng-maxlength="50"></textarea>
        </div>
        <div class="lifestyle-box">
          <section>
            <div class="section-title">Appearance</div>
            <div layout="column" layout-align="start" class="form-group">
              <span class="lifestyle">Height</span>
              <div layout="row" layout-align="start center" class="height">
                <input type="text" ng-model="user.info.inf_height" ng-change="heightConversion(user.info.inf_height)" flex>
                <md-select ng-model="user.info.inf_height_unit" flex>
                  <md-option value="cm">cm</md-option>
                  <!-- <md-option value="ft">ft</md-option>
                  <md-option value="in">in</md-option> -->
                </md-select>
              </div>
              <div>
                <span class="height-conversion">{{conversion}}</span>
              </div>
            </div>
            <div layout="column" layout-align="start" class="form-group">
              <span class="lifestyle">Body Type</span>
              <md-select ng-model="user.info.inf_body_type">
                <md-option ng-repeat="body in filter.bodyType" value="{{body.value}}">{{body.value}}</md-option>
              </md-select>
            </div>
            <div layout="column" layout-align="start" class="form-group">
              <span class="lifestyle">Ethnicity</span>
              <md-select ng-model="user.info.inf_ethnicity">
                <md-option ng-repeat="ethnicity in filter.ethnicity | orderBy: 'name'" value="{{ethnicity.value}}">{{ethnicity.name}}</md-option>
              </md-select>
            </div>
          </section>
          <section>
            <div class="section-title">Personal Information</div>
            <div layout="column" layout-align="start" class="form-group">
              <span class="lifestyle">Relationship</span>
              <md-select ng-model="user.info.inf_relationship">
                <md-option ng-repeat="relationship in filter.relationship" value="{{relationship.value}}">{{relationship.value}}</md-option>
              </md-select>
            </div>
            <div layout="column" layout-align="start" class="form-group">
              <span class="lifestyle">Children</span>
              <md-select ng-model="user.info.inf_children">
                <md-option ng-repeat="children in filter.children" value="{{children.value}}">{{children.value}}</md-option>
              </md-select>
            </div>
            <div layout="column" layout-align="start" class="form-group">
              <span class="lifestyle">Smoke</span>
              <md-select ng-model="user.info.inf_smoke">
                <md-option ng-repeat="smoke in filter.smoke" value="{{smoke.value}}">{{smoke.name}}</md-option>
              </md-select>
            </div>
            <div layout="column" layout-align="start" class="form-group">
              <span class="lifestyle">Drink</span>
              <md-select ng-model="user.info.inf_drink">
                <md-option ng-repeat="drink in filter.drink" value="{{drink.value}}">{{drink.name}}</md-option>
              </md-select>
            </div>
            <div layout="column" layout-align="start" class="form-group">
              <span class="lifestyle">Language</span>
              <md-select ng-model="user.info.inf_language">
                <md-option ng-repeat="language in filter.language | orderBy: 'name'" value="{{language.value}}">{{language.value}}</md-option>
              </md-select>
            </div>
            <div layout="column" layout-align="start" class="form-group">
              <span class="lifestyle">Education</span>
              <md-select ng-model="user.info.inf_education">
                <md-option ng-repeat="education in filter.education" value="{{education.value}}">{{education.name}}</md-option>
              </md-select>
            </div>
            <div layout="column" layout-align="start" class="form-group">
              <span class="lifestyle">Occupation</span>
              <input ng-if="user.usr_type == 'flame'" type="text" ng-model="user.info.inf_occupation" />
              <input ng-if="user.usr_type == 'sugar'" type="text" ng-model="user.info.inf_occupation" />
            </div>
          </section>
        	<section>
            <div class="section-title">Financial Preferences</div>
            <div layout="column" layout-align="start" class="form-group">
              <span class="lifestyle">Spending Habit</span>
              <md-select ng-model="user.info.inf_spending_habits">
                <md-option ng-if="user.usr_type=='flame'" ng-repeat="spendingH in filter.babyHabit" value="{{spendingH.value}}">{{spendingH.name}}</md-option>
                <md-option ng-if="user.usr_type=='sugar'" ng-repeat="spendingH in filter.sponsorHabit" value="{{spendingH.value}}">{{spendingH.name}}</md-option>
              </md-select>
            </div>
             <div layout="column" layout-align="start" class="form-group" ng-if="user.usr_type == 'sugar'">
              <span class="lifestyle">Net Worth</span>
              <md-select ng-model="user.info.inf_net_worth">
                <md-option ng-repeat="net in filter.networth" value="{{net.value}}">{{net.name}}</md-option>
              </md-select>
            </div>
            <div layout="column" layout-align="start" class="form-group" ng-if="user.usr_type == 'sugar'">
              <span class="lifestyle">Yearly Income</span>
              <md-select ng-model="user.info.inf_yearly_income">
                <md-option ng-repeat="income in filter.yearlyIncome" value="{{income.value}}">{{income.name}}</md-option>
              </md-select>
            </div>
            <div layout="column" layout-align="start" class="form-group">
              <span class="lifestyle">Preferred Range of Support</span>
              <div class="slider" layout="row" layout-align="space-between center">
                <rzslider rz-slider-model="user.info.inf_preferred_range_from" rz-slider-high="user.info.inf_preferred_range_to" rz-slider-options="minRangeSlider.options"></rzslider>
              </div>
              <span>From ${{user.info.inf_preferred_range_from}} to ${{user.info.inf_preferred_range_to}} per month</span>
            </div>
            <div layout="column" layout-align="start" class="form-group">
              <span class="lifestyle" ng-if="user.usr_type=='flame'">Preferred Sugar Perks</span>
              <span class="lifestyle" ng-if="user.usr_type=='sugar'">Sugar Perks I can Provide</span>
              <md-input-container>
                <md-checkbox ng-model="user.info.inf_quality_time" aria-label="Quality Time">
                  Quality Time (movies, dates, etc.)
                </md-checkbox>
              </md-input-container>
              <md-input-container>
                <md-checkbox ng-model="user.info.inf_gifts" aria-label="Gifts">
                  Gifts (jewelry, bags, perfumes, etc)
                </md-checkbox>
              </md-input-container>
              <!-- <md-input-container>
                <md-checkbox ng-model="user.info.inf_travel" aria-label="Travel">
                  Travel (out of town)
                </md-checkbox>
              </md-input-container> -->
              <md-input-container>
                <md-checkbox ng-model="user.info.inf_staycations" aria-label="Staycations">
                  Staycations (hotel)
                </md-checkbox>
              </md-input-container>
              <md-input-container>
                <md-checkbox ng-model="user.info.inf_high_life" aria-label="The High Life">
                  The High Life (yachts, planes, etc.)
                </md-checkbox>
              </md-input-container>
              <md-input-container ng-if="user.usr_type=='flame'">
                <md-checkbox ng-model="user.info.inf_simple" aria-label="Simple">
                  I'm a simple baby. Let's just be happy.
                </md-checkbox>
              </md-input-container>
              <md-input-container ng-if="user.usr_type=='sugar' && user.usr_gender=='male'">
                <md-checkbox ng-model="user.info.inf_simple" aria-label="Simple">
                  Simple Daddy.
                </md-checkbox>
              </md-input-container>
              <md-input-container ng-if="user.usr_type=='sugar' && user.usr_gender=='female'">
                <md-checkbox ng-model="user.info.inf_simple" aria-label="Simple">
                  Simple Mama.
                </md-checkbox>
              </md-input-container>
              <md-input-container>
                <md-checkbox ng-model="user.info.inf_other_value" aria-label="Other">
                  Other
                </md-checkbox>
              </md-input-container>
              <input type="text" class="form-control" ng-model="user.info.other" placeholder="Other, please specify..">
            </div>
          </section>
          <section ng-if="user.usr_type=='sugar'">
            <div class="section-title">Relationship Information</div>
            <div layout="column" layout-align="start" class="form-group">
              <span class="lifestyle">Short/Long Term</span>
              <md-select ng-model="user.info.inf_relationship_length">
                <md-option ng-repeat="length in filter.length" value="{{length.value}}">{{length.name}}</md-option>
              </md-select>
            </div>
             <div layout="column" layout-align="start" class="form-group">
              <span class="lifestyle">NSA/Exclusive</span>
              <md-select ng-model="user.info.inf_relationship_loyalty">
                <md-option ng-repeat="loyalty in filter.loyalty" value="{{loyalty.value}}">{{loyalty.name}}</md-option>
              </md-select>
            </div>
            <div layout="column" layout-align="start" class="form-group">
              <span class="lifestyle">Relationship Privacy</span>
              <md-select ng-model="user.info.inf_privacy_expectations">
                <md-option ng-repeat="privacy in filter.privacy" value="{{privacy.value}}">{{privacy.name}}</md-option>
              </md-select>
            </div>
            <div layout="column" layout-align="start" class="form-group">
              <span class="lifestyle">Relationship Preference</span>
              <md-select ng-model="user.info.inf_relationship_preference">
                <md-option ng-repeat="pref in filter.preferences" value="{{pref.value}}">{{pref.name}}</md-option>
              </md-select>
            </div>
            <div layout="column" layout-align="start" class="form-group">
              <span class="lifestyle">Sexual Limits</span>
              <md-select ng-model="user.info.inf_sexual_limit">
                <md-option ng-repeat="explore in filter.explore" value="{{explore.value}}">{{explore.name}}</md-option>
              </md-select>
            </div>
          </section>
          <section ng-if="user.usr_type=='flame'">
            <div class="section-title">Relationship Information</div>
            <div layout="column" layout-align="start" class="form-group">
              <span class="lifestyle">Short/Long Term</span>
              <md-select ng-model="user.info.inf_relationship_length">
                <md-option ng-repeat="length in filter.length" value="{{length.value}}">{{length.name}}</md-option>
              </md-select>
            </div>
             <div layout="column" layout-align="start" class="form-group">
              <span class="lifestyle">NSA/Exclusive</span>
              <md-select ng-model="user.info.inf_relationship_loyalty">
                <md-option ng-repeat="loyalty in filter.loyalty" value="{{loyalty.value}}">{{loyalty.name}}</md-option>
              </md-select>
            </div>
            <div layout="column" layout-align="start" class="form-group">
              <span class="lifestyle">Relationship Privacy</span>
              <md-select ng-model="user.info.inf_privacy_expectations">
                <md-option ng-repeat="privacy in filter.privacy" value="{{privacy.value}}">{{privacy.name}}</md-option>
              </md-select>
            </div>
            <div layout="column" layout-align="start" class="form-group">
              <span class="lifestyle">Relationship Preference</span>
              <md-select ng-model="user.info.inf_relationship_preference">
                <md-option ng-repeat="pref in filter.preferences" value="{{pref.value}}">{{pref.name}}</md-option>
              </md-select>
            </div>
            <div layout="column" layout-align="start" class="form-group">
              <span class="lifestyle">Sexual Limits</span>
              <md-select ng-model="user.info.inf_sexual_limit">
                <md-option ng-repeat="explore in filter.explore" value="{{explore.value}}">{{explore.name}}</md-option>
              </md-select>
            </div>
          </section>
        </div>
      </div>
    </form>
  </div>
</div>