<div class="user-actions" layout="row" layout-align="space-between center">
	<div class="other">
		<md-button class="md-icon-button button-icon display-on-hover" ng-class="{'active':post.flag.flg_status == 'active'}" ng-click="flag(post)"aria-label="More">
		  <i class="zmdi zmdi-flag"></i>
		</md-button>
	</div>
	<div class="like">
		<md-button class="button-gray-transparent" ng-class="{'active':post.like.pol_status == 'active'}" ng-click="like(post)">
			<i class="zmdi zmdi-thumb-up"></i>
			<span ng-if="!post.like.pol_id">Fave Post</span>
			<span ng-if="post.like.pol_id && post.like.pol_status == 'inactive'">Fave Post</span>
			<span ng-if="post.like.pol_id && post.like.pol_status == 'active'">Faved Post</span>
		</md-button>
	</div>
</div>