<div class="user-actions" layout="row" layout-align="space-between center">
  <div class="other">
    <md-button flex class="button-gray-transparent display-on-hover" ng-class="{'active':post.user.faved}" ng-click="favorite(post)">
      <i class="zmdi zmdi-favorite"></i>
      <span ng-if="!post.user.faved && post.user.usr_gender == 'male'">Fave Him</span>
      <span ng-if="!post.user.faved && post.user.usr_gender == 'female'">Fave Her</span>
      <span ng-if="post.user.faved && post.user.usr_gender == 'male'">Faved Him</span>
      <span ng-if="post.user.faved && post.user.usr_gender == 'female'">Faved Her</span>
    </md-button>
    <md-button flex class="button-gray-transparent display-on-hover" ng-click="goTo(post.user.usr_token_id)">Message</md-button>
    <md-button flex class="button-gray-transparent display-on-hover" ng-class="{'active':post.user.followed}" ng-click="follow(post)">      <span ng-if="!post.user.followed">Follow Posts</span>
      <span ng-if="post.user.followed">Following</span>
    </md-button>
    <md-button class="md-icon-button button-icon display-on-hover" ng-class="post.flag.flg_status == 'active' && post.flag.flg_id ? 'active':''" ng-click="flag(post)"aria-label="More">
      <i class="zmdi zmdi-flag"></i>
    </md-button>
  </div>
  <div class="like">
    <md-button class="button-gray-transparent" ng-class="{'active':post.like.pol_status == 'active'}" ng-click="like(post)">
      <i class="zmdi zmdi-thumb-up"></i>
      <span ng-if="!post.like.pol_id">Fave Post</span>
      <span ng-if="post.like.pol_id && post.like.pol_status == 'inactive'">Fave Post</span>
      <span ng-if="post.like.pol_id && post.like.pol_status == 'active'">Faved Post</span>
    </md-button>
  </div>
</div>