<div class="profile-buttons report" layout="column">
  <md-button ng-click="openReport()">Report User</md-button>  
</div>
<!-- <div class="report">
	<span ng-click="openReport()">Report User</span>
</div> -->