<md-dialog aria-label="Reset Password" class="loginModal reportModal">
    <md-toolbar>
      <div class="md-toolbar-tools" layout="row" layout-align="center center">
        <h2>Report {{user.usr_screen_name}}</h2>
      </div>
      <i class="zmdi zmdi-close" ng-click="closeDialog()"></i>
    </md-toolbar>

    <md-dialog-content class="dialogContent">
      <form name="reportForm" novalidate>
        <div layout="column" layout-align="space-between ">
          <span>What's going on?</span>
          <div class="form-group">
            <md-select ng-model="report.reason" name="reason" placeholder="Choose reason" class="form-control" required>
              <md-option disabled>CRIMINAL ACTS</md-option>
              <md-option value="CRIMINAL ACTS - Scammer or Phishing Attempt">Scammer or Phishing Attempt</md-option>
              <md-option value="CRIMINAL ACTS - Underage Member (Below 18)">Underage Member (Below 18)</md-option>
              <md-option value="CRIMINAL ACTS - Threats of Harm or Assault">Threats of Harm or Assault</md-option>
              <md-option value="CRIMINAL ACTS - Member Committed Theft or Assault">Member Committed Theft or Assault</md-option>
              <md-option disabled>DECEPTIVE</md-option>
              <md-option value="DECEPTIVE - Picture or Profile not of the Person">Picture or Profile not of the Person</md-option>
              <md-option value="DECEPTIVE - Deceptive Member (Con Man/Woman)">Deceptive Member (Con Man/Woman)</md-option>
              <md-option disabled>OFFENSIVE</md-option>
              <md-option value="OFFENSIVE - Inappropriate/Offensive Photo (Nudity)">Inappropriate/Offensive Photo (Nudity)</md-option>
              <md-option value="OFFENSIVE - Inappropriate/Offensive Content">Inappropriate/Offensive Content</md-option>
              <md-option value="OFFENSIVE - Sexually Explicit Messaging">Sexually Explicit Messaging</md-option>
              <md-option disabled>SOLICITATION</md-option>
              <md-option value="SOLICITATION - Soliciting Sex for Money">Soliciting Sex for Money</md-option>
              <md-option value="SOLICITATION - Possible or Known Escort">Possible or Known Escort</md-option>
              <md-option value="SOLICITATION - Asking for Money Before Meeting">Asking for Money Before Meeting</md-option>
              <md-option value="SOLICITATION - Using the Site to Promote a Business">Using the Site to Promote a Business</md-option>
              <md-option value="other">Other <small>(please explain below)</small></md-option>
            </md-select>
          </div>
        </div>
        <div class="error" >
          <span ng-if="reportForm.reason.$error.required && reportForm.reason.$dirty"><i class="zmdi zmdi-alert-circle-o"></i> Reason for reporting is required.</span>
        </div>
        <div layout="column" layout-align="space-between">
          <span>More Information</span>
          <div class="form-group" layout="column" layout-align="space-between center">
            <textarea name="" id="" cols="30" rows="4" ng-model="report.other_reason" name="other_reason"></textarea>
          </div>
        </div>
        <md-button ng-show="!file" class="button-lightgray" ngf-select="upload($file)" ng-model="file" name="file" ngf-no-object-url="true" ngf-pattern="'image/*'" ngf-accept="'image/*'" ngf-max-size="5MB" ngf-min-height="100">Upload Evidence</md-button>
        <div class="uploaded" ng-show="file" layout="row" layout-align="space-between center">
          <div layout="row" layout-align="start center">
            <i class="zmdi zmdi-image-alt"></i>
            <span class="filename">{{filename}}</span>
           
          </div>
          <i class="zmdi zmdi-close" ng-click="removeFile()"></i>
        </div>
        <md-button type="submit" class="button-orange" ng-click="report(report)">Submit</md-button>

      </form>
    </md-dialog-content>
</md-dialog>
