<violator></violator>
<div layout="vertical" layout-fill layout-padding class="profilePage" ng-hide="error || loading">
	<div class="container" layout="row" layout-align="space-between top" layout-sm="column">
    <div class="content-container" flex="65">
			<div class="page-title">{{user.usr_screen_name}}</div>
			<div class="user-detail" layout="row" layout-sm="column" layout-align="start center">
        <span>
          <span ng-show="user.usr_type == 'flame' && user.usr_gender =='male'">Sugar Baby</span>
          <span ng-show="user.usr_type == 'flame' && user.usr_gender =='female'">Sugar Baby</span>
          <span ng-show="user.usr_type == 'sugar' && user.usr_gender =='male'">Sugar Daddy</span>
          <span ng-show="user.usr_type == 'sugar' && user.usr_gender =='female'">Sugar Mama</span>
        </span>
				<span>{{user.usr_age}}</span>
				<span layout-align="center center"><i class="zmdi zmdi-circle"></i></span>
        <span>{{user.usr_gender}}</span>
        <span layout-align="center center"><i class="zmdi zmdi-circle"></i></span>
				<span>{{user.usr_location}}</span>
			</div>
			<div class="photos-container" layout-xs="column" layout-md="row" layout-lg="row" layout-gt-lg="row" layout-align="space-between top">
        <div class="image" ng-if="selected.img_image" style="background: url({{baseUrl(selected.img_image)}}) center center no-repeat;"></div>
        <div class="image no-image" ng-if="!selected.img_image && user.usr_gender == 'male'" style="background: url('assets/images/male.svg') center bottom no-repeat; background-size: 95%!important;"></div>
			  <div class="image no-image" ng-if="!selected.img_image && user.usr_gender == 'female'" style="background: url('assets/images/female.svg') center bottom no-repeat; background-size: 95%!important;"></div>
				<div flex-xs="100" flex-sm="100" flex="35">
  				<md-grid-list
  			        md-cols="6:6" md-cols-sm="6:6" md-cols-md="3" md-cols-gt-md="3"
  			        md-row-height-gt-md="1:1" md-row-height="3:3"
  			        md-gutter="8px" md-gutter-gt-sm="10px" >
  			    <md-grid-tile md-rowspan="1" md-colspan="1" md-colspan-sm="1" md-colspan-xs="1" class="photo" imageonload style="background: url({{baseUrl(img.img_thumb || img.img_image)}}) center center no-repeat;" ng-repeat="img in user.images | orderBy: 'img_id'" ng-click="select(img)">
  			    </md-grid-tile>
  			  </md-grid-list>
          <!-- <div class="horizontal visible-xs">
            <div ng-repeat="img in user.images | orderBy: '-img_id'"
                class="repeated-item" flex style="background: url({{baseUrl(img.img_image)}}) center center no-repeat;" >
            </div>
          </div> -->
				</div>				
			</div>
		<!-- 	<div ng-if="other_user && logged.usr_status == 'approved'" class="chat-box" layout="row" layout-align="space-between center">
				<textarea name="msg_content" ng-model="msg.msg_content" rows="1" ng-keyup="sendOnEnter(msg, $event)" placeholder="Send a message..." flex="75"></textarea>
				<span flex></span>
				<md-button class="button-orange" flex="20" ng-disabled="sending" ng-click="sendMessage(msg.msg_content)"><span ng-hide="sending">Send</span><span ng-show="sending">Sending</span></md-button>
			</div> -->
			<div class="others hidden-xs">
				<div class="tabs" layout="row" layout-align="start center">
					<div class="tab" flex-xs="50" flex="20" ng-click="openAbout()" flex ng-class="aboutOpened ? 'active':''">Profile</div>
					<div class="tab" flex-xs="50" flex="20" ng-click="openPosts()" flex ng-class="postsOpened ? 'active':''">Posts</div>
				</div>
				<div class="tab-content about" ng-if="aboutOpened">
					<div class="box">
						<div class="question">About Me</div>
						<div class="answer" ng-bind-html="trustHtml(about.prf_content)">
						</div>
					</div>
					<div class="box">
						<div class="question">What I'm looking for...</div>
						<div class="answer" ng-bind-html="trustHtml(relationship.prf_content)">
						</div>
					</div>
					<div class="box" ng-if="extra">
						<div class="question">{{extra.que_question}}</div>
						<div class="answer" ng-bind-html="trustHtml(extra.prf_content)">
						</div>
					</div>
				</div>
				<div class="tab-content posts" ng-if="postsOpened">
          <div class="message" ng-show="user.posts.length == 0">No posts to display.</div>
          <div class="post post-card" ng-if="user.posts" ng-repeat="p in user.posts | orderBy: '-pos_date_modified'">
            <md-card>
              <md-card-title>
                <md-card-title-text>
                  <div class="user-detail">
                    <span class="screen-name">{{user.usr_screen_name}}</span>
                    <span class="name">
                      <small>{{age}}</small><i class="zmdi zmdi-circle"></i>
                      <small>{{user.usr_gender}}</small><i class="zmdi zmdi-circle"></i>
                      <small>{{user.usr_location}}</small>
                    </span>
                    <span class="top-right">{{relDateFormat(p.pos_date_created)}}</span>
                  </div>
                  <div class="user-post">
                    <p>
                     {{p.pos_content}}
                    </p>
                    <!-- <img src="https://s-media-cache-ak0.pinimg.com/736x/8b/46/37/8b46376b12a5639eaa8cf2c9ba848c80.jpg" alt=""> -->
                  </div>
                  <profile-post-buttons ng-show="other_user && logged.usr_status == 'approved'" post="p"></profile-post-buttons>
                </md-card-title-text>
              </md-card-title>
            </md-card>
          </div>
				</div>
			</div>
    </div>
    <div flex></div>
    <div class="sidebar" flex="30">
      <profile-buttons ng-if="other_user && logged.usr_status == 'approved'" user="user"></profile-buttons>
      <md-button ng-if="!other_user" class="button-orange" ui-sref="profile.edit">Edit Profile</md-button>
      <md-button ng-if="!other_user" class="button-orange" ui-sref="profile.photos">Add/Edit Photo</md-button>
      <div class="description-box">
        <div class="description" layout="column" layout-align="center center">
          <div>{{user.usr_description}}</div>
        </div>
        <div class="active" layout="row" layout-align="space-between center">
          <div layout="column" layout-align="start">
            <div class="label">Join Date</div>
            <div>{{dateFormat(user.usr_approved_date)}}</div>
          </div>
          <div layout="column" layout-align="start">
            <div class="label">Recent Login</div>
            <div>{{relDateFormat(user.usr_last_login)}}</div>
          </div>
        </div>
      </div>
      <div class="lifestyle-box">
        <section>
          <div class="section-title">Appearance</div>
          <div layout="row" layout-align="space-between center">
            <span flex="50" class="lifestyle">Height</span>
            <span flex="50" class="right">{{user.info.inf_height}}{{user.info.inf_height_unit}}</span>
          </div>
          <div layout="row" layout-align="space-between center">
            <span flex="50" class="lifestyle">Body Type</span>
            <span flex="50" class="right">{{user.info.inf_body_type}}</span>
          </div>
          <div layout="row" layout-align="space-between center">
            <span flex="50" class="lifestyle">Ethnicity</span>
            <span flex="50" class="right">{{user.info.inf_ethnicity}}</span>
          </div>
        </section>
      	<section>
          <div class="section-title">Personal Information</div>
      		<div layout="row" layout-align="space-between center">
      			<span flex="50" class="lifestyle">Relationship</span>
      			<span flex="50" class="right">{{user.info.inf_relationship}}</span>
      		</div>
      		<div layout="row" layout-align="space-between center">
      			<span flex="50" class="lifestyle">Children</span>
      			<span flex="50" class="right">{{user.info.inf_children}}</span>
      		</div>
          <div layout="row" layout-align="space-between center">
            <span flex="50" class="lifestyle">Smoke</span>
            <span flex="50" class="right">{{displayValue(user.info.inf_smoke, filter.smoke)}}</span>
          </div>
          <div layout="row" layout-align="space-between center">
            <span flex="50" class="lifestyle">Drink</span>
            <span flex="50" class="right">{{displayValue(user.info.inf_drink, filter.drink)}}</span>
          </div>
      		<div layout="row" layout-align="space-between center">
      			<span flex="50" class="lifestyle">Language</span>
      			<span flex="50" class="right">{{user.info.inf_language}}</span>
      		</div>
      		<div layout="row" layout-align="space-between center">
      			<span flex="50" class="lifestyle">Education</span>
      			<span flex="50" class="right">{{user.info.inf_education}}</span>
      		</div>
          <div layout="row" layout-align="space-between center">
            <span flex="50" class="lifestyle">Occupation</span>
            <span flex="50" class="right">{{user.info.inf_occupation}}</span>
          </div>
        </section>
        <section>
          <div class="section-title">Financial Preference</div>
          <div layout="row" layout-align="space-between center" ng-if="user.usr_type == 'flame'">
            <span flex="40" class="lifestyle">Lifestyle Expectation</span>
            <span flex="60" class="right">{{displayValue(user.info.inf_spending_habits, filter.habits)}}</span>
          </div>
          <div layout="row" layout-align="space-between center" ng-if="user.usr_type == 'flame'">
            <span flex="40" class="lifestyle">Prefered Range<br>of Support</span>
            <span flex="60" class="right">${{user.info.inf_preferred_range_from}} to ${{user.info.inf_preferred_range_to}}</span>
          </div>
          <div layout="row" layout-align="space-between center" ng-if="user.usr_type == 'sugar'">
            <span flex="40" class="lifestyle">Spending Habit</span>
            <span flex="60" class="right">{{displayValue(user.info.inf_spending_habits, filter.habits)}}</span>
          </div>
          <div layout="row" layout-align="space-between center" ng-if="user.usr_type == 'sugar'">
            <span flex="40" class="lifestyle">Net Worth</span>
            <span flex="60" class="right">{{displayValue(user.info.inf_net_worth, filter.networth)}}</span>
          </div>
          <div layout="row" layout-align="space-between center" ng-if="user.usr_type == 'sugar'">
            <span flex="40" class="lifestyle">Yearly Income</span>
            <span flex="60" class="right">{{displayValue(user.info.inf_yearly_income, filter.yearlyIncome)}}</span>
          </div>
          <div>
        		<div class="lifestyle perk-title">Preferred Sugar Perks</div>
        		<div class="perk" ng-if="user.info.inf_quality_time" layout="row" layout-align="start center">
        			<span><i class="zmdi" ng-class="user.info.inf_quality_time ? 'zmdi-check':'zmdi-close'"></i></span>
        			<span>Quality Time (movies, dates, etc.)</span>
        		</div>
        		<div class="perk" ng-if="user.info.inf_gifts" layout="row" layout-align="start center">
        			<span><i class="zmdi" ng-class="user.info.inf_gifts ? 'zmdi-check':'zmdi-close'"></i></span>
        			<span>Gifts (jewelry, bag, perfume, etc.)</span>
        		</div>
        		<div class="perk" ng-if="user.info.inf_travel" layout="row" layout-align="start center">
        			<span><i class="zmdi" ng-class="user.info.inf_travel ? 'zmdi-check':'zmdi-close'"></i></span>
        			<span>Travel (out of town)</span>
        		</div>
        		<div class="perk" ng-if="user.info.inf_staycations" layout="row" layout-align="start center">
        			<span><i class="zmdi" ng-class="user.info.inf_staycations ? 'zmdi-check':'zmdi-close'"></i></span>
        			<span>Staycations (hotel)</span>
        		</div>
        		<div class="perk" ng-if="user.info.inf_high_life" layout="row" layout-align="start center">
        			<span><i class="zmdi" ng-class="user.info.inf_high_life ? 'zmdi-check':'zmdi-close'"></i></span>
        			<span>The High Life (yacht, planes, etc.)</span>
        		</div>
        		<div class="perk" ng-if="user.info.inf_simple && user.usr_type == 'baby'" layout="row" layout-align="start center">
        			<span><i class="zmdi" ng-class="user.info.inf_simple ? 'zmdi-check':'zmdi-close'"></i></span>
        			<span>I'm a simple baby. Let's just be happy.</span>
        		</div>
           <div class="perk" ng-if="user.info.inf_simple && (user.usr_type == 'sugar' && user.usr_gender == 'male')" layout="row" layout-align="start center">
              <span><i class="zmdi" ng-class="user.info.inf_simple ? 'zmdi-check':'zmdi-close'"></i></span>
              <span>Simple Daddy.</span>
            </div>
            <div class="perk" ng-if="user.info.inf_simple && (user.usr_type == 'sugar' && user.usr_gender == 'female')" layout="row" layout-align="start center">
              <span><i class="zmdi" ng-class="user.info.inf_simple ? 'zmdi-check':'zmdi-close'"></i></span>
              <span>Simple Mama.</span>
            </div>
            <div class="perk" ng-if="user.info.inf_other" layout="row" layout-align="start center">
              <span><i class="zmdi" ng-class="user.info.inf_other ? 'zmdi-check':'zmdi-close'"></i></span>
              <span>{{user.info.inf_other}}</span>
            </div>
          </div>
        </section>
        <section ng-if="user.usr_type == 'flame'">
          <div class="section-title">Relationship Information</div>
          <div layout="row" layout-align="space-between center">
            <span class="lifestyle">Short/Long Term</span>
            <span class="right">{{user.info.inf_relationship_length}}</span>
          </div>
          <div layout="row" layout-align="space-between center">
            <span class="lifestyle">NSA/Exclusive</span>
            <span class="right">{{displayValue(user.info.inf_relationship_loyalty, filter.loyalty)}}</span>
          </div>
          <div layout="row" layout-align="space-between center">
            <span class="lifestyle">Relationship Privacy</span>
            <span class="right">{{displayValue(user.info.inf_privacy_expectations, filter.privacy)}}</span>
          </div>
          <div layout="row" layout-align="space-between center">
            <span class="lifestyle">Relationship <br>Preference</span>
            <span class="right">{{displayValue(user.info.inf_relationship_preference, filter.preferences)}}</span>
          </div>
          <div layout="row" layout-align="space-between center">
            <span class="lifestyle">Sexual Limits</span>
            <span class="right">{{displayValue(user.info.inf_sexual_limit, filter.explore)}}</span>
          </div>
        </section>
      </div>
      <report-button user="user" ng-if="other_user"></report-button>
      <!-- <div class="report" ng-if="other_user">
        <span ng-click="openReport()">Report User</span>
      </div> -->
    </div>
    <div class="content-container visible-xs">
      <div class="others">
        <div class="tabs" layout="row" layout-align="start center">
          <div class="tab" flex-xs="50" flex="20" ng-click="openAbout()" flex ng-class="aboutOpened ? 'active':''">Profile</div>
          <div class="tab" flex-xs="50" flex="20" ng-click="openPosts()" flex ng-class="postsOpened ? 'active':''">Posts</div>
        </div>
        <div class="tab-content about" ng-if="aboutOpened">
          <div class="box">
            <div class="question">About Me</div>
            <div class="answer" ng-bind-html="trustHtml(about.prf_content)">
            </div>
          </div>
          <div class="box">
            <div class="question">What I'm looking for...</div>
            <div class="answer" ng-bind-html="trustHtml(relationship.prf_content)">
            </div>
          </div>
          <div class="box" ng-if="extra">
            <div class="question">{{extra.que_question}}</div>
            <div class="answer" ng-bind-html="trustHtml(extra.prf_content)">
            </div>
          </div>
        </div>
        <div class="tab-content posts" ng-if="postsOpened">
          <div class="message" ng-hide="user.posts">No posts to display.</div>
          <div class="post post-card" ng-repeat="p in user.posts | orderBy: 'pos_date_created'">
            <md-card>
              <md-card-title>
                <md-card-title-text>
                  <div class="user-detail">
                    <span class="screen-name">{{user.usr_screen_name}}</span>
                    <span class="name">
                      <small>{{age}}</small><i class="zmdi zmdi-circle"></i>
                      <small>{{user.usr_gender}}</small><i class="zmdi zmdi-circle"></i>
                      <small>{{user.usr_location}}</small>
                    </span>
                    <span class="top-right">{{relDateFormat(p.pos_date_created)}}</span>
                  </div>
                  <div class="user-post">
                    <p>
                     {{p.pos_content}}
                    </p>
                    <!-- <img src="https://s-media-cache-ak0.pinimg.com/736x/8b/46/37/8b46376b12a5639eaa8cf2c9ba848c80.jpg" alt=""> -->
                  </div>
                  <profile-post-buttons ng-show="other_user && logged.usr_status == 'approved'" post="p"></profile-post-buttons>
                </md-card-title-text>
              </md-card-title>
            </md-card>
          </div>
        </div>
      </div>
    </div>
	</div>
</div>
<div layout="vertical" layout-fill class="errorPage" ng-show="error">
  <md-content layout="column" layout-align="center">
    <md-card>
      <md-card-content>
        <div class="title">The page you requested was not found.</div>
        <div class="description">You may have clicked an expired link or mistyped the address.</div>
        <div class="link" ui-sref="dashboard">Return Home</div>
      </md-card-content>
    </md-card>
  </md-content>
</div>