<violator></violator>
<div layout="vertical" layout-fill class="homePage messagePage">
  <div class="container" layout="row" layout-align="space-between top" layout-sm="column">
    <div class="tabs-container">
      <div layout="column" layout-align="center">
        <div class="title-icon">
          <span class="icon-box favorite-box"><i class="zmdi zmdi-email"></i></span>
          <span class="title">Messages</span>
        </div>
      </div>
      <div class="tabs" layout="row" layout-align="space-between center">
        <div layout="row" layout-align="start center" flex class="tabs-container">
          <div class="tab" flex="15" ng-click="onTabSelected('inbox')" flex ng-class="source == 'inbox' ? 'active':''">Inbox<span ng-if="count > 0">({{count}})</span></div>
          <div class="tab" flex="15" ng-click="onTabSelected('sent')" flex ng-class="source == 'sent' ? 'active':''">Sent</div>
          <div class="tab" flex="15" ng-click="onTabSelected('unread')" flex ng-class="source == 'unread' ? 'active':''">Unread<span ng-if="count > 0">({{count}})</span></div>
        </div>
        <md-select  layout-align="start" ng-model="source" ng-change="onTabSelected(source)" class="form-control tabs-xs">
          <md-option value="inbox">Inbox<span ng-if="count > 0">({{count}})</span></md-option>
          <md-option value="sent">Sent</md-option>
          <md-option value="unread">Unread<span ng-if="count > 0">({{count}})</span></md-option>
        </md-select>
      </div>
      <div class="messages-list">
        <div class="sk-three-bounce" ng-show="loading">
          <div class="sk-child sk-bounce1"></div>
          <div class="sk-child sk-bounce2"></div>
          <div class="sk-child sk-bounce3"></div>
        </div>
        <div class="err-message" ng-if="errmessage && !loading">{{errmessage}}</div>
        <!-- <div class="err-message" ui-sref="members" ng-if="(errmessage && !loading)">View Profiles</div> -->
        <md-list ng-if="!loading">
          <md-list-item class="noright"  flex ng-repeat="m in messages | orderBy: '-date'" ng-class="{'unread':m.unread}" layout-align="top">
            <div class="image" ng-if="m.additional_data.img_image" imageonload style="background: url({{baseUrl(m.additional_data.img_image)}}) center center no-repeat"></div>
            <div class="image" ng-if="!m.additional_data.img_image && m.additional_data.usr_gender == 'female'" style="background-image: url('assets/images/female.svg')"></div>
            <div class="image" ng-if="!m.additional_data.img_image && m.additional_data.usr_gender == 'male'" style="background-image: url('assets/images/male.svg')"></div>
            <div class="name-info" layout="column" layout-align="center">
              <div class="name" ui-sref="user({usr_token_id: m.additional_data.usr_token_id})">{{m.additional_data.usr_screen_name}}</div>
              <div class="info">
                <small>{{m.additional_data.usr_age}}</small><i class="zmdi zmdi-circle"></i>
                <small>{{m.additional_data.usr_gender}}</small><i class="zmdi zmdi-circle"></i>
                <small ng-if="m.additional_data.usr_location">{{m.additional_data.usr_location}}</small>
              </div>
              <div class="message visible-xs" ui-sref="messageView({usr_token_id: m.additional_data.usr_token_id})">
                <p>{{m.message}}</p>
              </div>
            </div>
            <div layout="row" layout-align="space-between center" class="hidden-xs flex">
              <div flex="100" class="message" ui-sref="messageView({usr_token_id: m.additional_data.usr_token_id})">
                <p>{{m.message}}</p>
              </div>
              <md-button class="md-icon-button delete-button" ng-click="deleteMessage(m.additional_data.usr_token_id, m)" aria-label="More">
                <i class="zmdi zmdi-delete"></i>
              </md-button>
            </div>
          </md-list-item>
        </md-list>
        <!-- <md-button class="button-light-gray button-load-more" ng-click="loadMore(next)">Load More</md-button> -->
      </div>
    </div>
  </div>
</div>