<violator></violator>
<div layout="vertical" layout-fill class="homePage message-thread">
	<div class="container" layout="column" layout-align="start">
	  <div layout="row" layout-align="space-between center">
	    <div class="title-icon">
	      <span class="icon-box favorite-box"><i class="zmdi zmdi-email"></i></span>
	      <span class="title">Messages</span>
	    </div>
	    <div class="sidebar-header">
	      <md-button class="button-light" ui-sref="messages">Back to Messages</md-button>
	    </div>
	  </div>
		<div class="container" layout="row" layout-align="space-between top" layout-sm="column">
	    <div class="tabs-container" flex="70" flex-xs="100">
	      <div class="thread" id="threadScroll">
	      	<div class="sk-three-bounce" ng-show="loading || loadingMore">
	          <div class="sk-child sk-bounce1"></div>
	          <div class="sk-child sk-bounce2"></div>
	          <div class="sk-child sk-bounce3"></div>
	        </div>
        	<div class="load-more" ng-if="next" ng-click="loadMore(next)">Load older messsages</div>
					<div class="item" ng-class="t.usr_id == user.usr_id ? 'right-thread':'left-thread'" ng-repeat="t in thread | orderBy: 'msg_id'">
						<div class="table">
							<div class="cell" ng-if="t.usr_id != user.usr_id">
								<div ng-if="selected.img_image" ui-sref="user({usr_token_id: other_user.usr_token_id})" class="image" style="background:url({{baseUrl(selected.img_image)}}) center center no-repeat;"></div>
								<div class="image" ng-if="!selected.img_image && other_user.usr_gender == 'male'" style="background:url('assets/images/male.svg') center center no-repeat;"></div>
								<div class="image" ng-if="!selected.img_image && other_user.usr_gender == 'female'" style="background:url('assets/images/female.svg') center center no-repeat;"></div>
							</div>
							<div class="cell message-content">
								<div class="content">
									<p>{{t.msg_content}}</p>
								</div>
								<div class="date">{{relDateFormat(t.msg_date_created)}}</div>
							</div>
							<div class="cell" ng-if="t.msg_user == other_user.usr_id">
								<div class="image" ng-if="user.img_image" style="background:url({{baseUrl(user.img_image)}}) center center no-repeat;"></div>
								<div class="image" ng-if="!user.img_image && user.usr_gender == 'male'" style="background:url('assets/images/male.svg') center center no-repeat;"></div>
								<div class="image" ng-if="!user.img_image && user.usr_gender == 'female'" style="background:url('assets/images/female.svg') center center no-repeat;"></div>
							</div>
						</div>
					</div>
	      </div>
	      <div class="type-area">
	      	<form name="chatForm" novalidate>
	      		<div></div>
	        	<textarea placeholder="Write a reply..." rows="3" cols="0" ng-model="msg_content" ng-keyup="sendOnEnter(msg_content, $event)" ></textarea>
	        	<div class="send-button">
		        	<md-button class="button-orange" type="submit" ng-disabled="sending" ng-click="sendMessage(msg_content)"><span ng-hide="sending">Send</span><span ng-show="sending">Sending..</span></md-button>
	        	</div>
	      	</form>
	      </div>
	      <div class="delete-thread-button">
	      	<md-button class="button-light" ng-click="deleteMessage()"><i class="zmdi zmdi-delete"></i>Delete this message thread</md-button>
	      </div>
	    </div>
	    <div flex></div>
	    <div class="sidebar" flex="25">
	    	<div class="user-box">
					<div class="user-photo" ng-if="selected.img_image" ui-sref="user({usr_token_id: other_user.usr_token_id})" style="background: url({{baseUrl(selected.img_image)}}) center center no-repeat;"></div>
					<div class="user-photo" ng-if="!selected.img_image && other_user.usr_gender == 'female'" ui-sref="user({usr_token_id: other_user.usr_token_id})" style="background: url('assets/images/female.svg') center center no-repeat;"></div>
					<div class="user-photo" ng-if="!selected.img_image && other_user.usr_gender == 'male'" ui-sref="user({usr_token_id: other_user.usr_token_id})" style="background: url('assets/images/male.svg') center center no-repeat;"></div>
					<div class="screen-name">{{other_user.usr_screen_name}}</div>
					<div class="screen-detail">
						<small>{{age}}</small><i class="zmdi zmdi-circle"></i>
						<small>{{other_user.usr_gender}}</small><i class="zmdi zmdi-circle"></i>
						<small>{{other_user.info.inf_ethnicity}}</small>
					</div>
					<div class="profile-about">{{other_user.usr_description}}</div>
					<!-- <a ui-sref="user({usr_token_id: other_user.usr_token_id})">See Full Profile</a> -->
					<profile-buttons user="other_user"></profile-buttons>
					<!-- <div class="user-buttons">
						<md-button class="button-orange"><i class="zmdi zmdi-favorite"></i>Fave Her</md-button>
						<md-button flex class="button-gray-transparent">Block User</md-button>
					</div> -->
	    	</div>
	    	<div class="post-box">
					<div class="recent-posts">
						<div class="title">Recent Posts</div>
						<div class="message" ng-hide="other_user.posts">No posts to display.</div>
						<div class="post" ng-repeat="p in other_user.posts | orderBy: '-pos_date_created' | limitTo: 2">
							<div class="content">
								<p>{{p.pos_content}}</p>
							</div>
							<div class="post-date">{{relDateFormat(p.pos_date_modified)}}</div>
						</div>
						<a ng-show="other_user.posts" ui-sref="user({usr_token_id: other_user.usr_token_id})">More posts</a>
					</div>
	    	</div>
    		<report-button user="other_user" ng-if="other_user"></report-button>

	    </div>
		</div>
  </div>
</div>