body {
  font-family: "Nunito", sans-serif;
  font-weight: 300;
  color: #333333; }

form {
  margin-bottom: 0; }

input[type="text"] {
  margin-bottom: 0; }

a, a:hover, a:focus {
  color: inherit;
  text-decoration: none;
  outline: none; }

ul {
  margin-left: 0;
  margin-bottom: 0; }
  ul li {
    list-style-type: none; }

.align-middle {
  position: absolute;
  display: table;
  width: 100%;
  height: 100%;
  top: 0;
  text-align: center; }
  .align-middle > div {
    display: table-cell;
    vertical-align: middle; }

/*==== hamburger ====*/
.lines-button {
  display: inline-block;
  padding: 0;
  transition: .3s;
  cursor: pointer;
  user-select: none;
  border-radius: 0.42857rem;
  position: absolute;
  top: 42px;
  right: 42px;
  z-index: 99999;
  background: transparent;
  border: none; }
  .lines-button:hover {
    opacity: 1; }
  .lines-button:focus {
    outline: none; }
  .lines-button:active {
    outline: none;
    transition: 0;
    background: rgba(0, 0, 0, 0.1); }

.lines {
  display: inline-block;
  width: 3rem;
  height: 0.42857rem;
  background: #fff;
  border-radius: 0.21429rem;
  transition: 0.3s;
  position: relative; }
  .lines:before, .lines:after {
    display: inline-block;
    width: 3rem;
    height: 0.42857rem;
    background: #fff;
    border-radius: 0.21429rem;
    transition: 0.3s;
    position: absolute;
    left: 0;
    content: '';
    transform-origin: 0.21429rem center; }
  .lines:before {
    top: 0.75rem; }
  .lines:after {
    top: -0.75rem; }

.lines-button:hover {
  opacity: 1; }
  .lines-button:hover .lines:before {
    top: 0.85714rem; }
  .lines-button:hover .lines:after {
    top: -0.85714rem; }

.lines-button.x2 .lines {
  transition: background .3s .6s ease; }
  .lines-button.x2 .lines:before, .lines-button.x2 .lines:after {
    transform-origin: 50% 50%;
    transition: top .3s .6s ease, transform .3s ease; }

.lines-button.x2.close {
  opacity: 1; }
  .lines-button.x2.close .lines {
    transition: background .3s 0s ease;
    background: transparent; }
    .lines-button.x2.close .lines:before, .lines-button.x2.close .lines:after {
      transition: top .3s ease, transform .3s .5s ease;
      top: 0;
      width: 3rem; }
    .lines-button.x2.close .lines:before {
      transform: rotate3d(0, 0, 1, 45deg);
      background: #333333; }
    .lines-button.x2.close .lines:after {
      transform: rotate3d(0, 0, 1, -45deg);
      background: #333333; }

/*==== rotating words ====*/
.rw-wrapper .rw-sentence {
  margin: 0; }

.rw-wrapper .rw-sentence span {
  white-space: nowrap; }

.rw-wrapper .rw-words span {
  position: absolute;
  left: 0;
  opacity: 0;
  overflow: hidden;
  width: 100%;
  font-size: 166px;
  line-height: 166px;
  height: 166px;
  color: #fff; }

.rw-wrapper .rw-words-1 span {
  position: absolute;
  opacity: 0;
  overflow: hidden;
  -webkit-animation: rotateWord 18s linear infinite 0s;
  -ms-animation: rotateWord 18s linear infinite 0s;
  animation: rotateWord 18s linear infinite 0s; }

.rw-wrapper .rw-words-1 span:nth-child(2) {
  -webkit-animation-delay: 3s;
  -ms-animation-delay: 3s;
  animation-delay: 3s; }

.rw-wrapper .rw-words-1 span:nth-child(3) {
  -webkit-animation-delay: 6s;
  -ms-animation-delay: 6s;
  animation-delay: 6s; }

.rw-wrapper .rw-words-1 span:nth-child(4) {
  -webkit-animation-delay: 9s;
  -ms-animation-delay: 9s;
  animation-delay: 9s; }

.rw-wrapper .rw-words-1 span:nth-child(5) {
  -webkit-animation-delay: 12s;
  -ms-animation-delay: 12s;
  animation-delay: 12s; }

.rw-wrapper .rw-words-1 span:nth-child(6) {
  -webkit-animation-delay: 15s;
  -ms-animation-delay: 15s;
  animation-delay: 15s; }

@-webkit-keyframes rotateWord {
  0% {
    opacity: 0; }
  2% {
    opacity: 0;
    -webkit-transform: translateY(-30px); }
  5% {
    opacity: 1;
    -webkit-transform: translateY(0px); }
  17% {
    opacity: 1;
    -webkit-transform: translateY(0px); }
  20% {
    opacity: 0;
    -webkit-transform: translateY(30px); }
  80% {
    opacity: 0; }
  100% {
    opacity: 0; } }

@-ms-keyframes rotateWord {
  0% {
    opacity: 0; }
  2% {
    opacity: 0;
    -ms-transform: translateY(-30px); }
  5% {
    opacity: 1;
    -ms-transform: translateY(0px); }
  17% {
    opacity: 1;
    -ms-transform: translateY(0px); }
  20% {
    opacity: 0;
    -ms-transform: translateY(30px); }
  80% {
    opacity: 0; }
  100% {
    opacity: 0; } }

@keyframes rotateWord {
  0% {
    opacity: 0; }
  2% {
    opacity: 0;
    -webkit-transform: translateY(-30px);
    transform: translateY(-30px); }
  5% {
    opacity: 1;
    -webkit-transform: translateY(0px);
    transform: translateY(0px); }
  17% {
    opacity: 1;
    -webkit-transform: translateY(0px);
    transform: translateY(0px); }
  20% {
    opacity: 0;
    -webkit-transform: translateY(30px);
    transform: translateY(30px); }
  80% {
    opacity: 0; }
  100% {
    opacity: 0; } }

@-webkit-keyframes rotateWordsFirst {
  0% {
    opacity: 1;
    -webkit-animation-timing-function: ease-in;
    height: 0px; }
  8% {
    opacity: 1;
    height: 166px; }
  19% {
    opacity: 1;
    height: 166px; }
  25% {
    opacity: 0;
    height: 166px; }
  100% {
    opacity: 0; } }

@-ms-keyframes rotateWordsFirst {
  0% {
    opacity: 1;
    -ms-animation-timing-function: ease-in;
    height: 0px; }
  8% {
    opacity: 1;
    height: 166px; }
  19% {
    opacity: 1;
    height: 166px; }
  25% {
    opacity: 0;
    height: 166px; }
  100% {
    opacity: 0; } }

@keyframes rotateWordsFirst {
  0% {
    opacity: 1;
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
    height: 0px; }
  8% {
    opacity: 1;
    height: 166px; }
  19% {
    opacity: 1;
    height: 166px; }
  25% {
    opacity: 0;
    height: 166px; }
  100% {
    opacity: 0; } }

@-webkit-keyframes rotateWordsSecond {
  0% {
    opacity: 1;
    -webkit-animation-timing-function: ease-in;
    width: 0px; }
  10% {
    opacity: 0.3;
    width: 0px; }
  20% {
    opacity: 1;
    width: 100%; }
  27% {
    opacity: 0;
    width: 100%; }
  100% {
    opacity: 0; } }

@-ms-keyframes rotateWordsSecond {
  0% {
    opacity: 1;
    -ms-animation-timing-function: ease-in;
    width: 0px; }
  10% {
    opacity: 0.3;
    width: 0px; }
  20% {
    opacity: 1;
    width: 100%; }
  27% {
    opacity: 0;
    width: 100%; }
  100% {
    opacity: 0; } }

@keyframes rotateWordsSecond {
  0% {
    opacity: 1;
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
    width: 0px; }
  10% {
    opacity: 0.3;
    width: 0px; }
  20% {
    opacity: 1;
    width: 100%; }
  27% {
    opacity: 0;
    width: 100%; }
  100% {
    opacity: 0; } }

@media screen and (max-width: 768px) {
  .rw-sentence {
    font-size: 18px; } }

@media screen and (max-width: 320px) {
  .rw-sentence {
    font-size: 9px; } }

/*==== template ====*/
header {
  position: fixed;
  height: 0;
  z-index: 9999;
  width: 100%; }
  header .logo {
    padding: 33px; }

#sidebar {
  position: absolute;
  right: 0;
  top: 0;
  width: 333px;
  background-color: #fff;
  height: 100px;
  z-index: 10;
  border-left: 1px solid #e7e7e7; }
  #sidebar > .wrapper {
    padding: 84px 74px;
    padding-top: 120px; }
  #sidebar .main-menu {
    padding-left: 0; }
    #sidebar .main-menu li.divider {
      border-bottom: 2px solid #f2f2f2;
      margin-top: 45px;
      margin-bottom: 45px; }
    #sidebar .main-menu li a {
      padding: 8px 0;
      font-size: 22px;
      position: relative;
      text-transform: uppercase;
      color: #555555;
      line-height: 90px; }
      #sidebar .main-menu li a:after {
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        height: 2px;
        background: #2ac3f2;
        content: '';
        opacity: 0;
        -webkit-transition: opacity 0.3s, -webkit-transform 0.3s;
        -moz-transition: opacity 0.3s, -moz-transform 0.3s;
        transition: opacity 0.3s, transform 0.3s;
        -webkit-transform: translateY(10px);
        -moz-transform: translateY(10px);
        transform: translateY(10px); }
      #sidebar .main-menu li a:hover::after, #sidebar .main-menu li a:focus::after {
        opacity: 1;
        -webkit-transform: translateY(0px);
        -moz-transform: translateY(0px);
        transform: translateY(0px); }
  #sidebar .social {
    padding: 16px 0; }
    #sidebar .social a {
      position: relative;
      font-size: 17px;
      width: 30px;
      height: 30px;
      display: inline-block;
      text-align: center;
      background: #2ac3f2;
      color: #fff;
      line-height: 30px;
      border-radius: 50%;
      margin-right: 12px; }
      #sidebar .social a .mask {
        position: absolute;
        top: 0;
        left: 0;
        cursor: pointer;
        border-radius: 50%;
        display: inline-block;
        height: 30px;
        width: 30px;
        border: 15px solid #333;
        box-sizing: border-box;
        opacity: 1;
        visibility: visible;
        transition: all 0.3s ease-in-out;
        font-size: 17px; }
        #sidebar .social a .mask .icon {
          position: relative;
          left: -3px;
          top: -14px; }
      #sidebar .social a .figure {
        position: relative;
        z-index: 999; }
      #sidebar .social a:hover .mask {
        opacity: 0;
        border: 0px solid rgba(0, 0, 0, 0.7);
        visibility: hidden; }
  #sidebar .copyright {
    font-size: 13.3px;
    text-transform: uppercase;
    color: #909090;
    margin-top: 40px; }

#contact {
  width: 580px;
  height: 100%;
  position: absolute;
  top: 0;
  right: 333px;
  background-color: #fff;
  z-index: 9; }
  #contact > .wrapper {
    padding: 84px 80px; }
  #contact .back {
    font-size: 39px;
    position: absolute;
    top: 26px;
    right: 42px;
    cursor: pointer; }
  #contact .title {
    font-size: 22px;
    line-height: 1;
    text-transform: uppercase;
    letter-spacing: 4px;
    padding-bottom: 30px; }
  #contact .text {
    font-size: 17px;
    margin-bottom: 24px; }
    #contact .text a {
      color: #2ac3f2; }
  #contact form .form-control {
    height: 40px;
    border-color: #ebebeb;
    box-shadow: none;
    font-size: 16.6px; }
    #contact form .form-control:focus {
      border-color: #bbbbbb; }
  #contact form textarea.form-control {
    height: 80px; }
  #contact form .submit {
    margin-top: 40px;
    padding-bottom: 40px;
    border-bottom: 2px solid #eeeeee; }
    #contact form .submit button {
      background: #2ac3f2;
      border: none;
      color: #fff;
      text-transform: uppercase;
      font-size: 17px;
      padding: 10px 30px;
      border-radius: 24px;
      letter-spacing: 2px; }
  #contact form .contact-info {
    width: 60%;
    margin: 0 auto;
    font-size: 11px;
    line-height: 1.6;
    margin-top: 30px; }

/*==== pages ====*/
.page-home .top {
  position: relative;
  background: url("../images/bg-home-1.jpg") center center no-repeat;
  -webkit-background-size: cover;
  background-size: cover; }
  .page-home .top .think-sumo {
    font-family: "bebas_neueregular";
    font-size: 166px;
    color: #fff;
    line-height: 1;
    position: relative;
    top: -39px; }
    .page-home .top .think-sumo .think span {
      display: inline-block;
      padding: 0 80px;
      border-bottom: 4px solid #2ac3f2; }
  .page-home .top .down {
    position: absolute;
    bottom: 0;
    width: 100%;
    z-index: 9; }
    .page-home .top .down i {
      cursor: pointer;
      font-size: 55px;
      color: #fff; }

.page-home .bottom .box {
  padding-bottom: 160px; }

.page-home .bottom .we {
  color: #fff;
  text-transform: uppercase;
  padding: 150px 0;
  background: url("../images/bg-home-2.jpg") center center no-repeat;
  -webkit-background-size: cover;
  background-size: cover; }
  .page-home .bottom .we .intro {
    font-size: 28px;
    letter-spacing: 3px; }
  .page-home .bottom .we .company {
    line-height: 1;
    font-family: "bebas_neueregular";
    font-size: 100px; }

.page-home .bottom .about {
  padding: 110px 0; }
  .page-home .bottom .about .quote {
    padding-top: 60px;
    font-family: "bebas_neueregular";
    font-size: 50px; }
    .page-home .bottom .about .quote span {
      color: #2ac3f2; }
  .page-home .bottom .about .content {
    padding: 0 25px;
    font-size: 18px; }
    .page-home .bottom .about .content p {
      margin-bottom: 43px; }
    .page-home .bottom .about .content .clients img {
      margin-right: 40px;
      margin-bottom: 20px; }

.page-home .bottom .staff {
  margin-bottom: 140px; }
  .page-home .bottom .staff .personnel {
    -webkit-filter: grayscale(1);
    filter: grayscale(1);
    -webkit-transition: 1s;
    transition: 1s; }
    .page-home .bottom .staff .personnel:hover {
      -webkit-filter: grayscale(0);
      filter: grayscale(0); }
    .page-home .bottom .staff .personnel .photo {
      margin-bottom: 35px; }
      .page-home .bottom .staff .personnel .photo img {
        max-width: 100%; }
    .page-home .bottom .staff .personnel .name {
      font-size: 33px;
      font-family: "bebas_neueregular";
      line-height: 1; }
    .page-home .bottom .staff .personnel .position {
      font-size: 15px;
      text-transform: uppercase; }

.page-home .bottom .approach .header {
  font-size: 22px;
  text-transform: uppercase;
  letter-spacing: 3px;
  margin-bottom: 36px; }

.page-home .bottom .approach .steps {
  position: relative; }
  .page-home .bottom .approach .steps .arrow {
    position: absolute;
    top: 35px;
    font-size: 90px;
    color: #e6e6e6;
    cursor: pointer;
    z-index: 99; }
    .page-home .bottom .approach .steps .arrow.prev {
      left: 0; }
    .page-home .bottom .approach .steps .arrow.next {
      right: 0; }
  .page-home .bottom .approach .steps .slideshow {
    padding: 0px 90px; }
    .page-home .bottom .approach .steps .slideshow .title {
      font-size: 50px;
      font-family: "bebas_neueregular";
      margin-bottom: 36px;
      letter-spacing: 1px; }
    .page-home .bottom .approach .steps .slideshow .process {
      font-size: 18px;
      line-height: 1.8; }

.page-home .bottom .approach .figures {
  padding-top: 100px; }
  .page-home .bottom .approach .figures .col-sm-1 {
    width: 20%; }
    .page-home .bottom .approach .figures .col-sm-1 .circle {
      cursor: pointer;
      width: 125px;
      height: 125px;
      background-color: #34b4e6;
      border-radius: 50%;
      margin: 0 auto; }
      .page-home .bottom .approach .figures .col-sm-1 .circle:hover, .page-home .bottom .approach .figures .col-sm-1 .circle.current {
        background-color: #333333; }
      .page-home .bottom .approach .figures .col-sm-1 .circle table {
        width: 100%;
        height: 100%; }
        .page-home .bottom .approach .figures .col-sm-1 .circle table td {
          vertical-align: middle; }

.page-portfolio .works {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  padding-bottom: 83px; }

.page-portfolio footer {
  position: absolute;
  width: 100%;
  bottom: 0; }
  .page-portfolio footer .category {
    padding: 0; }
    .page-portfolio footer .category a {
      line-height: 83px;
      display: block;
      text-transform: uppercase; }
      .page-portfolio footer .category a:hover {
        background-color: #2ac3f2;
        color: #fff; }
