/** css styles to take out default css on bootstrap **/

form {
	margin-bottom: 0;
}
input[type="text"] {
	margin-bottom: 0;
}
a, a:hover {
	color: inherit;
	text-decoration: none;
}
ul {
	margin-left: 0;
	margin-bottom: 0;
}
li {
	list-style-type: none; 
}

 /**-- END -- **/

nav{
 	margin: 30px 0;
}

nav img{
	max-width: 100%;
}

.reset-password{
	margin-bottom: 15px;
}

div.header{
	padding-bottom: 25px;
  font-weight: 700;
  letter-spacing: 1px;
  font-size: 18px;
  color: #ff8200;
}

label{
	font-weight: 400 !important;
}

.form-control{
	border: 1px solid #25474d;
}

.form-control:focus,
.btn-warning:focus{
	border-color: #ff8200;
	-webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(255, 130, 0,.6);
  box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(255, 130, 0,.6);
}

.btn-warning{
  background-color: #ff8200;
  border-color: #eea236;
  text-transform: uppercase !important;
}

.alert h4 {
	font-size: 16px;
}

.alert>p, .alert>ul {
	font-size: 13px;
}

.alert-congrats {
	color: #3c763d!important;
    background-color: #dff0d8!important;
    border-color: #d6e9c6!important;
}