.landingPage {
	md-content {
		overflow: hidden;
	}
	.lgbt-section {
		background: #2e363b;
		color: #fff;
		padding: 0 15px;
		.lgbt {
			padding: 50px 0;
			max-width: 1000px;
			margin: 0 auto;
			text-align: center;
			.title {
				font-size: 25px;
				padding-bottom: 10px;
				font-weight: normal;
				margin: 0;
			}
			.boxes {
				display: flex;
		    align-content: space-around;
		    align-items: center;
		    justify-content: space-around;
		    max-width: 900px;
		    margin: 0 auto;
				.box {
					display: inline-block;
					max-width: 230px;
					padding: 25px;
					border-radius: 4px;
					background: rgba(0, 0, 0, 0.1);
					background-size: 120px;
					align-self: stretch;
					
					.box-title {
						font-family: 'gotham-medium';
						font-size: 15px;
					}
					.box-content {
						padding: 10px 0 0;
						text-align: justify;
					}
				}
				@media screen and(max-width: 900px) {
					display: block;
					.box {
						max-width: 350px;
						margin: 10px 0;
					}
				}
			}
		}
	}
	.find-match {
    background: url('../assets/images/find-banner2.jpg') top center no-repeat;
    background-size: 740px;
    color: white;
    height: 250px;
    position: relative;
    padding: 0;
    @media screen and(max-width: 375px) {
    	height: 340px;
    }
    .overlay {
      height: 100%;
      background: rgba(46,54,59,1);
      background: -moz-linear-gradient(left, rgba(46,54,59,1) 0%, rgba(46,54,59,0.99) 20%, rgba(46,54,59,0.9) 30%, rgba(46,54,59,0.98) 40%, rgba(46,54,59,0.9) 50%, rgba(46,54,59,0.9) 60%, rgba(46,54,59,0.9) 70%, rgba(46,54,59,0.99) 80%, rgba(46,54,59,1) 100%);
      background: -webkit-gradient(left top, right top, color-stop(0%, rgba(46,54,59,1)), color-stop(20%, rgba(46,54,59,0.99)), color-stop(30%, rgba(46,54,59,0.99)), color-stop(40%, rgba(46,54,59,0.98)), color-stop(50%, rgba(46,54,59,0.9)), color-stop(60%, rgba(46,54,59,0.98)), color-stop(70%, rgba(46,54,59,0.99)), color-stop(80%, rgba(46,54,59,0.99)), color-stop(100%, rgba(46,54,59,1)));
      background: -webkit-linear-gradient(left, rgba(46,54,59,1) 0%, rgba(46,54,59,0.99) 20%, rgba(46,54,59,0.9) 30%, rgba(46,54,59,0.98) 40%, rgba(46,54,59,0.9) 50%, rgba(46,54,59,0.9) 60%, rgba(46,54,59,0.9) 70%, rgba(46,54,59,0.99) 80%, rgba(46,54,59,1) 100%);
      background: -o-linear-gradient(left, rgba(46,54,59,1) 0%, rgba(46,54,59,0.99) 20%, rgba(46,54,59,0.9) 30%, rgba(46,54,59,0.98) 40%, rgba(46,54,59,0.9) 50%, rgba(46,54,59,0.9) 60%, rgba(46,54,59,0.9) 70%, rgba(46,54,59,0.99) 80%, rgba(46,54,59,1) 100%);
      background: -ms-linear-gradient(left, rgba(46,54,59,1) 0%, rgba(46,54,59,0.99) 20%, rgba(46,54,59,0.9) 30%, rgba(46,54,59,0.98) 40%, rgba(46,54,59,0.9) 50%, rgba(46,54,59,0.9) 60%, rgba(46,54,59,0.9) 70%, rgba(46,54,59,0.99) 80%, rgba(46,54,59,1) 100%);
      background: linear-gradient(to right, rgba(46,54,59,1) 0%, rgba(46,54,59,0.99) 20%, rgba(46,54,59,0.9) 30%, rgba(46,54,59,0.98) 40%, rgba(46,54,59,0.9) 50%, rgba(46,54,59,0.9) 60%, rgba(46,54,59,0.9) 70%, rgba(46,54,59,0.99) 80%, rgba(46,54,59,1) 100%);
      filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#2e363b', endColorstr='#2e363b', GradientType=1 );
    }
    .container {
      height: 100%;
    }

    .title {
    	font-family: 'gotham-book';
    	font-size: 16px;
    	margin: 0;
    }
    .description {
    	max-width: 700px;
    	text-align: center;
    	line-height: 1.5;
    	padding: 0 15px;
    	p {
    		margin-top: 0;
    	}
    }
  }
 
 	.gray {
  	.toggle {
  		>div {
  			background: $border-color;
  			border-color:$copyright;
  			&.active {
  				background: $white-gray;
  				border: none;
  			}
  		}
  	}
  }
  .toggle {
  	max-width: 1000px;
  	text-align: right;
  	margin: 10px auto;
  	
  	>div {
  		text-align: center;
  		display: inline-block;
  		padding: 5px 10px;
  		border: 1px solid $border;
  		border-radius: 4px;
  		font-size: 11px;
  		cursor: pointer;
  		outline: none;
  		background: $dirty-white;
  		color: $secondary;
  		&:first-child {
  			border-top-right-radius: 0;
  			border-bottom-right-radius: 0;
  			width: 80px;
  		}
  		&:last-child {
  			border-top-left-radius: 0;
  			border-bottom-left-radius: 0;
  			width: 80px;
  			margin-right: 10px;
  		}

  		&.active {
				border: none;
  			color: $primary;
  			-webkit-box-shadow: 0px 0px 2px 1px rgba(0,0,0,0.3);
	      -moz-box-shadow: 0px 0px 2px 1px rgba(0,0,0,0.3);
	      box-shadow: 0px 0px 2px 1px rgba(0,0,0,0.3);
  			background: #fff;
  		}
  	}
  }
	.steps-container {
		padding: 0px 15px;

		.steps {
			max-width: 1000px;
			margin: 0 auto;
			.step {
				margin: 0 0 20px;
				padding: 20px 20px;
				max-width: 290px;
				text-align: center;
				position: relative;
				img {
					max-height: 50px;
					margin: 20px auto;
				}
				.step-number {
					background: $red-orange;
					border-radius: 4px;
					color: #fff;
					padding: 5px 10px 3px;
					line-height: 1;
					font-family: 'gotham-medium';
	        z-index: 1;
				}
				.step-line {
	        position: absolute;
	        width: 100%;
	        height: 2px;
	        top: 51%;
	        background-color: $border;
	        right: -55%;
	        z-index: 0;
	      }
				@media screen and(max-width: 913px) {
					.step-line {
						top: 51%;
					}
				}
				@media screen and(max-width: 768px) {
					.step-line {
						top: 48%;
					}
				}
				@media screen and(max-width: 629px) {
					.step-line {
						top: 45%;
					}
				}

				@media screen and(max-width: 599px) {
					margin: 0 auto!important;
					border-right: none;
					max-width: 100%;
					.step-line {
						display: none;
					}
				}
				.step-title {
					font-family: 'gotham-medium';
					margin: 10px auto;
				}

				.step-desc {
					text-align: center;
					font-size: 13px;
					color: $secondary;
				}
			}
		}

		@media screen and(max-width: 599px) {
			padding-bottom: 50px;
			.steps {
				display: block;
			}
		}

		.description {
			max-width: 800px;
			margin: 0 auto;
			padding: 20px;
			text-align: center;
		}
	}
}
.mobile-view {
	display: none !important; 
}
.md-dialog-container {
	z-index: 1000;
}
.button-gray-transparent {
  background: transparent;
  color: $copyright;
  border: 1px solid $copyright;
  
  &:hover {
    background: transparent !important;
    color: $red-orange !important;
    border: 1px solid $red-orange !important;

    i {
    	color: $red-orange !important;
    }
  }
}

.membersPage, .searchPage {
	@media screen and(max-width: 768px){
		.users-box {
			.user-detail-box {
				max-width: 100%;
				margin: 5px auto;
				width: 100%;
				md-card {
					width: 100%;
					max-width: 99%;
					md-card-title {
						md-card-title-media {
							.card-media {
								width: 100px!important;
								height: 100px!important;
							}
						}
					}
				}
			}
		}
	}

	@media screen and(max-width: 599px) {
		.users-box {
			.user-detail-box {
				margin: 10px auto;
				md-card {
					margin: 0;
					md-card-title {
						md-card-title-media {
							.card-media {
								width: 70px!important;
								height: 70px!important;
							}
						}
					}
				}
			}
		}
	}
	.tabs {
		.tab {
			margin-bottom: -12px;
		}
	}
}

.favoritePage {
	.users-box {
		display: flex;
    flex-flow: row wrap;
    max-width: 1000px;
    @media screen and (max-width: 599px) {
		 	display: block;
		 	> div {
		 		display: block;
		 	}

		 	.user-detail-box {
		 		margin: 10px auto;
		 		md-card {
		 			md-card-actions {
		 				.details {
		 					&.actions {
		 						.md-button {
		 							display: inline-block;
		 						}
		 					}
		 				}
		 			}
		 		}
		 	}
		}
	}
	.tabs {
		.tab {
			margin-bottom: -2px;
		}
	}
}

.messagePage {
	.tabs {
		.tab {
			margin-bottom: -2px;
		}
	}
	.sk-three-bounce {
		position: absolute;
		margin: 10px auto;
		top: 0;
    left: 0;
    right: 0;
	}
}

.button-icon {
	padding: 0;
	max-width: initial;
	min-width: 0;
	height: 38px;
	width: 38px;
	margin: 0;
	border: none;
	text-align: center;

	.zmdi {
		font-size: 20px;
		padding: 0;
	}

	&:hover {
		.zmdi {
			color: $red-orange !important;
		}
	}
}

.button-light-gray {
	background: #f2f5f7;
	color: #acb1b6;
	border: none;
	border-radius: 2px;

	&:hover {
		background: #e3e5e6 !important;
		border: none !important;
	}
}

.button-capitalize {
	text-transform: capitalize;
}

.button-uppercase {
	text-transform: uppercase;
}

.button-icon {
	i {
		font-size: 18px;
		color: inherit;
		margin: 0;
	    margin-right: 10px;
	}
}

.button-menu {
	font-size: 18px;
}

.title-icon {
	.icon-box {
		padding: 0 5px;
		.zmdi {
			color: #dbe2e8;
			font-size: 20px;
		}
	}

	.title {
		font-size: 20px;
	}
}
md-card {
	box-shadow: 0px 0px 3px 0px rgba(0,0,0,0.2);
	&:hover {
  		box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.3);
  	}
}
.content {

	md-tabs-canvas {
		height: 40px;
	}
	md-pagination-wrapper {
		height: 40px;
	}

	.md-tab {
		color: $primary;
		font-size: 11px;
		padding: 8px 35px;
		font-weight: bold;

		&.md-active {
			color: $primary;
			font-weight: bold;
		}
	}

	md-ink-bar {
		color: $red-orange;
		background: $red-orange;
	}

	md-content {
		padding-top: 20px;
		@media screen and (max-width: 768px) {
			display: block;
		}
	}

}
.tab-options {
	.right {
		text-align: right;
	}

	.md-button {
		background: #fff;
		border: 1px solid #eceef0;
		font-size: 11px;
		color: $copyright;
		padding: 0 10px;
		line-height: 30px;
		min-height: 30px;
		margin: 0;
	}

	.sort-option {
		font-size: 11px;


		label {
			padding-right: 10px;
		}

		.sort-select {
			line-height: 30px;
			min-height: 30px;
			background: #FFF;
			border: 1px solid #eceef0;
			border-radius: 3px;
			padding: 5px 10px;
	    color: rgba(46, 54, 59, 0.8);
			outline: none !important;

		}
	}
}
.tab-content-title {
	font-size: 16px;
}

md-nav-bar {
	md-nav-item {
		color: $primary;
		font-size: 11px;
		padding: 8px 35px;
		font-weight: bold;

		&.md-active {
			color: $primary;
			font-weight: bold;
		}
	}
}

.posts {
	padding-top: 10px;
	margin: 0 5px 5px;

  .post {
   	padding: 15px 20px;
		margin-top: 20px;

		&:first-child {
			margin-top: 10px;
		}

   	.user-detail {  
			margin: 5px 0;
			position: relative;

      span {
      	padding: 0 4px;
      	vertical-align: middle;
      	color: $copyright;
      	text-transform: capitalize;
				border-right: none;

				@media screen and (max-width: 768px) {
					padding-left: 0;
					display: block;
				}

        	small, .zmdi {
          	padding: 0 4px;
        	}

        	small {
        		font-size: 11px;
        	}

        	small:first-child {
        		@media screen and (max-width: 768px) {
        			padding-left: 0;
        		}
        	}

        	.zmdi {
        		font-size: 3px;
        		vertical-align: super;
          	vertical-align: middle;
        	}
      }

      .screen-name {
				color: #2e363b;
				padding-left: 0;
				font-weight: bold;
				font-size: 13px;
				cursor: pointer;
				text-decoration: none;
      }

      .top-right {
      	text-transform: initial;
      	position: absolute;
      	top: 0px;
      	right: 0;
      	font-size: 9px;
      }
		}
	
		.user-post {
			font-size: 13px;
			padding-bottom: 15px;
			p {
				&:first-child {
					margin-top: 0;
				}
			}

			img {
				max-width: 300px;
				width: auto;
				height: auto;
				max-height: 300px;
				border-radius: 5px;
			}
		}

  	.user-actions {

    	.display-on-hover {
    		visibility: hidden;
    	}

      .md-button {
        	text-transform: none;
        	border: 1px solid $border;
        	color: $copyright;
        	padding: 0px 20px;
        	min-width: 120px;
        	margin: 3px;
        	font-size: 12px;
        	line-height: 31px;
        	min-height: 31px;

        	&.active {
        		border-color: $red-orange!important;
        		color: $red-orange!important;

          	.zmdi {
          		color: $red-orange!important;
          	}
        	}

        	.zmdi {
          	padding-right: 8px;
          	margin: 0;
          	font-size: 14px;
          	color: $copyright;
          	@media screen and (max-width: 768px) {
          		padding-right: 0;
          	}
        	}
        	span {
        		
        	}

        	&.button-icon {
        		padding: 0;
        		max-width: initial;
        		min-width: 0;
        		height: 31px;
        		width: 31px;
        		margin: 0;
        		border: none;
        		text-align: center;
        		line-height: 31px;

        		.zmdi {
        			font-size: 18px;
        			padding: 0;
        			line-height: 31px;
        		}
        	}

      }
  	}

  	&:hover {
    	.display-on-hover {
    		visibility: visible;
    	}
  	}

    &.post-card {
    	padding: 0;

			md-card {
				margin: 0;

				md-card-title {
					padding: 0;
					border: 0;
					@media screen and (max-width: 768px) {
						display: block;
					}

					md-card-title-media {
						margin: 0;
						width: 100px;
						padding: 12px;
						display: block;
						cursor: pointer;

						.card-media {
							background-color: #eee;
							background-size: cover;
							background-position: center center;
							background-repeat: no-repeat;
							height: 100px;
							width: 100%;
							display: block;
						}
					}

					md-card-title-text {
						padding: 12px 15px;
						padding-left: 12px;
					}
				}
			}
    }
  }

  .button-load-more {
  	margin: 0;
  	margin-top: 30px;
  	width: 100%;
  	padding: 10px;
  	border-radius: 2px;
  }
}

.users-box {
	padding: 10px 0;
	margin-bottom: 15px;
	display: flex;
  flex-flow: row wrap;

	.user-detail-box {
		-webkit-box-flex: 1; 
		-moz-flex: auto; 
		-webkit-flex: auto; 
		flex: auto;
 		@media screen and (max-width: 599px) {
 			margin: 10px auto;
 		}
		
		md-card {
			padding: 0;
			max-width: 480px;
			md-card-title {
				padding: 10px;
				md-card-title-text {
					overflow: hidden;
					text-overflow: ellipsis;
					white-space: nowrap;
					padding-left: 15px;
				}

				md-card-title-media {
					margin: 0;
					cursor: pointer;
					.card-media {
						background-size: cover;
						background-position: center center;
						background-repeat: no-repeat;
						width: 128px;
						height: 128px;
						background-color: #eee;
					}
				}

				md-card-actions {
					margin: 0;
					border-top: 1px solid #f3f3f5;

					.details {
						padding-top: 8px;
						margin-right: 10px;
						.detail {
							font-size: 10px;
					    overflow: hidden;
						  text-overflow: ellipsis;
						  white-space: nowrap;
							.label {
								color: #afb1b4;
							}
							.value {
								color: #787c7e;
							}
						}

						&.actions {
							text-align: right;
							.md-button {
								margin: 0;
								font-size: 18px;
								color: #dae2e7;
								padding: 0;
								min-height: 0;
								max-height: 30px;
								max-width: 30px;
								width: 30px;
								height: 30px;
								line-height: 30px;

								&:hover, &.active {
									color: $red-orange;
								}
							}
						}
					}
				}
			}
			md-card-actions {
				margin: 0;
				border-top: 1px solid #f3f3f5;

				.details {
					padding-top: 8px;
					margin-right: 10px;
					.detail {
						font-size: 10px;
				    overflow: hidden;
					  text-overflow: ellipsis;
					  white-space: nowrap;
						.label {
							color: #afb1b4;
						}
						.value {
							color: #787c7e;
						}
					}

					&.actions {
						text-align: right;
						.md-button {
							margin: 0;
							font-size: 18px;
							color: #dae2e7;
							padding: 0;
							min-height: 0;
							max-height: 30px;
							max-width: 30px;
							width: 30px;
							height: 30px;
							line-height: 30px;

							&:hover, &.active {
								color: $red-orange;
							}
						}
					}
				}
			}
     	.user-detail {  
				margin: 5px 0;
				position: relative;

        div {
        	padding: 0;
        	vertical-align: middle;
        	color: $copyright;
        	text-transform: capitalize;
					border-right: none;
					white-space: initial;
					line-height:1.1;

					@media screen and (max-width: 768px) {
						padding-left: 0;
						display: block;
					}

        	small, .zmdi {
          	padding: 0 4px;
        	}

        	small {
        		font-size: 11px;
        	}

        	small:first-child {
      			padding-left: 0;
        	}

        	.zmdi {
        		font-size: 3px;
        		vertical-align: super;
          	vertical-align: middle;
        	}
        }

        .screen-name {
					color: #2e363b;
					padding-left: 0;
					font-weight: bold;
					font-size: 13px;
					cursor: pointer;
					text-decoration: none;
        }

        .top-right {
        	position: absolute;
        	top: 0px;
        	right: 0;
        	font-size: 9px;
        	text-transform: initial;
        	&.online {
        		.zmdi {
					color: #37d42a;
					font-size: 11px;
					margin-top: -3px;
					padding: 0 1px;
        		}
        	}
        }
			}
			.user-post {
				font-size: 11px;
				padding-right: 0;
				padding-left: 0;
				padding-top: 10px;
				padding-bottom: 20px;
				white-space: nowrap;
		    overflow: hidden;
		    text-overflow: ellipsis;
				@media screen and (max-width: 599px) {
					padding-bottom: 0px;
				}
			}
		}
	}

	@media screen and (max-width: 599px) {
	 	display: block;
	 	> div {
	 		display: block;
	 	}

	 	.user-detail-box {
	 		md-card {
	 			md-card-actions {
	 				.details {
	 					&.actions {
	 						.md-button {
	 							display: inline-block;
	 						}
	 					}
	 				}
	 			}
	 		}
	 	}
	}

}

.homePage {
	@media screen and (max-width: 1100px) {
	  padding-right: 15px;
	  padding-left: 15px;
	  padding-top: 20px;

	  &.searchPage {
	  	padding-top: 0!important;
	  }
	  &.messagePage, &.message-thread, &.membersPage,  {
	  	padding-top: 20px;
	  }
	}

	.container {
		@media screen and (max-width: 768px) {
		  display: block;
		}
		.button-load-more {
			margin: 0;
			margin-top: 30px;
			width: 100%;
			padding: 10px;
			border-radius: 2px;
		}

		.feed {
			@media screen and (max-width: 768px) {
			  max-width: 100%;
			  width: 100%;
			}
			.description {
				padding-top: 15px;
				font-size: 12px;
				width: 75%;
			}
			.criteria {
				@media screen and (max-width: 768px) {
				  display: block;
				  padding-top: 25px;
				  .button-orange {
				  	margin-top: 15px;
				  }
				}
			}
			.page-content {
				color: $primary;
				a {
					text-decoration: none;
					color: $blue;
				}
				img {
					max-width: 100%;
				}
			}
		}

		.tabs-container {
			width: 100%;
			.tabs-container {
				max-width: 90%;
			}
			@media screen and (max-width: 768px) {
				width: 100%;
			}

			// md-card {
			// 	height: 100%;
			// 	padding-bottom: 42px;
			// 	position: relative;

			// 	> .image {
			// 		height: 160px;
			// 		background-color: #eee;
			// 	}

			// 	md-card-content {
			// 		padding: 20px 15px;
			// 		padding-bottom: 0;

			//         .screen-name {
			// 			color: $red-orange;
			//         	vertical-align: middle;
			//         	text-transform: capitalize;
			// 			border-right: none;
			// 			padding-bottom: 5px;
			//         }
					
			// 		.screen-detail {
			// 			color: #979ba7;
			// 			small, .zmdi {
			// 			  	padding: 0 4px;
			// 			}

			// 			small {
			// 				&:first-child {
			// 					padding-left: 0;
			// 				}
			// 			}

			// 			.zmdi {
			// 				font-size: 3px;
			// 				vertical-align: super;
			// 		  	vertical-align: middle;
			// 			}
			// 		}

			// 		.content {
			// 			padding: 10px 0;
			// 			font-size: 12px;
			// 		}
			// 	}

			// 	md-card-actions {
			// 		margin: auto;
			// 		padding: 10px 15px;
			// 		position: absolute;
			// 		bottom: 0;
			// 		width: 100%;

			// 		a  {
			// 			.zmdi {
			// 				font-size: 22px;
			// 				color: $copyright;
			// 			    content: '\f15e';
			// 			}

			// 			&:hover {
			// 				background: transparent !important;
			// 				.zmdi {
			// 					color: $red-orange;
			// 				}
			// 				.zmdi-favorite-outline:before {
			// 					content: '\f15f';
			// 				}
			// 			}
			// 		}
			// 	}
			// }

			md-list-item {
				width: 100%;
			}

			.messages-list {
				min-height: 400px;
				position: relative;

				.hidden-xs {
					cursor: pointer;
					max-width: 75%;
				}
				md-list {
					md-list-item {
						border: 1px solid #ccc;
						border-bottom: none;
						padding: 15px;
						padding-right: 65px;

						&:last-child {
							border-bottom: 1px solid #ccc;
						}

						&:hover {
							background-color: #ddd;

							.delete-button {
								display: block;
							}
						}

						&.unread {
							background: $dirty-white;
							.message {
								font-family: 'gotham-medium';
							}
						}

						.delete-button {
							color: #777;
							font-size: 20px;
							display: none;
							width: 40px;
							height: 40px;
							min-width: 40px;
						}

						.image {
							width: 50px;
							height: 50px;
							min-width: 50px;
							background-color: #eee;
							border: 1px solid #aaa;
							background-size: cover!important;
						}

						.name-info {
							padding-left: 15px;
							padding-right: 15px;
							min-width: 180px;
							cursor: pointer;

							.name {
								color: $red-orange;
							}

							.info {
								font-size: 12px;
								color: $copyright;
								vertical-align: middle;
								white-space: nowrap;
								text-transform: capitalize;
								text-overflow: ellipsis;
								overflow: hidden;

								.zmdi {
									padding: 0 3px;
									font-size: 3px;
									vertical-align: super;
								  	vertical-align: middle;
								}
							}
						}
						.count {
							margin-left: 15px;
							padding: 0 10px;
							background-color: $red-orange;
							color: #FFF;
							font-size: 12px;
							line-height: 23px;
							border-radius: 10px;
							vertical-align: middle;
						}
						.message {
							font-size: 12px;
							white-space: nowrap;
							text-overflow: ellipsis;
							overflow: hidden;
							padding: 0 15px;
							cursor: pointer;

							& * {
								white-space: nowrap;
								text-overflow: ellipsis;
								overflow: hidden;								
							}
						}
					}
				}
			}
		}
	}

	.photos-container {
	  margin: 30px 0;
	  @media screen and(max-width: 599px) {
			display: block;
	  }
	  .image {
	    width: 380px;
	    height: 380px;
	    border: 1px solid $border;
      background-color: #eee;
	  }

	  .photo {
	    transition: all ease-in 0.2s;
	    border: 1px solid $border;
	    height: 50px;
	    width: 50px;

	    &.active, &:hover {
	      cursor: pointer;
	      border-color: $red-orange;
	      -webkit-box-shadow: 0px 3px 5px 0px rgba(0,0,0,0.3);
	      -moz-box-shadow: 0px 3px 5px 0px rgba(0,0,0,0.3);
	      box-shadow: 0px 3px 5px 0px rgba(0,0,0,0.3);
	      transition: all ease-in 0.2s;
	    }
	  }
	}

	.sidebar {
		@media screen and (max-width: 768px) {
			max-width: 100%;
			width: 100%;
			margin-top: 40px;
		}
		> .title {
			text-transform: uppercase;
		}
	}
}

.page-content {
	p {
		font-size: 12px;
	}
}

.message-thread {
	.tabs-container {
		@media screen and (max-width: 768px) {
			max-width: 100%!important;
		}
	}
	.content {
		min-height: 0;
	}
	.thread {
		border: 1px solid #eee;
		max-height: 550px;
		overflow: auto;
		min-height: 400px;
		overflow-x: hidden;

		@media screen and(max-height: 654px) {
			max-height: 280px;
			min-height: 200px;
		}

		.load-more {
			color: $copyright;
			cursor: pointer;
			outline: none;
			text-align: center;
			font-size: 13px;
			padding: 10px 20px 5px;
		}

		.item {
			padding: 10px 20px;
			&:first-child {
				padding-top: 20px;
			}
			&:last-child {
				padding-bottom: 20px;
			}
			.table {
				display: table;
			}
			.cell {
				vertical-align: top;
				display: table-cell;
			}
			.image {
				width: 30px;
				height: 30px;
				max-height: 30px;
				min-width: 30px;
				background-color: #eee;
				border: 1px solid #aaa;
				background-size: cover!important;
			}

			.message-content {
				.content {
					background: #ecf4fa;
					padding: 10px;
					border-radius: 5px;
					font-size: 12px;;
					margin-bottom: 8px;
					margin-top: 15px;

					&:first-child {
						margin-top: 0;
					}
					p {
						margin: 0;
						padding: 5px 0;
					}
				}

				.date {
					font-size: 10px;
					color: #979ba7;
				}
			}

			&.left-thread {
				.message-content {
					padding-left: 15px;
				}
				.content {
					background: #ecf4fa;
				}

			}

			&.right-thread {
				.table {
					margin-left: auto;
					margin-right: 0;
				}
				.message-content {
					padding-right: 15px;
				}
				.content {
					background: #f7f6f6;
				}
				.date {
					text-align: right;
				}
			}
		}
	}

	.type-area {
		background: #f7f6f6;
		padding: 20px;

		textarea {
			border: 1px solid #cccccc;
			width: 100%;
			padding: 18px;
			resize: none;
			box-sizing: border-box;
			outline: none !important;
		}

		.send-button {
			text-align: right;

			.md-button {
				margin: 0;
				border-radius: 2px;
				margin-top: 10px;
				text-transform: initial;
				padding: 0 40px;
			}
		}
	}

	.delete-thread-button {
		.md-button {
			margin: 0;
			margin-top: 40px;
			width: 100%;
			background: #f7f6f6;
			border: none;
			border-radius: 1px;
			color: $copyright;
			text-transform: initial;
			padding: 5px 15px;
			font-size: 12px;
			text-align: left;
			.zmdi {
				padding-right: 10px;
				font-size: 14px
			}
		}
	}

	.sidebar-header {
		text-align: right;
		
		.button-light {
			background: #f7f6f6;
			border: none;
			border-radius: 1px;
			color: $copyright;
			text-transform: initial;
			padding: 5px 15px;
			font-size: 12px;
		}
	}
	.sidebar {

		a {
			text-decoration: none;
			color: #428bca;
			font-size: 12px;

			&:hover {
				text-decoration: underline;
			}
		}

		.md-button {
			margin: 0;
			margin-bottom: 10px;
			border-radius: 1px;
		}

		.user-buttons {
			padding-top: 30px;

			.md-button {
				display: block;
				width: 100%;
				text-transform: initial;

				.zmdi {
					padding-right: 5px;
				}
			}
		}


		.user-box {
			padding: 10px;
			-webkit-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.3);
      -moz-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.3);
      box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.3);
			border-radius: 3px;
			.user-photo {
				height: 228px;
				width: 228px;
				margin: 0 auto;
				background: #eee;
				border: 1px solid #ccc;
		    background-size: cover!important;
		    &.banner-image-loading {
		    	background-size: 35px!important;
		    }
			}

	    .screen-name {
				color: $red-orange;
	    	vertical-align: middle;
	    	text-transform: capitalize;
				border-right: none;
				padding: 15px 0 5px;
				line-height: 1;
	    }
			
			.screen-detail {
				color: #979ba7;
				small, .zmdi {
			  	padding: 0 2px;
				}

				small {
					text-transform: capitalize;
			    padding-left: 0;
	    		padding-right: 4px;
					&:first-child {
						padding-left: 0;
					}
				}

				.zmdi {
					font-size: 3px;
					vertical-align: super;
			  		vertical-align: middle;
				}
			}
		}

		.profile-about {
			padding-top: 15px;
			padding-bottom: 20px;
			font-size: 12px;
			word-wrap: break-word;
		}

		.post-box {
			padding: 10px;
			margin: 30px 0;
			-webkit-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.3);
      -moz-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.3);
      box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.3);
			border-radius: 3px;

			.recent-posts {
				.message {
					font-size: 12px;
					
				}
				.title {
					font-family: 'gotham-medium';
					text-transform: uppercase;
					padding-bottom: 20px;
				}

				.post {
					padding-bottom: 25px;
					.content {
						font-size: 12px;

						p {
							margin-top: 0;
						}
					}

					.post-date {
						font-size: 10px;
						color: #979ba7;
					}
				}
			}
		}
	}
}

.settingsPage {
	.container {
		@media screen and (max-width: 768px) {
			display: block;
		}

		> div {
			@media screen and (max-width: 768px) {
				width: 100%;
				max-width: 100%;
			}
		}

		.content-container {
			.content {
				md-nav-bar {
					margin-bottom: 35px;
				}
				.content-title {
					font-family: inherit;
					margin-bottom: 10px;
				}
				.contentH {
					.form-group {
						@media screen and (max-width: 599px) {
							display: block;
						}
						span {
							font-size: 12px; 
							&.location-label {
								padding: 10px 0;
							}
						}
						input:disabled {
							background: $dirty-white;
							width: 100%;
						}
						.form-control {
							padding: 10px;
						}
						md-select.form-control {
							padding: 4px 10px 6px;	
						}
						.form-group {
							&:first-child {
								padding-top: 0;
							}
						}
						.button-lightgray {
							margin: 0 25px 25px 0;
							width: 100%;
						}
					}
					.button-password {
						display: block;
					}
				}
			}
		}
	}
}
.navbar {
	.user {
		.name {
			@media screen and (max-width: 768px) {
				display: none;
			}
		}
	}
	.dropdown-menu-nav {
		@media screen and (max-width: 768px) {
			width: auto;
		}
	}
}
.profilePage {
	.container {
		@media screen and (max-width: 768px) {
			display: block;
		}
		> div {
			@media screen and (max-width: 768px) {
				width: 100%;
				max-width: 100%;
			}
		}
		.sidebar {
			.description-box {
				.active {
					font-size: 10px;
				}
			}
			.lifestyle-box {
				section {
					span, div span {
						font-size: 11px;
						line-height: 1;
						padding: 5px 0;
						&.right {
							text-align: right;
						}
					}
					.lifestyle {
						font-size: 11px;
					}
				}
			}
		}
		.content-container {
			.others {
				.tabs {
					.tab {
						color: $primary;
						font-size: 11px;
						padding: 8px 35px;
						font-weight: bold;

						&.md-active {
							color: $primary;
							font-weight: bold;
						}
					}
				}

				.tab-content {
					padding-top: 15px;
					&.about {
						.box {
							padding-top: 20px;
							.question {
								font-family: inherit;
								font-size: 18px;
							}
						}
					}
					&.posts {
						.post {
							border: none;
							padding: 0;
							md-card {
								md-card-title {
									md-card-title-text {
										width: 100%!important;

										@media screen and(max-width: 768px) {
											width: 95%!important;
											padding: 0 15px!important;
										}
									}
								}
							}
							.user-actions {
								.md-button {
									&.button-icon {
										border: none;
										padding: 0;	
									}
									.zmdi {
										position: relative;
										top: 1px;
									}
								}
							}
						}
					}
				}
			}
		}
	}
}

.searchFilter {
	background: $dirty-white;
	padding: 20px 0 0;

	.filterContainer {
		max-width: 1000px;
		margin: 0 auto;
	}

	.search-box {
    border: 1px solid $border;
    padding: 10px;
    background: #fff;
    margin-bottom: 15px;

    .zmdi-search {
    	font-size: 30px;
    }

    ::-webkit-input-placeholder { /* Chrome/Opera/Safari */
		  font-size: 20px;
		  line-height: 1.3;
		  color: $border-color;
		}
		::-moz-placeholder { /* Firefox 19+ */
		  font-size: 20px;
		  line-height: 1.3;
		  color: $border-color;
		}
		:-ms-input-placeholder { /* IE 10+ */
		  font-size: 20px;
		  line-height: 1.3;
		  color: $border-color;
		}
		:-moz-placeholder { /* Firefox 18- */
		  font-size: 20px;
		  line-height: 1.3;
		  color: $border-color;
		}

    textarea {
      border: none;
      resize: none; 
      overflow: hidden;
      padding: 0 10px;
      min-height: 25px;	
      font-size: 20px;
      &:focus {
        outline: none;
      }
    }

    .button-orange {
      text-transform: none;
      margin: 0;
      padding: 4px 0;
    }
  }
  
  .filter-box {

  	@media screen and(max-width: 599px) {
  		display: block;
  	}

  	.filterButton {
  		font-size: 12px;
  		background: #fff;
  		border: 1px solid $border;
  		border-left: none;
  		position: relative;
  		cursor: pointer;
  		.dropdown-toggle {
	  		outline: none;
	  		box-shadow: none;
  		}	

  		.name {
  			line-height: 3.11;
  			padding: 0 15px;
  		}

  		&.uib-dropdown-open {
  			border-bottom: 1px solid #fff;
  			.name {
  				font-family: 'gotham-medium';
  			}
  		}

  		.dropdown-menu-nav {
  			position: absolute;
  			background: #fff;
  			margin: 0;
  			padding: 20px;
  			width: 800px;
  			top: 38px!important;
  			-webkit-box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.3);
				-moz-box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.3);
				box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.3);
				z-index: 9;
				cursor: default;
  			@media screen and(max-width: 599px) {
  				display: block;
  				>div {
  					display: block;
  				}
  			}

				&.middle {
  				left: -90%!important;
				}

				.form-group {
					margin-bottom: 15px;
					.form-control {
						background: #fff;
						border: 1px solid $white-gray;
						padding: 5px;
						outline: none;
					}
					.form-group-icon {
						padding: 1px 0 2px;
					    border: 1px solid $white-gray;
					    border-radius: 4px;
					    position: relative;
					    margin: 5px 0;

						.form-control {
							border: none;
							width: 100%;
							max-width: 100%;
						}
						i {
							padding: 0 5px 0 8px;
							color: $secondary;
						}
						&.disabled  {
							background: $dirty-white;
							.form-control {
								background: $dirty-white;
							}
						}
					}
				}

				input {
					max-width: 80px;
				}

				.filter-label {
					font-size: 12px;
					color: $secondary;
					margin-bottom: 5px;
				}

				md-input-container {
					margin: 0;
					md-checkbox {
						margin-bottom: 0px;
						min-height: 15px;

						.md-label {
							margin-left: 20px;
						}

						&.md-checked {
							.md-icon:after {
								left: 2.66667px;
						    top: 0.22222px;
						    width: 3.66667px;
						    height: 9.33333px;
							}
						}
						.md-container {
							top: 55%;
							width: 12px;
							height: 12px;
						}
						.md-icon {
							width: 12px;
							height: 12px;
							border-color: none;
						}
					}
				}
				.slider {
	        margin: 0px;

	        .rzslider {
	          margin: 25px 0 0;

	          .rz-bar-wrapper {
	            padding-top: 0px;
	          }
	          .rz-bubble {
	            display: none;
	          }
	          .rz-selection {
	            background: $red-orange;
	          }
	          .rz-pointer {
	            outline: none;
	            background: #fff;
	            -webkit-box-shadow: 0px 2px 10px 0px rgba(0,0,0,0.3);
	            -moz-box-shadow: 0px 2px 10px 0px rgba(0,0,0,0.3);
	            box-shadow: 0px 2px 10px 0px rgba(0,0,0,0.3);
	            top: -22px;
	            z-index: 3;
	            width: 14px;
	            height: 14px;

	            &:after {
	              background: $red-orange;
	              top: 2px;
	              left: 2px;
	              width: 10px;
	              height: 10px;
	              border-radius: 10px;
	            }
	          }
	        }
	      }
  		}
  		&:first-child {
  			.dropdown-menu-nav {
  				left: 0!important;
  			}
  		}
  		&:last-child {
  			.dropdown-menu-nav {
  				left: auto!important;
  				right: 0!important;
  			}
  		}
  		.zmdi {
  			font-size: 17px;
  			padding: 0 15px;
  		}
  	}
  	.filters {
  		padding: 10px 15px;
  		font-size: 13px;
  		line-height: 1.33;
  		border-right: none;
  		border: 1px solid $border;
  	}
  }
	.filter-actions {
		padding: 10px 0;
		span {
			font-size: 12px;
			color: $social;
			cursor: pointer;
			outline: none;

			&.button {
				background: $white-gray;
				padding: 7px 15px;
				border-radius: 3px;
				margin: 0 0 0 10px;
				transition: all ease-in 0.2s;
				&:hover {
					background: #96aabc;
					color: #fff;
					transition: all ease-in 0.2s;
				}
			}
		}
	}

	@media screen and(max-width: 1024px) {
		.filter-box {
			.filterButton {
				.dropdown-menu-nav {
					width: 600px;
				}
			}
		}
	}
	@media screen and(max-width: 768px) {
		.filter-box {
			.filterButton {
				.dropdown-menu-nav {
					width: 500px;
				}
			}
		}
	}
	@media screen and(max-width: 599px) {
		.filter-box {
			.filters {
				width: 100%;
			}
			.filterButton {
				width: 100%;
				border: 1px solid $border;
				.dropdown-menu-nav {
					width: 400px;
					left: auto!important;

					&.middle, &:last-child {
						left: auto!important;
						right: auto!important;
					}
				}
			}
		}
	}

	@media screen and(max-width: 460px) {
		.filter-box {
			.filterButton {
				.dropdown-menu-nav {
					width:350px;
				}
			}
		}
	}

	@media screen and(max-width: 375px) {
		.filter-box {
			.filterButton {
				.dropdown-menu-nav {
					width:300px;
				}
			}
		}
	}

	@media screen and(max-width: 320px) {
		.filter-box {
			.filterButton {
				.dropdown-menu-nav {
					width:260px;
				}
			}
		}
	}
}

.searchPage {
	margin: 0 auto;
	padding: 0;
	.tabs {
		.tabs-container {
			max-width: 90%;
		}
		.tab {
			margin-bottom: -2px;
			padding: 12px 25px 10px;
		}
	}
	.results {
		color: $secondary;
	}
	.search-container {
		padding: 0;
		width: 100%;
	}

	.button-load-more {
		margin-top: 0!important;
		margin-bottom: 20px!important;
	}
}

.searchModal {
	md-dialog-content {
		padding: 0;
		.message {
			padding: 20px;
			text-align: center;
		}
		md-list {
			padding: 0;
			md-list-item {
				padding: 10px 0;
				border-bottom: 1px solid $border;
				.name-info{
					padding: 10px;
					small {
						color: $social;
					}
				}
				.delete-button {
					color: $social;
					font-size: 18px;
					&:hover {
						color: #808080;
					}
				}
				.button-orange {
					visibility: hidden;
				}
				&:hover {
					background: $white-gray;
					.button-orange {
						visibility: visible;
					}
				}
			}
		}
	}
}

img-crop {
	width: 420px;
	height: 420px;
	canvas {
		width: auto;
		height: auto;
	}
}

.height-conversion{
  padding-left: 10px;
  font-size: 13px;
  color: #6d727c;
}

.pending-box {
	max-width: 1000px;
	border: 1px solid #0098cf;
	padding: 25px 25px; 
	background: #f2fafd;
	margin: 40px auto;
	border-radius: 4px;
	.title {
		font-size: 20px;
		color: $primary;
	}
	.description {
		font-family: 'gotham-light';
		padding: 10px 0;
	}

	.checklist {
		padding: 15px 0;
		i {
			padding-right: 10px;
			color: $blue;
			font-size: 16px;
		}
		div {
			padding: 3px 0;
		}
	}

	.approval {
		color: $blue;
		font-size: 15px;
		font-family: 'gotham-medium';
	}
}

.no-image {
	background-size: 95%!important;
}