/** these are styles for PN **/
$light-pink: #cc4885;
$green: #609f44;
$Montserrat-Regular: 'Montserrat-Regular';
$Montserrat-Light: 'Montserrat-Light';
$gray: #435060;

@font-face {
  font-family: 'Montserrat-Regular';
  src: url("../assets/fonts/Montserrat-Regular.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Montserrat-Light';
  src: url("../assets/fonts/Montserrat-Light.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}
p{
  font-family: $Montserrat-Light;
}
.rm-padding-bottom{
  padding-bottom: 0 !important;
}
.text-color-light-pink{
  color: $light-pink;
}
.text-color-green{
  color: $green;
}
.button-green{
  background-color: $green;
  color: #fff;
  transition: all ease-in 0.2s;
}
#freshwidget-button{
  a{
    &.freshwidget-theme{
      background-color: $light-pink !important;
    }
  }
}
.button-pink{
  background-color: $light-pink;
  color: #fff;
  transition: all ease-in 0.2s;
  &:hover{
    background: $light-pink !important;
  }
}
.template-banner{
  &.PN{
    background: url('../assets/images/PN/pn-template-banner.png') top right no-repeat;
    background-size: 500px;
    height: 212px;
    margin-top: 88px;
    .overlay{
      &.pink{
        background: rgba(192,61,122,1);
        background: -moz-linear-gradient(left, rgba(192,61,122,1) 0%, rgba(192,61,122,1) 38%, rgba(192,61,122,0.75) 70%, rgba(192,61,122,0.75) 100%);
        background: -webkit-gradient(left top, right top, color-stop(0%, rgba(192,61,122,1)), color-stop(38%, rgba(192,61,122,1)), color-stop(70%, rgba(192,61,122,0.75)), color-stop(100%, rgba(192,61,122,0.75)));
        background: -webkit-linear-gradient(left, rgba(192,61,122,1) 0%, rgba(192,61,122,1) 38%, rgba(192,61,122,0.75) 70%, rgba(192,61,122,0.75) 100%);
        background: -o-linear-gradient(left, rgba(192,61,122,1) 0%, rgba(192,61,122,1) 38%, rgba(192,61,122,0.75) 70%, rgba(192,61,122,0.75) 100%);
        background: -ms-linear-gradient(left, rgba(192,61,122,1) 0%, rgba(192,61,122,1) 38%, rgba(192,61,122,0.75) 70%, rgba(192,61,122,0.75) 100%);
        background: linear-gradient(to right, rgba(192,61,122,1) 0%, rgba(192,61,122,1) 38%, rgba(192,61,122,0.75) 70%, rgba(192,61,122,0.75) 100%);
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ef1616', endColorstr='#ef1616', GradientType=1 );
        @media screen and (max-width: 1138px) {
          background: rgba(192,61,122,1);
          background: -moz-linear-gradient(left, rgba(192,61,122,1) 0%, rgba(192,61,122,1) 7%, rgba(192,61,122,0.75) 70%, rgba(192,61,122,0.75) 100%);
          background: -webkit-gradient(left top, right top, color-stop(0%, rgba(192,61,122,1)), color-stop(7%, rgba(192,61,122,1)), color-stop(70%, rgba(192,61,122,0.75)), color-stop(100%, rgba(192,61,122,0.75)));
          background: -webkit-linear-gradient(left, rgba(192,61,122,1) 0%, rgba(192,61,122,1) 7%, rgba(192,61,122,0.75) 70%, rgba(192,61,122,0.75) 100%);
          background: -o-linear-gradient(left, rgba(192,61,122,1) 0%, rgba(192,61,122,1) 7%, rgba(192,61,122,0.75) 70%, rgba(192,61,122,0.75) 100%);
          background: -ms-linear-gradient(left, rgba(192,61,122,1) 0%, rgba(192,61,122,1) 7%, rgba(192,61,122,0.75) 70%, rgba(192,61,122,0.75) 100%);
          background: linear-gradient(to right, rgba(192,61,122,1) 0%, rgba(192,61,122,1) 7%, rgba(192,61,122,0.75) 70%, rgba(192,61,122,0.75) 100%);
          filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ef1616', endColorstr='#ef1616', GradientType=1 );
        }
      }
    }
  }
}
.about-banner{
  &.PN{
    background: url('../assets/images/PN/about-pn-banner.jpg') center -60px no-repeat;
    background-size: 1000px;
    .overlay{
      &.pink{
        background: rgba(194,61,123,1);
        background: -moz-linear-gradient(left, rgba(194,61,123,1) 30%, rgba(194,61,123,0.87) 40%, rgba(194,61,123,0.8) 50%, rgba(194,61,123,0.87) 60%, rgba(194,61,123,1) 70%);
        background: -webkit-gradient(left top, right top, color-stop(30%, rgba(194,61,123,1)), color-stop(40%, rgba(194,61,123,0.87)), color-stop(50%, rgba(194,61,123,0.8)), color-stop(60%, rgba(194,61,123,0.87)), color-stop(70%, rgba(194,61,123,1)));
        background: -webkit-linear-gradient(left, rgba(194,61,123,1) 30%, rgba(194,61,123,0.87) 40%, rgba(194,61,123,0.8) 50%, rgba(194,61,123,0.87) 60%, rgba(194,61,123,1) 70%);
        background: -o-linear-gradient(left, rgba(194,61,123,1) 30%, rgba(194,61,123,0.87) 40%, rgba(194,61,123,0.8) 50%, rgba(194,61,123,0.87) 60%, rgba(194,61,123,1) 70%);
        background: -ms-linear-gradient(left, rgba(194,61,123,1) 30%, rgba(194,61,123,0.87) 40%, rgba(194,61,123,0.8) 50%, rgba(194,61,123,0.87) 60%, rgba(194,61,123,1) 70%);
        background: linear-gradient(to right, rgba(194,61,123,1) 30%, rgba(194,61,123,0.87) 40%, rgba(194,61,123,0.8) 50%, rgba(194,61,123,0.87) 60%, rgba(194,61,123,1) 70%);
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#c23d7b', endColorstr='#c23d7b', GradientType=1 );
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#c23d7b', endColorstr='#c23d7b', GradientType=1 );
        @media screen and (max-width: 1700px) {
          background: rgba(194,61,123,1);
          background: -moz-linear-gradient(left, rgba(194,61,123,1) 20%, rgba(194,61,123,0.87) 40%, rgba(194,61,123,0.8) 50%, rgba(194,61,123,0.87) 60%, rgba(194,61,123,1) 80%);
          background: -webkit-gradient(left top, right top, color-stop(20%, rgba(194,61,123,1)), color-stop(40%, rgba(194,61,123,0.87)), color-stop(50%, rgba(194,61,123,0.8)), color-stop(60%, rgba(194,61,123,0.87)), color-stop(80%, rgba(194,61,123,1)));
          background: -webkit-linear-gradient(left, rgba(194,61,123,1) 20%, rgba(194,61,123,0.87) 40%, rgba(194,61,123,0.8) 50%, rgba(194,61,123,0.87) 60%, rgba(194,61,123,1) 80%);
          background: -o-linear-gradient(left, rgba(194,61,123,1) 20%, rgba(194,61,123,0.87) 40%, rgba(194,61,123,0.8) 50%, rgba(194,61,123,0.87) 60%, rgba(194,61,123,1) 80%);
          background: -ms-linear-gradient(left, rgba(194,61,123,1) 20%, rgba(194,61,123,0.87) 40%, rgba(194,61,123,0.8) 50%, rgba(194,61,123,0.87) 60%, rgba(194,61,123,1) 80%);
          background: linear-gradient(to right, rgba(194,61,123,1) 20%, rgba(194,61,123,0.87) 40%, rgba(194,61,123,0.8) 50%, rgba(194,61,123,0.87) 60%, rgba(194,61,123,1) 80%);
        }
      }
      .content{
        .description{
          font-family: $Montserrat-Light;
        }
        .title{
          font-family: $Montserrat-Light;
        }
      }
    }
  }
}
.why-banner{
  &.PN{
    background: url('../assets/images/PN/about-pn-banner.jpg') center -60px no-repeat;
    background-size: 1000px;
    .overlay{
      &.pink{
        background: rgba(194,61,123,1);
        background: -moz-linear-gradient(left, rgba(194,61,123,1) 30%, rgba(194,61,123,0.87) 40%, rgba(194,61,123,0.8) 50%, rgba(194,61,123,0.87) 60%, rgba(194,61,123,1) 70%);
        background: -webkit-gradient(left top, right top, color-stop(30%, rgba(194,61,123,1)), color-stop(40%, rgba(194,61,123,0.87)), color-stop(50%, rgba(194,61,123,0.8)), color-stop(60%, rgba(194,61,123,0.87)), color-stop(70%, rgba(194,61,123,1)));
        background: -webkit-linear-gradient(left, rgba(194,61,123,1) 30%, rgba(194,61,123,0.87) 40%, rgba(194,61,123,0.8) 50%, rgba(194,61,123,0.87) 60%, rgba(194,61,123,1) 70%);
        background: -o-linear-gradient(left, rgba(194,61,123,1) 30%, rgba(194,61,123,0.87) 40%, rgba(194,61,123,0.8) 50%, rgba(194,61,123,0.87) 60%, rgba(194,61,123,1) 70%);
        background: -ms-linear-gradient(left, rgba(194,61,123,1) 30%, rgba(194,61,123,0.87) 40%, rgba(194,61,123,0.8) 50%, rgba(194,61,123,0.87) 60%, rgba(194,61,123,1) 70%);
        background: linear-gradient(to right, rgba(194,61,123,1) 30%, rgba(194,61,123,0.87) 40%, rgba(194,61,123,0.8) 50%, rgba(194,61,123,0.87) 60%, rgba(194,61,123,1) 70%);
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#c23d7b', endColorstr='#c23d7b', GradientType=1 );
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#c23d7b', endColorstr='#c23d7b', GradientType=1 );
        @media screen and (max-width: 1700px) {
          background: rgba(194,61,123,1);
          background: -moz-linear-gradient(left, rgba(194,61,123,1) 20%, rgba(194,61,123,0.87) 40%, rgba(194,61,123,0.8) 50%, rgba(194,61,123,0.87) 60%, rgba(194,61,123,1) 80%);
          background: -webkit-gradient(left top, right top, color-stop(20%, rgba(194,61,123,1)), color-stop(40%, rgba(194,61,123,0.87)), color-stop(50%, rgba(194,61,123,0.8)), color-stop(60%, rgba(194,61,123,0.87)), color-stop(80%, rgba(194,61,123,1)));
          background: -webkit-linear-gradient(left, rgba(194,61,123,1) 20%, rgba(194,61,123,0.87) 40%, rgba(194,61,123,0.8) 50%, rgba(194,61,123,0.87) 60%, rgba(194,61,123,1) 80%);
          background: -o-linear-gradient(left, rgba(194,61,123,1) 20%, rgba(194,61,123,0.87) 40%, rgba(194,61,123,0.8) 50%, rgba(194,61,123,0.87) 60%, rgba(194,61,123,1) 80%);
          background: -ms-linear-gradient(left, rgba(194,61,123,1) 20%, rgba(194,61,123,0.87) 40%, rgba(194,61,123,0.8) 50%, rgba(194,61,123,0.87) 60%, rgba(194,61,123,1) 80%);
          background: linear-gradient(to right, rgba(194,61,123,1) 20%, rgba(194,61,123,0.87) 40%, rgba(194,61,123,0.8) 50%, rgba(194,61,123,0.87) 60%, rgba(194,61,123,1) 80%);
        }
      }
      .content{
        .description{
          font-family: $Montserrat-Light;
        }
        .title{
          font-family: $Montserrat-Light;
        }
      }
    }
  }
}
.promise-banner{
  &.PN{
    background: url('../assets/images/PN/about-pn-banner.jpg') center -60px no-repeat;
    background-size: 1000px;
    .overlay{
      &.pink{
        background: rgba(194,61,123,1);
        background: -moz-linear-gradient(left, rgba(194,61,123,1) 30%, rgba(194,61,123,0.87) 40%, rgba(194,61,123,0.8) 50%, rgba(194,61,123,0.87) 60%, rgba(194,61,123,1) 70%);
        background: -webkit-gradient(left top, right top, color-stop(30%, rgba(194,61,123,1)), color-stop(40%, rgba(194,61,123,0.87)), color-stop(50%, rgba(194,61,123,0.8)), color-stop(60%, rgba(194,61,123,0.87)), color-stop(70%, rgba(194,61,123,1)));
        background: -webkit-linear-gradient(left, rgba(194,61,123,1) 30%, rgba(194,61,123,0.87) 40%, rgba(194,61,123,0.8) 50%, rgba(194,61,123,0.87) 60%, rgba(194,61,123,1) 70%);
        background: -o-linear-gradient(left, rgba(194,61,123,1) 30%, rgba(194,61,123,0.87) 40%, rgba(194,61,123,0.8) 50%, rgba(194,61,123,0.87) 60%, rgba(194,61,123,1) 70%);
        background: -ms-linear-gradient(left, rgba(194,61,123,1) 30%, rgba(194,61,123,0.87) 40%, rgba(194,61,123,0.8) 50%, rgba(194,61,123,0.87) 60%, rgba(194,61,123,1) 70%);
        background: linear-gradient(to right, rgba(194,61,123,1) 30%, rgba(194,61,123,0.87) 40%, rgba(194,61,123,0.8) 50%, rgba(194,61,123,0.87) 60%, rgba(194,61,123,1) 70%);
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#c23d7b', endColorstr='#c23d7b', GradientType=1 );
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#c23d7b', endColorstr='#c23d7b', GradientType=1 );
        @media screen and (max-width: 1700px) {
          background: rgba(194,61,123,1);
          background: -moz-linear-gradient(left, rgba(194,61,123,1) 20%, rgba(194,61,123,0.87) 40%, rgba(194,61,123,0.8) 50%, rgba(194,61,123,0.87) 60%, rgba(194,61,123,1) 80%);
          background: -webkit-gradient(left top, right top, color-stop(20%, rgba(194,61,123,1)), color-stop(40%, rgba(194,61,123,0.87)), color-stop(50%, rgba(194,61,123,0.8)), color-stop(60%, rgba(194,61,123,0.87)), color-stop(80%, rgba(194,61,123,1)));
          background: -webkit-linear-gradient(left, rgba(194,61,123,1) 20%, rgba(194,61,123,0.87) 40%, rgba(194,61,123,0.8) 50%, rgba(194,61,123,0.87) 60%, rgba(194,61,123,1) 80%);
          background: -o-linear-gradient(left, rgba(194,61,123,1) 20%, rgba(194,61,123,0.87) 40%, rgba(194,61,123,0.8) 50%, rgba(194,61,123,0.87) 60%, rgba(194,61,123,1) 80%);
          background: -ms-linear-gradient(left, rgba(194,61,123,1) 20%, rgba(194,61,123,0.87) 40%, rgba(194,61,123,0.8) 50%, rgba(194,61,123,0.87) 60%, rgba(194,61,123,1) 80%);
          background: linear-gradient(to right, rgba(194,61,123,1) 20%, rgba(194,61,123,0.87) 40%, rgba(194,61,123,0.8) 50%, rgba(194,61,123,0.87) 60%, rgba(194,61,123,1) 80%);
        }
      }
      .content{
        .description{
          font-family: $Montserrat-Light;
        }
        .title{
          font-family: $Montserrat-Light;
        }
      }
    }
  }
}
.baby-banner{
  &.PN{
    &.male{
      background: url(../assets/images/PN/pn-provider-banner.jpg) -110px -100px no-repeat;
      background-size: 750px;
      .overlay{
        &.green{
          background: -moz-linear-gradient(left,  rgba(94,157,67,1) 0%, rgba(94,157,67,0.82) 23%, rgba(94,157,67,1) 31%, rgba(94,157,67,1) 100%); /* FF3.6-15 */
          background: -webkit-linear-gradient(left,  rgba(94,157,67,1) 0%,rgba(94,157,67,0.82) 23%,rgba(94,157,67,1) 31%,rgba(94,157,67,1) 100%); /* Chrome10-25,Safari5.1-6 */
          background: linear-gradient(to right,  rgba(94,157,67,1) 0%,rgba(94,157,67,0.82) 23%,rgba(94,157,67,1) 31%,rgba(94,157,67,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
          filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#5e9d43', endColorstr='#5e9d43',GradientType=1 ); /* IE6-9 */
          @media screen and (max-width: 1600px){
            background: -moz-linear-gradient(left,  rgba(94,157,67,1) 0%, rgba(94,157,67,0.82) 30%, rgba(94,157,67,1) 40%, rgba(94,157,67,1) 100%); /* FF3.6-15 */
            background: -webkit-linear-gradient(left,  rgba(94,157,67,1) 0%,rgba(94,157,67,0.82) 30%,rgba(94,157,67,1) 40%,rgba(94,157,67,1) 100%); /* Chrome10-25,Safari5.1-6 */
            background: linear-gradient(to right,  rgba(94,157,67,1) 0%,rgba(94,157,67,0.82) 30%,rgba(94,157,67,1) 40%,rgba(94,157,67,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
            filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#5e9d43', endColorstr='#5e9d43',GradientType=1 ); /* IE6-9 */
          }
          @media screen and (max-width: 1000px){
            background: -moz-linear-gradient(left,  rgba(94,157,67,1) 0%, rgba(94,157,67,0.82) 23%, rgba(94,157,67,1) 84%, rgba(94,157,67,1) 100%); /* FF3.6-15 */
            background: -webkit-linear-gradient(left,  rgba(94,157,67,1) 0%,rgba(94,157,67,0.82) 23%,rgba(94,157,67,1) 84%,rgba(94,157,67,1) 100%); /* Chrome10-25,Safari5.1-6 */
            background: linear-gradient(to right,  rgba(94,157,67,1) 0%,rgba(94,157,67,0.82) 23%,rgba(94,157,67,1) 84%,rgba(94,157,67,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
            filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#5e9d43', endColorstr='#5e9d43',GradientType=1 ); /* IE6-9 */

          }
        }
      }
    }
  }
}
.daddy-banner{
  &.PN{
    &.mama{
      background: url(../assets/images/PN/pn-nurturer-banner.jpg) right -120px no-repeat;
      background-size: 970px;
      @media screen and (max-width: 700px){
        background-position:-205px -120px;
      }
      @media screen and (max-width: 480px){
        background-position: center !important;
        background-size: 775px !important;
      }
    }
    .overlay{
      .content{
        text-align: left;
      }
      &.pink{
        background: rgba(192, 61, 122, 1);
        background: -moz-linear-gradient(right, rgba(192, 61, 122, 1) 0%, rgba(192, 61, 122, .8) 45%, rgba(192, 61, 122, 1) 70%, rgba(192, 61, 122, 1) 100%);
        background: -webkit-gradient(right top, right top, color-stop(0%, rgba(192, 61, 122, 1)), color-stop(45%, rgba(192, 61, 122, .8)), color-stop(70%, rgba(192, 61, 122, 1)), color-stop(100%, rgba(192, 61, 122, 1)));
        background: -webkit-linear-gradient(right, rgba(192, 61, 122, 1) 0%, rgba(192, 61, 122, .8) 45%, rgba(192, 61, 122, 1) 70%, rgba(192, 61, 122, 1) 100%);
        background: -o-linear-gradient(right, rgba(192, 61, 122, 1) 0%, rgba(192, 61, 122, .8) 45%, rgba(192, 61, 122, 1) 70%, rgba(192, 61, 122, 1) 100%);
        background: -ms-linear-gradient(right, rgba(192, 61, 122, 1) 0%, rgba(192, 61, 122, .8) 45%, rgba(192, 61, 122, 1) 70%, rgba(192, 61, 122, 1) 100%);
        background: linear-gradient(to left, rgba(192, 61, 122, 1) 0%, rgba(192, 61, 122, .8) 45%, rgba(192, 61, 122, 1) 70%, rgba(192, 61, 122, 1) 100%);
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ef1616', endColorstr='#ef1616', GradientType=1 );
      }
    }
  }
}
.pn-home-banner{
  background: url('../assets/images/PN/pn-home-banner2.jpg') top center no-repeat;
  background-size: cover;
  color: white;
  height: 667px;
  position: relative;

  .banner-container {
    height: 100%;
    display: flex!important;
    align-items: center!important;
    .content {
      margin: auto;
      max-width: 1200px;
      width: 100%;
      text-align: left;
      padding-left: 20px;
      .title {
      	width: 440px;
        font-size: 45px;
        font-family: $Montserrat-Light;
        padding-bottom: 20px;
        color: black;
        // text-shadow: 4px 4px 2px rgba(150, 150, 150, 1);
        @media screen and (max-width: 700px){
          width: 350px;
        }
        @media screen and (max-width: 600px) {
          width: auto;
        }
      }

      .description {
        font-size: 19px;
        font-family: $Montserrat-Light;
        padding: 20px 0;
        max-width: 400px;
        color: black;
        // text-shadow: 2px 4px 6px rgba(150, 150, 150, 1);
        @media screen and (max-width: 480px) {
          font-size: 16px;
        }
        @media screen and (max-width: 800px) {
          width: auto;
        }
      }

      .join {
        font-family: $Montserrat-Regular;
        text-transform: uppercase;
        font-size: 14px;
        border: 1px solid $light-pink;
        padding: 5px 20px;
        margin: 25px 0 15px;
        transition: all ease-in 0.3s;
        background: $light-pink;
        &:hover {
          //background: $white-gray;
          //color: $red-orange;
          //transition: all ease-in 0.3s;
        }
      }
    }
  }
}
.steps-container{
  max-width: 1000px;
  margin: 0 auto;
	&.pn{
    background-color: white;
		.steps{
     .step{
       padding: 50px;
       text-align: left;
       @media screen and (max-width: 600px){
        padding: 30px;
       }
       &.border-arrow{
         background: url(../assets/images/PN/border.jpg);
         background-position: center;
         background-size: 100% 100%;
         background-repeat: no-repeat;
         @media screen and (max-width: 600px) {
           background:none;
         }
       }
       .step-num{
         padding-bottom: 20px;
         font-size: 40px;
         font-family: $Montserrat-Light;
         color: $light-pink;
       }
       .step-title{
         padding-bottom: 20px;
         font-size: 20px;
         font-family: $Montserrat-Regular;
         color: $gray;
         margin:0;
       }
       .step-desc{
         padding-bottom: 20px;
         font-size: 16px;
         font-family: $Montserrat-Light;
         color: $gray;
         text-align: left;
         span{
           font-family: $Montserrat-Regular;
         }
       }
     }
   }
 }
}
.aboutPage{
  .landingPage{
    &.PN{
      background: #f9fbfc;
      border-bottom: solid 1px #d8dfe6;
    }
    .steps-container{
      .steps{
        .step{
          .step-number{
            background: #cc4885;
          }
        }
      }
    }
  }
  &.PN{
    background: #cc4885; /* Old browsers */
    background: -moz-linear-gradient(top, #cc4885 1%, #bd3b77 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, #cc4885 1%,#bd3b77 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, #cc4885 1%,#bd3b77 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#cc4885', endColorstr='#bd3b77',GradientType=0 ); /* IE6-9 */
    .at-pn-box {
      margin-bottom: 40px;
      img{
        height: 190px;
        padding: 50px 40px 0;
        transform: scale(1.9);
        @media screen and (max-width: 1300px) {
          padding: 40px 50px 0 90px;
        }
        @media screen and (max-width: 960px) {
          transform: scale(1);
          height: auto;
          width: 200px;
          padding: 0;
          margin:auto;
        }
      }
      .text {
        color: white;
        margin-left: 100px;
        text-align: left;
        @media screen and (max-width: 960px) {
          margin-left: 0;
          margin-top: 20px;
        }
        .title {
          font-size: 40px;
          text-align: center;
          font-family: $Montserrat-Light;
        }
        .description {
          color: white;
          font-size: 18px;
          font-family: $Montserrat-Light;
          margin-top: 30px;
          text-align: center;
          max-width: 480px;
          @media screen and (max-width: 420px) {
            text-align: justify;
          }
        }
      }
    }
  }
  .panel{
    &.PN{
      &.first{
        &.traditional{
          border-bottom: 1px solid #d8dfe6;
          border-top: 1px solid #d8dfe6;
        }
        .container{
          max-width: 1000px;
        }
      }
    }
    &.second{
      &.PN{
        .container{
          background: url('../assets/images/PN/mission-pn.jpg') top right no-repeat;
          background-size: 450px;
          @media screen and (max-width: 960px) {
            background: none;
          }
        }
      }
    }
    &.third{
      .box{
        .title{
          font-family: $Montserrat-Regular;
        }
        .description{
          font-family: $Montserrat-Light;
        }
        &.PN{
          border: none;
        }
      }
    }
    &.fourth{
      &.PN{
        background:transparent;
        border: none;
        .role{
          &.container{
            max-width: 800px;
          }
        }
        &.objective{
          background-color: #f9fbfc;
          .container{
            max-width: 800px;
          }
        }
      }
    }
    .why-box{
      .image{
        @media screen and (max-width: 750px){
          margin: 0 auto;
        }
      }
      &.PN{
        border: solid 1px #c7c9cb;
        border-radius: 3px;
        margin: 0 10px;
        padding: 20px;
        .text{
          text-align: center;
          margin: 0;
          .title{
            text-align: center;
          }
          .description{
            text-align: center;
          }
        }
        .image{
          border: none;
          margin: 0 auto;
        }
      }
    }
  }
  .find{
    background: url('../assets/images/PN/pn-find-banner.jpg') center -100px no-repeat;
    background-size: 1000px; 
    &.life{
      background: url('../assets/images/PN/pn-find-match.jpg') left -80px no-repeat;
      background-size: 900px; 
      @media screen and (max-width: 960px) {
        background-position: center -80px;
      }
      .overlay{
        background: rgba(67, 80, 96, 1);
        background: -moz-linear-gradient(right, rgba(67, 80, 96, 1) 0%, rgba(67, 80, 96, 1) 30%, rgba(67, 80, 96, .8) 60%, rgba(67, 80, 96, .9) 100%, rgba(67, 80, 96, 1) 100%);
        background: -webkit-gradient(right top, right top, color-stop(0%, rgba(67, 80, 96, 1)), color-stop(30%, rgba(67, 80, 96, 1)), color-s90p(60%, rgba(67, 80, 96, .8)), color-stop(60%, rgba(67, 80, 96, .7))70color-stop(100%, rgba(67, 80, 96, 1)));
        background: -webkit-linear-gradient(right, rgba(67, 80, 96, 1) 0%, rgba(67, 80, 96, 1) 30%, rgba(67, 80, 96, .8) 60%, rgba(67, 80, 96, .9) 100%, rgba(67, 80, 96, 1) 100%);
        background: -o-linear-gradient(right, rgba(67, 80, 96, 1) 0%, rgba(67, 80, 96, 1) 30%, rgba(67, 80, 96, .8) 60%, rgba(67, 80, 96, .9) 100%, rgba(67, 80, 96, 1) 100%);
        background: -ms-linear-gradient(right, rgba(67, 80, 96, 1) 0%, rgba(67, 80, 96, 1) 30%, rgba(67, 80, 96, .8) 60%, rgba(67, 80, 96, .9) 100%, rgba(67, 80, 96, 1) 100%);
        background: linear-gradient(to left, rgba(67, 80, 96, 1) 0%, rgba(67, 80, 96, 1) 30%, rgba(67, 80, 96, .8) 60%, rgba(67, 80, 96, .9) 100%, rgba(67, 80, 96, 1) 100%);
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ef1616', endColorstr='#ef1616', GradientType=1 );
        @media screen and (max-width: 960px) {
          background: rgba(67, 80, 96, 1);
          background: -moz-linear-gradient(right, rgba(67, 80, 96, 1) 0%, rgba(67, 80, 96, 1) 15%, rgba(67, 80, 96, .8) 40%, rgba(67, 80, 96, .9) 80%, rgba(67, 80, 96, 1) 100%);
          background: -webkit-gradient(right top, right top, color-stop(0%, rgba(67, 80, 96, 1)), color-stop(15%, rgba(67, 80, 96, 1)), color-s90p(40%, rgba(67, 80, 96, .8)), color-stop(40%, rgba(67, 80, 96, .7))70color-stop(100%, rgba(67, 80, 96, 1)));
          background: -webkit-linear-gradient(right, rgba(67, 80, 96, 1) 0%, rgba(67, 80, 96, 1) 15%, rgba(67, 80, 96, .8) 40%, rgba(67, 80, 96, .9) 80%, rgba(67, 80, 96, 1) 100%);
          background: -o-linear-gradient(right, rgba(67, 80, 96, 1) 0%, rgba(67, 80, 96, 1) 15%, rgba(67, 80, 96, .8) 40%, rgba(67, 80, 96, .9) 80%, rgba(67, 80, 96, 1) 100%);
          background: -ms-linear-gradient(right, rgba(67, 80, 96, 1) 0%, rgba(67, 80, 96, 1) 15%, rgba(67, 80, 96, .8) 40%, rgba(67, 80, 96, .9) 80%, rgba(67, 80, 96, 1) 100%);
          background: linear-gradient(to left, rgba(67, 80, 96, 1) 0%, rgba(67, 80, 96, 1) 15%, rgba(67, 80, 96, .8) 40%, rgba(67, 80, 96, .9) 80%, rgba(67, 80, 96, 1) 100%);
          filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ef1616', endColorstr='#ef1616', GradientType=1 );
        }
      }
    }
    .title{
      font-family: $Montserrat-Light;
    }
    .overlay {
      height: 100%;
      background: rgba(46,54,59,1);
      background: -moz-linear-gradient(left, rgba(46,54,59,1) 0%, rgba(46,54,59,1) 25%, rgba(46,54,59,0.85) 40%, rgba(46,54,59,1) 75%, rgba(46,54,59,1) 75%);
      background: -webkit-gradient(left top, right top, color-stop(0%, rgba(46,54,59,1)), color-stop(25%, rgba(46,54,59,1)), color-s90p(40%, rgba(46,54,59,0.85)), color-stop(60%, rgba(46,54,59,1))70color-stop(75%, rgba(46,54,59,1)));
      background: -webkit-linear-gradient(left, rgba(46,54,59,1) 0%, rgba(46,54,59,1) 25%, rgba(46,54,59,0.85) 40%, rgba(46,54,59,1) 75%, rgba(46,54,59,1) 75%);
      background: -o-linear-gradient(left, rgba(46,54,59,1) 0%, rgba(46,54,59,1) 25%, rgba(46,54,59,0.85) 40%, rgba(46,54,59,1) 75%, rgba(46,54,59,1) 75%);
      background: -ms-linear-gradient(left, rgba(46,54,59,1) 0%, rgba(46,54,59,1) 25%, rgba(46,54,59,0.85) 40%, rgba(46,54,59,1) 75%, rgba(46,54,59,1) 75%);
      background: linear-gradient(to right, rgba(46,54,59,1) 0%, rgba(46,54,59,1) 25%, rgba(46,54,59,0.85) 40%, rgba(46,54,59,1) 75%, rgba(46,54,59,1) 75%);
      filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ef1616', endColorstr='#ef1616', GradientType=1 );

      .container{
        .md-button{
          padding: 5px 20px;
          max-width: 220px;
          margin: auto;
        }
        .text-container{
          margin-right: 15%;
          .md-button{
            width: 100%;
            margin: 0;
          }
          @media screen and (max-width: 960px) {
            margin: 0;
          }
        }
      }
    }
  }
}
.benefit-container{
  .slider-image,.slider-image1{
    &.slick-initialized {
      .slick-slide{
        margin-top: 15px;
      }
    }
  }
  .slick-dots{
    width: auto;
    li{
      margin: 0;
      &:hover{
        button{
          &:before{
            color: #609f44;
          }
        }
      }
      &.slick-active{
        button{
          &:before{
            color: #609f44;
          }
        }  
      }
      button{
        &:before{
          font-size: 14px;
        }
      }
    }
  }
  &.female{
    .slick-dots{
      li{
        &:hover{
          button{
            &:before{
              color: $light-pink;
            }
          }
        }
        &.slick-active{
          button{
            &:before{
              color: $light-pink;
            }
          }  
        }
      }
    }
  }
  &.PN{
    background: #ffffff; /* Old browsers */
    background: -moz-linear-gradient(top, #ffffff 1%, #f3f6f8 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, #ffffff 1%,#f3f6f8 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, #ffffff 1%,#f3f6f8 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#f3f6f8',GradientType=0 ); /* IE6-9 */
    .container{
      max-width: 1000px;
      margin: 0 auto;
    }
    .section-title{
      font-family: $Montserrat-Light;
      font-size: 40px;
      color: $green;
      padding-bottom: 20px;
    }
    .section-subtitle{
      color: $gray;
      font-size: 18px;
      font-family: $Montserrat-Light;
      .PN-hr{
        color: #d2dfea;
        width: 20%;
        margin-top: 30px;
      }
    }
    .provider-content{
      .section-title{
        font-family: $Montserrat-Regular;
        font-size: 16px;
        color: $gray;
        padding: 20px 0;
      }
    }
    .find-nurturer-tabs{
      max-width: 400px;
      md-tabs{
        background: transparent;
        md-pagination-wrapper{
          &.md-center-tabs{
            margin:0;
            width: 100% !important;
          }
        }
        md-content{
          background: #f3f6f8;
          div{
          	a{
          		font-family: $Montserrat-Light;
          		color: #009cdc;
          		text-decoration: none;
          	}
          	div{
          		padding: 10px;
          		img{
          			width: 100%;
          		}
          	}
          }
        }
        md-ink-bar{
          color: $gray;
          background-color: $gray;
        }
        .md-ripple{
          color: $gray;
          background-color: $gray;
        }
        md-tab-item:nth-child(odd){
          margin-right: 5%;
        }
        md-tab-item:nth-child(even){
          margin-left: 5%;
        }
        md-ink-bar{
          background: transparent;
        }
        .md-tab{
          color: $gray;
          background: #ffffff;
          border: solid 1px #dbe2e8;
          border-top-left-radius: 10px;
          border-top-right-radius: 10px;
          width: 45%;
        }
        .md-tab.md-active{
          background: #f3f6f8;
          border: solid 1px #f3f6f8;
          border-top-left-radius: 10px;
          border-top-right-radius: 10px;
        }
      }
    }
    .PN-benefits{
      @media screen and (max-width: 600px) {
        padding: 0 20px;
      }
      .title{
        font-size: 20px;
        color: $green;
        font-family: $Montserrat-Light;
        padding-bottom: 20px;
        md-icon{
          font-size: 20px;
          color: $green;
        }
        &.nurturer{
          color: $light-pink;
          md-icon{
            color: $light-pink;
          }
        }
      }
      .description{
        font-size: 16px;
        padding-bottom: 25px;
        padding-left: 26px;
      }
    }
    .bubble{
      position: relative;
      width: 110px;
      height: 110px;
      padding: 0px;
      background: #609f44;
      border-radius: 80px;
      &:after{
        content: '';
        position: absolute;
        border-style: solid;
        border-width: 24px 0 24px 20px;
        border-color: transparent #609f44;
        display: block;
        width: 0;
        z-index: 1;
        right: -14px;
        top: 31px;
      }
      &.pink{
        background: #cc4885;
        &:after{
          border-width: 24px 20px 24px 0;
          right: 0;
          left: -14px;
          border-color: transparent #cc4885;
        }
      }
      img{
        width: auto;
        height: 50px;
        border-radius: 500px;
      }
      slick{
        img{
          width: auto;
          height: 80px;
          border-radius: 500px;
          margin: 0 auto;
        }
      }
    }
      
    md-card{
      padding:30px;
      .testimonial{
        font-family: $Montserrat-Light;
        font-size: 14px;
      }
      .name{
        padding-top: 20px;
        font-family: $Montserrat-Regular;
        font-size: 14px;
      }
    }
  }
}
.lgbtq-container{
  background: #cc4885; /* Old browsers */
  background: -moz-linear-gradient(top, #cc4885 1%, #bd3b77 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top, #cc4885 1%,#bd3b77 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, #cc4885 1%,#bd3b77 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#cc4885', endColorstr='#bd3b77',GradientType=0 ); /* IE6-9 */
  color: white;
  text-align: center;
  position: relative;
  overflow: hidden;
  .container{
    max-width: 1000px;
    margin: 0 auto;
  }
  .title{
   font-size: 38px;
   font-family: $Montserrat-Light;
   padding: 30px 20px 20px;
 }
 .description{
   padding-bottom: 30px;
 }
 .box{
     margin: 10px;
     background-color: rgba(255,255,255,.10);
     overflow: hidden;
     position: relative;
     .img-container{
       position: absolute;
       img{
         position: absolute;
         left: -47px;
         top:15px;
         height: 150px;
         opacity: 0.1;
         filter: alpha(opacity=10); /* For IE8 and earlier */
       } 				
     }
     &.open-to-all{
         .img-container{
          right: 90px;
          img{
           left:0;
         }
       }
     }
     .title{
      font-size: 16px;
      font-family: $Montserrat-Regular;
    }
    .description{
      font-size: 16px;
      padding-left: 20px;
      padding-right: 20px;
      font-family: $Montserrat-Light;
    }
  }
}

//Footer
.footer{
	&.PN{
		.container{
			.links{
        @media screen and (max-width: 768px){
          text-align: center;
        }
				.md-button{
					border-bottom: none;
					color: #b43e7b;
					font-family: $Montserrat-Light;
          display: inline;
          span{
            font-size: 14px;
          }
					&:hover{
						color: #435060;
						span{
							color: #435060;
						}
					}
				}
				.footer-logo{
					img{
						height: 41px;
						margin-top: 30px;
					}
				}
			}
		}
		.about{
			.description{
				max-width: none !important;
				.social{
					padding-top: 20px;
					span{
						padding-right: 10px;
						a{
							color: $gray;
							font-size: 20px;
						}
					}
				}
			}
			.download{
				div{
					.md-button{
						background-color: #435060;
						margin:0; 						
					}
					img{
						max-height: 36px;
						width: auto;
						height: auto;
					}
				}
			}
		}
	}
}
.homePage {
  .container{
    .sidebar{
      &.PN{
        .support{
          button{
            font-family: $Montserrat-Light;
            color: #009cdc;
          }
        }
      }
    }
  }
  &.miscellaneous{
    &.PN{
      .topic-box{
        .title{
          font-family: $Montserrat-Light;
        }
      }
      .section-title{
        font-family: $Montserrat-Light;
      }
      .items{
        .item{
          &.open{
            .title{
              color: #cc4885;
            }
          }
        }
        .item{
          .item-content{
            font-family: $Montserrat-Light;
          }
          .title{
            font-family: $Montserrat-Regular;
          }
        }
      }
    }
  }
}
.signupPage{
  &.PN{
    .container{
      form{
        section{
          .section-content{
            md-radio-group{
              md-radio-button{
                &.md-checked{
                  background: $green;
                }
                &:hover{
                  background: $green;
                }
              }
            }
          }
        }
      }
    }
  }
}