.acme-navbar-text{
  color: white;
}
.logo {
  font-family: 'gotham-bold';
  letter-spacing: 1px;
  margin: 0;
  padding: 0;
	background: url('../assets/images/logo-white.png');
	background-size: cover!important;
	width: 180px;
	padding: 26px;
	margin: 8px 0!important;
	cursor: pointer;
	position: relative;
	height: 51px;

	.md-ripple-container {
		background: none!important;
	}
  &:hover, &:active {
		background: url('../assets/images/logo-white.png')!important;
		background-size: cover!important;
  }

  img {
    position: absolute;
    bottom: -7px;
    right: 0;
    max-width: 60px;
  }

   @media screen and(max-width: 460px) {
		width: 50px;
		background: url('../assets/images/small-logo-white.png') center center no-repeat!important;
		background-size: contain!important;

		&:hover {
			width: 50px;
			background: url('../assets/images/small-logo-white.png') center center no-repeat!important;
			background-size: contain!important;
		}
		img {
			right: -10px;
		}
  }

}
header {
 	background: rgba(0,0,0,0.08)!important;
	color: $primary;
	transition: all ease-in 0.2s;
 	position: fixed;
 	z-index: 999;
 	top: 0;
 	width: 100%;
	md-toolbar:not(.md-menu-toolbar) {
		background: none;
		padding: 10px 0;
		transition: all ease-in 0.3s;
		max-width: 1000px;
		margin: 0 auto;

		@media screen and (max-width: 1000px) {
			padding: 10px 15px;
		}

		.navwidth {
			display: block;
			margin: 0 auto;
			max-width: 1000px;

			.container {
				width: 100%;
				
			}
		}
	}

	.links, .out-links {
		@media screen and (max-width: 768px) {
			&.hide-on-mobile  {
				display: none;
			}

			&.mobile-view {
				display: flex !important;
			}
		}
	}

	&.transluscent {
		background: rgba(255,255,255,0.95)!important;
		color: $primary;
		-webkit-box-shadow: 0px 3px 5px 0px rgba(0,0,0,0.3);
		-moz-box-shadow: 0px 3px 5px 0px rgba(0,0,0,0.3);
		box-shadow: 0px 3px 5px 0px rgba(0,0,0,0.3);
		transition: all ease-in 0.2s;
		md-toolbar:not(.md-menu-toolbar) {
			.out-links, .links {
				a {
					//color: $primary!important;
					&.active, &:hover {
						span {
							color: #2e363b!important;
						}
					}
				}
				.button-orange {
					color: #fff;
				}
			}

			.logo {
				color: $primary;
				background: url('../assets/images/logo.png');
				background-size: cover;
				width: 180px;
				height: 51px;
				padding: 25px;
				margin: 8px 0;
				position: relative;

				.md-ripple-container {
					background: none!important;
				}

				&:hover, &:active {
					background: url('../assets/images/logo.png');
					background-size: cover!important;
			  }
			  @media screen and(max-width: 460px) {
					width: 50px;
					background: url('../assets/images/small-logo.png') center center no-repeat!important;
					background-size: contain!important;

					&:hover {
						width: 50px;
						background: url('../assets/images/small-logo.png') center center no-repeat!important;
						background-size: contain!important;
					}
			  }
			}
		}
	}
}


h1 {
  font-size: 2em;
  margin: 0;
  line-height: 1.25em;
}


.user {
	margin-left: 15px;
	cursor: pointer;
	outline: none;
	position: relative;

	@media screen and (max-width: 768px) {
		display: none;
	}

	div	{
		outline: none;
	}

	.image {
		background: #eee;
		height: 40px;
		width: 40px;
		color: $copyright;
		margin-right: 10px;
		background-size: cover!important;
		border: 1px solid $border;
		.zmdi {
			font-size: 25px;
		}
	}

	.name {
		font-size: 14px;
		color: $primary;
		margin-right: 7px;
	}

	.zmdi-caret-down {
		color: $primary;
	}

	.menu {
		position: absolute;
		top: 54px;
		right: 0px;
		background: #fff;
		color: $primary;
		width: 150%;
		font-size: 14px;
		transition: display ease-in 0.1s;

		.menu-item {
			padding: 10px 15px;
			cursor: pointer;
			transition: all ease-in 0.1s;
			outline: none;

			&:hover, &.active {
				background: $white-gray;
				transition: all ease-in 0.1s;
			}
		}
	}
	.dropdown-menu-nav {
		position: absolute;
		background: #fff;
		z-index: 999;
		top: 27px;
		left: -185px!important;
		border-radius: 4px;
		margin: 10px 0;
		-webkit-box-shadow: 0px 0px 5px 2px rgba(0,0,0,0.3);
		-moz-box-shadow: 0px 0px 5px 2px rgba(0,0,0,0.3);
		box-shadow: 0px 0px 5px 2px rgba(0,0,0,0.3);
		width: 250px;
		padding-left: 0;
		list-style: none;

		li {
			padding: 10px 20px;
			outline: none;
			&:hover {
				background: $dirty-white;
			}
			a {
				text-transform: capitalize!important;
				font-size: 15px;
				text-decoration: none;
			}
		}
	}
}

/***.zmdi-search, .zmdi-email {
	font-size: 30px;
	margin: 0 10px;
	color: $primary;
	cursor: pointer;

	@media screen and(max-width: 768px) {
		display: none;
	}
}***/


.links {
	a {
		margin: 0;
		.badge {
			position: absolute;
			color: $red-orange;
			font-size: 11px;
			top: 0;
			left: 55px;
			padding: 0 5px;
			font-family:'gotham-medium';
		}
		.zmdi {
			font-size: 25px;
			color: $copyright;
		}
		&:hover, &.active {
			span, .zmdi {
				color: $red-orange;
			}
		}
		span {
			text-transform: uppercase;
			font-size: 10px;
			line-height: 1;
			margin-top: 5px;
		}
	}
	.button-orange {
		background: $red-orange;
		margin-right: 0;
	}
}

.out-links {
	a {
		&:hover, &.active {
			span, .zmdi {
				color: $dirty-white;
			}
		}
	}
}

.md-sidenav-backdrop {
	position: fixed;
}
.md-sidenav-right {
	width: 220px;
	position: fixed;
	z-index: 9999;
	-webkit-box-shadow: -2px 0px 5px 0px rgba(0,0,0,0.6);
	-moz-box-shadow: -2px 0px 5px 0px rgba(0,0,0,0.6);
	box-shadow: -2px 0px 5px 0px rgba(0,0,0,0.6);

	.zmdi-close {
		color: $white-gray;
		font-size: 50px;
		position: absolute;
		top: 10px;
		right: 15px;
		cursor: pointer;
		outline: none;
	}

	md-list {
		padding: 70px 0;
		md-list-item {
			border-bottom: 1px solid $border-color;
			.md-button {
				margin: 0;
			}
			.image {
				width: 13px;
				height: 13px;
				border: 1px solid $border;
				margin-right: 10px;
				background-size: cover!important;
			}
			.zmdi {
				padding-right: 10px;
				color: $copyright;
				font-size: 14px;
			}

			&:last-child {
				border-bottom: none;
			}
			&:hover, &.active {
				background: $dirty-white;
				color: #2e363b;
				.zmdi {
					color: $red-orange;
				}
			}
		}
	}
}