<header class="navbar" ng-class="!isHome ? 'transluscent':''">
	<md-toolbar>
		<div class="container">
			<div layout="row" layout-align="space-between center">
			  <div class="logo" ui-sref="home" ng-show="!user"></div>
			  <div class="logo" ui-sref="members" ng-show="user"></div>
				<!-- <section layout="row" layout-align="start center" class="links hide-on-mobile" ng-show="user.usr_status == 'approved'">
			    <md-button layout="column" layout-align="center" ng-class="{'active':isActive('members')}" ui-sref="members"><i class="zmdi zmdi-accounts"></i>Members</md-button>
			    <md-button layout="column" layout-align="center" ng-class="{'active':isActive('dashboard')}" ui-sref="dashboard"><i class="zmdi zmdi-receipt"></i>Newsfeed</md-button>
			    <md-button layout="column" layout-align="center" ng-class="{'active':isActive('favorites')}" ui-sref="favorites"><i class="zmdi zmdi-favorite"></i>Favorites</md-button>
			  </section> -->
			  <section layout="row" layout-align="end center" class="links hide-on-mobile" ng-show="user">
			  	<md-button layout="column" layout-align="start center" ng-show="user.usr_status == 'approved'" ng-class="{'active':isActive('members')}" ui-sref="members"><i class="zmdi zmdi-accounts"></i>Members</md-button>
			  	<md-button layout="column" layout-align="start center" ng-show="user.usr_status == 'approved'" ui-sref="search" ng-class="{'active':isActive('search')}">
			    	<i class="zmdi zmdi-search"></i>Search
			  	</md-button>
			  	<md-button layout="column" layout-align="start center" ng-show="user.usr_status == 'approved'" ui-sref="messages" ng-class="{'active':isActive('messages')}">
			    	<i class="zmdi zmdi-email"></i>Messages
			    	<!-- <span class="badge" ng-show="count">{{count}}</span> -->
			  	</md-button>
			    <md-button layout="column" layout-align="start center" ng-show="user.usr_status == 'approved'" ng-class="{'active':isActive('favorites')}" ui-sref="favorites"><i class="zmdi zmdi-favorite"></i>Favorites</md-button>
			    <md-button layout="column" layout-align="start center" ng-show="user.usr_status == 'approved'" ng-class="{'active':isActive('dashboard')}" ui-sref="dashboard"><i class="zmdi zmdi-receipt"></i>Newsfeed</md-button>
			    <div id="pft" class="user" uib-dropdown keyboard-nav dropdown-append-to="appendToEl">
			    	<div layout="row" layout-align="space-between center" id="btn-append-to" uib-dropdown-toggle>
				    	<div class="image" layout="row" layout-align="center center" ng-if="!user.img_image && user.usr_gender == 'female'"><img src="assets/images/female.svg" alt=""></div>
				    	<div class="image" layout="row" layout-align="center center" ng-if="!user.img_image && user.usr_gender == 'male'"><img src="assets/images/male.svg" alt=""></div>
				    	<div class="image" layout="row" layout-align="center center" ng-show="user.img_image" style="background: url({{baseUrl(user.img_image)}}) center center no-repeat;"></div>
				    	<!-- <div class="name">{{user.usr_first_name}} {{user.usr_last_name}}</div> -->
				    	<i class="zmdi zmdi-caret-down"></i>
			    	</div>
	          <ul class="dropdown-menu-nav" uib-dropdown-menu role="menu" aria-labelledby="btn-append-to">
	            <li ng-show="user.usr_status == 'approved'" ng-class="{'active':isActive('profile.view')}" ng-click="goTo('profile.view');"><a>My Profile</a></li>
	            <li ng-show="user.usr_status == 'approved'" ng-class="{'active':isActive('settings.preferences')}" ng-click="goTo('settings.preferences')"><a>Settings</a></li>
	            <li ng-show="user.usr_status == 'approved'" ng-class="{'active':isActive('settings.billing')}" ng-click="goTo('settings.billing')"><a>Subscription</a></li>
	            <li ng-show="user.usr_status == 'pending' && user.usr_signup_step == 'done'" ng-class="{'active':isActive('search')}" ng-click="goTo('search');"><a>Search</a></li>
	            <li ng-click="logout()"><a>Logout</a></li>
	          </ul>
			    </div>
			  </section>
			  <section flex layout="row" layout-align="end center" class="out-links hide-on-mobile" ng-show="!user">
			    <md-button ng-class="{'active':isActive('about')}" ui-sref="about">About Us</md-button>
			    <md-button ng-class="{'active':isActive('find')}" ui-sref="find">Find Your Sugar Match</md-button>
			    <md-button ng-class="{'active':isActive('why')}" ui-sref="why">Why SugarFlame</md-button>
			    <!-- <md-button ng-class="{'active':isActive('faq')}" ui-sref="support">FAQ</md-button> -->
			    <md-button ng-click="openLogin()" class="button-orange">Login</md-button>
			  </section>
			  <section flex layout="row" layout-align="end center" class="links mobile-view" ng-show="!user">
			    <md-button ng-click="openRightMenu()" class="button-orange button-menu"><i class="zmdi zmdi-menu"></i></md-button>
			  </section>
			</div>
		</div>
	</md-toolbar>
</header>
<md-sidenav md-component-id="right" class="md-sidenav-right">
  <md-content>
  	<span ng-click="close()"><i class="zmdi zmdi-close"></i></span>
  	<md-list flex ng-show="user.usr_status == 'approved'">
  	<!-- <md-list flex> -->
      <md-list-item ng-class="{'active':isActive('members')}" ng-click="goTo('members')"><i class="zmdi zmdi-accounts"></i> Members</md-list-item>
      <md-list-item ng-class="{'active':isActive('search')}" ng-click="goTo('search')"><i class="zmdi zmdi-search"></i> Search</md-list-item>
      <md-list-item ng-class="{'active':isActive('messages')}" ng-click="goTo('messages')"><i class="zmdi zmdi-email"></i> Messages <span class="badge" ng-show="badge">2</span></md-list-item>
      <md-list-item ng-class="{'active':isActive('favorites')}" ng-click="goTo('favorites')"><i class="zmdi zmdi-favorite"></i> Favorites</md-list-item>
      <md-list-item ng-class="{'active':isActive('dashboard')}" ng-click="goTo('dashboard')"><i class="zmdi zmdi-receipt"></i> Newsfeed</md-list-item>
      <md-list-item ng-class="{'active':isActive('profile.view')}" ng-click="goTo('profile.view')"><div class="image" layout="row" layout-align="center center" ng-show="user.img_image" style="background: url({{baseUrl(user.img_image)}}) center center no-repeat;"></div>My Profile</md-list-item>
      <md-list-item ng-class="{'active':isActive('settings.preferences')}" ng-click="goTo('settings.preferences')"><i class="zmdi zmdi-settings"></i>Settings</md-list-item>
      <md-list-item ng-class="{'active':isActive('settings.billing')}" ng-click="goTo('settings.billing')"><i class="zmdi zmdi-card"></i>Subscription</md-list-item>
      <md-list-item ng-click="logout()"><i class="zmdi zmdi-power"></i> Logout</md-list-item>
      <!-- <md-list-item ng-class="{'active':isActive('')}" ui-sref="newsfeed">Newsfeed</md-list-item> -->
		</md-list>
		<md-list flex ng-show="user.usr_status == 'pending'">
  	<!-- <md-list flex> -->
      <md-list-item ng-class="{'active':isActive('search')}" ng-click="goTo('search')"><i class="zmdi zmdi-search"></i> Search</md-list-item>
      <md-list-item ng-click="logout()"><i class="zmdi zmdi-power"></i> Logout</md-list-item>
      <!-- <md-list-item ng-class="{'active':isActive('')}" ng-click="goTo('newsfeed">Newsfeed</md-list-item> -->
		</md-list>
    <md-list flex ng-show="!user">
      <md-list-item ng-class="{'active':isActive('about')}" ng-click="goTo('about')">About Us</md-list-item>
      <md-list-item ng-class="{'active':isActive('find')}" ng-click="goTo('find')">Find Your Sugar Match</md-list-item>
      <md-list-item ng-class="{'active':isActive('why')}" ng-click="goTo('why')">Why SugarFlame</md-list-item>
      <md-list-item ng-class="{'active':isActive('')}" ng-click="openLogin()" class="button-orange">Login</md-list-item>
	 </md-list>
  </md-content>
</md-sidenav>