
header{
  .navbar-items{
    margin-left: 40px;
  }
	&.PN{
      background-color: #ffffff !important;
      .md-button{
        font-family: $Montserrat-Light;
      }
      .md-button:not(.md-raised){
        color: #64768d;
      }
      button{
        color: #ffffff;
        span{
          font-family: $Montserrat-Regular;
          color: #ffffff;
        }
      }
      .button-menu{
        i{
          color: #ffffff;
        }
      }
      .logo{
        background: url("../assets/images/PN/final_pn_logo_480.png");
        width: 245px;
        @media screen and (max-width: 400px) {
          background: url("../assets/images/PN/PN-logo-small.png") !important;
          background-size: cover !important;
          width: 59px;
          &:hover {
            background: url("../assets/images/PN-logo-small.png") !important;
            background-size: cover!important;
          }
        }
        @media screen and (max-width: 460px) {
          background: url("../assets/images/PN/PN-logo-small.png") !important;
          background-size: cover !important;
          width: 59px !important;
          &:hover {
            background: url("../assets/images/PN/PN-logo-small.png") !important;
            background-size: cover!important;
            width: 59px !important;
          }
        }
        &:hover{
          background: url("../assets/images/PN/final_pn_logo_480.png") !important;
          background-size: cover !important;
        }
    }
    .links-pn{
      @media screen and (max-width: 768px) {
        &.hide-on-mobile  {
          display: none;
        }

        &.mobile-view {
          display: flex !important;
        }
      }
      a {
        color: #64768d;
        &:hover, &.active {
          span {
            color: #435060;
          }
        }
        span {
          text-transform: uppercase;
        }
      }
      .button-green {
        background: #609f44;
        margin-right: 0;
      }
    }
    &.transluscent {
      .logo{
          background: url("../assets/images/PN/final_pn_logo_480.png") !important;
          width: 245px !important;
          background-size: cover !important;
          &:hover{
            background-image: url("../assets/images/PN/final_pn_logo_480.png") !important;
          }

        &.PN-logo{
          @media screen and (max-width: 400px) {
            background: url("../assets/images/PN/PN-logo-small.png") !important;
            background-size: cover !important;
            width: 59px !important;
            &:hover {
              background: url("../assets/images/PN/PN-logo-small.png") !important;
              background-size: cover!important;
              width: 59px !important;
            }
          }
          @media screen and (max-width: 460px) {
            background: url("../assets/images/PN/PN-logo-small.png") !important;
            background-size: cover !important;
            width: 59px !important;
            &:hover {
              background: url("../assets/images/PN/PN-logo-small.png") !important;
              background-size: cover!important;
              width: 59px !important;
            }
          }
        }
      }
    }
  }
}
.PN{
  .button-green{
    &:hover{
      background-color: #77b55b;
    }
  }
  .PN-item{
    &:hover{
      color: #435060;
      &.button-green{
        background-color: $green;
        color: #fff;
      }
    }
  }
}